<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>Reports</span>
  </mat-card-title>

  <hr>

  <mat-card-content class="mat-elevation-z8">

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(false)" style="text-align: center;">

      <mat-form-field class="mx-2 select-height" style="width: 50%;">
        <mat-select placeholder="Reports" required name="reports" formControlName="reports"
          (selectionChange)="onReportSelectionChange($event,false)">
          <mat-option *ngFor="let report of reports" [value]="report.value">
            {{ report.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mx-2" style="width: 50%;" *ngIf="hideOrShow.chassis">
        <mat-label> Chassis #</mat-label>
        <input matInput type="text" name="chassis_number"
          [required]="reportForm.get('reports').value === 'chassisInvoice'" formControlName="chassis_number"
          style="text-transform: uppercase;">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs select-height" style="width: 50%;" *ngIf="hideOrShow.customer">
        <mat-label>Customer</mat-label>
        <mat-select name="customer_id" [required]="reportForm.get('reports').value === 'completedMoves' ||
        reportForm.get('reports').value === 'pastDue'" formControlName="customer_id">
          <mat-option *ngFor="let customer of customers" [value]="customer.customer_id">
            {{ customer.business_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs select-height" style="width: 50%;" *ngIf="hideOrShow.driverType">
        <mat-label>Driver Type</mat-label>
        <mat-select name="customer_id" [required]="reportForm.get('reports').value === 'miles'"
          formControlName="driver_type_id" multiple>
          <mat-option *ngFor="let driverType of driverTypes" [value]="driverType.value">
            {{ driverType.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs select-height" style="width: 50%;" *ngIf="hideOrShow.driver">
        <mat-label>Driver</mat-label>
        <mat-select name="driver_id" [required]="reportForm.get('reports').value === 'driverManifest'"
          formControlName="driver_id">
          <mat-option *ngFor="let driver of drivers" [value]="driver.driver_id">
            {{ driver.driver_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs" style="width: 50%;" *ngIf="hideOrShow.date">
        <mat-label>Date</mat-label>
        <mat-icon matSuffix [owlDateTimeTrigger]="date" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput [required]="reportForm.get('reports').value !== 'pastDue' &&
        reportForm.get('reports').value !== 'agingReport'" placeholder="Date Time Range:" [style.width]="'350px'"
          formControlName="date" name="date" [selectMode]="'range'" [owlDateTimeTrigger]="date" [owlDateTime]="date"
          [max]="rangeMaxTime">
        <owl-date-time [pickerType]="'calendar'" #date></owl-date-time>
      </mat-form-field>

      <section class="section">
        <mat-radio-group formControlName="doc_format" name="doc_format" value="pdf">
          <mat-radio-button class="margin" value="pdf" [checked]="true">PDF</mat-radio-button>
          <mat-radio-button class="margin" value="xlsx">XLSX</mat-radio-button>
        </mat-radio-group>
      </section>

      <div style="text-align: center;">
        <button mat-button type="submit" style="background-color:#2196f3"
          class="mat-raised-button table-btn">Generate</button>
      </div>
    </form>
  </mat-card-content>

</mat-card>

<div fxLayout="row" fxLayoutWrap="wrap"
  *ngIf="reportForm.get('reports').value === 'revenueGenerated' && reportingDatasource && reportingDatasource.data.length">

  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex="100" class="m-gap p-gap">
    <mat-card>
      <div class="card-wheather grad">
        <div class="city">Total Invoice Generated</div>
        <div class="weather">
          <div class="sun d-flex justify-content-between">
            <mat-icon class="fa-3x align-self-center">list</mat-icon>
            <div class="temp align-self-center">
              {{ revenueCard?.total_invoice }}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex="100" class="m-gap p-gap">
    <mat-card>
      <div class="card-wheather grad">
        <div class="city">Total Amount Invoiced</div>
        <div class="weather">
          <div class="sun d-flex justify-content-between">
            <i class="fa fa-usd fa-2x align-self-center" aria-hidden="true"></i>
            <div class="temp align-self-center">
              {{ revenueCard?.total_amount | currency }}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<mat-card *ngIf="reportingDatasource && reportingDatasource.data.length">

  <mat-toolbar *ngIf="reportForm.get('reports').value === 'agingReport'">

    <button mat-icon-button class="example-icon" *ngIf="reportTitle === 'Aging Detail'"
      aria-label="Example icon-button with menu icon" matTooltip="Back to report Summary"
      (click)="onSubmit(false,true);">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <span>{{ reportTitle }}</span>

  </mat-toolbar>

  <mat-card-content class="mat-elevation-z8">

    <div class="table-container">

      <mat-table #reportingSort [dataSource]="reportingDatasource" matSort
        (matSortChange)="onChangeSortDirection($event)">

        <ng-container *ngFor="let item of reportColumnFields" [matColumnDef]="item.field">

          <mat-header-cell *matHeaderCellDef>

            <span mat-sort-header [disabled]="item.field === 's_no' ||
            item.field === 'action'">
              {{ item.label }}
            </span>

          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index">

            <span *ngIf="item.link === 'serial'">
              {{ (i+1) + currentIndex }}
            </span>

            <span *ngIf="item.link === 'hyperlink'">
              <a (click)="onClickHyperLink(row, item.field)" class="hyperlink">
                {{ row[item.field] }}
              </a>
            </span>

            <span *ngIf="item.link === 'pickupTooltip'">
              <span *ngIf="row.pu_name" [matTooltip]="row.pu_loc" [matTooltipClass]="'tooltip'"
                style="cursor: pointer;">
                {{ row.pu_name }}
              </span>
              <span *ngIf="!row.pu_name"> -- </span>
            </span>

            <span *ngIf="item.link === 'deliveryTooltip'">
              <span *ngIf="row.dl_name" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
                style="cursor: pointer;">
                {{ row.dl_name }}
              </span>
              <span *ngIf="!row.dl_name"> -- </span>
            </span>

            <span *ngIf="item.link === 'currency'">
              {{ row[item.field] ? (row[item.field] | currency) : '$0' }}
            </span>

            <span *ngIf="item.link === 'normal'">
              {{ row[item.field] ? row[item.field] : '--' }}
            </span>

            <span *ngIf="item.link === 'icon'">
              <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                (click)="onClickOpenNotes(row)" matTooltip="View Comments">
                <mat-icon class="size-16" color="white"> comment </mat-icon>
              </button>
            </span>

          </mat-cell>

          <ng-template [ngIf]="reportForm.get('reports').value === 'agingReport'">
            <mat-footer-cell *matFooterCellDef>

              <span *ngIf="item.footerLink === 'normal'">
                {{ agingSummaryFooter ? agingSummaryFooter[item.footer] : '' }}
              </span>

              <span *ngIf="item.footerLink === 'currency'">
                {{ agingSummaryFooter ? (agingSummaryFooter[item.footer] | currency) : '' }}
              </span>

            </mat-footer-cell>
          </ng-template>

        </ng-container>

        <mat-header-row *matHeaderRowDef="reportingColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: reportingColumns;"></mat-row>

        <ng-template [ngIf]="reportForm.get('reports').value === 'agingReport'">
          <mat-footer-row *matFooterRowDef="reportingColumns">
          </mat-footer-row>
        </ng-template>

        <ng-container matColumnDef="header">
          <mat-cell style="column-span: all;" *matCellDef="let groupBy">
            <strong>{{ groupBy.header }}</strong>
          </mat-cell>
        </ng-container>

        <ng-template [ngIf]="reportForm.get('reports').value === 'agingReport' && reportTitle === 'Aging Detail'">
          <mat-row *matRowDef="let row; columns: ['header']; when: isGroup"> </mat-row>
        </ng-template>

      </mat-table>

    </div>

    <mat-paginator #reportingPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" (page)="onChangePage($event)"
      showFirstLastButtons></mat-paginator>

  </mat-card-content>

  <mat-card-actions align="end">

    <button mat-button type="button" style="margin:5px; background-color:rgb(250, 123, 3);"
      class="mat-raised-button table-btn" (click)="onClickEmail()">
      Email
    </button>

    <button mat-button type="button" style="margin:5px; background-color: #2196f3;"
      class="mat-raised-button table-btn" (click)="onClickView()">
      View
    </button>

  </mat-card-actions>

</mat-card>

<mat-card *ngIf="(reportingDatasource && reportingDatasource.data.length === 0)">
  <mat-card-content>
    <h2 style="text-align: center">No Data Available</h2>
  </mat-card-content>
</mat-card>