.section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.margin {
  margin: 0 10px;
}

.hyperlink {
  color: #337ab7;
  cursor: pointer;
}

.card-wheather {
  height: 100px;
  padding: 1rem;
}

.city {
  font-size: 23px;
}

.sun {
  height: 30px;
}

.grad {
  background: whitesmoke;
}

.temp {
  font-size: 25px;
  display: inline-block;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

#cdk-overlay-1 {
  min-width: 580px !important;
  pointer-events: auto;
  font-size: 14px;
  top: 181.156px !important;
  left: 361.885px !important;
  transform: translateX(-44px);
}

.table-btn-rt {
  margin-right: 1rem !important;
}

.mat-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  padding-left: 10px;
}

.income-generated {
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 10%;
    padding-left: 20px;
  }
}

.chassis-invoice {
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 4%;
    padding-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: 1279px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: 1279px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
}
