<div class="position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="driverInfoForm">

    <h2 mat-dialog-title>More Info</h2>

    <mat-dialog-content>

      <h5>General Info</h5>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>Fuel Card Number</mat-label>
        <input matInput type="text" placeholder="Enter Card Number" name="fuel_card_number"
          formControlName="fuel_card_number">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>SSN</mat-label>
        <span matPrefix style="color: rgba(0, 0, 0, 0.5);">XXX-XX-</span>
        <input matInput type="text" placeholder="XXXX" name="ssn" formControlName="ssn"
          [textMask]="{mask: ssnMask, guide: false}">
        <mat-error class="error-message" *ngIf="driverInfoForm.get('ssn').hasError('pattern')">
          Enter a valid SSN
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>E Log #</mat-label>
        <input matInput type="text" name="elog_no" formControlName="elog_no">
        <mat-error class="error-message" *ngIf="driverInfoForm.get('elog_no').hasError('pattern')">
          only accept Alphanumeric with a max of 20 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 select-height">
        <mat-label>Truck</mat-label>
        <mat-select matInput formControlName="truck_number" (selectionChange)="onSelectTruck($event)">
          <mat-option [value]="null">Select</mat-option>
          <mat-option *ngFor="let truck of injectedData.truckList" [value]="truck.truck_no"
            [disabled]="truck.isDisabled">
            {{ truck.truck_no }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>Phone</mat-label>
        <input matInput type="text" placeholder="Phone" formControlName="phone_number"
          [textMask]="{mask: phoneNumberMask, guide: false}">
        <mat-error class="error-message" *ngIf="driverInfoForm.get('phone_number').hasError('pattern')">
          Enter a valid Phone Number
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error class="error-message" *ngIf="driverInfoForm.get('email').hasError('pattern')">
          Enter a valid Email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>Street</mat-label>
        <input matInput type="text" placeholder="Street" formControlName="street">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="City" formControlName="city">
      </mat-form-field>

      <div class="ml-xs mr-xs w-15" style="display: inline-block;">
        <app-state-autocomplete formControlName="state"> </app-state-autocomplete>
      </div>

      <mat-form-field class="ml-xs mr-xs w-15">
        <mat-label>Zip</mat-label>
        <input matInput type="number" min="0" placeholder="Zip" formControlName="zip">
        <mat-error class="error-message" *ngIf="driverInfoForm.get('zip').hasError('pattern')">
          Enter a valid Postal Code
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-90" cols="30" rows="4">
        <mat-label>Driver Notes</mat-label>
        <textarea formControlName="driver_notes" matInput placeholder="Driver Notes"></textarea>
      </mat-form-field>

      <h5>License Info</h5>

      <mat-form-field class="ml-xs mr-xs w-45">
        <mat-label>License #</mat-label>
        <input matInput type="text" placeholder="Enter Licence #" name="license_no" formControlName="license_no">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45">
        <mat-label>Licence Exp Date</mat-label>
        <mat-icon matSuffix [owlDateTimeTrigger]="lic_exp_date" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="lic_exp_date"
          formControlName="lic_exp_date" [selectMode]="'single'" [owlDateTimeTrigger]="lic_exp_date"
          [owlDateTime]="lic_exp_date">
        <owl-date-time [pickerType]="'calendar'" #lic_exp_date></owl-date-time>
      </mat-form-field>

      <section class="radio-group">
        <label class="radio-group-margin">Hazmat Certified:</label>
        <mat-radio-group formControlName="hazmat_certified">
          <mat-radio-button class="radio-group-margin" value="1">Yes</mat-radio-button>
          <mat-radio-button class="radio-group-margin" value="0">No</mat-radio-button>
        </mat-radio-group>
      </section>

      <mat-form-field class="ml-xs mr-xs w-90">
        <mat-label>Hazmat Exp Date</mat-label>
        <mat-icon matSuffix [owlDateTimeTrigger]="hazmat_exp_date" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="hazmat_exp_date"
          formControlName="hazmat_exp_date" [selectMode]="'single'" [owlDateTimeTrigger]="hazmat_exp_date"
          [owlDateTime]="hazmat_exp_date">
        <owl-date-time [pickerType]="'calendar'" #hazmat_exp_date></owl-date-time>
      </mat-form-field>


      <h5>Medical Info</h5>


      <mat-form-field class="ml-xs mr-xs w-90">
        <mat-label>Medical ExpDate</mat-label>
        <mat-icon matSuffix [owlDateTimeTrigger]="med_exp_date" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="med_exp_date"
          formControlName="med_exp_date" [selectMode]="'single'" [owlDateTimeTrigger]="med_exp_date"
          [owlDateTime]="med_exp_date">
        <owl-date-time [pickerType]="'calendar'" #med_exp_date></owl-date-time>
      </mat-form-field>

      <h5 *ngIf="driverInfoForm.get('specialEndorsement').value.length !== 0">Special Endorsements</h5>

      <div formArrayName="specialEndorsement" fxLayout="column">

        <div *ngFor="let item of getControls('specialEndorsement'); let i = index;" [formGroupName]="i"
          fxLayoutAlign="space-between center">

          <mat-form-field class="ml-xs mr-xs w-45">
            <mat-label>Special Endorsements Name</mat-label>
            <input matInput type="text" placeholder="special_endorsement_name" required
              formControlName="special_endorsement_name">
          </mat-form-field>

          <mat-form-field class="ml-xs mr-xs w-45">
            <mat-label>Special Endorsements Exp Date</mat-label>
            <mat-icon matSuffix [owlDateTimeTrigger]="special_endorsement_exp_date" style="cursor:pointer">
              calendar_today</mat-icon>
            <input matInput placeholder="Date Time Range:" required name="special_endorsement_exp_date"
              formControlName="special_endorsement_exp_date" [selectMode]="'single'"
              [owlDateTimeTrigger]="special_endorsement_exp_date" [owlDateTime]="special_endorsement_exp_date">
            <owl-date-time [pickerType]="'calendar'" #special_endorsement_exp_date></owl-date-time>
          </mat-form-field>

          <button class="icon-button" mat-mini-fab style="background-color:rgb(255, 0, 0);color:white;"
            (click)="onClickRemoveControls('specialEndorsement',i)">
            <mat-icon class="icon">remove</mat-icon>
          </button>

        </div>

      </div>

      <!-- Incidents Section -->
      <h5 *ngIf="driverInfoForm.get('incident').value.length !== 0">Incidents</h5>

      <div formArrayName="incident">

        <div *ngFor="let item of getControls('incident'); let i = index;" [formGroupName]="i" class="border">

          <mat-form-field class="ml-xs mr-xs w-45">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" required formControlName="name">
          </mat-form-field>

          <mat-form-field class="ml-xs mr-xs w-45">
            <mat-label>Description</mat-label>
            <input matInput type="text" placeholder="Description" required formControlName="description">
          </mat-form-field>

          <mat-form-field class="ml-xs mr-xs w-45">
            <mat-label>Action Taken</mat-label>
            <input matInput type="text" placeholder="Action Taken" required formControlName="action_taken">
          </mat-form-field>

          <button mat-mini-fab style="float: right;background-color:rgb(255, 0, 0);color: white"
            (click)="onClickRemoveControls('incident',i)" class="icon-button">
            <mat-icon class="icon">remove</mat-icon>
          </button>
          &nbsp;
          <input type="file" accept=".pdf,.png,.jpg,.jpeg" class="form-control" name="upload_document" id="photo"
            style="display:none;" (change)="onChangeSelectedFile($event,i)" (click)="inputField.value = null"
            #inputField>
          <button mat-button type="button" style="color: white;"
            *ngIf="driverInfoForm.get('incident').controls[i].get('file_name').value === null"
            [style.backgroundColor]="'#2196f3'" (click)="inputField.click()">
            <mat-icon class="size-16" color="white">backup</mat-icon> Upload Document
          </button>
          <button mat-raised-button mat-button-sm class="table-action-btn"
            *ngIf="driverInfoForm.get('incident').controls[i].get('file_name').value !== null"
            style="background-color:#00a7d0;" (click)="onViewUploadedFile(i)">
            <mat-icon class="size-16" color="white">visibility</mat-icon>
          </button>
          <button mat-raised-button mat-button-sm class="table-action-btn" color="red" (click)="onDeleteFile(i)"
            *ngIf="driverInfoForm.get('incident').controls[i].get('file_name').value !== null">
            <mat-icon class="size-16" color="white">close</mat-icon>
          </button>

          <br>
        </div>

      </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" class="mat-raised-button table-btn" style="background-color: grey;color: white;"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="button" style="background-color: green;" (click)="onSubmit()"
        class="mat-raised-button table-btn" [disabled]="!driverInfoForm.valid">
        Save</button>
    </mat-dialog-actions>

  </form>

</div>