.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.w-45 {
  width: 45%;
}

.w-90 {
  width: 90%;
}

.icon-button {
  width: 25px;
  height: 25px;
}

.icon {
  font-size: 18px;
  margin-top: -11px;
}

.border {
  border: 1px solid antiquewhite;
  margin-top: 1rem;
  padding: 1px 10px;
}

.table-action-btn mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

h5 {
  margin: 0.8rem 0;
}

.radio-group {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  .radio-group-margin {
    margin: 0 10px;
  }
}
