.form-container {
    display: flex;

    @media (max-width: 599px) {
        flex-direction: column;
    }

    .form-control {
        margin: 8px;

        @media (max-width: 599px) {
            margin: 0;
        }
    }
}
