<div class="position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>
    {{ injectedData.title }}
  </h2>

  <form [formGroup]="bobtailToForm" class="form-container">

    <app-midcities-name-autocomplete class="form-control" [isRequired]=true label="Name"
      formControlName="bobtail_to_name" styleClass="w-30.xs-100.margin"
      (address)="bobtailToForm.get('bobtail_to_loc').setValue($event);">
    </app-midcities-name-autocomplete>

    <app-midcities-address-autocomplete class="form-control" label="Address" isRequired="true"
      formControlName="bobtail_to_loc" styleClass="w-60.xs-100.margin"
      (name)="bobtailToForm.get('bobtail_to_name').setValue($event);">
    </app-midcities-address-autocomplete>

  </form>


  <mat-dialog-actions align="end">
    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn-rt"
      (click)="onCancel()">Close</button>&nbsp;
    <button mat-button type="button" class="mat-raised-button table-btn-rt"
      [ngStyle]="{'background-color': !bobtailToForm.valid ? disabledColor : enabledColor}"
      (click)="bobtailToForm.valid ? onSubmit() : null" [disabled]="!bobtailToForm.valid">
      Assign
    </button>
  </mat-dialog-actions>

</div>