<mat-form-field style="display:block">
	<mat-label>State</mat-label>
	<input matInput [required]="required" type="text" [placeholder]="placeholder" [formControl]="control"
		[matAutocomplete]="item">
	<mat-autocomplete #item="matAutocomplete">
		<mat-option *ngFor="let item of controlAutocomplete | async" [value]="item.code">
			{{ item.code }}
		</mat-option>
	</mat-autocomplete>
	<mat-error *ngIf="control.hasError('required') || control.hasError('customError')">
		{{ control.hasError('required') ? 'State is required' : 'Enter a valid State' }}
	</mat-error>
</mat-form-field>