<div class="add-dailog position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="driverInfoDeactivateData" class="dailog">

    <div>

      <mat-card-title fxLayout="row" fxLayoutAlign="start">
        Deactivate User
      </mat-card-title>

      <mat-card-content>

        <mat-form-field class="ml-xs mr-xs" style="width: 90%;line-height: 1.5;">
          <mat-label>Termination Date</mat-label>
          <mat-icon matSuffix [owlDateTimeTrigger]="termination_date" style="cursor:pointer">calendar_today</mat-icon>
          <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="termination_date"
            formControlName="termination_date" [selectMode]="'single'" [owlDateTimeTrigger]="termination_date"
            [owlDateTime]="termination_date" required>
          <owl-date-time [pickerType]="'calendar'" #termination_date></owl-date-time>
          <mat-error class="error-message"
            *ngIf="!driverInfoDeactivateData.get('termination_date').valid && (driverInfoDeactivateData.get('termination_date').dirty || driverInfoDeactivateData.get('termination_date').touched)">
            Termination Date is Required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ml-xs mr-xs" cols="30" rows="4" style="width:90%">
          <mat-label>Reason</mat-label>
          <textarea formControlName="reason" matInput placeholder="Reason" required></textarea>
          <mat-error class="error-message"
            *ngIf="!driverInfoDeactivateData.get('reason').valid && (driverInfoDeactivateData.get('reason').dirty || driverInfoDeactivateData.get('reason').touched)">
            Reason is Required
          </mat-error>
        </mat-form-field>

        <mat-radio-group formControlName="rehirable" aria-label="Select an option" class="ml-xs mr-xs"
          style="width: 100%;line-height:  1.5;">
          <mat-label>Rehirable</mat-label>
          <mat-radio-button style="margin-left:24px;" value="yes">Yes</mat-radio-button>
          <mat-radio-button value="no" style="margin-left:24px;">No</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="ml-xs mr-xs" cols="30" rows="4" style="width:90%">
          <mat-label>Drug Testing Results</mat-label>
          <textarea formControlName="drug_testing_result" matInput placeholder="Reason" required></textarea>
          <mat-error class="error-message"
            *ngIf="!driverInfoDeactivateData.get('drug_testing_result').valid && (driverInfoDeactivateData.get('drug_testing_result').dirty || driverInfoDeactivateData.get('drug_testing_result').touched)">
            Drug Testing Results is Required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ml-xs mr-xs" cols="30" rows="4" style="width:90%">
          <mat-label>Accident Summary</mat-label>
          <textarea formControlName="accident_summary" matInput placeholder="Reason" required></textarea>
          <mat-error class="error-message"
            *ngIf="!driverInfoDeactivateData.get('accident_summary').valid && (driverInfoDeactivateData.get('accident_summary').dirty || driverInfoDeactivateData.get('accident_summary').touched)">
            Accident Summary is Required
          </mat-error>
        </mat-form-field>

      </mat-card-content>

    </div>

    <button mat-button type="submit" class="mat-raised-button table-btn-rt mr-1"
      [class.disableColor]="!driverInfoDeactivateData.valid" style="background-color: green;color: white;"
      (click)="onSubmit()" [disabled]="!driverInfoDeactivateData.valid">
      Submit</button>
    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn-rt mr-1"
      (click)="onCancel()">Cancel</button>

  </form>

</div>