<div [formGroup]="form" class="form-container">

  <mat-form-field class="form-item">
    <mat-label> Container Owner</mat-label>
    <input matInput type="text" placeholder="Name of Container" [matAutocomplete]="ContainerAuto"
      formControlName="container_name" [required]="isRequired"
      (keyup)="onContainerKeyup($event)">
    <mat-autocomplete #ContainerAuto="matAutocomplete"
      (optionSelected)='onContainerOptionSelected($event.option.value)'>
      <mat-option *ngFor="let containerAuto of containerAutocomplete | async" [value]="containerAuto">
        <span>{{ containerAuto }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-error>
      <mat-error *ngIf="form.get('container_name').hasError('required')">
        Container Owner is Required
      </mat-error>
      <mat-error *ngIf="form.get('container_name').hasError('incorrectValue')">
        Please Select Container From Autosuggest
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="select-height form-item">
    <mat-label>Chassis Name</mat-label>
    <mat-select formControlName="chassis_name">
      <mat-option [value]="null">Select Value</mat-option>
      <mat-option *ngFor="let chassisName of chassisNames" [value]="chassisName">{{chassisName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="select-height">
    <mat-label>Empty Pickup/Return Location</mat-label>
    <mat-select formControlName="hire_name" (selectionChange)="onHireDehireSelectionChange($event.value)">
      <mat-option [value]="null">Select Value</mat-option>
      <mat-option *ngFor="let hireDehireLocation of hireDehireLocations" [value]="hireDehireLocation.hire_name">
        {{ hireDehireLocation.hire_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>