.form-container {
    display: flex;
    flex-wrap: wrap;

    .form-item {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 599px) {
    .form-container {
        flex-direction: column;

        .form-item {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}
