.section {
  display: flex;
  align-content: center;
  align-items: center;
}

.margin {
  margin: 0 10px;
}

.permissions-mat-tree {
  display: initial !important;
  background: #fff !important;
}

@media screen and (max-width: "369px") {
  .mat-raised-button {
    font-size: 9px;
  }
}

@media screen and (min-width: "370px") and (max-width: "599px") {
  .mat-raised-button {
    font-size: 11px;
  }
}
