<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ injectedData.editMode ? 'Edit' : 'Add'}} User</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs" style="width: 95%;">
        <input matInput placeholder="First Name" required type="text" name="first_name" formControlName="first_name">
        <mat-error *ngIf="userForm.get('first_name').hasError('required')">
          First name is required
        </mat-error>
        <mat-error *ngIf="userForm.get('first_name').hasError('minlength')">
          First name must be atleast 2 characters long
        </mat-error>
        <mat-error *ngIf="userForm.get('first_name').hasError('maxlength')">
          First Name cannot be more than 15 characters long
        </mat-error>
        <mat-error *ngIf="userForm.get('first_name').hasError('pattern')">
          Your First Name must contain only letters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs" style="width: 95%;">
        <input matInput placeholder="Last Name" required type="text" name="last_name" formControlName="last_name">
        <mat-error *ngIf="userForm.get('last_name').hasError('required')">
          Last name is required
        </mat-error>
        <mat-error *ngIf="userForm.get('last_name').hasError('minlength')">
          Last name must be atleast 2 characters long
        </mat-error>
        <mat-error *ngIf="userForm.get('last_name').hasError('maxlength')">
          Last Name cannot be more than 15 characters long
        </mat-error>
        <mat-error *ngIf="userForm.get('last_name').hasError('pattern')">
          Your Last Name must contain only letters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs" style="width: 95%;">
        <input matInput placeholder="Email" required type="email" name="email" formControlName="email">
        <mat-error *ngIf="userForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="userForm.get('email').hasError('pattern')">
          Email is not valid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs select-height" style="width: 95%;">
        <mat-select placeholder="Role" name="role" formControlName="role"
          (selectionChange)="onRoleSelectionChange($event)">
          <mat-option *ngFor="let item of injectedData.role_types" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('role').hasError('required')">
          Role is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs select-height" style="width: 95%;" *ngIf="isDriverTypeRequired">
        <mat-select placeholder="Driver Type" [required]="userForm.get('role').value === 'Driver'" name="driver_type_id"
          formControlName="driver_type_id">
          <mat-option *ngFor="let driverType of injectedData.driverTypes" [value]="driverType.value">
            {{ driverType.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('driver_type_id').hasError('required')">
          Driver Type is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs select-height" style="width: 95%;">
        <mat-select [placeholder]="permissionsPlaceholder" required name="permissions" formControlName="permissions">

          <mat-option class="permissions-mat-tree">

            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <button mat-icon-button disabled></button>
                <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                  (change)="permissionSelectionToggle(node)">
                  {{ node.item }}
                </mat-checkbox>
              </mat-tree-node>

              <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                  </mat-icon>
                </button>

                <mat-checkbox [checked]="descendantsAllSelected(node)" (click)="$event.stopPropagation()"
                  [indeterminate]="descendantsPartiallySelected(node)" (change)="permissionSelectionToggle(node)">
                  {{ node.item }}
                </mat-checkbox>
              </mat-tree-node>

            </mat-tree>

          </mat-option>

        </mat-select>

        <mat-error *ngIf="userForm.get('permissions').hasError('required')">
          Permissions is required
        </mat-error>
      </mat-form-field>

      <section class="section" *ngIf="injectedData.editMode">
        <label class="margin">User Status :</label>
        <mat-radio-group name="user_status" formControlName="user_status">
          <mat-radio-button class="margin" value="active">Active</mat-radio-button>
          <mat-radio-button class="margin" value="inactive">Inactive</mat-radio-button>
        </mat-radio-group>
      </section>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color:grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn" [disabled]="!userForm.valid"
        [ngStyle]="{'background-color': injectedData.editMode ? editButtonColor : addButtonColor}">
        {{ injectedData.editMode ? 'Save' : 'Send Activation Email'}}
      </button>
    </mat-dialog-actions>

  </form>

</div>