h4 {
  margin: 0.5rem 0.5rem 1rem 0 !important;
}

.card {
  display: flex;
  height: 80px;
  justify-content: left;
  background: rgb(189, 85, 111);
  background: linear-gradient(rgb(190, 42, 42), rgb(150, 72, 108));
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;

  .note-icon {
    font-family: "FontAwsome", sans-serif;
    font-size: 18px;
  }

  .note-icon__title {
    font-size: 18px;
  }

  .note-msg {
    font-family: "bondoni mt black", sans-serif;
    font-size: 13px;
  }
}

.vertical-top {
  vertical-align: top;
}

.logo {
  width: 30%;
  min-width: 270px;
  min-height: 150px;
  margin-right: 1rem;
  margin-left: 2rem;
}

.address {
  display: inline-block;
  width: 35%;
  vertical-align: bottom;
}

.midcities {
  vertical-align: middle;
}

.form {
  margin: 0.6rem;
  width: 50%;
}

th,
td {
  text-align: left;
}
