<h4>Invoice</h4>
<div>
  <mat-card class="card">
    <p style="margin-top: 10px; margin-left: 20px;">
      <span class="note-icon">
        <strong>i </strong>
      </span>
      <span class="note-icon__title"> Note:</span>
    </p>
    <br>
    <br>
    <p style="margin-top: 40px; margin-left: -55px;">
      <span class="note-msg">This page has been enhanced for printing. Click the print button at the
        bottom of the invoice to test. </span>
    </p>
  </mat-card>
  <mat-card id="print-section">
    <div fxLayout="row">
      <div fxFlex=60 class="midcities">
        <!-- <img class="logo" src="../../../assets/images/midcities.png" alt="MidcitiesLogo"> -->
        <div class="address">
          <strong>MidCities Motor Freight, Inc.</strong>
          <br> 6006 Lake Avenue
          <br> St. Joseph, MO 64504 - 0025
          <br> Phone: (816) 238-8000
          <br> Email: info@example.com
          <br>
        </div>
      </div>
      <div fxFlex=40 fxLayout="column" fxLayoutAlign="center end">

        <table style="width:100%">
          <tr>
            <td>Invoice:</td>
            <td>{{ selectedInvoice.invoice_number }}</td>
          </tr>
          <br>
          <tr>
            <td>Order Number:</td>
            <td>{{ selectedInvoice.order_number }}</td>
          </tr>
          <br>
          <tr>
            <td>Date:</td>
            <td>{{ selectedInvoice.date | date:'shortDate' }}</td>
          </tr>
        </table>

      </div>
    </div>
    <br>
    <hr>

    <div fxLayout="row" class="ml-1">
      <table style="width:100%">
        <tr>
          <th>BILL TO</th>
          <th>SHIPPER</th>
          <th>CONSIGNEE</th>
        </tr>
        <tr>
          <td class="vertical-top">
            <div>
              <strong> {{ selectedInvoice.business_name }} </strong>
              <br *ngIf="selectedInvoice.b_street"> <span *ngIf="selectedInvoice.b_street">{{ selectedInvoice.b_street
                }}</span>
              <br> {{ selectedInvoice?.b_city }} {{ selectedInvoice?.b_state }} {{ selectedInvoice?.b_postal_code }}
              <br> Phone: {{ selectedInvoice.business_phone ? selectedInvoice.business_phone : '--' }}
              <br> Email: {{ selectedInvoice.email ? selectedInvoice.email : '--' }}
              <br> Preferred Mode Of Invoicing: {{ selectedInvoice.preferred_invoice ? selectedInvoice.preferred_invoice
              : '--' }}
              <br>
            </div>
          </td>
          <td class="vertical-top">
            <div>
              <strong> {{ selectedInvoice.shipper_name }} </strong>
              <br *ngIf="selectedInvoice.pu_street"> <span *ngIf="selectedInvoice.pu_street">{{
                selectedInvoice.pu_street }}</span>
              <br> {{ selectedInvoice?.pu_city }} {{ selectedInvoice?.pu_state }} {{ selectedInvoice?.pu_postal_code }}
              <br> Phone: {{ selectedInvoice.shipper_phone ? selectedInvoice.shipper_phone : '--' }}
              <br>
            </div>
          </td>
          <td class="vertical-top">
            <div>
              <strong> {{ selectedInvoice.consignee_name }} </strong>
              <br *ngIf="selectedInvoice.dl_street"> <span *ngIf="selectedInvoice.dl_street">{{
                selectedInvoice.dl_street }}</span>
              <br> {{ selectedInvoice?.dl_city }} {{ selectedInvoice?.dl_state }} {{ selectedInvoice?.dl_postal_code }}
              <br> Phone: {{ selectedInvoice.consignee_phone ? selectedInvoice.consignee_phone : '--' }}
              <br>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <hr>
    <br>

    <div fxLayout="column" class="ml-1">

      <table>
        <tr>
          <th>Customer Ref No</th>
          <th>Booking No</th>
          <th>Delivery Date</th>
          <th>Container No</th>
        </tr>
        <tr>
          <td> {{ selectedInvoice.customer_reference ? selectedInvoice.customer_reference : '--' }} </td>
          <td> {{ selectedInvoice.booking_number ? selectedInvoice.booking_number : '--' }} </td>
          <td> {{ selectedInvoice.delivery_date ? (selectedInvoice.delivery_date | date:'shortDate') : '--' }} </td>
          <td> {{ selectedInvoice.container_number ? selectedInvoice.container_number : '--' }} </td>
        </tr>
      </table>

      <h5>Additional Charges</h5>

      <hr>

      <table style="width: 100%;">
        <tr>
          <th style="height: 35px;width: 33.3%;">Name</th>
          <th style="height: 35px;width: 33.3%;">Description</th>
          <th style="height: 35px;width: 33.3%;">Subtotal</th>
        </tr>
        <tr *ngFor="let charge of selectedInvoice.accessoriesCharge">
          <td style="width: 33.3%;">{{ charge.accessories_name}}</td>
          <td style="width: 33.3%;">{{ charge.description }} </td>
          <td style="width: 33.3%;">${{ charge.rate }}</td>
        </tr>
      </table>

    </div>

    <br>
    <hr>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex=50>
        <mat-card-title>
          Notes:
        </mat-card-title>
        <mat-card-content>
          <p>{{ selectedInvoice.random_notes }}</p>
        </mat-card-content>
      </div>
      <div fxLayout="column" fxFlex=50 fxLayoutAlign="center center">
        <table style="width:100%">
          <tr>
            <td>Due Date</td>
            <td>{{ selectedInvoice.due_date | date:'shortDate' }}</td>
          </tr>
          <br>
          <tr>
            <td>Total</td>
            <td>{{ selectedInvoice.total_amount | currency }}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card>

  <br>

  <button mat-button type="button" style="margin:5px; float:right;" color="blue" class="mat-raised-button table-btn-rt"
    (click)="onClickPrint()">Print
  </button>&nbsp;
  <button mat-button type="button" style="margin:5px; background-color:rgb(250, 123, 3); float:right;"
    class="mat-raised-button table-btn-rt" (click)="onClickEmail()"> Email
  </button>&nbsp;
  <button *ngIf="cancelButton" mat-button type="button" style="margin:5px; background-color:grey;"
    class="mat-raised-button table-btn-rt" (click)="onClickCancel()">
    Cancel
  </button>
</div>
