<mat-card>

  <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center">
    <span style="font: bold;font-size: 1.25rem;margin-bottom: 8px;">Customer Management</span>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <button type="button" mat-raised-button color="blue" (click)="onAddCustomer()">
        Create New
      </button>&nbsp;

      <button mat-button type="button" color="white" class="mat-raised-button table-btn-rt"
        style="background:rgb(45, 185, 26);border-radius: 0;" (click)="onClickQuicbooksSync()">
        Quickbooks Sync
      </button>

      <button mat-button type="button" color="white" style="background:rgb(45, 185, 26);border-radius: 0;"
        class="mat-raised-button table-btn-rt mr-1 more-option">
        <mat-icon class="size-20;" [mat-menu-trigger-for]="moreOption" data-mat-toggle="dropdown">
          more_vert
        </mat-icon>
      </button>
    </div>

  </mat-card-title>

  <mat-menu #moreOption="matMenu" class="opt-menu" x-position="before">

    <button mat-menu-item color="primary" (click)="onClickImportCustomer()">
      Import Customer
    </button>

  </mat-menu>


  <mat-card-content class="mat-elevation-z8">

    <div class="table-container">
      <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
        <mat-table [dataSource]="customerDatasource" matSort (matSortChange)="onChangeSortDirection($event)">
          <ng-container matColumnDef="dummy">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="businessName">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Business Name</mat-label>
                <input matInput type="text" placeholder="Business Name" name="business_name"
                  [(ngModel)]="columnFilterValue.business_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="pointOfContact">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Point Of Contact</mat-label>
                <input matInput type="text" placeholder="Point Of Contact" name="point_of_contact"
                  [(ngModel)]="columnFilterValue.point_of_contact">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="businessPhone">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Business Phone</mat-label>
                <input matInput type="text" placeholder="Business Phone" name="business_phone"
                  [(ngModel)]="columnFilterValue.business_phone">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="businessMail">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="columnFilterValue.email">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85 select-filter-header">
                <mat-label>Status</mat-label>
                <mat-select name="is_active" [(ngModel)]="columnFilterValue.is_active"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option value="1">Active</mat-option>
                  <mat-option value="0">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="serialNo">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
              <button type="button" mat-raised-button class="minWidth30"
                (click)="onClickSerialNo(row, (i+1)+currentPageIndex)">{{ (i+1)+currentPageIndex }}</button>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="business_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Business Name </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="hyperlink" (click)="onClickCustomerName(row)"> {{ row.business_name }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="point_of_contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Point Of Contact </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
              <span *ngIf="pointOfContactValue[i] && pointOfContactValue[i].length != 0" style="display: flex;align-items: center;">
                    <span *ngFor="let item of pointOfContactValue[i] | slice:0:1;">
                  {{ item }}
                </span> &nbsp;
                 <span *ngIf="pointOfContactValue[i].length > 1" class="tag-label" matTooltip="click to open popup"
                  matTooltipPosition="right" matTooltipClass="allow-cr" (click)="onClickOpenPonitOfCotactLists(row)">
                  <mat-icon class="open-popup">more_horiz</mat-icon>
                </span>
              </span>
              <span *ngIf="!pointOfContactValue[i] || pointOfContactValue[i].length == 0">
                --
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="business_phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Business Phone </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.business_phone == null"> -- </span>
              <span *ngIf="row.business_phone != null">{{ row.business_phone }}</span>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.email" style="display: flex;align-items: center;">
                <span *ngFor="let item of element.email?.split(',') | slice:0:1;">
                  {{ item }}
                </span> &nbsp;
                <span *ngIf="element.email?.split(',').length > 1" class="tag-label" matTooltip="click to open popup"
                  matTooltipPosition="right" matTooltipClass="allow-cr" (click)="onClickOpenEmailLists(element)">
                  <mat-icon class="open-popup">more_horiz</mat-icon>
                </span>
              </span>

              <span *ngIf="!element.email">
                --
              </span>
            </mat-cell>
          </ng-container> -->

          <!-- emailOfContactValue -->

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
              <span *ngIf="emailOfContactValue[i] && emailOfContactValue[i].length != 0" style="display: flex;align-items: center;">
                <span *ngFor="let item of emailOfContactValue[i] | slice:0:1;">
              {{ item }}
            </span> &nbsp;
             <span *ngIf="emailOfContactValue[i].length > 1" class="tag-label" matTooltip="click to open popup"
              matTooltipPosition="right" matTooltipClass="allow-cr" (click)="onClickOpenEmailLists(row)">
              <mat-icon class="open-popup">more_horiz</mat-icon>
            </span>
          </span>
          <span *ngIf="!emailOfContactValue[i] || emailOfContactValue[i].length == 0">
              
              
              <!-- <span *ngIf="emailOfContact[i] && emailOfContact[i] !=''" style="display: flex;align-items: center;">
                    <span *ngFor="let item of emailOfContact[i] | slice:0:1;">
                  {{ item }}
                </span> &nbsp;
                 <span *ngIf="emailOfContact[i].length > 1" class="tag-label" matTooltip="click to open popup"
                  matTooltipPosition="right" matTooltipClass="allow-cr" (click)="onClickOpenEmailLists(row)">
                  <mat-icon class="open-popup">more_horiz</mat-icon>
                </span>
              </span>
              <span *ngIf="emailOfContact[i] =='' || !emailOfContact[i]"> -->
                --
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="is_active">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span [ngClass]="{'active': row.is_active,'inactive': !row.is_active }">
                {{ row.is_active ? 'Active' : 'Inactive' }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div *ngIf="row.is_active && row.customer_quickbooks_id !== null">
                <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                  (click)="onEditCustomer(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                  <mat-icon class="size-16" color="white">edit</mat-icon>
                </button>
                <button type="button" mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
                  (click)="onDeactivateCustomer(row,false)" #tooltip="matTooltip" matTooltip="Delete"
                  matTooltipHideDelay="100">
                  <mat-icon class="size-16" color="white">close</mat-icon>
                </button>
              </div>
              <a *ngIf="!row.is_active && row.customer_quickbooks_id !== null" class="hyperlink"
                (click)="onDeactivateCustomer(row,true)">
                Activate
              </a>
              <span *ngIf="row.customer_quickbooks_id === null">
                Not In QB
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="customerFilterHeaders"></mat-header-row>
          <mat-header-row *matHeaderRowDef="customerColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: customerColumns;"></mat-row>
        </mat-table>
      </form>
    </div>

    <mat-paginator #paginator [length]="customersLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
  </mat-card-content>

</mat-card>