mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}
.mat-header-cell:nth-child(1) {
  margin-left: 15px;
}

.mat-cell:nth-child(2) {
  margin-left: 15px;
}
.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 20%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 15%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 15%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 25%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 10%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 8%;
}

.w-85 {
  width: 85%;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}
.mat-cell mat-icon.size-16 {
  width: 15px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}
.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}
.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}
#cdk-overlay-1 {
  min-width: 580px !important;
  pointer-events: auto;
  font-size: 14px;
  top: 181.156px !important;
  left: 361.885px !important;
  transform: translateX(-44px);
}

.tag-label {
  font-size: 12px;
  cursor: pointer;
}

.more-option {
  padding: 0 5px;
  line-height: 36px;
  min-width: 30px;
  color: white;
}

.active {
  padding: 2px 4px;
  margin-right: 5px;
  background-color: #00a65a;
  border-radius: 3px;
  color: #fff;
}

.inactive {
  padding: 2px 4px;
  margin-right: 5px;
  background-color: #f31414;
  border-radius: 3px;
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
}

.c-name {
  color: #337ab7;
  cursor: pointer;
}
.c-name:hover {
  color: #3c8dbc;
  cursor: pointer;
}
.mat-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mat-header-row {
  background-color: #f8e0ffec;
}
.hyperlink {
  text-decoration: underline;
  color: #4ab5f5;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  .Cust_BName {
    padding-left: 7px;
  }
  mat-header-cell {
    width: 125px;
  }
  .mat-header-cell:nth-child(1) {
    margin-left: 12px;
  }
  .create-button {
    font-size: 12px;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 830px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  .mat-header-cell:nth-child(1) {
    margin-left: 12px;
  }
  .mat-cell:nth-child(2),
  .mat-cell:nth-child(3) {
    padding-left: 5px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    position: relative;
    width: 100%;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  .mat-header-cell:nth-child(1) {
    margin-left: 12px;
  }
  .mat-cell:nth-child(2),
  .mat-cell:nth-child(3) {
    padding-left: 5px;
  }
}
