<div fxLayout="column">

  <!--  -->
  <mat-card>
    <div style="text-align:end;margin:0.5rem" *ngIf="!driverRole">
      <button type="button" mat-raised-button mat-button-sm class="table-action-btn" (click)="onEditDriverInfo()"
        [ngStyle]="{'background-color': driverRole ? '#e6bc86' : 'orange'}" matTooltip="Edit">
        <mat-icon class="size-16" color="white">edit</mat-icon>
      </button>

      <button type="button" mat-raised-button mat-button-sm class="table-action-btn" (click)="onClickUpload()"
        [ngStyle]="{'background-color': driverRole ? '#00a7d04d' : '#00a7d0'}"
        [matTooltip]="isDocumentUploaded ? 'View/Upload Docs' : 'Upload Docs'">
        <mat-icon class="size-16" color="white">{{ isDocumentUploaded ? 'visibility' : 'cloud_upload'}}</mat-icon>
      </button>

      <button type="button" mat-raised-button mat-button-sm class="table-action-btn" (click)="onDeactivateUser()"
        [ngStyle]="{'background-color': driverRole ? '#f443368f' : 'red'}" matTooltip="Deactivate Driver">
        <mat-icon class="size-16" color="white">delete icon</mat-icon>
      </button>
    </div>

    <mat-card-content>

      <div fxLayout.xs="column">

        <div class="profile__driver-details" fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
          <div class="profile__driver">
            <img src="assets/images/default.png" *ngIf="srcLink == undefined" class="profile__driver-img"
              alt="profile image">
            <img [src]="srcLink" *ngIf="srcLink != undefined" class="profile__driver-img" alt="profile image">
            <input type="file" class="form-control" name="photo" id="photo" style="display:none;"
              (change)="onChangeProfilePicture($event)" (click)="inputField.value = null" #inputField>
            <i class="material-icons update" aria-hidden="true" (click)="inputField.click()">add_a_photo</i>
          </div>
          <strong style="margin-top: 12px;">
            {{ selectedDriver.first_name | titlecase }} {{ selectedDriver.last_name | titlecase }}
          </strong>
        </div>

        <div fxFlex="70" fxHide.lt-md fxShow.gt-sm>

          <table>
            <tr>
              <th>Payment Pending</th>
              <th>Phone</th>
              <th>User Status</th>
            </tr>
            <tr>
              <td>${{ (driverRole || adminRole || driverPayRole) ? pendingPayment : '***' }}</td>
              <td> <a class="hyperlink" *ngIf="selectedDriver.phone_number !== null"
                  [href]="'tel:' + selectedDriver.phone_number">{{ selectedDriver.phone_number }}</a>
                <span *ngIf="selectedDriver.phone_number === null"> -- </span>
              </td>
              <td>
                {{ selectedDriver.user_id == null ? '--' : selectedDriver.emailVerified ? (selectedDriver.user_status |
                titlecase) : 'Inactive' }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th>Current Status</th>
              <th>Current Order</th>
              <th>Last Known Location</th>
            </tr>
            <tr>
              <td class="vertical-top">
                <span>
                  {{ selectedDriver?.driver_status }}
                </span>
              </td>
              <td class="vertical-top">
                {{ selectedDriver.current_order ? selectedDriver.current_order : '--' }}
              </td>
              <td class="vertical-top">
                <span *ngIf="selectedDriver?.driver_status === 'In Route'" style="cursor: pointer;"
                  [matTooltip]="selectedDriver?.pu_loc" [matTooltipClass]="'tooltip'">
                  {{ selectedDriver?.pu_name }}
                </span>
                <span *ngIf="selectedDriver?.driver_status !== 'In Route'" style="cursor: pointer;"
                  [matTooltip]="selectedDriver?.last_known_location" [matTooltipClass]="'tooltip'">
                  {{ selectedDriver?.last_known_location_name !== null ? selectedDriver?.last_known_location_name : '--'
                  }}
                </span>
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th>E Log #</th>
              <th>Truck</th>
              <th>Hazmat certified</th>
            </tr>
            <tr>
              <td class="vertical-top">
                {{ selectedDriver.elog_no ? selectedDriver.elog_no : '--' }}
              </td>
              <td class="vertical-top">{{ selectedDriver.truck_number !== null ? selectedDriver.truck_number : '--' }}
              </td>
              <td class="vertical-top">
                <mat-checkbox disabled [(ngModel)]="selectedDriver.hazmat_certified">
                </mat-checkbox>
              </td>
            </tr>
          </table>

          <table class="driver-notes">
            <tr>
              <th class="w-30">Email</th>
              <th class="w-70">Driver Notes</th>
            </tr>
            <tr>
              <td class="vertical-top w-30">
                {{ selectedDriver.email ? selectedDriver.email : '--' }}
              </td>
              <td class="vertical-top w-70">
                {{ selectedDriver.driver_notes ? selectedDriver.driver_notes : '--' }}
              </td>
            </tr>
          </table>

        </div>

        <div fxFlex="70" fxShow.lt-md fxHide.gt-sm>
          <mat-list>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Payment Pending: </strong>
                <span> ${{ (driverRole || adminRole || driverPayRole) ? pendingPayment : '***' }} </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Phone: </strong>
                <span *ngIf="selectedDriver.phone_number !== null"> <a class="hyperlink"
                    [href]="'tel:' + selectedDriver.phone_number">
                    {{ selectedDriver.phone_number }} </a> </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> User Status: </strong>
                <span>
                  {{selectedDriver.user_id == null ? '--' : selectedDriver.emailVerified ? (selectedDriver.user_status |
                  titlecase) : 'Inactive' }}
                </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Current Status: </strong>
                <span>{{ selectedDriver?.driver_status }}</span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Current Order: </strong>
                <span> {{ selectedDriver.current_order ? selectedDriver.current_order : '--' }} </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Last Known Location: </strong>
                <span *ngIf="selectedDriver?.driver_status === 'In Route'" style="cursor: pointer;"
                  [matTooltip]="selectedDriver?.pu_loc" [matTooltipClass]="'tooltip'">
                  {{ selectedDriver?.pu_name }}
                </span>
                <span *ngIf="selectedDriver?.driver_status !== 'In Route'" style="cursor: pointer;"
                  [matTooltip]="selectedDriver?.last_known_location" [matTooltipClass]="'tooltip'">
                  {{ selectedDriver?.last_known_location_name !== null ? selectedDriver?.last_known_location_name : '--'
                  }}
                </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Truck: </strong>
                <span> {{ selectedDriver.truck_number }} </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Hazmat certified: </strong>
                <span>
                  <mat-checkbox disabled [(ngModel)]="selectedDriver.hazmat_certified">
                  </mat-checkbox>
                </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> E Log #: </strong>
                <span> {{ selectedDriver.elog_no ? selectedDriver.elog_no : '--' }} </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <p matLine fxLayoutAlign="space-between center">
                <strong> Driver Notes: </strong>
                <span> {{ selectedDriver.driver_notes }} </span>
              </p>
            </mat-list-item>
          </mat-list>

        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="adminDriverPay">

    <mat-card-content>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              General Info
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="generalInfoForm">

            <div>

              <mat-form-field class="ml-xs mr-xs" style="width: 30%;">
                <mat-label>Fuel Card Number</mat-label>
                <input matInput type="text" placeholder="Enter Card Number" name="fuel_card_number"
                  formControlName="fuel_card_number">
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" style="width: 30%;">
                <mat-label>SSN</mat-label>
                <span matPrefix style="color: rgba(0, 0, 0, 0.5);">XXX-XX-</span>
                <input matInput type="text" placeholder="XXXX" name="ssn" formControlName="ssn"
                  [textMask]="{mask: ssnMask, guide: false}">
                <mat-error class="error-message" *ngIf="generalInfoForm.get('ssn').hasError('pattern')">
                  Enter a valid SSN
                </mat-error>
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" style="width: 30%;">
                <mat-label>E Log #</mat-label>
                <input matInput type="text" name="elog_no" formControlName="elog_no">
                <mat-error class="error-message" *ngIf="generalInfoForm.get('elog_no').hasError('pattern')">
                  only accept Alphanumeric with a max of 20 characters.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs select-height" style="width: 30%;">
                <mat-label>Truck</mat-label>
                <mat-select matInput formControlName="truck_number" (selectionChange)="onSelectTruck($event)">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let truck of truckList" [value]="truck.truck_no" [disabled]="truck.isDisabled">
                    {{ truck.truck_no }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" style="width: 30%;">
                <mat-label>Phone</mat-label>
                <input matInput type="text" placeholder="Phone" formControlName="phone_number"
                  [textMask]="{mask: phoneNumberMask, guide: false}">
                <mat-error class="error-message" *ngIf="generalInfoForm.get('phone_number').hasError('pattern')">
                  Enter a valid Phone Number
                </mat-error>
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" style="width: 30%;">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" formControlName="email">
                <mat-error class="error-message" *ngIf="generalInfoForm.get('email').hasError('pattern')">
                  Enter a valid Email
                </mat-error>
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" style="width: 22.5%;">
                <mat-label>Street</mat-label>
                <input matInput type="text" placeholder="Street" formControlName="street">
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" style="width: 22.5%;">
                <mat-label>City</mat-label>
                <input matInput type="text" placeholder="City" formControlName="city">
              </mat-form-field>

              <div class="ml-xs mr-xs" style="display: inline-block;width: 22;">
                <app-state-autocomplete style="position: relative;" formControlName="state"> </app-state-autocomplete>
              </div>

              <mat-form-field class="ml-xs mr-xs" style="width: 22%;">
                <mat-label>Zip</mat-label>
                <input matInput type="number" min="0" placeholder="Zip" formControlName="zip">
                <mat-error class="error-message" *ngIf="generalInfoForm.get('zip').hasError('pattern')">
                  Enter a valid Postal Code
                </mat-error>
              </mat-form-field>

              <mat-form-field class="ml-xs mr-xs" cols="30" rows="4" style="width:90%">
                <mat-label>Driver Notes</mat-label>
                <textarea formControlName="driver_notes" matInput placeholder="Driver Notes"></textarea>
              </mat-form-field>

              <h5>License Info</h5>

              <div>

                <mat-form-field class="ml-xs mr-xs" style="width: 45%;">
                  <mat-label>License #</mat-label>
                  <input matInput type="text" placeholder="Enter Licence #" name="license_no"
                    formControlName="license_no">
                </mat-form-field>

                <mat-form-field class="ml-xs mr-xs" style="width: 45%">
                  <mat-label>Licence Exp Date</mat-label>
                  <mat-icon matSuffix [owlDateTimeTrigger]="lic_exp_date" style="cursor:pointer">calendar_today
                  </mat-icon>
                  <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="lic_exp_date"
                    formControlName="lic_exp_date" [selectMode]="'single'" [owlDateTimeTrigger]="lic_exp_date"
                    [owlDateTime]="lic_exp_date">
                  <owl-date-time [pickerType]="'calendar'" #lic_exp_date></owl-date-time>
                </mat-form-field>


                <section class="example-section">
                  <label class="example-margin">Hazmat Certified:</label>
                  <mat-radio-group formControlName="hazmat_certified">
                    <mat-radio-button class="example-margin" value="1">Yes</mat-radio-button>
                    <mat-radio-button class="example-margin" value="0">No</mat-radio-button>
                  </mat-radio-group>
                </section>

                <mat-form-field class="ml-xs mr-xs" style="width: 90%;">
                  <mat-label>Hazmat Exp Date</mat-label>
                  <mat-icon matSuffix [owlDateTimeTrigger]="hazmat_exp_date" style="cursor:pointer">calendar_today
                  </mat-icon>
                  <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="hazmat_exp_date"
                    formControlName="hazmat_exp_date" [selectMode]="'single'" [owlDateTimeTrigger]="hazmat_exp_date"
                    [owlDateTime]="hazmat_exp_date">
                  <owl-date-time [pickerType]="'calendar'" #hazmat_exp_date></owl-date-time>
                </mat-form-field>

              </div>

              <h5>Medical Info</h5>

              <div>

                <mat-form-field class="ml-xs mr-xs" style="width: 90%;">
                  <mat-label>Medical ExpDate</mat-label>
                  <mat-icon matSuffix [owlDateTimeTrigger]="med_exp_date" style="cursor:pointer">calendar_today
                  </mat-icon>
                  <input matInput placeholder="Date Time Range:" [style.width]="'100%'" name="med_exp_date"
                    formControlName="med_exp_date" [selectMode]="'single'" [owlDateTimeTrigger]="med_exp_date"
                    [owlDateTime]="med_exp_date">
                  <owl-date-time [pickerType]="'calendar'" #med_exp_date></owl-date-time>
                </mat-form-field>

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between center" class="special-endoresement-title">
                <span>Special Endorsements</span>

                <button type="button" mat-mini-fab class="button24"
                  style="background-color:rgb(45, 185, 26);color: white;"
                  (click)="onClickAddOrRemoveItems('specialEndorsement','add')" matTooltip="Add Endorsements">
                  <mat-icon class="icon24">add</mat-icon>
                </button>

              </div>

              <div formArrayName="specialEndorsement" fxLayout="column">

                <div *ngFor="let item of getControls('specialEndorsement'); let i = index;" [formGroupName]="i"
                  fxLayoutAlign="space-between center">

                  <mat-form-field class="ml-xs mr-xs" style="width: 45%;">
                    <mat-label>Special Endorsements Name</mat-label>
                    <input matInput type="text" required placeholder="special_endorsement_name"
                      formControlName="special_endorsement_name">
                  </mat-form-field>

                  <mat-form-field class="ml-xs mr-xs" style="width: 42%;">
                    <mat-label>Special Endorsements Exp Date</mat-label>
                    <mat-icon matSuffix [owlDateTimeTrigger]="special_endorsement_exp_date" style="cursor:pointer">
                      calendar_today</mat-icon>
                    <input matInput required placeholder="Date Time Range:" [style.width]="'350px'"
                      name="special_endorsement_exp_date" formControlName="special_endorsement_exp_date"
                      [selectMode]="'single'" [owlDateTimeTrigger]="special_endorsement_exp_date"
                      [owlDateTime]="special_endorsement_exp_date">
                    <owl-date-time [pickerType]="'calendar'" #special_endorsement_exp_date></owl-date-time>
                  </mat-form-field>

                  <button type="button" class="button24" mat-mini-fab
                    style="background-color:rgb(255, 0, 0);color:white;"
                    [style.visibility]="(generalInfoForm.get('specialEndorsement').controls[i].get('driver_special_endorsement_id').value === null) ? 'visible' : 'hidden'"
                    (click)="onClickAddOrRemoveItems('specialEndorsement',i)" matTooltip="Delete Endorsements">
                    <mat-icon class="icon24">remove</mat-icon>
                  </button>

                </div>

              </div>

            </div>

            <mat-action-row>
              <button mat-button type="button" style="background-color: green"
                class="mat-raised-button table-btn-rt mr-1" [disabled]="!generalInfoForm.valid"
                *ngIf="generalInfoForm.dirty" (click)="onSubmitGeneralInfoForm()">
                Update
              </button>
            </mat-action-row>

          </form>

        </mat-expansion-panel>


        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Attendance
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="attendenceForm" class="attendence-form">

            <mat-form-field class="ml-xs mr-xs xs-100 select-height">
              <mat-label>Attendance Category</mat-label>
              <mat-select name="attendence_category" required formControlName="attendence_category">
                <mat-option *ngFor="let category of categories" [value]="category.value">{{ category.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="ml-xs mr-xs xs-100">
              <mat-label>Notes</mat-label>
              <input matInput type="text" placeholder="Notes" formControlName="name">
            </mat-form-field>

            <mat-form-field class="ml-xs mr-xs xs-100">
              <mat-label>Date</mat-label>
              <mat-icon matSuffix [owlDateTimeTrigger]="date" style="cursor:pointer">calendar_today
              </mat-icon>
              <input matInput required placeholder="Date Time Range:" [style.width]="'350px'" formControlName="date"
                [selectMode]="'range'" [owlDateTimeTrigger]="date" [owlDateTime]="date">
              <owl-date-time [pickerType]="'calendar'" #date></owl-date-time>
            </mat-form-field>

            <div class="attendence-form__action">
              <button mat-button type="button" style="background-color:red" class="mat-raised-button table-btn"
                *ngIf="attendenceForm.dirty" (click)="onResetAttendenceForm()">
                Reset
              </button>
              <button mat-button type="button" style="background-color:rgb(45, 185, 26)"
                class="mat-raised-button table-btn" [disabled]="!attendenceForm.valid"
                (click)="!attendenceForm.valid ? null : onSubmitAttendenceForm()">
                Add
              </button>
            </div>

          </form>

          <br>

          <div class="attendence-form__table">

            <mat-table [dataSource]="attendenceDatasource">

              <ng-container matColumnDef="attendence_category">
                <mat-header-cell *matHeaderCellDef> Attendance Category </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{ row.attendence_category ? row.attendence_category : '--' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{ row.name ? row.name : '--' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="date_from">
                <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span *ngIf="row.date_from == null">--</span>
                  <span *ngIf="row.date_from !== null">{{ row.date_from | date:'shortDate'}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="date_to">
                <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span *ngIf="row.date_to == null">--</span>
                  <span *ngIf="row.date_to !== null">{{ row.date_to | date:'shortDate'}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">

                  <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                    [disabled]="!adminDriverPay" (click)="adminDriverPay ? onClickEditAttendence(row) : null">
                    <mat-icon class="size-16" color="white" matTooltip="Edit">
                      edit
                    </mat-icon>
                  </button>

                  <button type="button" mat-raised-button mat-button-sm class="table-action-btn"
                    style="background-color: red;" style="background-color: red;" [disabled]="!adminDriverPay"
                    (click)="adminDriverPay ? onClickDeleteAttendence(row) : null" matTooltip="Delete">
                    <mat-icon class="size-16" color="white">close</mat-icon>
                  </button>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="attendenceColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: attendenceColumns;">
              </mat-row>

            </mat-table>
          </div>

          <mat-paginator #attendencePaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
          </mat-paginator>

        </mat-expansion-panel>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Incident
            </mat-panel-title>
          </mat-expansion-panel-header>


          <div fxLayout="row" fxLayoutAlign="space-between center" class="attendence-title">
            <span>Incidents</span>

            <button type="button" mat-mini-fab class="button24" style="background-color:rgb(45, 185, 26);color:white;"
              (click)="onClickAddOrRemoveItems('incident','add')" matTooltip="Add Incident">
              <mat-icon class="icon24">add</mat-icon>
            </button>
          </div>

          <form [formGroup]="incidentForm">

            <div formArrayName="incident">
              <div *ngFor="let item of getControls('incident'); let i = index;" [formGroupName]="i" class="border">

                <mat-form-field class="ml-xs mr-xs" style="width: 45%;">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" required placeholder="Name" formControlName="name">
                </mat-form-field>

                <mat-form-field class="ml-xs mr-xs" style="width: 42%;">
                  <mat-label>Description</mat-label>
                  <input matInput type="text" required placeholder="Description" formControlName="description">
                </mat-form-field>

                <mat-form-field class="ml-xs mr-xs" style="width: 45%;">
                  <mat-label>Action Taken</mat-label>
                  <input matInput type="text" required placeholder="Action Taken" formControlName="action_taken">
                </mat-form-field>

                <button type="button"
                  *ngIf="incidentForm.get('incident').controls[i].get('driver_incident_id').value === null" mat-mini-fab
                  style="float: right;background-color:rgb(255, 0, 0);color: white"
                  (click)="onClickAddOrRemoveItems('incident',i)" class="button24" matTooltip="Delete Incident">
                  <mat-icon class="icon24">remove</mat-icon>
                </button>
                &nbsp;
                <input type="file" class="form-control" name="upload_document" style="display:none;"
                  (change)="onIncidentUpload($event,i)" #inputField>
                <button mat-button type="button" style="background-color:#00a7d0;color: white;"
                  *ngIf="incidentForm.get('incident').controls[i].get('file_name').value === null && incidentForm.get('incident').controls[i].get('driver_incident_id').value === null"
                  (click)="inputField.click()">
                  <mat-icon class="size-16" color="white">backup</mat-icon> Upload Document
                </button>
                <button type="button" mat-raised-button mat-button-sm class="table-action-btn"
                  *ngIf="incidentForm.get('incident').controls[i].get('file_name').value !== null && incidentForm.get('incident').controls[i].get('driver_incident_id').value !== null"
                  style="background-color:#00a7d0;" (click)="onViewUploadedFile(i)" matTooltip="View Document">
                  <mat-icon class="size-16" color="white">visibility</mat-icon>
                </button>
                <br>
              </div>

            </div>

            <mat-action-row>
              <button mat-button type="button" style="background-color: green"
                class="mat-raised-button table-btn-rt mr-1" [disabled]="!incidentForm.valid" *ngIf="incidentForm.dirty"
                (click)="onSubmitIncidentForm()">
                Update
              </button>
            </mat-action-row>

          </form>

        </mat-expansion-panel>

      </mat-accordion>

    </mat-card-content>

  </mat-card>

  <mat-card class="driver-leg">

    <mat-card-title>
      Active Legs
    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

      <div class="table-container">

        <mat-table #driverRelatedLegSort [dataSource]="driverRelatedLegDatasource" matSort>

          <ng-container matColumnDef="order_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a class="hyperlink" *ngIf="isDriver && adminRole" (click)="onClickOrderNumber(row)">
                {{ row.order_sequence }}
              </a>
              <span *ngIf="((!isDriver && !adminRole) || (!isDriver && adminRole) || (isDriver && !adminRole))">
                {{ row.order_sequence }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leg_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Leg Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.leg_status == null">--</span>
              <span *ngIf="row.leg_status != null"
                [ngClass]="{'assigned':row.leg_status == 'Assigned','in-route':row.leg_status == 'Picked Up'}">
                {{ row.leg_status }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leg_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Leg # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.leg_number == null">--</span>
              <span *ngIf="row.leg_number != null">{{ row.leg_number }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leg_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Leg Type </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.leg_type == null">--</span>
              <span *ngIf="row.leg_type != null">{{ row.leg_type }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pu_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.pu_name == null;">--</span>
              <span *ngIf="row.pu_name != null;" [matTooltip]="row.pu_loc" [matTooltipClass]="'tooltip'"
                style="cursor: pointer;">{{ row.pu_name }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pu_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PU Time </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.pu_time == null">--</span>
              <span *ngIf="row.pu_time !== null">{{row.pu_time | date:'M/d/yy HH:mm '}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dl_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.dl_name == null">--</span>
              <span *ngIf="row.dl_name != null" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
                style="cursor: pointer;">{{ row.dl_name }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dl_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DL Time</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.dl_time == null">--</span>
              <span *ngIf="row.dl_time !== null">{{row.dl_time | date:'M/d/yy HH:mm '}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="container_number">
            <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.container_number === null">--</span>
              <span *ngIf="row.container_number !== null ">
                {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
                '--' : row.container_number }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="chassis_number">
            <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.chassis_number === null">--</span>
              <span *ngIf="row.chassis_number !== null ">
                {{ (row.leg_type === 'Bobtail' || row.order_type === 'Truck Move') ? '--' : row.chassis_number }}
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="driverRelatedLegHeaderColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: driverRelatedLegHeaderColumns;">
          </mat-row>

        </mat-table>

      </div>

      <mat-paginator #driverRelatedLegPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </mat-card-content>

  </mat-card>

  <mat-card class="driver-pay" *ngIf="adminRole || driverRole || driverPayRole">

    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center"
      fxLayoutAlign.xs="space-between stretch">

      <section class="driver-pay-label">
        <span style="font: bold">Unpaid Legs</span>
        <mat-slide-toggle style="margin: 10px;" (change)="onChangeSlideToggle($event)">
          <span style="font: bold">Paid Legs</span>
        </mat-slide-toggle>
      </section>

      <div class="driver-pay-mobile">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="filterDate"
            (dateChange)="onChangeDate()" (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <button mat-button *ngIf="filterDate" matSuffix mat-icon-button (click)="onClickClear()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> &nbsp;
        <button mat-raised-button color="blue" *ngIf="adminDriverPay" (click)="onClickCreateDriverPay()">
          Create New
        </button>
      </div>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

      <div class="table-container">

        <mat-table #driverPaySort [dataSource]="driverPayDatasource" matSort
          (matSortChange)="onChangeSortDirection($event)">

          <ng-container matColumnDef="order_sequence">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a class="hyperlink" *ngIf="row.order_sequence !== null && isDriver && adminRole"
                (click)="onClickOrderNumber(row)">
                {{ row.order_sequence }}
              </a>
              <span *ngIf="row.order_sequence !== null && 
              ((!isDriver && !adminRole) || (!isDriver && adminRole) || (isDriver && !adminRole))">
                {{ row.order_sequence }}
              </span>
              <span *ngIf="row.order_sequence === null"> -- </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leg_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Leg # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.leg_number == null;">--</span>
              <span *ngIf="row.leg_number != null;">{{ row.leg_number }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leg_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.leg_type == null">--</span>
              <span *ngIf="row.leg_type != null">{{ row.leg_type }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pu_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.pu_name == null;">--</span>
              <span *ngIf="row.pu_name != null;" [matTooltip]="row.pu_loc" [matTooltipClass]="'tooltip'"
                style="cursor: pointer;">{{ row.pu_name }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pu_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.pu_time === null"> -- </span>
              <span *ngIf="row.pu_time !== null ">
                {{ row.pu_time | date:'M/d/yy HH:mm'}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dl_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.dl_name == null"> -- </span>
              <span *ngIf="row.dl_name != null" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
                style="cursor: pointer;"> {{ row.dl_name }} </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dl_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.dl_time === null"> -- </span>
              <span *ngIf="row.dl_time !== null ">
                {{ row.dl_time | date:'M/d/yy HH:mm'}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="miles">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Miles </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.miles == null;">--</span>
              <span *ngIf="row.miles != null;">{{ row.miles }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="container_number">
            <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.container_number === null">--</span>
              <span *ngIf="row.container_number !== null ">
                {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
                '--' : row.container_number }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="chassis_number">
            <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.chassis_number === null">--</span>
              <span *ngIf="row.chassis_number !== null ">
                {{ (row.leg_type === 'Bobtail' || row.order_type === 'Truck Move') ? '--' : row.chassis_number }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hazmat_req">
            <mat-header-cell *matHeaderCellDef> Haz </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.hazmat_req === null">--</span>
              <span *ngIf="row.hazmat_req !== null ">
                {{ row.leg_type === 'Loaded' ? (row.hazmat_req === 1 ? 'Y' : 'N') : '--' }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="driver_rate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Rate </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>
                $ {{ row.driver_rate }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="driver_extra_charge">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acc Charges </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>
                $ {{ row.driver_extra_charge }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total_driver_rate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>
                $ {{ row.total_driver_rate }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="is_paid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Paid </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span [ngClass]="{'paid':row.is_paid == 1,'not-paid':row.is_paid == 0}">
                {{ (row.is_paid == 1) ? 'Yes' : 'No' }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">

              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                [disabled]="!adminDriverPay" (click)="adminDriverPay ? onClickEditDriverPay(row) : null"
                matTooltip="Edit">
                <mat-icon class="size-16" color="white">
                  edit
                </mat-icon>
              </button>

              <button type="button" mat-raised-button mat-button-sm class="table-action-btn"
                style="background-color: red;" style="background-color: red;" [disabled]="!adminDriverPay"
                (click)="adminDriverPay ? onClickDeleteDriverPay(row) : null" matTooltip="Delete">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="driverPayHeaderColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: driverPayHeaderColumns;">
          </mat-row>

        </mat-table>

      </div>

      <mat-paginator #driverPayPaginator [length]="pageLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        (page)="onChangePage($event)" showFirstLastButtons>
      </mat-paginator>
    </mat-card-content>

  </mat-card>

</div>