.table-action-btn mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.paid {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

.not-paid {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: red;
  border-radius: 1px;
  color: #fff;
}

.special-endoresement-title {
  margin: 8px 0;
  span {
    font-size: 1.25rem;
  }
}

.attendence-title {
  margin: 8px 0;
  span {
    font-size: 1.15rem;
  }
}

.mat-raised-button {
  margin: 0 5px;
}

button:disabled {
  cursor: not-allowed;
}

.profile__driver-details {
  .profile__driver {
    margin: 0 auto;
  }

  b {
    margin: 1rem auto;
  }
}

.profile__driver {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;

  .profile__driver-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.profile__driver:hover {
  .profile__driver-img {
    opacity: 0.5;
  }

  i {
    display: block;
  }

  cursor: pointer;
}

table {
  width: 100%;
  padding: 0.5rem;
  th,
  td {
    text-align: left;
    width: 33%;
  }
}

.vertical-top {
  vertical-align: top;
}

table.driver-notes {
  width: 100%;
  padding: 0.5rem;
  th,
  td {
    text-align: left;
  }
  .w-30 {
    width: 33%;
  }

  .w-70 {
    width: 66%;
  }
}

:host /deep/ {
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

.driver-leg {
  .assigned {
    padding: 1px 5px;
    margin-right: 5px;
    background-color: grey;
    border-radius: 1px;
    color: #fff;
  }

  .in-route {
    padding: 1px 5px;
    margin-right: 5px;
    background-color: orange;
    border-radius: 1px;
    color: #fff;
  }
}

mat-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 8px;
}

.driver-pay {
  .input-feild {
    height: 35px;
    width: 63px;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 12%;
  }
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 6%;
    padding-left: 8px;
  }

  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 3%;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    flex: 0 0 6%;
  }

  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 10%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 9%;
  }

  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 10%;
  }

  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    flex: 0 0 9%;
  }

  .mat-cell:nth-child(8),
  .mat-header-cell:nth-child(8) {
    flex: 0 0 4%;
  }

  .mat-cell:nth-child(9),
  .mat-header-cell:nth-child(9) {
    flex: 0 0 9%;
  }

  .mat-cell:nth-child(10),
  .mat-header-cell:nth-child(10) {
    flex: 0 0 8%;
  }

  .mat-cell:nth-child(11),
  .mat-header-cell:nth-child(11) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .mat-cell:nth-child(12),
  .mat-header-cell:nth-child(12) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .mat-cell:nth-child(13),
  .mat-header-cell:nth-child(13) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .mat-cell:nth-child(14),
  .mat-header-cell:nth-child(14) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .mat-cell:nth-child(15),
  .mat-header-cell:nth-child(15) {
    padding-left: 4px;
    padding-right: 4px;
  }

  // .mat-cell:nth-child(16),
  // .mat-header-cell:nth-child(16) {
  //   flex: 0 0 6%;
  // }
}

.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}

.driver-pay-label {
  display: flex;
  align-items: center;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

.button24 {
  width: 25px;
  height: 25px;
}
.icon24 {
  font-size: 18px;
  margin-top: -11px;
}

.border {
  border: 1px solid antiquewhite;
  margin-top: 1rem;
  padding: 1px 10px;
}

h5 {
  margin: 0.8rem 0;
}

.hyperlink {
  color: #337ab7;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.attendence-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .attendence-form__action {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 799px) {
    flex-direction: column;
    align-items: stretch;

    .attendence-form__action {
      align-items: center;
    }
  }
}

@media screen and (max-width: 599px) {
  .driver-pay,
  .driver-leg {
    mat-table {
      width: max-content;
    }
    .table-container {
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 20px;
    }
    mat-header-cell,
    mat-cell {
      padding: 0px 20px;
      text-align: left;
    }
    mat-header-cell:nth-child(1) {
      padding-left: 15px;
    }
  }

  .attendence-form__table {
    mat-table {
      width: 600px;
    }

    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  .driver-pay-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
  }

  .xs-50 {
    width: 50%;
  }
  .xs-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .driver-pay,
  .driver-leg {
    mat-table {
      width: max-content;
    }
    .table-container {
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 20px;
    }
    mat-header-cell,
    mat-cell {
      padding: 0px 20px;
      text-align: left;
    }
    mat-header-cell:nth-child(1) {
      padding-left: 12px;
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .driver-pay,
  .driver-leg {
    mat-table {
      width: max-content;
    }
    .table-container {
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 20px;
    }
    mat-header-cell,
    mat-cell {
      width: 125px;
      text-align: left;
    }
    mat-header-cell:nth-child(1) {
      padding-left: 13px;
    }
  }
}
