<div class="relative">

    <div class="form-bg">

        <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">

            <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">

                <mat-card class="login-session">

                    <form [formGroup]="setNewPasswordForm" (ngSubmit)="onSubmit()" class="login_form" fxLayout="column"
                        fxLayoutAlign="start stretch">

                        <mat-form-field class="mb-1">
                            <input matInput placeholder="Enter Your New Password"
                                [type]="passwordShowHide ? 'password' : 'text'" formControlName="newPassword" required>
                            <mat-icon matSuffix (click)="passwordShowHide = !passwordShowHide">
                                {{ passwordShowHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            <mat-error *ngIf="setNewPasswordForm.controls.newPassword.errors?.required">Password is
                                required
                            </mat-error>
                            <mat-error *ngIf="setNewPasswordForm.controls.newPassword.hasError('pattern')">Your password
                                must contain at least one uppercase, one lowercase, one number and atleast 8 characters
                                long
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="mb-1">
                            <input matInput placeholder="Confirm Your New Password"
                                [type]="confirmPasswordShowHide ? 'password' : 'text'" formControlName="confirmPassword"
                                required>
                            <mat-icon matSuffix (click)="confirmPasswordShowHide = !confirmPasswordShowHide">
                                {{ confirmPasswordShowHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            <mat-error *ngIf="setNewPasswordForm.controls.confirmPassword.errors?.required">Password is
                                required
                            </mat-error>
                            <mat-error *ngIf="setNewPasswordForm.controls.confirmPassword.hasError('pattern')">Your
                                password must contain at least one uppercase, one lowercase, one number and atleast 8
                                characters long without empty spaces
                            </mat-error>
                            <mat-error
                                *ngIf="setNewPasswordForm.controls.confirmPassword.hasError('mismatchedPasswords')">
                                Password Mismatch
                            </mat-error>
                        </mat-form-field>

                        <small *ngIf="errorMessage" class="form-error-msg"> {{ errorMessage }} </small>

                        <button style="background-color: rgb(45, 185, 26);color:white" [disabled]="!setNewPasswordForm.valid"
                            mat-raised-button>Submit</button>

                        <p class="mb-0" [hidden]="!resetSuccess">Password has been updated successfully. Please
                            login with your new password<br>
                            <button class="mat-blue" mat-raised-button routerLink="/authentication/login">Return to
                                Login</button>
                        </p>

                    </form>

                </mat-card>

            </div>

        </div>

    </div>

</div>