<div mat-dialog-content>
  <h5 class="title-msg">Password Changed Successfully</h5>
</div>

<mat-dialog-actions align="center">
  <button class="success-btn" mat-raised-button (click)="dialogRef.close('login')">
    Click here to login again
  </button>
</mat-dialog-actions>