.mat-table-personalize {
    mat-cell:first-child,
    mat-footer-cell:first-child,
    mat-header-cell:first-child {
        padding-left: 0px;
    }

    .serial-btn {
        padding: 0 5px;
        line-height: 30px;
        min-width: 30px !important;
    }

    .mat-header-cell,
    .mat-cell {
        padding-left: 4px;
        padding-right: 4px;
    }

    .mat-row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .mat-header-row {
        background-color: #f8e0ffec;
    }

    mat-header-cell {
        display: flex;
        justify-content: left;
        color: rgba($color: #000000, $alpha: 0.87);
        font-size: 13px;
    }

    .mat-cell {
        color: rgba($color: #000000, $alpha: 0.75);
        font-size: 12px;
        justify-content: left;
    }

    .mat-cell mat-icon.size-16 {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        color: #fff;
    }

    .mat-cell button {
        min-width: 20px;
        min-height: 20px;
    }

    .mat-cell a {
        color: blue;
    }

    .mat-cell a:hover {
        text-decoration: underline;
    }
}
