<div class="add-dailog position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>
    Assign Location
  </h2>

  <mat-dialog-content class="table">
    <mat-table [dataSource]="hubAddressDatasource" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-radio-button [checked]="selectedAddress?.location_id === element.location_id"
            (change)="onChangeRadioButton(element)">
          </mat-radio-button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [matTooltip]="element.address" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
            {{ element.location_name }}
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="hubAddressHeaderColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: hubAddressHeaderColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[3, 4, 5]" (page)="onChangePage($event)"
      [length]="locationLength" showFirstLastButtons></mat-paginator>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn-rt"
      (click)="onCancel()">Close</button>&nbsp;
    <button mat-button type="button" class="mat-raised-button table-btn-rt"
      [ngStyle]="{'background-color': !selectedAddress ? disabledColor : enabledColor}"
      (click)="!selectedAddress ? null : onSubmit()" [disabled]="!selectedAddress">Assign</button>
  </mat-dialog-actions>

</div>