.title {
  font-size: smaller;
  font-weight: 520;
}

.sub-title {
  font-size: x-small;
}

mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: white;
}

.notes-wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
}
