<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>Notes</span>

    <button mat-icon-button style="background-color:#2196f3" class="mat-raised-button table-btn"
      (click)="onClickAddNotes()" *ngIf="!isArchivedMode" matTooltip="Add Notes">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div *ngFor="let note of notes | keyvalue">

      <label *ngIf="note?.value.length">{{ notesLabel[note?.key] }}</label>

      <mat-card *ngFor="let item of note?.value;let i = index">

        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

          <div>
            <span class="title">
              {{ item.created_by | titlecase }}
            </span>&nbsp;
            <span class="sub-title">
              {{ item.created_on | date:'M/d/yy HH:mm ' }}
            </span>
          </div>

          <div *ngIf="item.notes_id && item.notes_id != selectedNotesId"
            [style.visibility]="(user.userId === item.user_id && !isArchivedMode) ? 'visible' : 'hidden'">
            <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
              (click)="selectedNotesId = item.notes_id;notesValue = item.notes" matTooltip="Edit">
              <mat-icon class="size-16" color="white">edit</mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
              (click)="onDeleteNotes(item.notes_id)" matTooltip="Delete">
              <mat-icon class="size-16" color="white">delete</mat-icon>
            </button>
          </div>

          <div *ngIf="item.notes_id == selectedNotesId || !item.notes_id">
            <button mat-raised-button mat-button-sm class="table-action-btn" style="background-color: rgb(45, 185, 26) !important;"
              (click)="!item.notes_id ? onSaveNotes(item) : onSaveEditNotes(item);" matTooltip="Save">
              <mat-icon class="size-16" color="white">save</mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn" color="red" (click)="(!item.notes_id ? onCancelNotes(i) : selectedNotesId = 0);
            (!item.notes_id ? notesValue = null : notesValue = null)" matTooltip="Cancel">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>
          </div>

        </mat-card-title>

        <mat-card-content>
          <span class="notes-wrap" *ngIf="item.notes_id != selectedNotesId && item.notes_id">
            {{ item.notes }}
          </span>
          <textarea *ngIf="item.notes_id == selectedNotesId || !item.notes_id" matInput placeholder="Notes"
            matTextareaAutosize matAutosizeMinRows="1.5" [(ngModel)]="notesValue"></textarea>
        </mat-card-content>

      </mat-card>

      <hr>

    </div>

  </mat-card-content>

</mat-card>