<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Accessorial Charges</span>
    <button type="button" mat-button type="button" color="blue" class="mat-raised-button table-btn"
      (click)="onAddAccessoryRate()">
      Create New
    </button>
  </mat-card-title>
  <hr>

  <mat-card-content class=" mat-elevation-z8">
    <div class="table-container">
      <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
        <mat-table [dataSource]="generalAccessoriesDatasource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="AccessoriesName">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <mat-label>Accessories Name</mat-label>
                <input matInput type="text" placeholder="Accessories Name" name="accessories_name"
                  [(ngModel)]="columnFilterValue.accessories_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="AccessoriesInterval">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85 select-filter-header">
                <mat-label>Interval</mat-label>
                <mat-select name="accessories_interval" [(ngModel)]="columnFilterValue.accessories_interval"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option value="Hours">Hours</mat-option>
                  <mat-option value="Days">Days</mat-option>
                  <mat-option value="Weeks">Weeks</mat-option>
                  <mat-option value="Months"> Months</mat-option>
                  <mat-option value="Miles">Miles</mat-option>
                  <mat-option value="One Time">One Time</mat-option>
                  <mat-option value="%"> % </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="AccessoriesValue">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Interval Value</mat-label>
                <input matInput type="text" placeholder="Interval Value" name="accessories_value"
                  [(ngModel)]="columnFilterValue.accessories_value">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Description" name="description"
                  [(ngModel)]="columnFilterValue.description">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Rate">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Rate</mat-label>
                <input matInput type="text" placeholder="Rate" name="rate" [(ngModel)]="columnFilterValue.rate">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>

          <!--Name Column -->
          <ng-container matColumnDef="accessories_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.accessories_name}} </mat-cell>
          </ng-container>

          <!-- Interval Column -->
          <ng-container matColumnDef="accessories_interval">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interval</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.accessories_interval}} </mat-cell>
          </ng-container>

          <!-- value Column -->
          <ng-container matColumnDef="accessories_value">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Value</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.accessories_value}} </mat-cell>
          </ng-container>

          <!-- Des Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
          </ng-container>
          <!-- Rate Column -->
          <ng-container matColumnDef="rate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.rate}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                (click)="onEditAccessoryRate(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
                (click)="onDeleteAccessoryRate(row.acc_charge_id)" #tooltip="matTooltip" matTooltip="Delete"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="generalAccessoriesFilterHeaders"></mat-header-row>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </form>
    </div>

    <mat-paginator #paginator [length]="accessLength" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>