mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 25%;
  margin-left: 20px;
}
.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 15%;
}
.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 15%;
}
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 20%;
}
.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 15%;
}
.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 15%;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}
.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}
.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}
.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}
#cdk-overlay-1 {
  min-width: 580px !important;
  pointer-events: auto;
  font-size: 14px;
  top: 181.156px !important;
  left: 361.885px !important;
  transform: translateX(-44px);
}
.mat-cell a {
  text-decoration: underline;
}
.mat-header-row {
  background-color: #f8e0ffec;
}
.mat-cell a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.table-btn-rt {
  margin-right: 1rem !important;
}
mat-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.w-85 {
  width: 85%;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
    min-width: 1000px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
    min-width: 1000px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
}
