.order-entry-form {
  margin: auto;
  max-width: 1350px;
  padding: 15px !important;
}

.mat-card .mat-card-title {
  padding: 0.5rem 0 0 0.5rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: normal;

  .header-label {
    display: flex;
    align-items: center;
  }

  .order-badge {
    padding: 2px 10px;
    background-color: #24974d;
    border-radius: 25px;
    color: #fff;
    font-size: medium;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
  }

  .sub-heading {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }

  .icon-button {
    background-color: rgb(45, 185, 26);
    width: 2rem;
    line-height: 2rem;
    height: 2rem;
    margin-right: 2rem;
  }
}

.mat-card .mat-card-content {
  margin: 0;
  .icon-button {
    background-color: rgb(45, 185, 26);
    width: 2rem;
    line-height: 2rem;
    height: 2rem;
    margin-right: 2rem;
  }
}

.form-container__initial {
  display: flex;
  flex-wrap: wrap;

  .form-item__initial {
    margin-right: 1rem;
  }

  .form-item__initial--customer {
    margin-right: 1rem;
  }
}

.form-container__location {
  display: flex;
  flex-wrap: wrap;

  .form-item__location {
    width: 30%;
    margin-right: 1rem;
  }
}

.form-container-label {
  display: flex;
  align-items: center;

  h5 {
    margin: 0;
    margin-right: 1rem;
  }

  .mat-checkbox-disabled {
    cursor: not-allowed;
  }
}

.form-container__container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  background-color: antiquewhite;
  border: 1px solid rgb(92, 80, 92);
  padding: 1rem;
  position: relative;

  .form-item__container {
    margin-right: 1rem;
    margin-bottom: 1.4rem;
  }

  .form-item__container--radio {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;

    .label {
      margin-top: 0.5rem;
    }

    .mat-error {
      font-size: 75%;
      margin: 0.5rem 0;
    }
  }

  .form-item__container--hazmat-info-container {
    display: flex;
    flex-wrap: wrap;

    .form-item__container--hazmat-info-item {
      margin-right: 1rem;
    }
  }

  .remove-btn {
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    line-height: 2rem;
    height: 2rem;
    border-radius: 0;
  }
}

.notes {
  width: 95%;
}

.actions {
  display: flex;
  justify-content: space-between;

  .cancel-btn {
    margin: 5px;
    background-color: red;
  }

  .actions-group {
    display: flex;

    .save-btn {
      margin: 5px;
      background-color: #2196f3;
    }

    .save-dispatch-btn {
      margin: 5px;
      background-color: rgb(45, 185, 26);
    }

    .save-draft-btn {
      margin: 5px;
      background-color: rgba(128, 128, 128, 0.897);
    }

    .save-cancel-btn {
      margin: 5px;
      background-color: rgb(250, 123, 3);
    }
  }
}

.footer-label {
  margin: 0.1rem 0.2rem;

  .footer-title {
    padding: 0.5rem 0 0 0.5rem;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .order-entry-form {
    padding: 0 !important;
  }

  .form-container__initial {
    flex-direction: column;
  }

  .form-container__location {
    flex-direction: column;

    .form-item__location {
      width: 97%;
    }
  }

  .form-container__container {
    flex-direction: column;
    margin-bottom: 1rem;

    .form-item__container {
      margin-bottom: 1rem;
    }

    .form-item__container--radio {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .label {
        margin-top: 0;
      }
    }

    .form-item__container--hazmat-info-container {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 499px) {
  .actions {
    flex-direction: column;

    .actions-group {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 359px) {
  .mat-card .mat-card-title {
    .header-label {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
