<mat-card class="order-entry-form">

  <form [formGroup]="orderForm">

    <mat-card-title fxLayout="row" fxLayoutAlign.gt-xs="start center">
      <div class="header-label">
        <span *ngIf="editMode || draftMode">
          Edit Order - {{ selectedOrder?.order_sequence }}
          &nbsp;
        </span>

        <span *ngIf="editMode || draftMode" class="order-badge">
          {{
          selectedOrder?.order_flag === "N/A" ? selectedOrder?.order_flag : (selectedOrder?.order_flag | titlecase)
          }}
        </span>

        <span *ngIf="!editMode && !draftMode">
          Create Order - {{ orderSequence?.order_number }}
          &nbsp;
        </span>
      </div>
    </mat-card-title>

    <mat-card-content class="form-container__initial" style="padding-right: 10px;">
      <mat-card fxFlex="100" style="padding: 10px;margin: 0px;border-radius: 10px;;">
          <mat-form-field class="form-item__initial select-height">
            <mat-select placeholder="Order Type" name="order_type" formControlName="order_type"
              (selectionChange)="onChangeOrderType($event.value)">
              <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.label">
                {{ orderType.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.get('order_type').hasError('required')">
              Order Type is Required
            </mat-error>
          </mat-form-field>

          <app-customer-autocomplete class="form-item__initial--customer" styleClass="w-30" label="Customer" [isCreatable]="true"
            formControlName="customer_name" locationTypes="locationTypes" [editMode]="editMode"
            (customerAutoSuggestions)="onTypeCustomerName($event)">
          </app-customer-autocomplete>

          <mat-form-field class="form-item__initial">
            <mat-label>Customer Ref #</mat-label>
            <input matInput placeholder="Customer Ref #" type="text" name="customer_reference" required
              formControlName="customer_reference">
            <mat-error *ngIf="orderForm.get('customer_reference').hasError('required')">
              Customer Reference # is Required
            </mat-error>
            <mat-error *ngIf="orderForm.get('customer_reference').hasError('pattern')">
              Customer Ref # accepts only the following special characters (,'*-_.!#+"$&) and maximum of 25 characters
              without space
            </mat-error>
          </mat-form-field>
    
      <mat-form-field class="form-item__initial" *ngIf="truckMoveHideOrShowElement">
        <mat-label>Booking #</mat-label>
        <input matInput type="text" name="booking_number" formControlName="booking_number" [required]="orderForm.get('order_type').value === null ||
           orderForm.get('order_type').value === 'Outbound Intermodal'">
        <mat-error *ngIf="orderForm.get('booking_number').hasError('required')">
          Booking Number is Required
        </mat-error>
        <mat-error *ngIf="orderForm.get('booking_number').hasError('pattern')">
          Booking # accepts only the following special characters (,'*-_.!#+"$&) and maximum of 25 characters
          without space
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-item__initial select-height">
        <mat-label>Tags</mat-label>
        <mat-select name="tags" formControlName="tags" multiple>
          <mat-option *ngFor="let tag of tags" [value]="tag.value">{{ tag.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-item__initial select-height">
        <mat-label>Route Format</mat-label>
        <mat-select placeholder="select" required formControlName="format_address">
          <mat-option *ngFor="let formatType of formatTypes" [value]="formatType">
            {{ formatType }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('format_address').hasError('required')">
          Route Format is Required
        </mat-error>
      </mat-form-field>
        <!-- <div fxFlex="95" fxLayout="row" *ngIf="orderForm.get('order_type').value !== null 
        && orderForm.get('order_type').value.includes('Outbound')" fxLayoutAlign="center center" > -->
          <!-- <mat-form-field class="form-item__initial"> -->
          <mat-form-field class="form-item__initial" *ngIf="orderForm.get('order_type').value !== null 
            && orderForm.get('order_type').value.includes('Outbound')">
            <mat-label>Rail Cut</mat-label>
            <mat-icon matPrefix [owlDateTimeTrigger]="dt" style="cursor:pointer;position: relative;top: 3px;right: 2px;">calendar_today</mat-icon>
            <input #dtInput matInput type="text" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" name="rail_cut"
              formControlName="rail_cut" (keydown.enter)="dtInput.click()">
            <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
            <mat-error *ngIf="orderForm.get('booking_number').hasError('required')">
              Rail Cut is Required
            </mat-error>
          </mat-form-field>
      </mat-card>
    </mat-card-content>

    <hr>

    <mat-card-title fxLayout="row" fxLayoutAlign="start center">
      <span class="sub-heading">Location</span>
    </mat-card-title>

    <mat-card-content class="form-container__location" style="padding-right: 10px;">
      <mat-card fxFlex="100" style="padding: 10px;margin: 0px;border-radius: 10px;">
        <div  fxLayout="row" fxLayoutAlign="space-around center">
          <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=true
            label="Pickup Name" formControlName="pu_name" styleClass="w-100" class="form-item__location"
            (address)="orderForm.get('pu_loc').setValue($event);" (city)="addressObject.p_city = $event"
            (postalCode)="addressObject.p_postal_code = $event"
            (seletedLocationData)="pickupLocationData = $event;isPickupInitEmit = false"
            (phoneNo)="addressObject.p_phone = $event" (email)="addressObject.p_email = $event"
            [isInitEmit]="isPickupInitEmit">
          </app-midcities-name-autocomplete>

          <app-midcities-address-autocomplete class="form-item__location" label="Pickup Address" isRequired="true"
            formControlName="pu_loc" styleClass="w-100" (name)="orderForm.get('pu_name').setValue($event);"
            (city)="addressObject.p_city = $event" (postalCode)="addressObject.p_postal_code = $event"
            (phoneNo)="addressObject.p_phone = $event" (email)="addressObject.p_email = $event"
            (seletedLocationData)="pickupLocationData = $event">
          </app-midcities-address-autocomplete>

          <mat-form-field class="form-item__location">
            <mat-label>&nbsp;Pickup Date and Time</mat-label>
            <mat-icon matPrefix [owlDateTimeTrigger]="pft" style="cursor:pointer;position: relative;top: 3px;right: 2px;">calendar_today</mat-icon>
            <input #pickupInput matInput type="text" required [owlDateTime]="pft" [owlDateTimeTrigger]="pft"
              (keydown.enter)="pickupInput.click()" [selectMode]="'range'" name="est_pickup_time"
              formControlName="est_pickup_time" (dateTimeChange)="onChangeOfPickupDateTimePicker($event)"
              [placeholder]="pickupHint ? '' :'mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm'"
              (keyup)="onPickupKeyUp($event.target.value)">
            <owl-date-time [scrollStrategy]="pft.overlay.scrollStrategies.close()" #pft></owl-date-time>
            <mat-hint *ngIf="pickupHint">mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm</mat-hint>
            <mat-error *ngIf="orderForm.get('est_pickup_time').hasError('required')">
              Pickup Date and Time is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div  fxLayout="row" fxLayoutAlign="space-around center">
          <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=true
            label="Delivery Name" formControlName="dl_name" styleClass="w-100" class="form-item__location"
            (address)="orderForm.get('dl_loc').setValue($event);" (city)="addressObject.d_city = $event"
            (postalCode)="addressObject.d_postal_code = $event"
            (seletedLocationData)="deliveryLocationData = $event;isDeliveryInitEmit = false"
            (phoneNo)="addressObject.d_phone = $event" (email)="addressObject.d_email = $event"
            [isInitEmit]="isDeliveryInitEmit">
          </app-midcities-name-autocomplete>

          <app-midcities-address-autocomplete class="form-item__location" label="Delivery Address" isRequired="true"
            formControlName="dl_loc" styleClass="w-100" (name)="orderForm.get('dl_name').setValue($event);"
            (city)="addressObject.d_city = $event" (postalCode)="addressObject.d_postal_code = $event"
            (phoneNo)="addressObject.d_phone = $event" (email)="addressObject.d_email = $event"
            (seletedLocationData)="deliveryLocationData = $event">
          </app-midcities-address-autocomplete>

          <mat-form-field class="form-item__location">
            <mat-label>&nbsp;Delivery Date and Time</mat-label>
            <mat-icon matPrefix [owlDateTimeTrigger]="dft" style="cursor:pointer;position: relative;top: 3px;right: 2px;">calendar_today</mat-icon>
            <input #deliveryInput matInput type="text" required [owlDateTime]="dft" [owlDateTimeTrigger]="dft"
              (keydown.enter)="deliveryInput.click()" [selectMode]="'range'" name="est_delivery_time"
              formControlName="est_delivery_time" (dateTimeChange)="onChangeOfDeliveryDateTimePicker($event)"
              [placeholder]="deliveryHint ? '' :'mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm'"
              (keyup)="onDeliveryKeyUp($event.target.value)">
            <owl-date-time [scrollStrategy]="dft.overlay.scrollStrategies.close()" #dft></owl-date-time>
            <mat-hint *ngIf="deliveryHint">mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm</mat-hint>
            <mat-error *ngIf="orderForm.get('est_delivery_time').hasError('required')">
              Delivery Date and Time is Required
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
    </mat-card-content>

    <hr>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
      <span class="sub-heading">Container</span>
      <!-- <span>
      <button mat-icon-button style="position: relative;top: 30px;" class="mat-raised-button table-btn-rt icon-button"
      *ngIf="!editMode && !draftMode && !isInvoiceMode" (click)="onClickAddContainer()" matTooltip="Add Container">
        <mat-icon>add</mat-icon>
      </button>
      </span> -->
      <!-- <button mat-icon-button type="button" class="mat-raised-button table-btn-rt icon-button"
        *ngIf="!editMode && !draftMode && !isInvoiceMode" (click)="onClickAddContainer()" matTooltip="Add Container">
        <mat-icon>add</mat-icon>
      </button> -->
    </mat-card-title>

    <mat-card-content formArrayName="order_container_chassis" style="padding-right: 10px;">

      <div *ngFor="let container of getControls();let i = index" [formGroupName]="i">

        <div class="form-container-label">
          <h5 *ngIf="orderForm.get('order_container_chassis').value.length > 1">{{ !editMode && !draftMode ?
            (orderSequence?.order_number + '/' + container.get('container_sequence').value) :
            selectedOrder?.order_sequence }}</h5>&nbsp;
          <div fxFlex="100" fxLayout="row">
            <span fxFlex="94"  fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox name="is_brokered" formControlName="is_brokered"
            (change)="onChangeIsBrokeredCheckbox($event.checked,false,i)">
            Brokered
              </mat-checkbox>
            </span>

            <span fxFlex="5" fxLayoutAlign="end center">
              <button  mat-icon-button type="button" style=" position: relative;left: 30px;" class="mat-raised-button table-btn-rt icon-button"
                *ngIf="!editMode && !draftMode && !isInvoiceMode && (orderForm.get('order_container_chassis').value.length -1) == i" (click)="onClickAddContainer()" matTooltip="Add Container">
                <mat-icon>add</mat-icon>
              </button>
            </span>
          
          </div>
          
        </div>

        <div class="form-container__container" style="border-radius: 10px;box-shadow: 1.5px 2.6px 24px 0 rgb(0 35 136 / 8%) !important;">

          <button mat-icon-button type="button" style="border-radius: 0px 10px 0px 0px;" *ngIf="i > 0" class="mat-raised-button table-btn-rt remove-btn"
            (click)="onDeleteContainer(i)">
            <mat-icon>close</mat-icon>
          </button>

          <mat-form-field class="select-height form-item__container" *ngIf="isBrokeredOrder[i]">
            <mat-label>Carrier</mat-label>
            <mat-select placeholder="Select Carrier" [required]="container.get('is_brokered').value" name="carrier_id"
              formControlName="carrier_id">
              <mat-option *ngFor="let carrier of carriers" [value]="carrier.carrier_id">
                {{ carrier.carrier_name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="container.get('carrier_id').hasError('required')">
              Carrier is Required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-item__container" *ngIf="isBrokeredOrder[i]">
            <input type="number" min="0" matInput placeholder="Carrier Rate"
              [required]="container.get('is_brokered').value" formControlName="carrier_rate">
            <mat-error *ngIf="container.get('carrier_rate').hasError('required')">
              Carrier Rate is Required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-item__container">
            <mat-label>
              {{ (orderForm.get('order_type').value !== 'Truck Move') ? 'Container #' : 'Trailer #' }}
            </mat-label>
            <input matInput type="text" name="container_number" formControlName="container_number"
              style="text-transform: uppercase;"
              [textMask]="{mask: (orderForm.get('order_type').value !== 'Truck Move') ? containerMask : trailerMask,guide:true}"
              [required]="orderForm.get('order_type').value == 'Inbound Intermodal'">
            <mat-error *ngIf="container.get('container_number').hasError('required')">
              {{ (orderForm.get('order_type').value !== 'Truck Move') ? 'Container #' : 'Trailer #' }} is Required
            </mat-error>
            <mat-error *ngIf="container.get('container_number').hasError('pattern')">
              {{ (orderForm.get('order_type').value !== 'Truck Move') ?
              'Container # should be xxxx(4alphabet)-xxxxxx(1char,5num or 5num or 6num)-x(1num optional)' :
              'Trailer # should be xxxx(4alphabet)-xxxxx(5num) or xx(2alpha)-xxxxxx(6num)' }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="select-height form-item__container">
            <mat-label>Size</mat-label>
            <mat-select placeholder="Select Container Size" required name="container_size"
              formControlName="container_size">
              <mat-option *ngFor="let size of sizes" [value]="size">
                {{ size }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="container.get('container_size').hasError('required')">
              Size is Required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-item__container">
            <input type="number" min="0" matInput placeholder="Weight(lbs)" required formControlName="weight">
            <mat-error *ngIf="container.get('weight').hasError('required')">
              Weight is Required
            </mat-error>
          </mat-form-field>

          <mat-radio-group formControlName="overweight" class="form-item__container--radio">
            <mat-label> Over Weight: &nbsp;</mat-label>
            <div>
              <mat-radio-button [checked]="(container.get('weight').value >= 44001 &&
              container.get('container_size').value !== '20') ||
              (container.get('weight').value >= 39000 &&
              container.get('container_size').value === '20')" value="Y" (click)="onClickOverWeightYes(i)">
                Y
              </mat-radio-button>&nbsp;
              <mat-radio-button [checked]="(container.get('weight').value < 44001 &&
              container.get('container_size').value !== '20') ||
              (container.get('weight').value < 39000 &&
              container.get('container_size').value === '20')" value="N"
                (click)="container.get('weight').setValue(null)">
                N
              </mat-radio-button>
            </div>
            <mat-error *ngIf="(container.get('weight').value >= 44001 &&
            container.get('container_size').value !== '20') ||
            (container.get('weight').value >= 39000 &&
            container.get('container_size').value === '20')">
              Overweight, Please use Triaxle Chassis
            </mat-error>
          </mat-radio-group>

          <mat-form-field class="select-height form-item__container">
            <mat-label>Container Type</mat-label>
            <mat-select placeholder="select" name="container_type" required formControlName="container_type">
              <mat-option *ngFor="let containerType of containerTypes" [value]="containerType.label">
                {{ containerType.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="container.get('container_type').hasError('required')">
              Container Type is Required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-item__container" *ngIf="container.get('container_type').value === 'Reefer'">
            <input matInput type="text" placeholder="Temperature" formControlName="temperature">
          </mat-form-field>

          <mat-form-field *ngIf="orderForm.get('order_type').value !== 'Truck Move'" class="form-item__container">
            <mat-label> Chassis #</mat-label>
            <input matInput type="text" name="chassis_number" formControlName="chassis_number"
              [textMask]="{mask: chassisMask, guide: true}" style="text-transform: uppercase;">
            <mat-error *ngIf="container.get('chassis_number').hasError('pattern')">
              Chassis # should be xxxx(4chars)-xxxxxx(5 or 6chars)
            </mat-error>
          </mat-form-field>

          <app-container-autocomplete [isRequired]="orderForm.get('order_type').value !== 'Truck Move'"
            [editMode]="editMode" [draftMode]="draftMode" *ngIf="truckMoveHideOrShowElement"
            formControlName="containerNameDetails" class="form-item__container">
          </app-container-autocomplete>

          <mat-form-field class="form-item__container">
            <mat-label>Pickup #</mat-label>
            <input matInput type="text" placeholder="534323" name="pu_ref" formControlName="pu_ref">
          </mat-form-field>

          <mat-form-field class="form-item__container">
            <mat-label>Delivery #</mat-label>
            <input matInput type="text" placeholder="534323" name="dl_ref" formControlName="dl_ref">
          </mat-form-field>

          <mat-form-field *ngIf="orderForm.get('order_type').value !== null &&
             orderForm.get('order_type').value.includes('Inbound')" class="form-item__container">
            <mat-label>LFD</mat-label>
            <mat-icon matPrefix [owlDateTimeTrigger]="lfd" style="cursor:pointer">calendar_today</mat-icon>
            <input #lfdInput matInput name="lfd_date" [owlDateTime]="lfd" [owlDateTimeTrigger]="lfd"
              (keydown.enter)="lfdInput.click()" formControlName="lfd_date">
            <owl-date-time [pickerType]="'calendar'" #lfd></owl-date-time>
            <mat-error *ngIf="container.get('lfd_date').hasError('required')">
              LFD is Required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-item__container">
            <input type="number" min="0" matInput placeholder="Pieces" formControlName="pieces">
          </mat-form-field>

          <mat-form-field class="form-item__container">
            <mat-label>Seal #</mat-label>
            <input matInput placeholder="Seal #" type="text" formControlName="seal_no">
            <mat-error *ngIf="container.get('seal_no').hasError('pattern')">
              Seal # accepts only the alphanumeric characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-item__container" *ngIf="orderForm.get('order_type').value !== null &&
        orderForm.get('order_type').value.includes('Inbound')">
            <mat-label>ETA</mat-label>
            <mat-icon matPrefix [owlDateTimeTrigger]="eta" style="cursor:pointer">calendar_today</mat-icon>
            <input #etaInput matInput [owlDateTime]="eta" [owlDateTimeTrigger]="eta" (keydown.enter)="etaInput.click()"
              formControlName="eta">
            <owl-date-time [pickerType]="'calendar'" #eta></owl-date-time>
          </mat-form-field>

          <mat-radio-group formControlName="hazmat_req" class="form-item__container--radio">
            <mat-label class="label">Hazmat Required:&nbsp;</mat-label>
            <div>
              <mat-radio-button [value]="1">Y</mat-radio-button> &nbsp;
              <mat-radio-button [value]="0">N</mat-radio-button>
            </div>
          </mat-radio-group>

          <div *ngIf="container.get('hazmat_req').value === 1" formGroupName="hazmatinfo"
            class="form-item__container--hazmat-info-container">

            <mat-form-field class="form-item__container--hazmat-info-item">
              <mat-label> Un_number</mat-label>
              <input matInput type="string" name="un_number" formControlName="un_number">
            </mat-form-field>

            <mat-form-field class="form-item__container--hazmat-info-item">
              <mat-label> Classes</mat-label>
              <input matInput type="string" name="haz_classes" formControlName="haz_classes">
            </mat-form-field>

            <mat-form-field class="form-item__container--hazmat-info-item">
              <mat-label> Weight</mat-label>
              <input matInput type="number" min="0" name="haz_weight" formControlName="haz_weight">
            </mat-form-field>

            <mat-form-field class="form-item__container--hazmat-info-item">
              <mat-label>Page_Ref</mat-label>
              <input matInput name="haz_page_ref" formControlName="haz_page_ref">
            </mat-form-field>

            <mat-form-field class="form-item__container--hazmat-info-item">
              <mat-label> Name</mat-label>
              <input matInput type="text" name="haz_name" formControlName="haz_name">
            </mat-form-field>

            <mat-form-field class="form-item__container--hazmat-info-item">
              <mat-label> Contact</mat-label>
              <input matInput type="text" name="haz_contact" formControlName="haz_contact">
            </mat-form-field>

          </div>

        </div>

        <!-- <span fxFlex="100" *ngIf="i>0">
          <button mat-icon-button type="button" class="mat-raised-button table-btn-rt icon-button"
            *ngIf="!editMode && !draftMode && !isInvoiceMode" (click)="onClickAddContainer()" matTooltip="Add Container">
            <mat-icon>add</mat-icon>
          </button>
        </span> -->

      </div>

    </mat-card-content>

    <hr>

    <mat-card-title fxLayout="row" fxLayoutAlign="start center">
      <span style="margin-bottom: 10px;" class="sub-heading">Notes</span>
    </mat-card-title>
    <mat-card style="padding: 10px;margin: 0px 10px 10px 15px;border-radius: 10px;">
      
      <!-- <mat-card-content> -->
        <mat-form-field class="notes">
          <mat-label>Order Notes</mat-label>
          <textarea matInput placeholder="Write some notes about order..." type="text" name="order_notes"
            formControlName="order_notes">
          </textarea>
        </mat-form-field>
      <!-- </mat-card-content> -->

      <!-- <mat-card-content> -->
        <mat-form-field class="notes">
          <mat-label>Driver Notes</mat-label>
          <textarea matInput placeholder="Driver Notes" type="text" name="driver_notes" formControlName="driver_notes">
          </textarea>
        </mat-form-field>
      <!-- </mat-card-content> -->

    </mat-card>
    <mat-card-actions class="actions">

      <button style="min-width: 150px;" mat-button type="button" class="mat-raised-button table-btn cancel-btn" (click)="onClickCancelOrder()"
        [style.visibility]="editMode ? 'visible' : 'hidden'">
        Cancel Order
      </button>

      <div class="actions-group">
        <button style="min-width: 150px;" mat-button type="button" class="mat-raised-button table-btn save-btn" (click)="onClickSaveToPending()"
          [disabled]="(isDispatch && this.editMode) || isInvoiceMode ? !orderForm.valid : !isValid()">
          {{ (editMode || isInvoiceMode) ? 'Save' : 'Save & Pending' }}
        </button>

        <button style="min-width: 150px;" mat-button type="button" class="mat-raised-button table-btn save-dispatch-btn"
          (click)="onClickSaveToDispatch()" [disabled]="!orderForm.valid" *ngIf="!isDispatch && !isInvoiceMode">
          Save & Dispatch
        </button>

        <button style="min-width: 150px;background-color: #ff9800;" mat-button type="button" class="mat-raised-button table-btn save-draft-btn"
          (click)="onClickSaveAsDraft()" *ngIf="(!editMode || draftMode) && !isInvoiceMode">
          Save As Draft
        </button>

        <button style="min-width: 150px;background-color: gray;" mat-button type="button"  class="mat-raised-button table-btn save-cancel-btn" (click)="onClickCancel()">
          Cancel
        </button>
      </div>
    </mat-card-actions>

    <mat-card-footer class="footer-label">
      <span *ngIf="editMode || draftMode" class="footer-title">
        Order - {{ selectedOrder?.order_sequence }}
        &nbsp;
      </span>

      <span *ngIf="!editMode && !draftMode" class="footer-title">
        Order - {{ orderSequence?.order_number }}
      </span>
    </mat-card-footer>

  </form>

</mat-card>
