.mat-dialog {
    height: 200px;
    width: 500px;
}

.border {
    height: 5px;
    width: 70px;
    background-color: rgba(151, 140, 140, 0.418);
    border: 1px solid rgb(156, 142, 156);
    // margin-top: 10px;
    // margin-bottom: 15px;
    padding: 1px 2px;
}

mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
}
