.dialog-class{
    padding: 0 !important;
}

mat-dialog-content{
    overflow: hidden !important;
}

.radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button{
    margin: 5px;
}

mat-form-field{
    width: 100%;
}