<form (ngSubmit)="onApply()">

  <h2 matDialogTitle>{{filterHeader}}</h2>

  <mat-dialog-content>

    <!-- Text Field -->
    <app-general-autocomplete *ngIf="normalInput" label="Matches" for="filter" [isRequired]="false"
      key="dispatchData" [formControl]="match" [searchBy]="dialogData.data.value">
    </app-general-autocomplete>

    <!-- Hazmat Request -->
    <section *ngIf="hazRequest">
      <mat-radio-group [formControl]="match" name="match" class="radio-group">
        <mat-radio-button *ngFor="let radio of hazArray" [value]="radio.key" class="radio-button">
          {{radio.key}}
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <!-- Select Dropdown -->
    <mat-form-field *ngIf="selectDropdown">
      <mat-label>Matches</mat-label>
      <mat-select [formControl]="match" name="match">
        <mat-option *ngFor="let dropdown of selectDropdownLists" [value]="dropdown.label">{{ dropdown.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Multiple Select Dropdown -->
    <mat-form-field *ngIf="multipleSelect">
      <mat-label>Matches</mat-label>
      <mat-select [formControl]="match" name="match" multiple>
        <mat-option *ngFor="let dropdown of checkboxArray" [value]="dropdown.label">{{dropdown.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Date Field -->
    <mat-form-field *ngIf="dateField">
      <mat-label>Matches</mat-label>
      <mat-icon matSuffix [owlDateTimeTrigger]="picker" style="cursor:pointer">calendar_today</mat-icon>
      <input #pickupInput matInput type="text" required [owlDateTime]="picker" [owlDateTimeTrigger]="picker"
        (keydown.enter)="pickupInput.click()" [formControl]="match" name="match" [selectMode]="'range'"
        (dateTimeChange)="onChangeOfDateTimePicker($event)">
      <owl-date-time #picker></owl-date-time>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="submit" mat-button>Apply</button>
  </mat-dialog-actions>

</form>
