<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} Equipment</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs w-93 xs-100 select-height" [ngClass]="{'w-93': equipmentType !== 'Truck',
        'w-45': equipmentType === 'Truck' }">
        <mat-label>Equipment Type</mat-label>
        <mat-select formControlName="equipment_type_id" required (selectionChange)="onSelectEquipmentType($event)">
          <mat-option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.value">
            {{ equipmentType.label }}
          </mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('equipment_type_id').valid && (equipmentForm.get('equipment_type_id').dirty || equipmentForm.get('equipment_type_id').touched)">
          Equipment Type is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100 select-height" *ngIf="equipmentType === 'Truck'">
        <mat-label>Truck #</mat-label>
        <mat-select formControlName="truck_no" required (selectionChange)="onSelectTruckNumber($event)">
          <mat-option *ngFor="let truckNumber of truckNumbers"
            [disabled]="injectedData.disableIds.includes(truckNumber.id)" [value]="truckNumber.number">
            {{ truckNumber.number }}
          </mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('truck_no').valid && (equipmentForm.get('truck_no').dirty || equipmentForm.get('truck_no').touched)">
          Truck # is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Equipment Name" formControlName="equipment_name" required>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('equipment_name').valid && (equipmentForm.get('equipment_name').dirty || equipmentForm.get('equipment_name').touched)">
          Name is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Make</mat-label>
        <input matInput type="text" placeholder="Enter Make Name" formControlName="make" required>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('make').valid && (equipmentForm.get('make').dirty || equipmentForm.get('make').touched)">
          Make Name is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Model</mat-label>
        <input matInput type="text" placeholder="Enter Model Name" formControlName="model" required>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('model').valid && (equipmentForm.get('model').dirty || equipmentForm.get('model').touched)">
          Model Name is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100 select-height">
        <mat-label>Year</mat-label>
        <mat-select formControlName="year" required>
          <mat-option *ngFor="let year of listOfYear" [value]="year">{{ year }}</mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('year').valid && (equipmentForm.get('year').dirty || equipmentForm.get('year').touched)">
          Year is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>VIN</mat-label>
        <input matInput type="text" placeholder="Enter VIN" formControlName="vin" required>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('vin').valid && (equipmentForm.get('vin').dirty || equipmentForm.get('vin').touched)">
          VIN is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>License</mat-label>
        <input matInput type="text" placeholder="Enter License" formControlName="license" required>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('license').valid && (equipmentForm.get('license').dirty || equipmentForm.get('license').touched)">
          License is Required
        </mat-error>
      </mat-form-field>

      <div class="ml-xs mr-xs w-45 xs-100" style="display: inline-block;">
        <app-state-autocomplete required formControlName="license_state"></app-state-autocomplete>
      </div>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>License Expiry</mat-label>
        <mat-icon matSuffix [owlDateTimeTrigger]="dt" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput type="text" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" formControlName="license_expiry"
          required>
        <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('license_expiry').valid && (equipmentForm.get('license_expiry').dirty || equipmentForm.get('license_expiry').touched)">
          License Expiry is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-93 xs-100 select-height">
        <mat-label>Location</mat-label>
        <mat-select formControlName="equipment_location_id" required>
          <mat-option *ngFor="let equipmentLocation of equipmentLocations" [value]="equipmentLocation.value">
            {{ equipmentLocation.label }}
          </mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('equipment_location_id').valid && (equipmentForm.get('equipment_location_id').dirty || equipmentForm.get('equipment_location_id').touched)">
          Location is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-93 xs-100">
        <mat-label>Remarks</mat-label>
        <input matInput type="text" placeholder="Enter remarks" formControlName="remarks" required>
        <mat-error class="error-message"
          *ngIf="!equipmentForm.get('remarks').valid && (equipmentForm.get('remarks').dirty || equipmentForm.get('remarks').touched)">
          Remarks is Required
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!equipmentForm.valid">{{
        editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>