th,
td {
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}

.assigned {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.in-route {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

.info-list {
  margin: 0.8rem;

  .info-list__value {
    white-space: pre-line;
  }
}

.hyperlink {
  color: #337ab7;
  cursor: pointer;
}

.hyperlink:hover {
  color: #3c8dbc;
  cursor: pointer;
}

.dispatch-container {
  display: flex;
  flex-flow: row wrap;

  .dispatch-container__item {
    margin: 14px 8px;
  }
}

mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 599px) {
  table {
    width: 100% !important;
  }
}
