<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>{{ injectedData.name }} Info</h2>


  <!-- List View Used In Most info Popup -->
  <mat-dialog-content *ngIf="injectedData.view === 'list'">

    <div *ngFor="let item of injectedData.columnNames;let i = index" class="info-list">
      <p matLine fxLayout.gt-xs="row" fxLayout.xs="column">
        <strong fxFlex.gt-xs=50%> {{ injectedData.listNames[i] }} </strong>
        <span fxFlex.gt-xs=50% class="info-list__value">
          {{ injectedData.selectedData[item] === null ? '--' : injectedData.selectedData[item] }}
        </span>
      </p>
    </div>

  </mat-dialog-content>


  <!-- List View Used In Most info Popup -->
  <mat-dialog-content *ngIf="injectedData.view === 'viewDocs'">

    <h4 *ngIf="!injectedData.documents.length" style="text-align: center;margin-top: 8px;">
      No Documents Uploaded
    </h4>

    <div *ngFor="let document of injectedData.documents;let i = index" class="info-list">

      <p matLine fxLayout.gt-xs="row" fxLayout.xs="column">

        <strong fxFlex.gt-xs=50%> {{ document.label }} </strong>

        <span fxFlex.gt-xs=50% class="info-list__value">

          <button mat-button type="button" color="blue" class="mat-raised-button table-action-btn button upload"
            (click)="document.clickFn()" matTooltip="View">
            <mat-icon class="size-16" color="white">visibility</mat-icon>
          </button>

        </span>

      </p>

    </div>

  </mat-dialog-content>

  <!-- Only List View Used In Container Owner Mgmt -> preferred chassis & hire loc -->
  <mat-dialog-content *ngIf="injectedData.view === 'onlyList'">

    <mat-list role="list" *ngIf="!injectedData.isHover">
      <mat-list-item role="listitem" *ngFor="let item of injectedData.selectedData">
        {{ item }}
      </mat-list-item>
    </mat-list>

    <mat-list role="list" *ngIf="injectedData.isHover">
      <mat-list-item role="listitem" *ngFor="let item of injectedData.selectedData">
        <span [matTooltip]="item.hireAddress" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
          {{ item.hire_name }}
        </span>
      </mat-list-item>
    </mat-list>

  </mat-dialog-content>

  <mat-dialog-content *ngIf="injectedData.view === 'multipleList'">

    <div *ngFor="let list of injectedData.multipleListData | keyvalue;let i = index;">

      <h2 mat-dialog-title *ngIf="i !== 0">{{ list.key }}</h2>

      <div *ngFor="let item of list.value.columnNames;let j = index" class="info-list">
        <p matLine fxLayout.gt-xs="row" fxLayout.xs="column">
          <strong fxFlex.gt-xs=50%> {{ list.value.listNames[j] }} </strong>
          <span fxFlex.gt-xs=50% class="info-list__value"
            *ngIf="item !== 'd_phone' && item !== 'p_phone' && item !== 'business_phone'">
            {{ list.value.selectedData[item] ? list.value.selectedData[item] : '--' }}
          </span>
          <span fxFlex.gt-xs=50% class="info-list__value"
            *ngIf="item === 'd_phone' || item === 'p_phone' || item === 'business_phone'">
            <a class="hyperlink" *ngIf="list.value.selectedData[item]" [href]="'tel:' + list.value.selectedData[item]">
              {{ list.value.selectedData[item] }}
            </a>
            <span *ngIf="!list.value.selectedData[item]">
              --
            </span>
          </span>
        </p>
      </div>

    </div>

  </mat-dialog-content>

  <!-- Table View Used In Driver Management => Driver Details -->
  <mat-dialog-content class="mat-typography" *ngIf="injectedData.view === 'table'">

    <h3 *ngIf="injectedData.selectedArray?.length !== 0">{{ injectedData.secondaryName | titlecase }}</h3>

    <table style="width: 100%" *ngIf="injectedData.selectedArray?.length !== 0">
      <thead>
        <tr>
          <th *ngFor="let header of injectedData.secondaryColumnNames" style="text-align:left">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of injectedData.selectedArray; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ item.order_number }}</td>
          <td>
            <span [ngClass]="{'assigned': item.leg_status === 'Assigned','in-route': item.leg_status === 'Picked Up'}">
              {{ item.leg_status === 'Assigned' ? item.leg_status : 'In Route' }}
            </span>
          </td>
          <td>{{ item.leg_type }}</td>
          <td>
            <span [matTooltip]="item.pu_loc" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
              {{ item.pu_name }}
            </span>
          </td>
          <td>
            <span [matTooltip]="item.dl_loc" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
              {{ item.dl_name }}
            </span>
          </td>
          <td>{{ item.hazmat_req == 1 ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>

    <h2 *ngIf="injectedData.selectedArray?.length === 0" style="text-align: center;">
      Currently Driver Have No Legs
    </h2>

  </mat-dialog-content>

  <!-- List And Table View Used In Driver Rates -->
  <mat-dialog-content *ngIf="injectedData.view === 'list&table_driverRates'">


    <div *ngFor="let item of injectedData.columnNames;let i = index" class="info-list">
      <p matLine fxLayout.gt-xs="row" fxLayout.xs="column">
        <strong fxFlex=50%> {{ injectedData.listNames[i] }} </strong>
        <span fxFlex=50% class="info-list__value"> {{ injectedData.selectedData[item] }} </span>
      </p>
    </div>

    <h5>{{ injectedData.secondaryName }}</h5>

    <br>

    <table style="width: 80%">
      <thead>
        <tr>
          <th *ngFor="let header of injectedData.secondaryColumnNames" style="text-align:left">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of injectedData.selectedArray; let i=index">
          <td>{{ i+1 }}</td>
          <td>
            {{ item.range_to === null ? (item.range_from + ' + ') : (item.range_from + ' - ' + item.range_to ) }}
          </td>
          <td>{{ item.rate }}</td>
        </tr>
      </tbody>
    </table>

  </mat-dialog-content>

  <!-- List And Table View Used In Equipment -->
  <mat-dialog-content *ngIf="injectedData.view === 'list&table_equipment'">


    <div *ngFor="let item of injectedData.columnNames;let i = index" class="info-list">
      <p matLine fxLayout.gt-xs="row" fxLayout.xs="column">
        <strong fxFlex=50%> {{ injectedData.listNames[i] }} </strong>
        <span fxFlex=50% class="info-list__value"> {{ injectedData.selectedData[item] }} </span>
      </p>
    </div>

    <h5>{{ injectedData.secondaryName }}</h5>

    <br>

    <table style="width: 80%">
      <thead>
        <tr>
          <th *ngFor="let header of injectedData.secondaryColumnNames" style="text-align:left">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of injectedData.selectedArray; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ item.equipment_location }}</td>
          <td>{{ item.updated_by }}</td>
          <td>{{ item.update_date | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>

  </mat-dialog-content>

  <!-- List For Dispatch Screen -->
  <mat-dialog-content *ngIf="injectedData.view === 'dispatchGrid'">

    <div class="dispatch-container">

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Order Type </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.order_type }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Customer </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.business_name }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Customer Ref # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.customer_reference }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Customer Phone # </strong>
        <span class="info-list__value">
          <a class="hyperlink" *ngIf="injectedData.selectedData.business_phone"
            [href]="'tel:' + injectedData.selectedData.business_phone">
            {{ injectedData.selectedData.business_phone }}
          </a>
          <span *ngIf="!injectedData.selectedData.business_phone">
            --
          </span>
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Customer Email </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.email ? injectedData.selectedData.email : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Booking # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.booking_number ? injectedData.selectedData.booking_number : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Related Order # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.related_order ? injectedData.selectedData.related_order : '--' }}
        </span>
      </p>

    </div>

    <h3 mat-dialog-title>Location</h3>

    <div class="dispatch-container">

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Pickup </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.pickup_name_location ? injectedData.selectedData.pickup_name_location : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Pickup Time </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.pickup_date_time ? injectedData.selectedData.pickup_date_time : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Pickup Phone </strong>
        <span class="info-list__value">
          <a class="hyperlink" *ngIf="injectedData.selectedData.p_phone"
            [href]="'tel:' + injectedData.selectedData.p_phone">
            {{ injectedData.selectedData.p_phone }}
          </a>
          <span *ngIf="!injectedData.selectedData.p_phone">
            --
          </span>
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Pickup Email </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.p_email ? injectedData.selectedData.p_email : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Delivery </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.delivery_name_location ? injectedData.selectedData.delivery_name_location : '--'
          }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Delivery Time </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.delivery_date_time ? injectedData.selectedData.delivery_date_time : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Delivery Phone </strong>
        <span class="info-list__value">
          <a class="hyperlink" *ngIf="injectedData.selectedData.d_phone"
            [href]="'tel:' + injectedData.selectedData.d_phone">
            {{ injectedData.selectedData.d_phone }}
          </a>
          <span *ngIf="!injectedData.selectedData.d_phone">
            --
          </span>
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Delivery Email </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.d_email ? injectedData.selectedData.d_email : '--' }}
        </span>
      </p>

    </div>

    <h3 mat-dialog-title>Container</h3>

    <div class="dispatch-container">

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Container # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.container_number ? injectedData.selectedData.container_number : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Container Size </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.container_size ? injectedData.selectedData.container_size : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Container Weight </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.weight ? injectedData.selectedData.weight : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Container Type </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.container_type ? injectedData.selectedData.container_type : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Chassis # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.chassis_number ? injectedData.selectedData.chassis_number : '--' }}
        </span>
      </p>


      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Container Owner </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.container_name ? injectedData.selectedData.container_name : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Chassis Name </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.chassis_name ? injectedData.selectedData.chassis_name : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Empty Pickup/Return Location </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.hire_name_location ? injectedData.selectedData.hire_name_location : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Pickup Ref # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.pu_ref ? injectedData.selectedData.pu_ref : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Delivery Ref # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.dl_ref ? injectedData.selectedData.dl_ref : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Pieces </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.pieces ? injectedData.selectedData.pieces : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Seal # </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.seal_no ? injectedData.selectedData.seal_no : '--' }}
        </span>
      </p>

      <p matLine fxLayout="column" class="dispatch-container__item">
        <strong> Hazmat Required </strong>
        <span class="info-list__value">
          {{ injectedData.selectedData.is_hazmat ? injectedData.selectedData.is_hazmat : '--' }}
        </span>
      </p>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
      (click)="dialogRef.close()">Cancel</button>

  </mat-dialog-actions>

</div>