<div class="relative">
    <div class="form-bg">
        <div class="relative error-wrapper">
            <h1>
                {{ error[sharedService.language].title }}</h1>
            <span class="error-text">404</span>
            <h2>
                {{ error[sharedService.language].subtitle }}</h2>
            <div class="error-details">
                <p> {{ error[sharedService.language].msg }}</p>
            </div>
            <div class="error-actions">
                <button class="mat-blue" mat-raised-button (click)="onClick()">{{ error[sharedService.language].btn }}</button>
            </div>
        </div>
    </div>
</div>