.wrapper {
  widows: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: auto;
  height: 430px;
}
.dialogwidth {
  max-width: 800px;
}

.button24 {
  width: 30px;
  height: 30px;
}

.icon24 {
  font-size: 18px;
  margin-top: -6px;
}

h5 {
  margin: 8px 0;
}

.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-45 {
  width: 45%;
}
.w-98 {
  width: 98%;
}
.w-50{
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-90{
  width: 90%;
}

@media screen and (max-width: 599px) {
  .xs-100 {
    width: 100%;
    margin: 0 !important;
  }
  .xs-80 {
    width: 80%;
    margin: 0 !important;
  }
}
