<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="containerForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} Container</h2>

    <mat-dialog-content>
      <mat-form-field class="ml-xs mr-xs w-98 xs-100">
        <input matInput placeholder="Container Name" required formControlName="containerName" type="text">
        <mat-error class="error-message"
          *ngIf="!containerForm.get('containerName').valid && (containerForm.get('containerName').dirty || containerForm.get('containerName').touched)">
          Container Name is Required
        </mat-error>
      </mat-form-field>

      <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=true
        label="Location Name" formControlName="location_name" styleClass="w-45.xs-100.margin"
        (street)="containerForm.get('street').setValue($event)" (city)="containerForm.get('city').setValue($event)"
        (postalCode)="containerForm.get('postalCode').setValue($event)"
        (state)="containerForm.get('state').setValue($event)" (address)="containerForm.get('address').setValue($event)">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Midcities Address" isRequired="true" formControlName="address"
        styleClass="w-45.xs-100.margin" (street)="containerForm.get('street').setValue($event)"
        (city)="containerForm.get('city').setValue($event)"
        (postalCode)="containerForm.get('postalCode').setValue($event)"
        (state)="containerForm.get('state').setValue($event)"
        (name)="containerForm.get('location_name').setValue($event)">
      </app-midcities-address-autocomplete>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <input matInput placeholder="Street" type="text" formControlName="street">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <input matInput placeholder="City" type="text" formControlName="city">
      </mat-form-field>

      <div class="ml-xs mr-xs w-10 xs-100" style="display: inline-block;">
        <app-state-autocomplete style="position: relative;" formControlName="state"> </app-state-autocomplete>
      </div>

      <mat-form-field class="ml-xs mr-xs w-15 xs-100">
        <input matInput placeholder="Postal Code" type="text" formControlName="postalCode">
        <mat-error class="error-message"
          *ngIf="!containerForm.get('postalCode').valid && (containerForm.get('address').dirty || containerForm.get('address').touched)">
          Enter a valid postal code
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100 select-height">
        <mat-select placeholder="PCR" required formControlName="preferredChassisRental" multiple>
          <mat-option *ngFor="let chassisType of chassisTypes" [value]="chassisType">{{ chassisType }}</mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!containerForm.get('preferredChassisRental').valid && (containerForm.get('preferredChassisRental').dirty || containerForm.get('preferredChassisRental').touched)">
          Preferred Chassis Rental is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <input matInput placeholder="Phone Number" type="text" required formControlName="phoneNumber"
          [textMask]="{mask: phoneNumberMask, guide: false}">
        <mat-error class="error-message"
          *ngIf="!containerForm.get('phoneNumber').valid && (containerForm.get('phoneNumber').dirty || containerForm.get('phoneNumber').touched)">
          <mat-error class="error-message" *ngIf="containerForm.get('phoneNumber').hasError('required')">
            Phone Number is Required
          </mat-error>
          <mat-error class="error-message" *ngIf="containerForm.get('phoneNumber').hasError('pattern')">
            Enter a valid phone number
          </mat-error>
        </mat-error>
      </mat-form-field>

      <div formArrayName="emailLists">

        <mat-form-field class="ml-xs mr-xs w-98 xs-100" *ngFor="let emails of getControls();let i = index"
          [formGroupName]="i">

          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" required type="text" formControlName="email">

          <button mat-button *ngIf="(containerForm.get('emailLists').value.length - 1) !== i ||
          containerForm.get('emailLists').value.length == 3" matSuffix mat-icon-button aria-label="Clear"
            (click)="onClickDeleteEmailList(i)">
            <mat-icon style="color: red;">delete</mat-icon>
          </button>
          <button mat-button *ngIf="(containerForm.get('emailLists').value.length - 1) === i &&
             containerForm.get('emailLists').value.length < 3" matSuffix mat-icon-button aria-label="Clear"
            (click)="onClickAddEmailList(i)">
            <mat-icon style="color: #2196f3;" >add_box</mat-icon>
          </button>
          <mat-error *ngIf="containerForm.get('emailLists').controls[i].get('email').hasError('required')">
            Email is Required
          </mat-error>
          <mat-error *ngIf="containerForm.get('emailLists').controls[i].get('email').hasError('pattern')">
            Enter a valid email
          </mat-error>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutAlign.xs="space-between center">
        <h5>Empty Pickup/Return Location</h5>
        <button mat-mini-fab class="button24" type="button" style="background-color:#2196f3;color: white;"
          (click)="onAddHireDehire()" fxShow.xs fxHide.gt-xs>
          <mat-icon class="icon24">add</mat-icon>
        </button>
      </div>

      <div formArrayName="hireDehireLocation" class="w-100">

        <div *ngFor="let location of getHireDehire();let i = index" [formGroupName]="i" fxLayout="row"
          fxLayoutAlign.gt-xs="space-between center" class="w-100">

          <div class="w-100">

            <app-midcities-name-autocomplete [isRequired]=true label="Name" formControlName="hire_name"
              styleClass="w-40.xs-100.margin"
              (address)="containerForm.get('hireDehireLocation').controls[i].get('hireAddress').setValue($event)">
            </app-midcities-name-autocomplete>

            <app-midcities-address-autocomplete label="Address" isRequired="true"
              formControlName="hireAddress" styleClass="w-45.xs-100.margin"
              (name)="containerForm.get('hireDehireLocation').controls[i].get('hire_name').setValue($event)">
            </app-midcities-address-autocomplete>

            &nbsp;

            <span matTooltip="Select To Choose Default Location">
              <mat-checkbox formControlName="isDefault" (change)="onChangeIsDefault($event.checked,i)"></mat-checkbox>
            </span>

            &nbsp;

            <button mat-mini-fab class="button24" *ngIf="i > 0" style="background-color:rgb(255, 0, 0);color: white"
              (click)="onDeleteHireDehire(i)" fxShow.xs fxHide.gt-xs>
              <mat-icon class="icon24">remove</mat-icon>
            </button>

          </div>

          <button mat-mini-fab class="button24" *ngIf="i === 0" type="button"
            style="background-color:#2196f3;color: white;" (click)="onAddHireDehire()" fxHide.xs fxShow.gt-xs>
            <mat-icon class="icon24">add</mat-icon>
          </button>

          <button mat-mini-fab type="button" class="button24" *ngIf="i > 0"
            style="background-color:rgb(255, 0, 0);color: white" (click)="onDeleteHireDehire(i)" fxHide.xs fxShow.gt-xs>
            <mat-icon class="icon24">remove</mat-icon>
          </button>

        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!containerForm.valid">{{
      editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>