.w-13 {
  width: 13%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-45 {
  width: 45%;
}

.w-60 {
  width: 60%;
}

.w-95 {
  width: 95%;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
}

.margin {
  margin: 0 10px;
}

.button24 {
  width: 30px;
  height: 30px;
}

.icon24 {
  font-size: 18px;
  margin-top: -6px;
}

@media screen and (max-width: 599px) {
  .xs-100 {
    width: 100%;
    margin: 0 !important;
  }
  .sm-0 {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .xs-100 {
    width: 100%;
    margin: 0 !important;
  }
  .sm-0 {
    margin: 0 !important;
  }
}
