<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="legForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>
      {{ editMode ? 'Edit' : 'Add' }} Leg
    </h2>

    <mat-dialog-content>

      <app-general-autocomplete label="Order #" for="orders" [isRequired]="false" styleClass="w-25.xs-100.margin"
        formControlName="order_number" (autoSuggestions)="onOrderNumberValueChanges($event)"
        (legsToAssign)="onOrderNumberSelected($event)" *ngIf="!injectedData.isLeg">
      </app-general-autocomplete>

      <mat-form-field class="ml-xs mr-xs xs-100" [ngClass]="{'w-13': !injectedData.isLeg,'w-30':injectedData.isLeg }"
        *ngIf="!injectedData.isLeg || (injectedData.isLeg && editMode)">
        <mat-label>Leg#</mat-label>
        <input matInput type="number" min="0" placeholder="Enter Leg#"
          [required]="(!injectedData.isLeg && legForm.get('order_number').value) || (injectedData.isLeg && editMode)"
          name="leg_number" formControlName="leg_number" (change)="legNumber = $event.target.value">
        <mat-error class="error-message" *ngIf="legForm.get('leg_number').hasError('required')">
          Leg # is Required
        </mat-error>
        <mat-error class="error-message" *ngIf="legForm.get('leg_number').hasError('pattern')">
          Leg # is must number
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100 select-filter-header" *ngIf="injectedData.isLeg && !editMode">
        <mat-label>Leg#</mat-label>
        <mat-select placeholder="select" name="leg_number" required formControlName="leg_number"
          (selectionChange)="onSelectLegnumber($event)">
          <mat-option *ngFor="let item of injectedData.legDuplicate" [value]="item.leg_number">
            {{ item.leg_number }}
          </mat-option>
        </mat-select>
        <mat-error class="error-message" *ngIf="legForm.get('leg_number').hasError('required')">
          Leg # is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs xs-100 select-filter-header"
        [ngClass]="{'w-25': !injectedData.isLeg,'w-30':injectedData.isLeg }">
        <mat-label>Type</mat-label>
        <mat-select placeholder="select" name="leg_type" required formControlName="leg_type"
          (selectionChange)="onSelectLegType($event)">
          <mat-option *ngFor="let legType of legTypes" [value]="legType.value">{{ legType.label }}</mat-option>
        </mat-select>
        <mat-error class="error-message" *ngIf="legForm.get('leg_type').hasError('required')">
          Leg Type is Required
        </mat-error>
      </mat-form-field>

      <app-general-autocomplete [label]="(injectedData.isLeg &&
       (editMode && data.is_brokered) ||
        commonData?.is_brokered) ?
        (editMode ? data.carrier_name : commonData.carrier_name) 
        : 'Driver Name'" for="drivers" [isRequired]="injectedData.isLeg ? false : true"
        [styleClass]="!injectedData.isLeg ? 'w-25.xs-100.margin' : 'w-30.xs-100.margin'" formControlName="driver_name"
        (autoSuggestions)="driverData = $event;">
      </app-general-autocomplete>

      <app-midcities-name-autocomplete [isRequired]=true label="Pickup Name" formControlName="pu_name"
        styleClass="w-35.xs-100.margin" (address)="legForm.get('pickup').setValue($event);onLocationChange()">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Pickup Address" isRequired="true" formControlName="pickup"
        styleClass="w-58.xs-100.margin" (name)="legForm.get('pu_name').setValue($event);onLocationChange()">
      </app-midcities-address-autocomplete>

      <app-midcities-name-autocomplete [isRequired]=true label="Delivery Name" formControlName="dl_name"
        styleClass="w-35.xs-100.margin" (address)="legForm.get('delivery').setValue($event);onLocationChange()">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Delivery Address" isRequired="true" formControlName="delivery"
        styleClass="w-58.xs-100.margin" (name)="legForm.get('dl_name').setValue($event);onLocationChange()">
      </app-midcities-address-autocomplete>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100"
        *ngIf="injectedData.isLeg && (!this.editMode || (this.editMode && data.leg_status !== 'Delivered' && data.leg_status !== 'Picked Up'))">
        <mat-label>Pickup Time</mat-label>
        <mat-icon matPrefix [owlDateTimeTrigger]="pft" style="cursor:pointer">calendar_today</mat-icon>
        <input #pickupInput matInput type="text" [min]="pickupMinimumDate" [owlDateTime]="pft"
          [owlDateTimeTrigger]="pft" (keydown.enter)="pickupInput.click()" [selectMode]="'range'" name="pu_time"
          formControlName="pu_time" (dateTimeChange)="onChangeOfPickupDateTimePicker($event)"
          [placeholder]="pickupHint ? '' :'mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm'"
          (keyup)="onPickupKeyUp($event.target.value)">
        <owl-date-time #pft></owl-date-time>
        <mat-hint *ngIf="pickupHint">mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm</mat-hint>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100"
        *ngIf="!injectedData.isLeg || (injectedData.isLeg && editMode && data.leg_status !== 'Open' && data.leg_status !== 'Assigned')">
        <mat-label>PickUp Time</mat-label>
        <mat-icon matPrefix [owlDateTimeTrigger]="pdt" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput type="text" [min]="pickupMinimumDate" [owlDateTimeTrigger]="pdt" [owlDateTime]="pdt"
          name="pu_time" formControlName="pu_time">
        <owl-date-time #pdt></owl-date-time>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100"
        *ngIf="injectedData.isLeg && (!editMode || (editMode && data.leg_status !== 'Delivered'))">
        <mat-label>Delivery Time</mat-label>
        <mat-icon matPrefix [owlDateTimeTrigger]="dft" style="cursor:pointer">calendar_today</mat-icon>
        <input #deliveryInput matInput type="text" [min]="deliveryMinumumDate" [owlDateTime]="dft"
          [owlDateTimeTrigger]="dft" (keydown.enter)="deliveryInput.click()" [selectMode]="'range'" name="dl_time"
          formControlName="dl_time" (dateTimeChange)="onChangeOfDeliveryDateTimePicker($event)"
          [placeholder]="deliveryHint ? '' :'mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm'"
          (keyup)="onDeliveryKeyUp($event.target.value)">
        <owl-date-time #dft></owl-date-time>
        <mat-hint *ngIf="deliveryHint">mm/dd/yyyy HH:mm ~ mm/dd/yyyy HH:mm</mat-hint>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100"
        *ngIf="!injectedData.isLeg || (injectedData.isLeg && editMode && data.leg_status === 'Delivered')">
        <mat-label>Delivery Time</mat-label>
        <mat-icon matPrefix [owlDateTimeTrigger]="ddt" style="cursor:pointer">calendar_today</mat-icon>
        <input matInput type="text" [min]="deliveryMinumumDate" [owlDateTimeTrigger]="ddt" [owlDateTime]="ddt"
          name="dl_time" formControlName="dl_time">
        <owl-date-time #ddt></owl-date-time>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100" *ngIf="editMode">
        <mat-label>Est.Miles</mat-label>
        <input matInput type="number" min="0" name="est_miles" formControlName="est_miles">
        <button type="button" *ngIf="!isLocationChanged" mat-button matSuffix mat-icon-button aria-label="edit"
          (click)="isMilesEditable ? onClickDisableMiles() : onClickEnableMiles()">
          <mat-icon>{{ isMilesEditable ? 'close' : 'edit'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs xs-100" [ngClass]="{'w-30': editMode,'w-45': !editMode}">
        <mat-label> {{ (orderType === 'Truck Move') ?
          'Trailer #' : 'Container #' }} </mat-label>
        <input matInput type="text" placeholder="" name="container_number" formControlName="container_number"
          [textMask]="{mask:  (orderType === 'Truck Move') ? trailerMask : containerMask, guide:true}"
          style="text-transform: uppercase;">
        <mat-error class="error-message" *ngIf="legForm.get('container_number').hasError('pattern')">
          {{ (orderType === 'Truck Move') ? 'Trailer #' : 'Container #' }} is not valid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs xs-100" [ngClass]="{'w-30': editMode,'w-45': !editMode}">
        <mat-label>Chassis #</mat-label>
        <input matInput type="text" placeholder="" name="chassis_number" formControlName="chassis_number"
          [textMask]="{mask: chassisMask, guide: true}" style="text-transform: uppercase;">
        <mat-error class="error-message" *ngIf="legForm.get('chassis_number').hasError('pattern')">
          Chassis is not valid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-95 xs-100" *ngIf="!this.injectedData.isLeg && this.editMode">
        <mat-label>Rate</mat-label>
        <input matInput type="text" placeholder="" name="rate" required formControlName="rate">
        <mat-error class="error-message" *ngIf="legForm.get('rate').hasError('pattern')">
          Rate Must Be Only Number
        </mat-error>
      </mat-form-field>

      <div formArrayName="driver_charges" class="w-100" *ngIf="legForm.get('is_charges_added').value">

        <div *ngFor="let charges of getAccessoriesCharges();let i = index" [formGroupName]="i" fxLayout.gt-xs="row"
          fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="w-100">

          <mat-form-field class="ml-xs mr-xs sm-0 w-45 select-filter-header">
            <mat-label>Accessorial Name</mat-label>
            <mat-select placeholder="Select" name="accessories_name" formControlName="accessories_name"
              (selectionChange)="onSelectAccessoriesCharge($event,i)">
              <mat-option *ngFor="let item of injectedData.accessoriesName" [value]="item"
                [disabled]="selectedAccessoriesName.includes(item)">
                {{ item }}
              </mat-option>
            </mat-select>
            <mat-error class="error-message"
              *ngIf="legForm.get('driver_charges').controls[i].get('accessories_name').hasError('required')">
              Accessorial Name is Required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="ml-xs mr-xs sm-0 w-30">
            <mat-label>Rate</mat-label>
            <input matInput type="text"
              [required]="legForm.get('driver_charges').controls[i].get('accessories_name').value" name="rate"
              formControlName="rate">
            <mat-error class="error-message"
              *ngIf="legForm.get('driver_charges').controls[i].get('rate').hasError('required')">
              Rate is Required
            </mat-error>
            <mat-error class="error-message"
              *ngIf="legForm.get('driver_charges').controls[i].get('rate').hasError('pattern')">
              Rate must be a number
            </mat-error>
          </mat-form-field>

          <button mat-mini-fab class="button24" *ngIf="i === 0" type="button"
            style="background-color:rgb(45, 185, 26);color: white;" (click)="onAddAccessoriesCharges()">
            <mat-icon class="icon24">add</mat-icon>
          </button>

          <button mat-mini-fab type="button" class="button24" *ngIf="i > 0"
            style="background-color:rgb(255, 0, 0);color: white" (click)="onDeleteAccessoriesCharges(i)">
            <mat-icon class="icon24">remove</mat-icon>
          </button>

        </div>

      </div>

      <mat-form-field class="ml-xs mr-xs w-95 xs-100 select-filter-header" *ngIf="!injectedData.isLeg && this.editMode">
        <mat-label>Paid</mat-label>
        <mat-select placeholder="select" name="is_paid" required formControlName="is_paid">
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!legForm.valid">
        {{ editMode ? 'Save' : 'Create' }}</button>

    </mat-dialog-actions>

  </form>

</div>
