<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">General Driver Rates</span>
    <button mat-button type="button" color="blue" class="mat-raised-button table-btn" (click)="onAddDriverRate()">
      Create New
    </button>
  </mat-card-title>
  <hr>

  <mat-card-content class=" mat-elevation-z8">
    <div class="table-container">
      <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
        <mat-table [dataSource]="generalDriverRatesDatasource" matSort (matSortChange)="onSort($event)">


          <ng-container matColumnDef="dummy">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="legType">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="select-filter-header">
                <mat-label>Leg Type</mat-label>
                <mat-select name="leg_type" [(ngModel)]="columnFilterValue.leg_type"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option *ngFor="let legType of legTypes" [value]="legType.label">{{legType.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="driverType">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="select-filter-header">
                <mat-label>Driver Type</mat-label>
                <mat-select name="driver_type" [(ngModel)]="columnFilterValue.driver_type"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option *ngFor="let driverType of driverTypes" [value]="driverType.label">{{driverType.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>


          <!-- ID Column -->
          <ng-container matColumnDef="serialNo">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index">
              <button mat-raised-button class="minWidth30" type="button"
                (click)="onClickSerialNo(row,(i+1) + currentPageIndex)">{{ (i+1) + currentPageIndex }}</button>
            </mat-cell>
          </ng-container>


          <!--LEGColumn -->
          <ng-container matColumnDef="leg_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Leg Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.leg_type}} </mat-cell>
          </ng-container>

          <!-- DriverColumn -->
          <ng-container matColumnDef="driver_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Type</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.driver_type}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-raised-button mat-button-sm type="button" class="table-action-btn" color="orange"
                (click)="onEditDriverRate(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button mat-raised-button mat-button-sm type="button" class="table-action-btn" style="background-color: red !important;"
                (click)="onDeleteDriverRate(row.driver_rate_id)" #tooltip="matTooltip" matTooltip="Delete"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="generalDriverRatesFilterHeaders"></mat-header-row>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </form>
    </div>
    <mat-paginator #paginator [length]="driverRatesLength" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>