<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>
    Mapping Column
  </h2>

  <mat-dialog-content>

    <form [formGroup]="mapForm">

      <div formArrayName="mapFormArray">

        <div *ngFor="let item of getControls();let i = index" class="info-list" [formGroupName]="i">

          <p matLine fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: baseline;">

            <strong fxFlex.gt-xs=50%> {{ item.get('label').value }} </strong>

            <mat-form-field fxFlex.gt-xs=50% class="info-list__value select-height">

              <mat-select placeholder="Select Column" formControlName="actualColumn">

                <mat-option *ngFor="let column of item.get('columns').value" [value]="column">
                  {{ column }}
                </mat-option>

              </mat-select>

            </mat-form-field>

          </p>

        </div>

      </div>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
      (click)="onClickCancel()">Cancel</button>
    <button mat-button type="button" class="mat-raised-button table-btn" style="background-color: green"
      (click)="onClickSave()" [disabled]="!mapForm.valid">Reconcile</button>

  </mat-dialog-actions>

</div>