<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>Confirmation</h2>

  <div *ngFor="let message of confirmMessages">
    <h5 *ngIf="message.for === injectedData.action" style="white-space: pre-wrap;">{{ message.message }}</h5>
  </div>

  <div *ngIf="injectedData.action === 'confirmWithPassword'" style="text-align: center;">
    <mat-form-field>
      <input matInput placeholder="Password" [type]="passwordShowHide ? 'password' : 'text'" required
        [formControl]="password">
      <mat-icon matSuffix (click)="passwordShowHide = !passwordShowHide">
        {{ passwordShowHide ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="password.hasError('required')">
        Enter the password to confirm deletion
      </mat-error>
    </mat-form-field>
  </div>

  <mat-dialog-actions align="end" *ngIf="injectedData.action !== 'closeOrder' &&
   injectedData.action !== 'orderEdit'">
    <button mat-button type="button" style="background-color:grey" class="mat-raised-button table-btn"
      (click)="dialogRef.close()">
      {{ injectedData.cancelLabel }}
    </button> &nbsp;
    <button mat-button type="button" [style.backgroundColor]="injectedData.confirmColor"
      class="mat-raised-button table-btn" (click)="onSubmit()"
      [disabled]="injectedData.action === 'confirmWithPassword' && !password.valid">
      {{ injectedData.confirmLabel }}
    </button>
    <button mat-button type="button" [style.backgroundColor]="injectedData.secondConfirmColor"
      class="mat-raised-button table-btn" (click)="dialogRef.close('no')"
      *ngIf="injectedData.action === 'bottomTopPickedupUndo'">
      {{ injectedData.secondConfirmLabel }}
    </button>
  </mat-dialog-actions>

  <mat-dialog-actions align="center" *ngIf="injectedData.action === 'closeOrder'">
    <button mat-button type="button" style="background-color:#24974a" class="mat-raised-button table-btn"
      (click)="dialogRef.close('Yes, immediately')">Yes, immediately</button> &nbsp;
    <button mat-button type="button" style="background-color:rgb(24, 102, 219)" class="mat-raised-button table-btn"
      (click)="dialogRef.close('Yes, end of business day')">Yes, end of business day</button>&nbsp;
  </mat-dialog-actions>

  <mat-dialog-actions align="end" *ngIf="injectedData.action === 'orderEdit'">
    <button mat-button type="button" style="background-color:#24974a" class="mat-raised-button table-btn"
      (click)="dialogRef.close('No')">Yes</button> &nbsp;
    <button mat-button type="button" style="background-color:red" class="mat-raised-button table-btn"
      (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>

</div>