<div class="end">
    <button mat-button style="background-color:#2196f3;" class="mat-raised-button table-btn"
        [routerLink]="['/order-management/create']">
        Create New Order
    </button>
</div>

<mat-card>

	<mat-card-title class="table-header" fxLayout="row" fxLayoutAlign="space-between center">
		<span style="font: bold">Orders in Dispatch</span>

		<div class="flex-header" fxLayout="row" fxLayoutAlign="center center">
			<mat-form-field class="mr-1">
				<input matInput [matDatepicker]="dispatchPicker" placeholder="Choose a date"
                    [(ngModel)]="dispatchFilterDate" (dateChange)="onChangeDate('dispatch')"
                    (click)="dispatchPicker.open()">
                <mat-datepicker-toggle matSuffix [for]="dispatchPicker"></mat-datepicker-toggle>
                <button mat-button *ngIf="dispatchFilterDate" matSuffix mat-icon-button
                    (click)="onClickClear('dispatch')" matTooltip="Reset">
                    <mat-icon>close</mat-icon>
                </button>
				<mat-datepicker #dispatchPicker></mat-datepicker>
			</mat-form-field>

			<section>
				<button mat-button type="button" *ngIf="dispatchFilterEvent" style="background-color: red;"
                    class="mat-raised-button table-btn mr-xs" (click)="onClickColumnFilterReset('dispatch')">
                    Reset Filter
                </button>

				<button mat-button type="button" style="background-color:rgb(250, 123, 3);"
                    class="mat-raised-button table-btn mr-xs" (click)="onClickFilterColumn('dispatch')">
                    Filter Columns
                </button>

                <button mat-button type="button" style="background-color: rgb(45, 185, 26);" class="mat-raised-button table-btn"
                    (click)="isDispatchDataSelected ? onClickMoveOrders(false) : null"
                    [disabled]="!isDispatchDataSelected">
                    Move to Pending
                </button>
			</section>
		</div>
	</mat-card-title>

	<mat-card-content class="mat-elevation-z8">

		<div>

            <div class="settings-icon">
                <span class="hover-icon">
                    <i (click)="onClickAddColumn('orders_dispatch')" matTooltip="Manage Columns" class="fa fa-cog"
                        aria-hidden="true" style="font-size:1.25rem;margin-right:1.25rem"></i>
                </span>
			</div>

			<div class="table-container">
				<mat-table #ordersDispatchTable [dataSource]="ordersInDispatchDatasource" matSort
					(matSortChange)="onChangeSortDirection($event,'ordersInDispatch')" cdkDropListGroup>

					<ng-container *ngFor="let column of ordersDispatch; let i = index" [matColumnDef]="column.field">

						<mat-header-cell *matHeaderCellDef (mousedown)="onResizeColumn($event, i, 'ordersDispatch')"
							class="mat-header-cell cdk-column-{{column.field}} mat-column-{{column.field}} dispatch">

							<span *ngIf="column.field !== 'select' &&
                            column.field !== 'action'" mat-sort-header>
                                {{ columnsLabel[column.field] }}
                            </span>

							<span *ngIf="column.field === 'select'">
                                <mat-checkbox (change)="$event ? ordersInDispatchMasterToggle($event) : null"
                                    [checked]="ordersInDispatchSelection.hasValue() && isAllOrdersInDispatchDataSelected()"
                                    [indeterminate]="ordersInDispatchSelection.hasValue() && !isAllOrdersInDispatchDataSelected()">
                                </mat-checkbox>
                            </span>

							<span *ngIf="column.field === 'action'">
                                {{ columnsLabel[column.field] }}
                            </span>

						</mat-header-cell>

						<mat-cell *matCellDef="let element;let i = index;"
							class="mat-cell cdk-column-{{column.field}} mat-column-{{column.field}} dispatch">

                            <span *ngIf="column.field === 'select'">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? ordersInDispatchSelection.toggle(element) : null;ordersInDispatchToggle(element,$event)"
                                    [checked]="selectedOrdersInDispatch.includes(element.order_container_chassis_id) &&
                             !unSelectedOrdersInDispatch.includes(element.order_container_chassis_id)">
                                </mat-checkbox>
                            </span>

							<span *ngIf="column.field === 'order_sequence'">
                                <a class="hyperlink" (click)="onClickOrderNumber(element)">
                                    {{ element.order_sequence }}
                                </a>
                            </span>

							<span *ngIf="column.field === 'leg_status' && element.leg_status != null">
                                <span [ngClass]="{'available':element.leg_status == 'Open',
                                    'assigned':element.leg_status == 'Assigned',
                                    'in-route':element.leg_status == 'Picked Up',
                                    'delivered':element.leg_status == 'Delivered'}">
                                    {{ element.leg_status }}
                                </span>
							</span>

							<span *ngIf="column.field === 'hazmat_req' && element.hazmat_req != null">
                                {{ element.hazmat_req === 1 ? 'Y' : 'N' }}
                            </span>

							<span *ngIf="column.field === 'tags' && element.tags != null">
                                <span class="tag-btn" *ngFor="let tag of element.tag_color | keyvalue;"
                                    [style.backgroundColor]="tag.value">
                                    {{ tag.key | titlecase }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_type'">
                                <span *ngIf="element.order_type_color == null">
                                    {{ element.order_type }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
                            && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
                                    ')[1].slice(0,1) }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                                     && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{element.order_type.slice(0,1) }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null && 
                                    (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.format_order_type }}
                                </span>
							</span>

							<span *ngIf="column.field === 'dmg'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'lfd_date'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'eta'">
                                {{ element.eta ? (element.eta | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'created_on'">
                                {{ element.created_on ? (element.created_on | date: 'shortDate' ) : '--' }}
                            </span>

							<span *ngIf="column.field === 'pickup_date'">
                                <span *ngIf="element.pickup_date == null">
                                    <span *ngIf="element.pu_time && element.pu_time_to">
                                        {{ element.pu_time | date:'shortDate' }}
                                        ~
                                        {{ element.pu_time_to | date:'shortDate' }}
                                    </span>
							<span *ngIf="!element.pu_time && !element.pu_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.pickup_date != null">
                                    {{ element.pickup_date | date:'shortDate' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'pickup_time'">
                                <span *ngIf="element.pickup_time == null">
                                    <span *ngIf="element.pu_time && element.pu_time_to">
                                        {{ element.pu_time | date:'HH:mm' }}
                                        ~
                                        {{ element.pu_time_to | date:'HH:mm' }}
                                    </span>
							<span *ngIf="!element.pu_time || !element.pu_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.pickup_time != null">
                                    {{ element.pickup_time | date:'HH:mm'}}
                                </span>
							</span>

							<span *ngIf="column.field === 'pu_name' && element.pu_name != null">
                                <span [matTooltip]="element.pu_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{ element.pu_name }}
                                </span>
							</span>

							<span *ngIf="column.field === 'dl_name' && element.dl_name != null">
                                <span [matTooltip]="element.dl_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{ element.dl_name }}
                                </span>
							</span>

							<span *ngIf="column.field === 'delivery_date'">
                                <span *ngIf="element.delivery_date == null">
                                    <span *ngIf="element.dl_time && element.dl_time_to">
                                        {{ element.dl_time | date:'shortDate' }}
                                        ~
                                        {{ element.dl_time_to | date:'shortDate' }}
                                    </span>
							<span *ngIf="!element.dl_time || !element.dl_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.delivery_date != null">
                                    {{ element.delivery_date | date:'shortDate' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'delivery_time'">
                                <span *ngIf="element.delivery_time == null">
                                    <span *ngIf="element.dl_time && element.dl_time_to">
                                        {{ element.dl_time | date:'HH:mm' }}
                                        ~
                                        {{ element.dl_time_to | date:'HH:mm' }}
                                    </span>
							<span *ngIf="!element.dl_time || !element.dl_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.delivery_time != null">
                                    {{ element.delivery_time | date:'HH:mm' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_status'">
                                <span [ngClass]="{'available':element.order_status == 'Open',
                                'assigned':element.order_status == 'Assigned',
                                'in-route':element.order_status == 'Picked Up',
                                'delivered':element.order_status == 'Dispatch'}">
                                    {{element.order_status}}
                                </span>
							</span>

							<span *ngIf="column.field === 'rail_cut' && element.rail_cut != null">
                                {{ element.rail_cut | date: 'shortDate' }}
                            </span>

							<span *ngIf="column.field === 'action'">
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                                    (click)="onClickEditOrder(element)" #tooltip="matTooltip" matTooltip="Edit"
                                    matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white"> edit </mat-icon>
                                </button>
                                <button mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
                                    (click)="onDeleteOrder(element,'dispatch')" #tooltip="matTooltip"
                                    matTooltip="Delete" matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white">close</mat-icon>
                                </button>
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                                    #tooltip="matTooltip" matTooltip="Copy" matTooltipHideDelay="100"
                                    (click)="onClickCopyOrder(element)">
                                    <mat-icon class="size-16" color="white">content_copy</mat-icon>
                                </button>
                            </span>

							<span *ngIf="column.field !== 'order_type' &&
                            column.field !== 'pickup_date' &&
                            column.field !== 'delivery_date' &&
                            column.field !== 'pickup_time' &&
                            column.field !== 'delivery_time' &&
                            column.field !== 'lfd_date' &&
                            column.field !== 'eta' &&
                            column.field !== 'created_on' &&
                            column.field !== 'dmg' &&
                            column.field !== 'action' &&
                            element[column.field] === null">
                                --
                            </span>

							<span *ngIf="column.field !== 'order_sequence' &&
                            column.field !== 'select' &&
                            column.field !== 'leg_status' &&
                            column.field !== 'tags' &&
                            column.field !== 'lfd_date' &&
                            column.field !== 'eta' &&
                            column.field !== 'created_on' &&
                            column.field !== 'dmg' &&
                            column.field !== 'hazmat_req' &&
                            column.field !== 'pickup_date' &&
                            column.field !== 'delivery_date' &&
                            column.field !== 'pickup_time' &&
                            column.field !== 'delivery_time' &&
                            column.field !== 'pu_name' &&
                            column.field !== 'dl_name' &&
                            column.field !== 'order_status' &&
                            column.field !== 'rail_cut' &&
                            column.field !== 'action' &&
                            column.field !== 'order_type' &&
                            element[column.field] !== null">
                                {{ element[column.field] }}
                            </span>

						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="orderInDispatchColumns">
					</mat-header-row>

					<mat-row *matRowDef="let row; columns: orderInDispatchColumns;">
					</mat-row>

				</mat-table>
			</div>

		</div>

	</mat-card-content>

	<mat-paginator #ordersInDispatchPaginator [length]="ordersInDispatchLength" [pageSize]="10"
		[pageSizeOptions]="[10, 20, 30]" showFirstLastButtons (page)="onChangeOrdersPage($event,'ordersInDispatch')">
	</mat-paginator>

</mat-card>

<mat-divider></mat-divider>

<mat-card>

    <mat-card-title class="table-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="order-pending-header">

            <span style="font: bold; margin-right: 0.5rem;">Orders Pending</span>

            <mat-spinner mode="indeterminate" diameter="22" *ngIf="loader"></mat-spinner>

            <mat-icon class="size-16 red" matTooltip="Not Recently Updated" matTooltipClass="tooltip-railtrace"
                *ngIf="!railTraceHistory.length && !loader">
                error
            </mat-icon>

            <mat-icon class="size-16 blue" [tooltip]="railTraceHistoryTooltip" placement="right" theme="light"
                display-mobile="false" tooltip-class="tooltip" *ngIf="railTraceHistory.length && !loader">
                info
            </mat-icon>
        </div>


		<div class="flex-header" fxLayout="row" fxLayoutAlign="center center">
			<mat-form-field class="mr-1">
				<input matInput [matDatepicker]="pendingPicker" placeholder="Choose a date"
                    [(ngModel)]="pendingFilterDate" (dateChange)="onChangeDate('pending')"
                    (click)="pendingPicker.open()">
				<mat-datepicker-toggle matSuffix [for]="pendingPicker"></mat-datepicker-toggle>
				<button mat-button *ngIf="pendingFilterDate" matSuffix mat-icon-button
                    (click)="onClickClear('pending')">
                    <mat-icon>close</mat-icon>
                </button>
				<mat-datepicker #pendingPicker></mat-datepicker>
			</mat-form-field>

			<section>
				<button mat-button type="button" *ngIf="pendingFilterEvent" style="background-color: red;"
                    class="mat-raised-button table-btn mr-xs" (click)="onClickColumnFilterReset('pending')">
                    Reset Filter
                </button>

				<button mat-button type="button" style="background-color:rgb(250, 123, 3);"
                    class="mat-raised-button table-btn mr-xs" (click)="onClickFilterColumn('pending')">
                    Filter Columns
                </button>

                <button mat-button type="button" style="background-color: rgb(45, 185, 26);" class="mat-raised-button table-btn"
                    (click)="isPendingDataSelected ? onClickMoveOrders(true) : null"
                    [disabled]="!isPendingDataSelected">
                    Move to Dispatch
                </button>
			</section>
		</div>
	</mat-card-title>


	<mat-card-content class="mat-elevation-z8">

		<div>

            <div class="settings-icon">
                <span class="hover-icon">
                    <i (click)="onClickAddColumn('orders_pending')" matTooltip="Manage Columns" class="fa fa-cog"
                        aria-hidden="true" style="font-size:1.25rem;margin-right:1.25rem"></i>
                </span>
			</div>

			<div class="table-container">
				<mat-table #ordersPendingTable [dataSource]="ordersInPendingDatasource" matSort
					(matSortChange)="onChangeSortDirection($event,'ordersInPending')" cdkDropListGroup>

					<ng-container *ngFor="let column of ordersPending; let i = index" [matColumnDef]="column.field">

						<mat-header-cell *matHeaderCellDef (mousedown)="onResizeColumn($event, i, 'ordersPending')"
							class="mat-header-cell cdk-column-{{column.field}} mat-column-{{column.field}} pending">

							<span *ngIf="column.field !== 'select' &&
                                         column.field !== 'action' &&
                                         column.field !== 'container_number'" mat-sort-header>
                                {{ columnsLabel[column.field] }}
                            </span>

							<span *ngIf="column.field === 'select'">
                                <mat-checkbox (change)="$event ? ordersInPendingMasterToggle($event) : null"
                                    [checked]="ordersInPendingSelection.hasValue() && isAllOrdersInPendingDataSelected()"
                                    [indeterminate]="ordersInPendingSelection.hasValue() && !isAllOrdersInPendingDataSelected()">
                                </mat-checkbox>
                            </span>

							<span *ngIf="column.field === 'container_number'"
                                style="display: flex;align-items: baseline;">
                                <i class="fa fa-clone fa-fw" aria-hidden="true" (click)="onClickToCopyToClipboard()"
                                    style="cursor: pointer;"></i>&nbsp;
                                <span mat-sort-header>Container</span>
							</span>

							<span *ngIf="column.field === 'action'">
                                {{ columnsLabel[column.field] }}
                            </span>

						</mat-header-cell>

						<mat-cell *matCellDef="let element;let i = index;"
							class="mat-cell cdk-column-{{column.field}} mat-column-{{column.field}} pending">

                            <span *ngIf="column.field === 'select'">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? ordersInPendingSelection.toggle(element) : null;ordersInPendingToggle(element,$event)"
                                    [checked]="selectedOrdersInPending.includes(element.order_container_chassis_id) &&
                            !unSelectedOrdersInPending.includes(element.order_container_chassis_id)">
                                </mat-checkbox>
                            </span>

							<span *ngIf="column.field === 'order_sequence'">
                                <a class="hyperlink" (click)="onClickOrderNumber(element)">
                                    {{ element.order_sequence }}
                                </a>
                            </span>

							<span *ngIf="column.field === 'leg_status' && element.leg_status != null">
                                <span [ngClass]="{'available':element.leg_status == 'Open',
                                    'assigned':element.leg_status == 'Assigned',
                                    'in-route':element.leg_status == 'Picked Up',
                                    'delivered':element.leg_status == 'Delivered'}">
                                    {{ element.leg_status }}
                                </span>
							</span>

							<span *ngIf="column.field === 'hazmat_req' && element.hazmat_req != null">
                                {{ element.hazmat_req === 1 ? 'Y' : 'N' }}
                            </span>

							<span *ngIf="column.field === 'dmg'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'lfd_date'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'eta'">
                                {{ element.eta ? (element.eta | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'created_on'">
                                {{ element.created_on ? (element.created_on | date: 'shortDate' ) : '--' }}
                            </span>

							<span *ngIf="column.field === 'tags' && element.tags != null">
                                <span class="tag-btn" *ngFor="let tag of element.tag_color | keyvalue;"
                                    [style.backgroundColor]="tag.value">
                                    {{ tag.key | titlecase }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_type'">
                                <span *ngIf="element.order_type_color == null">
                                    {{ element.order_type }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
                            && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
                                    ')[1].slice(0,1) }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                                     && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{element.order_type.slice(0,1) }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null && 
                                    (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.format_order_type }}
                                </span>
							</span>

							<span *ngIf="column.field === 'pickup_date'">
                                <span *ngIf="element.pickup_date == null">
                                    <span *ngIf="element.pu_time && element.pu_time_to">
                                        {{ element.pu_time | date:'shortDate' }}
                                        ~
                                        {{ element.pu_time_to | date:'shortDate' }}
                                    </span>
							<span *ngIf="!element.pu_time && !element.pu_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.pickup_date != null">
                                    {{ element.pickup_date | date:'shortDate' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'pickup_time'">
                                <span *ngIf="element.pickup_time == null">
                                    <span *ngIf="element.pu_time && element.pu_time_to">
                                        {{ element.pu_time | date:'HH:mm' }}
                                        ~
                                        {{ element.pu_time_to | date:'HH:mm' }}
                                    </span>
							<span *ngIf="!element.pu_time || !element.pu_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.pickup_time != null">
                                    {{ element.pickup_time | date:'HH:mm'}}
                                </span>
							</span>

							<span *ngIf="column.field === 'pu_name' && element.pu_name != null">
                                <span [matTooltip]="element.pu_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{ element.pu_name }}
                                </span>
							</span>

							<span *ngIf="column.field === 'dl_name' && element.dl_name != null">
                                <span [matTooltip]="element.dl_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{ element.dl_name }}
                                </span>
							</span>

							<span *ngIf="column.field === 'delivery_date'">
                                <span *ngIf="element.delivery_date == null">
                                    <span *ngIf="element.dl_time && element.dl_time_to">
                                        {{ element.dl_time | date:'shortDate' }}
                                        ~
                                        {{ element.dl_time_to | date:'shortDate' }}
                                    </span>
							<span *ngIf="!element.dl_time || !element.dl_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.delivery_date != null">
                                    {{ element.delivery_date | date:'shortDate' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'delivery_time'">
                                <span *ngIf="element.delivery_time == null">
                                    <span *ngIf="element.dl_time && element.dl_time_to">
                                        {{ element.dl_time | date:'HH:mm' }}
                                        ~
                                        {{ element.dl_time_to | date:'HH:mm' }}
                                    </span>
							<span *ngIf="!element.dl_time || !element.dl_time_to">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.delivery_time != null">
                                    {{ element.delivery_time | date:'HH:mm' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_status'">
                                <span [ngClass]="{'available':element.order_status == 'Open',
                                'assigned':element.order_status == 'Assigned',
                                'in-route':element.order_status == 'Picked Up',
                                'delivered':element.order_status == 'Dispatch'}">
                                    {{element.order_status}}
                                </span>
							</span>

							<span *ngIf="column.field === 'rail_cut' && element.rail_cut != null">
                                {{ element.rail_cut | date: 'shortDate' }}
                            </span>

							<span *ngIf="column.field === 'container_number' && element.container_number">
                                <mat-checkbox (change)="onCheckboxChange($event,element.formated_container,i)"
                                    [checked]="element.isContainerSelected">
                                    {{ element.container_number }}
                                </mat-checkbox>
                            </span>

							<span *ngIf="column.field === 'action'">
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                                    (click)="onClickEditOrder(element)" #tooltip="matTooltip" matTooltip="Edit"
                                    matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white"> edit </mat-icon>
                                </button>
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                                    (click)="onDeleteOrder(element,'pending')" #tooltip="matTooltip" matTooltip="Delete"
                                    matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white">close</mat-icon>
                                </button>
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                                    #tooltip="matTooltip" matTooltip="Copy" matTooltipHideDelay="100"
                                    (click)="onClickCopyOrder(element)">
                                    <mat-icon class="size-16" color="white">content_copy</mat-icon>
                                </button>
                            </span>

							<span *ngIf="column.field !== 'order_type' &&
                            column.field !== 'pickup_date' &&
                            column.field !== 'delivery_date' &&
                            column.field !== 'pickup_time' &&
                            column.field !== 'delivery_time' &&
                            column.field !== 'dmg' &&
                            column.field !== 'lfd_date' &&
                            column.field !== 'eta' &&
                            column.field !== 'created_on' &&
                            column.field !== 'action' &&
                            element[column.field] === null">
                                --
                            </span>

							<span *ngIf="column.field !== 'order_sequence' &&
                            column.field !== 'select' &&
                            column.field !== 'leg_status' &&
                            column.field !== 'lfd_date' &&
                            column.field !== 'eta' &&
                            column.field !== 'created_on' &&
                            column.field !== 'dmg' &&
                            column.field !== 'hazmat_req' &&
                            column.field !== 'tags' &&
                            column.field !== 'pickup_date' &&
                            column.field !== 'delivery_date' &&
                            column.field !== 'pickup_time' &&
                            column.field !== 'delivery_time' &&
                            column.field !== 'pu_name' &&
                            column.field !== 'dl_name' &&
                            column.field !== 'order_status' &&
                            column.field !== 'rail_cut' &&
                            column.field !== 'action' &&
                            column.field !== 'order_type' &&
                            column.field !== 'container_number' &&
                            element[column.field] !== null">
                                {{ element[column.field] }}
                            </span>

						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="orderInPendingColumns">
					</mat-header-row>

					<mat-row *matRowDef="let row; columns: orderInPendingColumns;">
					</mat-row>

				</mat-table>
			</div>

		</div>

	</mat-card-content>

	<mat-paginator #ordersInPendingPaginator [length]="ordersInPendingLength" [pageSize]="10"
		[pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true"
		(page)="onChangeOrdersPage($event,'ordersInPending')"></mat-paginator>

</mat-card>

<mat-divider></mat-divider>

<mat-card>

	<mat-card-title class="draft-header" fxLayout="row" fxLayoutAlign="space-between center">
		<span style="font: bold">Draft Orders</span>

		<div class="draft-section">
			<button mat-button type="button" *ngIf="draftOrderFilterEvent" style="background-color: red;"
                class="mat-raised-button table-btn" (click)="onClickColumnFilterReset('draft')">
                Reset Filter
            </button>&nbsp;
			<button mat-button type="button" style="background-color:rgb(250, 123, 3);"
                class="mat-raised-button table-btn" (click)="onClickFilterColumn('draft')">
                Filter Columns
            </button>
		</div>
	</mat-card-title>

	<hr>

	<mat-card-content class="mat-elevation-z8">

		<div>

            <div class="settings-icon">
                <span class="hover-icon">
                    <i (click)="onClickAddColumn('orders_draft')" matTooltip="Manage Columns" class="fa fa-cog"
                        aria-hidden="true" style="font-size:1.25rem;margin-right:1.25rem"></i>
                </span>
			</div>

			<div class="table-container">

				<mat-table #ordersDraftTable [dataSource]="draftOrderDatasource" matSort
					(matSortChange)="onChangeSortDirection($event,'draftOrders')" cdkDropListGroup>

					<ng-container *ngFor="let column of ordersDraft; let i = index" [matColumnDef]="column.field">

						<mat-header-cell *matHeaderCellDef (mousedown)="onResizeColumn($event, i, 'ordersDraft')"
							class="mat-header-cell cdk-column-{{column.field}} mat-column-{{column.field}} draft">

                            <span *ngIf="column.field !== 'action'" mat-sort-header>
                                {{ columnsLabel[column.field] }}
                            </span>

                            <span *ngIf="column.field === 'action'">
                                {{ columnsLabel[column.field] }}
                            </span>

						</mat-header-cell>

						<mat-cell *matCellDef="let element;let i = index;"
							class="mat-cell cdk-column-{{column.field}} mat-column-{{column.field}} draft">

                            <span *ngIf="column.field === 'order_sequence'">
                                <a class="hyperlink" (click)="onClickDraftOrder(element)">
                                    {{ element.order_sequence }}
                                </a>
                            </span>

							<span *ngIf="column.field === 'tags' && element.tags != null">
                                <span class="tag-btn" *ngFor="let tag of element.tag_color | keyvalue;"
                                    [style.backgroundColor]="tag.value">
                                    {{ tag.key | titlecase }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_type'">
                                <span *ngIf="element.order_type_color == null">
                                    {{ element.order_type }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
                            && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
                                    ')[1].slice(0,1) }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                                     && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{element.order_type.slice(0,1) }}
                                </span>
							<span
                                    *ngIf="element.order_type_color != null && 
                                    (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.format_order_type }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_pickup_date'">
                                <span *ngIf="element.order_pickup_date == null">
                                    <span *ngIf="element.est_pickup_from_time !== null &&
                                     element.est_pickup_to_time !== null">
                                        {{ element.est_pickup_from_time | date:'shortDate' }}
                                        ~
                                        {{ element.est_pickup_to_time | date:'shortDate' }}
                                    </span>
							<span *ngIf="element.est_pickup_from_time === null &&
                                     element.est_pickup_to_time === null">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.order_pickup_date != null">
                                    {{ element.order_pickup_date | date:'shortDate' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_pickup_time'">
                                <span *ngIf="element.order_pickup_time == null">
                                    <span *ngIf="element.est_pickup_from_time !== null &&
                                    element.est_pickup_to_time !== null">
                                        {{ element.est_pickup_from_time | date:'HH:mm' }}
                                        ~ {{ element.est_pickup_to_time | date:'HH:mm' }}
                                    </span>
							<span *ngIf="element.est_pickup_from_time === null &&
                                     element.est_pickup_to_time === null">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.order_pickup_time != null">
                                    {{ element.order_pickup_time | date:'HH:mm'}}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_pu_name' && element.order_pu_name != null">
                                <span [matTooltip]="element.order_pu_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{ element.order_pu_name }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_dl_name' && element.order_dl_name != null">
                                <span [matTooltip]="element.order_dl_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{ element.order_dl_name }}
                                </span>
							</span>

							<span *ngIf="column.field === 'hazmat_req' && element.hazmat_req != null">
                                {{ element.hazmat_req === 1 ? 'Y' : 'N' }}
                            </span>

							<span *ngIf="column.field === 'order_delivery_date'">
                                <span *ngIf="element.order_delivery_date == null">
                                    <span *ngIf="element.est_delivery_from_time !== null &&
                                     element.est_delivery_to_time !== null">
                                        {{ element.est_delivery_from_time | date:'shortDate' }}
                                        ~
                                        {{ element.est_delivery_to_time | date:'shortDate' }}
                                    </span>
							<span *ngIf="element.est_delivery_from_time === null &&
                                     element.est_delivery_to_time === null">
                                        --
                                    </span>
							</span>
							<span *ngIf="element.order_delivery_date != null">
                                    {{ element.order_delivery_date | date:'shortDate' }}
                                </span>
							</span>

							<span *ngIf="column.field === 'order_delivery_time'">

                                <span *ngIf="element.order_delivery_date == null">

                                    <span *ngIf="element.est_delivery_from_time !== null &&
                                     element.est_delivery_to_time !== null">
                                        {{ element.est_delivery_from_time | date:'HH:mm' }} ~
                                        {{ element.est_delivery_to_time | date:'HH:mm' }}
                                    </span>

							<span *ngIf="element.est_delivery_from_time === null &&
                                     element.est_delivery_to_time === null">
                                        --
                                    </span>

							</span>

							<span *ngIf="element.order_delivery_time != null">
                                    {{ element.order_delivery_time | date:'HH:mm' }}
                                </span>

							</span>

							<span *ngIf="column.field === 'dmg'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'lfd_date'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'eta'">
                                {{ element.eta ? (element.eta | date:'shortDate') : '--' }}
                            </span>

							<span *ngIf="column.field === 'order_status'">
                                <span [ngClass]="{'available':element.order_status == 'Open',
                                'assigned':element.order_status == 'Assigned',
                                'in-route':element.order_status == 'Picked Up',
                                'delivered':element.order_status == 'Dispatch'}">
                                    {{element.order_status}}
                                </span>
							</span>

							<span *ngIf="column.field === 'rail_cut' && element.rail_cut != null">
                                {{ element.rail_cut | date: 'shortDate' }}
                            </span>

							<span *ngIf="column.field === 'action'">
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                                    (click)="onDeleteOrder(element,'draft')" #tooltip="matTooltip" matTooltip="Delete"
                                    matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white">close</mat-icon>
                                </button>
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                                    #tooltip="matTooltip" matTooltip="Copy" matTooltipHideDelay="100"
                                    (click)="onClickCopyOrder(element)">
                                    <mat-icon class="size-16" color="white">content_copy</mat-icon>
                                </button>
                            </span>

							<span *ngIf="column.field !== 'order_type' &&
                            column.field !== 'order_pickup_date' &&
                            column.field !== 'order_delivery_date' &&
                            column.field !== 'order_pickup_time' &&
                            column.field !== 'order_delivery_time' &&
                            column.field !== 'lfd_date' &&
                            column.field !== 'eta' &&
                            column.field !== 'dmg' &&
                            column.field !== 'action' &&
                            element[column.field] === null">
                                --
                            </span>

							<span *ngIf="column.field !== 'order_sequence' &&
                            column.field !== 'tags' &&
                            column.field !== 'lfd_date' &&
                            column.field !== 'eta' &&
                            column.field !== 'dmg' &&
                            column.field !== 'hazmat_req' &&
                            column.field !== 'order_pickup_date' &&
                            column.field !== 'order_delivery_date' &&
                            column.field !== 'order_pickup_time' &&
                            column.field !== 'order_delivery_time' &&
                            column.field !== 'order_pu_name' &&
                            column.field !== 'order_dl_name' &&
                            column.field !== 'order_status' &&
                            column.field !== 'rail_cut' &&
                            column.field !== 'action' &&
                            column.field !== 'order_type' &&
                            element[column.field] !== null">
                                {{ element[column.field] }}
                            </span>

						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="draftOrderColumns">
					</mat-header-row>

					<mat-row *matRowDef="let row; columns: draftOrderColumns;">
					</mat-row>

				</mat-table>
			</div>

		</div>

	</mat-card-content>

	<mat-paginator #draftOrderPaginator [length]="draftLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
		showFirstLastButtons (page)="onChangeOrdersPage($event,'draftOrders')"></mat-paginator>

</mat-card>
