div.end {
  text-align: end;
  margin: 0.5rem 0.9rem;
}

.order-pending-header {
  display: flex;
  align-items: center;

  .blue {
    background-color: white !important;
    color: #2196f3 !important;
  }

  .green {
    background-color: #fff !important;
    color: #4caf50 !important;
  }

  .red {
    background-color: #fff !important;
    color: #f44336 !important;
  }
}

.more-option {
  padding: 0 5px;
  line-height: 36px;
  min-width: 30px;
  color: white;
}

.hyperlink {
  color: #337ab7;
  cursor: pointer;
}

.hyperlink:hover {
  color: #3c8dbc;
  cursor: pointer;
}

.tag-btn {
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 3px;
  color: #fff;
}

.tag-label {
  color: #0056a6;
  font-size: 14px;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

.settings-icon {
  text-align: end;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 17px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.mat-cell:nth-child,
.mat-header-cell:nth-child {
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}

.available {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

.assigned {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.in-route {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

.in-active {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #f31414;
  border-radius: 1px;
  color: #fff;
}

.delivered {
  padding: 1px 8px;
  margin-right: 5px;
  background-color: rgb(24, 102, 219);
  border-radius: 2px;
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
}

mat-row {
  margin: 0 !important;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  // width: 100px;
  // flex: none;
  justify-content: left;
}

.mat-table mat-header-cell {
  border-right: 1px solid #e18ffaf6;
  cursor: col-resize;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
}

@media screen and (min-width: 600px) and (max-width: 794px) {
  .flex-header {
    flex-direction: column !important;
    align-items: unset !important;

    mat-form-field {
      margin-right: 0 !important;
    }
  }
}

@media screen and (min-width: 460px) and (max-width: 599px) {
  .table-header {
    flex-direction: column !important;
    align-items: unset !important;
  }

  .flex-header {
    flex-direction: column !important;
    align-items: unset !important;

    mat-form-field {
      width: 50%;
      margin-top: 0.5rem;
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 459px) {
  .table-header {
    flex-direction: column !important;
    align-items: unset !important;
  }

  .flex-header {
    flex-direction: column !important;
    align-items: unset !important;

    mat-form-field {
      width: 100%;
      margin-top: 0.5rem;
      margin-right: 0 !important;
    }

    section {
      display: flex;
      flex-direction: column !important;

      button {
        max-width: 100% !important;
        margin-top: 0.5rem;
        margin-right: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 399px) {
  .draft-header {
    flex-direction: column !important;
    align-items: unset !important;

    .draft-section {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      button {
        max-width: 100%;
      }
    }
  }
}
