<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Configuration</span>
  </mat-card-title>

  <hr>

  <mat-card-content class="mat-elevation-z8">

    <form (ngSubmit)="onSubmit()" #f="ngForm">

      <mat-form-field class="ml-2 w-55 xs-90 select-filter-header">
        <mat-select placeholder="Configurable Dropdowns in the App" ngModel name="dropdown"
          (selectionChange)="onChange($event)" #dropdown="ngModel" required>
          <mat-option value="Location Types">Location Types</mat-option>
          <mat-option value="Container Types">Container Types</mat-option>
          <mat-option value="Order Types">Order Types</mat-option>
          <mat-option value="Leg Types">Leg Types</mat-option>
          <mat-option value="Driver Types">Driver Types</mat-option>
          <mat-option value="Equipment Types">Equipment Types</mat-option>
          <mat-option value="Equipment Locations">Equipment Locations</mat-option>
          <mat-option value="Tags">Tags</mat-option>
          <mat-option value="Order Flags">Order Flags</mat-option>
          <mat-option value="Attendence Category">Attendence Category</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ml-2 w-55 xs-90">
        <mat-label>Add Field</mat-label>
        <input matInput placeholder="Enter field" type="text" ngModel name="field_name" required #addField="ngModel"
          [disabled]="editMode ? (dropdown.value === 'Order Types' ||
           dropdown.value === 'Leg Types' || 
           (dropdown.value === 'Tags' && addField.value === 'BROKERED')) : false">
      </mat-form-field>

      <div *ngIf="dropdown.value === 'Order Flags'">
        <mat-form-field class="ml-2 w-25 xs-90">
          <mat-label>Range From</mat-label>
          <input matInput type="number" ngModel name="range_from" required min="0"
            pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)(?:[eE][+-]?[0-9]+)?$" #range_from="ngModel">
        </mat-form-field>

        <mat-form-field class="ml-2 w-25 xs-90">
          <mat-label>Range To</mat-label>
          <input matInput type="number" ngModel name="range_to" min="0"
            pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)(?:[eE][+-]?[0-9]+)?$">
          <mat-hint>Leave this value empty to choose any number above
            {{ (range_from.value == null || range_from.value == '') ? 'Range From' : range_from.value }}
          </mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field appearance="none" class="ml-2 w-55 xs-90" *ngIf="dropdown.value === 'Order Types' ||
       dropdown.value === 'Leg Types' || dropdown.value === 'Tags'">
        <mat-label>Pick Color</mat-label>
        <input matInput type="color" ngModel name="color" [value]="inputField.value" #inputField="ngModel">
      </mat-form-field>

      <br>

      <div class="mb-1" fxLayout='row' fxLayoutAlign="center center">
        <button mat-button type="button" style="background-color:red" class="mat-raised-button table-btn"
          (click)="configurationForm.resetForm();editMode = false">Reset</button>&nbsp;&nbsp;
        <button mat-button type="submit" style="background-color:rgb(45, 185, 26)" class="mat-raised-button table-btn"
          *ngIf="editMode ? true : dropdown.value !== 'Order Types' && dropdown.value !== 'Leg Types'"
          [disabled]="!f.valid">
          {{ editMode ? 'Update' : 'Add'}}</button>
      </div>

    </form>

    <div *ngIf="dropdown.value !== '' && dropdown.value !== null">
      <div class="table-container">
        <mat-table [dataSource]="dataSource">

          <!-- ID Column -->
          <ng-container matColumnDef="serialNo">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index">
              <button mat-raised-button
                (click)="onClickSerialNo(row,(i+1)+currentIndex)">{{(i+1)+currentIndex}}</button>
            </mat-cell>
          </ng-container>

          <!-- Dropdown Column -->
          <ng-container matColumnDef="dropdown">
            <mat-header-cell *matHeaderCellDef> Dropdown </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{ confirmationComponentName }}</span>
            </mat-cell>
          </ng-container>

          <!-- Field Name Column -->
          <ng-container matColumnDef="field_name">
            <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="dropdown.value === 'Location Types'">{{ row.location_type }}</span>
              <span *ngIf="dropdown.value === 'Container Types'">{{ row.container_type }}</span>
              <span *ngIf="dropdown.value === 'Order Types'">{{ row.order_type }}</span>
              <span *ngIf="dropdown.value === 'Leg Types'">{{ row.leg_type }}</span>
              <span *ngIf="dropdown.value === 'Driver Types'">{{ row.driver_type }}</span>
              <span *ngIf="dropdown.value === 'Equipment Types'">{{ row.equipment_type }}</span>
              <span *ngIf="dropdown.value === 'Equipment Locations'">{{ row.equipment_location }}</span>
              <span *ngIf="dropdown.value === 'Tags'">{{ row.tag_title }}</span>
              <span *ngIf="dropdown.value === 'Order Flags'">{{ row.order_flag }}</span>
              <span *ngIf="dropdown.value === 'Attendence Category'">{{ row.title }}</span>
            </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="color-box" [ngStyle]="{'background-color': row.color}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row.color }}</span>
            </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="miles_range">
            <mat-header-cell *matHeaderCellDef> Miles Range </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.range_to !== null">
                {{ row.range_from }}&nbsp; - &nbsp;{{ row.range_to }}
              </span>
              <span *ngIf="row.range_to === null">
                {{ row.range_from }}&nbsp; & &nbsp; above
              </span>
            </mat-cell>
          </ng-container>

          <!-- Last Updated Column -->
          <ng-container matColumnDef="last_updated">
            <mat-header-cell *matHeaderCellDef> Last Updated </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.lastupdated_on | date: 'shortDate' }} </mat-cell>
          </ng-container>

          <!-- Updated By Column -->
          <ng-container matColumnDef="updated_by">
            <mat-header-cell *matHeaderCellDef> Updated By </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastupdated_by}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                (click)="onEditConfiguration(row)" matTooltip="Edit"
                *ngIf="!(dropdown.value === 'Equipment Types' && row.equipment_type === 'Truck')">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                (click)="onDeleteConfiguration(row)" *ngIf="dropdown.value !== 'Order Types' && 
                  dropdown.value !== 'Leg Types' &&
                 !(dropdown.value === 'Equipment Types' && row.equipment_type === 'Truck') &&
                 !(dropdown.value === 'Tags' && row.tag_title === 'BROKERED')" matTooltip="Delete">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" (page)="onChangePage($event)"
        showFirstLastButtons></mat-paginator>

    </div>
  </mat-card-content>
</mat-card>