<div class="c-info">

    <mat-card>

        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <span style="font: bold;font-size: 1.25rem">General Route Rates</span>
            <div>
                <button mat-button type="button" style="background-color:#ff9800;" fxFlex.xs=50%
                    class="mat-raised-button table-btn" (click)="isBulkUpdateEnabled ? onBulkUpdate() : null"
                    [disabled]="!isBulkUpdateEnabled">
                    Bulk Update
                </button>&nbsp;
                <button mat-button type="button" color="blue" class="mat-raised-button table-btn" fxFlex.xs=50%
                    (click)="onAddGeneralRouteRate()">
                    Create New
                </button>
            </div>
        </mat-card-title>

        <mat-card-content class=" mat-elevation-z8">
            <div class="table-container">
                <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
                    <mat-table [dataSource]="routeDatasource" matSort (matSortChange)="onSort($event)">

                        <ng-container matColumnDef="dummy">
                            <mat-header-cell *matHeaderCellDef>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="pickup">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <mat-label>Pickup</mat-label>
                                    <input matInput type="text" placeholder="Pickup" name="pu_name"
                                        [(ngModel)]="columnFilterValue.pu_name">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="delivery">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <mat-label>Delivery</mat-label>
                                    <input matInput type="text" placeholder="Delivery" name="dl_name"
                                        [(ngModel)]="columnFilterValue.dl_name">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="formatType">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field fxFlex="90" class="select-filter-header">
                                    <mat-label>Route Format</mat-label>
                                    <mat-select name="format_address" [(ngModel)]="columnFilterValue.format_address"
                                        (selectionChange)="onClickColumnFilter()">
                                        <mat-option *ngFor="let formatType of formatTypes" [value]="formatType">
                                            {{ formatType }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="orderType">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field fxFlex="90" class="select-filter-header">
                                    <mat-label>OrderType</mat-label>
                                    <mat-select name="order_type" [(ngModel)]="columnFilterValue.order_type"
                                        (selectionChange)="onClickColumnFilter()">
                                        <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.label">
                                            {{ orderType.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="mile">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field fxFlex="90">
                                    <mat-label>Miles</mat-label>
                                    <input matInput type="text" placeholder="Miles" name="distance"
                                        [(ngModel)]="columnFilterValue.distance">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field fxFlex="90">
                                    <mat-label>Rates</mat-label>
                                    <input matInput type="text" placeholder="Rates" name="rate"
                                        [(ngModel)]="columnFilterValue.rate">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>

                        <ng-container matColumnDef="icon">
                            <mat-header-cell *matHeaderCellDef>
                                <div fxLayout="row">
                                    <button type="submit" matTooltip="Search" mat-button mat-icon-button
                                        class="filter-button">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button type="button" matTooltip="Reset" mat-button mat-icon-button
                                        class="filter-button" *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </mat-header-cell>
                        </ng-container>

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle($event) : null"
                                    [checked]="routeSelection.hasValue() && isAllSelected()"
                                    [indeterminate]="routeSelection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation();"
                                    (change)="$event ? routeSelection.toggle(row) : null;onChangeCheckbox($event,row)"
                                    [checked]="selectedRouteList.includes(row.route_rate_id) && !unSelectedRouteList.includes(row.route_rate_id)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pu_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> PickUp </mat-header-cell>>
                            <mat-cell *matCellDef="let row">
                                <span [matTooltip]="row.start_loc" [matTooltipClass]="'tooltip'"
                                    style="cursor: pointer;">
                                    {{row.pu_name}}
                                </span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dl_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>>
                            <mat-cell *matCellDef="let row">
                                <span [matTooltip]="row.des_loc" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                                    {{row.dl_name}}
                                </span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="format_address">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Route Format </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.format_address }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="order_type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> OrderType </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.order_type}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="distance">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Miles </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.distance}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="rate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.rate}} </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button mat-raised-button mat-button-sm type="button" class="table-action-btn"
                                    color="orange" (click)="onEditGeneralRouteRate(row)" #tooltip="matTooltip"
                                    matTooltip="Edit" matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white">edit</mat-icon>
                                </button>
                                <button mat-raised-button mat-button-sm type="button" class="table-action-btn"
                                    style="background-color: red !important;" (click)="onDeleteGeneralRouteRate(row.route_rate_id)"
                                    #tooltip="matTooltip" matTooltip="Delete" matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white">close</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="routeFilterHeaders"></mat-header-row>
                        <mat-header-row *matHeaderRowDef="routeColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: routeColumns;">
                        </mat-row>
                    </mat-table>
                </form>
            </div>
            <mat-paginator #paginator [length]="routeLength" (page)="onChangePage($event);" [pageSize]="10"
                [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>

</div>