<mat-form-field [ngClass]="{'w-25__xs-100':styleClass == 'w-25.xs-100.margin',
'w-30__xs-100': styleClass === 'w-30.xs-100.margin',
'w-50__xs-90' : styleClass === 'w-50.xs-90.margin'}">
  <mat-label>{{ label }}</mat-label>
  <input matInput [required]="isRequired" type="text" [formControl]="control" [matAutocomplete]="controlAuto">
  <mat-spinner matSuffix *ngIf="showLoading" mode="indeterminate" diameter="17"></mat-spinner>
  <mat-autocomplete #controlAuto="matAutocomplete" panelWidth="250" (optionSelected)='onOptionSelected($event)'>
    <mat-option *ngFor="let controlAuto of controlAutocomplete | async" [value]="controlAuto">
      <span>{{ controlAuto }}</span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.errors?.required">
    {{ label }} is Required
  </mat-error>
</mat-form-field>
