.w-25__xs-100 {
  margin: 8px;
  width: 25%;
}

.w-30__xs-100 {
  margin: 8px;
  width: 30%;
}

.w-50__xs-90 {
  margin: 8px;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .w-25__xs-100,
  .w-30__xs-100,
  .w-50__xs-90 {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .w-25__xs-100,
  .w-30__xs-100 {
    width: 100%;
    margin: 0 !important;
  }
}
