<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="chassisForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} Chassis</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs w-95 xs-100">
        <mat-label>Chassis Name</mat-label>
        <input matInput type="text" placeholder="Enter the chassis name" required formControlName="chassisName">
        <mat-error class="error-message"
          *ngIf="!chassisForm.get('chassisName').valid && (chassisForm.get('chassisName').dirty || chassisForm.get('chassisName').touched)">
          Chassis Name is Required
        </mat-error>
      </mat-form-field>

      <div>
        <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=true
          label="Location Name" formControlName="pu_name" styleClass="w-45.xs-100.margin"
          (street)="chassisForm.get('street').setValue($event)" (city)="chassisForm.get('city').setValue($event)"
          (postalCode)="chassisForm.get('postalCode').setValue($event)"
          (state)="chassisForm.get('state').setValue($event)" (address)="chassisForm.get('address').setValue($event)">
        </app-midcities-name-autocomplete>

        <app-midcities-address-autocomplete label="Midcities Address" isRequired="true" formControlName="address"
          styleClass="w-45.xs-100.margin" (street)="chassisForm.get('street').setValue($event)"
          (city)="chassisForm.get('city').setValue($event)"
          (postalCode)="chassisForm.get('postalCode').setValue($event)"
          (state)="chassisForm.get('state').setValue($event)" (name)="chassisForm.get('pu_name').setValue($event)">
        </app-midcities-address-autocomplete>
      </div>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <mat-label>Street</mat-label>
        <input matInput type="text" placeholder="Flannel St" formControlName="street">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="Kitty City" formControlName="city">
      </mat-form-field>

      <div class="ml-xs mr-xs w-10 xs-100" style="display: inline-block;">
        <app-state-autocomplete formControlName="state"> </app-state-autocomplete>
      </div>

      <mat-form-field class="ml-xs mr-xs w-15 xs-100">
        <mat-label>Postal code</mat-label>
        <input matInput placeholder="66312" type="text" formControlName="postalCode">
        <mat-error class="error-message"
          *ngIf="!chassisForm.get('postalCode').valid && (chassisForm.get('address').dirty || chassisForm.get('address').touched)">
          Enter a valid postal code
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Email</mat-label>
        <input matInput type="text" required placeholder="Enter the email address" formControlName="email">
        <mat-error>
          <mat-error class="error-message" *ngIf="chassisForm.get('email').hasError('required')">
            Email is Required
          </mat-error>
          <mat-error class="error-message" *ngIf="chassisForm.get('email').hasError('pattern')">
            Enter a valid email
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Phone #</mat-label>
        <input matInput type="text" required placeholder="(000) 000-0000" formControlName="phoneNumber"
          [textMask]="{mask: phoneNumberMask, guide: false}">
        <mat-error>
          <mat-error class="error-message" *ngIf="chassisForm.get('phoneNumber').hasError('required')">
            Phone Number is Required
          </mat-error>
          <mat-error class="error-message" *ngIf="chassisForm.get('phoneNumber').hasError('pattern')">
            Enter a valid Phone Number
          </mat-error>
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!chassisForm.valid">{{
        editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>