.w-10 {
    width: 10%;
  }
  .w-15 {
    width: 15%;
  }
  .w-20 {
    width: 20%;
  }
  .w-25 {
    width: 25%;
  }
  .w-30 {
    width: 30%;
  }
  .w-45 {
    width: 45%;
  }
  .w-95 {
    width: 95%;
  }
  
  @media screen and (max-width: 599px) {
    .xs-100 {
      width: 100%;
      margin: 0 !important;
    }
  }
  