<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>
    Upload Documents
  </h2>

  <mat-dialog-content>

    <div *ngFor="let document of documents;let i = index" class="info-list">

      <p matLine fxLayout.gt-xs="row" fxLayout.xs="column">

        <strong fxFlex.gt-xs=50%> {{ document.label }} </strong>

        <span fxFlex.gt-xs=50% class="info-list__value">

          <input matinput type="file" *ngIf="!document.isUploaded"
            (change)="onChangeFileInput($event,document.value,fileInput)" accept=".pdf,.png,.jpg,.jpeg" #fileInput
            (click)="fileInput.value = null">

          <button mat-button type="button" *ngIf="document.isUploaded" color="blue"
            class="mat-raised-button table-action-btn button upload" (click)="onClickViewFile(document.value)"
            matTooltip="View">
            <mat-icon class="size-16" color="white">visibility</mat-icon>
          </button>&nbsp;&nbsp;

          <button mat-raised-button mat-button-sm class="table-action-btn" *ngIf="document.isUploaded" color="red"
            (click)="onClickDeleteFile(document.value)" matTooltip="Delete">
            <mat-icon class="size-16" color="white">close</mat-icon>
          </button>

        </span>

      </p>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
      (click)="onClickCancel()">Cancel</button>
    <button mat-button type="button" class="mat-raised-button table-btn" style="background-color: green"
      (click)="onClickSave()" [disabled]="!isFilesAdded">Save</button>

  </mat-dialog-actions>

</div>