.o-no {
  color: #337ab7;
  cursor: pointer;
}
.o-no:hover {
  color: #3c8dbc;
  cursor: pointer;
}

.wrapper {
  // widows: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: auto;
  height: 300px;
}

.button24 {
  width: 35px;
  height: 35px;
}

.icon24 {
  font-size: 22px;
  margin-top: -3px;
}

.w-35 {
  width: 35% !important;
}
