<div class="add-dialog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" style="top: -20px;right: -20px;" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2 mat-dialog-title>
        Filter Columns
      </h2>
      <button mat-mini-fab class="button24" type="button"
        style="background-color:rgb(45, 185, 26);color: white;margin-bottom: 16px;" matTooltip="Add Filter"
        (click)="onClickAddFilter()">
        <mat-icon class="icon24">add</mat-icon>
      </button>
    </div>

    <mat-dialog-content>

      <div formArrayName="filters" *ngFor="let filter of getFilter(); let i=index;">

        <div [formGroupName]="i" fxLayoutAlign="space-between center">

          <mat-form-field class="ml-xs mr-xs w-35 select-height">
            <mat-label>Column</mat-label>
            <mat-select placeholder="Status" formControlName="column" required
              (selectionChange)="onColumnSelectionChange($event.value,i,false,false)">
              <mat-option *ngFor="let column of injectedData.filterColumns"
                [disabled]="selectedFilterColumns.includes(column.value)" [value]="column.value">
                {{ column.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <app-general-autocomplete class="ml-xs mr-xs w-35" *ngIf="filter.get('inputType').value === 'text'"
            label="Value" for="filter" [isRequired]="true" [key]="injectedData.key" formControlName="values"
            [searchBy]="filter.get('column').value">
          </app-general-autocomplete>

          <mat-form-field class="ml-xs mr-xs w-35 select-height" *ngIf="filter.get('inputType').value === 'select'">
            <mat-select placeholder="Value" name="values" formControlName="values" required
              [multiple]="filter.get('inputType').value === 'multiSelect'">
              <mat-option *ngFor="let item of selectDropdown[i]" [value]='item.value'>
                {{ item.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="ml-xs mr-xs w-35 select-height"
            *ngIf="filter.get('inputType').value === 'multiSelect'">
            <mat-select placeholder="Value" name="values" formControlName="values" required multiple>
              <mat-option *ngFor="let item of selectDropdown[i]" [value]='item.value'>
                {{ item.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="ml-xs mr-xs w-35" *ngIf="filter.get('inputType').value === 'date'">
            <input matInput type="text" [matDatepicker]="picker" placeholder="Value" name="values"
              formControlName="values" required (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <button mat-mini-fab class="button24" type="button" style="background-color:red;color: white"
            (click)="onClickDelete(i)" *ngIf="i == 0"
            [style.visibility]="filterForm.get('filters').value?.length > 1 ? 'visible' : 'hidden'" matTooltip="Delete">
            <mat-icon class="icon24">close</mat-icon>
          </button>

          <button mat-mini-fab class="button24" type="button" style="background-color:red;color: white"
            (click)="onClickDelete(i)" *ngIf="i > 0" matTooltip="Delete">
            <mat-icon class="icon24">close</mat-icon>
          </button>
        </div>
      </div>
    </mat-dialog-content>


    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="dialogRef.close()">Close</button>
      <button mat-button type="submit" style="background-color:#2196f3" class="mat-raised-button table-btn"
        [disabled]="!filterForm.valid">Filter</button>
    </mat-dialog-actions>
  </form>
</div>