.status-open {
  padding: 1px 3px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

mat-row {
  margin: 0 !important;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

// .mat-cell:nth-child(2),
// .mat-header-cell:nth-child(2) {
//   flex: 0 0 11%;
// }

// .mat-cell:nth-child(3),
// .mat-header-cell:nth-child(3) {
//   flex: 0 0 10%;
// }

// .mat-cell:nth-child(4),
// .mat-header-cell:nth-child(4) {
//   flex: 0 0 17%;
// }

// .mat-cell:nth-child(5),
// .mat-header-cell:nth-child(5) {
//   flex: 0 0 9%;
// }

// .mat-cell:nth-child(6),
// .mat-header-cell:nth-child(6) {
//   flex: 0 0 9%;
// }

// .mat-cell:nth-child(7),
// .mat-header-cell:nth-child(7) {
//   flex: 0 0 20%;
// }

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: 700px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  .search {
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .mat-form-field-wrapper {
    // width: 100%;
    padding-bottom: 0 !important;
  }
}
