<div class="add-dailog position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

    <div class="drag-drop-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
            </path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>

    <h2 mat-dialog-title>
        Confirm Order(s)
    </h2>

    <mat-dialog-content>

        <mat-form-field class="search">
            <input matInput type="text" placeholder="Search By Order #" [(ngModel)]="searchFilterValue"
                (keydown.enter)="onSearch()">
            <button mat-button *ngIf="searchFilterValue" matSuffix mat-icon-button aria-label="Clear"
                (click)="onClearSearch()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-button *ngIf="searchFilterValue !== ''" matSuffix mat-icon-button aria-label="Clear"
                (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <div class="table-container">

            <mat-table #orderListSort [dataSource]="orderListDatasource" matSort
                (matSortChange)="onChangeSortDirection($event)">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-radio-button
                            [checked]="selectedOrder?.order_sequence === element.order_sequence"
                            (change)="onChangeRadioButton(element)">
                        </mat-radio-button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="order_sequence">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span>{{ element.order_sequence }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="order_status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="status-open">{{ element.order_status }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="order_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Order Type </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a *ngIf="element.order_type == null"> -- </a>
                        <span *ngIf="element.order_type_color == null">{{element.order_type}}</span>
                        <span *ngIf="element.order_type_color != null  && element.order_type.includes(' ')"
                            [style.backgroundColor]="element.order_type_color"
                            style="color: white;padding: 1px 5px;">{{element.order_type.split(' ')[0].slice(0,1) }}/{{element.order_type.split(' ')[1].slice(0,1)}}</span>
                        <span *ngIf="element.order_type_color != null  && !element.order_type.includes(' ')"
                            [style.backgroundColor]="element.order_type_color"
                            style="color: white;padding: 1px 5px;">{{element.order_type.slice(0,1) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="container_size">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Size </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.container_size == null"> -- </span>
                        <span *ngIf="element.container_size != null">{{ element.container_size }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pu_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> PickUp </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc"
                            [matTooltipClass]="'tooltip'" style="cursor: pointer;">{{ element.pu_name }}</span>
                        <span *ngIf="element.pu_name == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dl_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.dl_name != null" [matTooltip]="element.dl_loc"
                            [matTooltipClass]="'tooltip'" style="cursor: pointer;">{{ element.dl_name }}</span>
                        <span *ngIf="element.dl_name == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="orderListColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: orderListColumns;">
                </mat-row>
            </mat-table>
        </div>

        <mat-paginator #orderListPaginator [length]="pageLength" [pageSize]="3" [pageSizeOptions]="[3, 4, 5]"
            showFirstLastButtons (page)="onChangePage($event)"></mat-paginator>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
            (click)="dialogRef.close()">Cancel</button>&nbsp;
        <button mat-button type="button" class="mat-raised-button table-btn"
            [ngStyle]="{'background-color': !selectedOrder ? disabledColor : enabledColor}"
            (click)="!selectedOrder ? null : onSubmit()" [disabled]="!selectedOrder">Confirm Street Turn</button>
    </mat-dialog-actions>

</div>