<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span class="head-title">Chassis Management</span>
    <button type="button" mat-raised-button color="blue" (click)="onClickAddChassis()">
      Create New
    </button>
  </mat-card-title>

  <mat-card-content class=" mat-elevation-z8">

    <div class="table-container">
      <form (ngSubmit)="onClickColumnFilter()">
        <mat-table [dataSource]="chassisDatasource" matSort (matSortChange)="onChangeSortDirection($event)">

          <ng-container matColumnDef="dummy">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="chassisName">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Chassis Name" name="chassis_name"
                  [(ngModel)]="columnFilterValue.chassis_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <mat-label>Location Name</mat-label>
                <input matInput type="text" placeholder="Location Name" name="location_name"
                  [(ngModel)]="columnFilterValue.location_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="locationStreet">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Street</mat-label>
                <input matInput type="text" placeholder="Street" name="street" [(ngModel)]="columnFilterValue.street">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="locationCity">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>City</mat-label>
                <input matInput type="text" placeholder="City" name="city" [(ngModel)]="columnFilterValue.city">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="locationState">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>State</mat-label>
                <input matInput type="text" placeholder="State" name="state" [(ngModel)]="columnFilterValue.state">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="locationZip">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Zip</mat-label>
                <input matInput type="text" placeholder="Zip" name="postal_code"
                  [(ngModel)]="columnFilterValue.postal_code">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="chassisMail">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="columnFilterValue.email">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" placeholder="Phone Number" name="phone_number"
                  [(ngModel)]="columnFilterValue.phone_number">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="chassis_id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index">
              <button type="button" mat-raised-button class="serial-btn"
                (click)="onClickSerialNo(row, (i+1)+currentPageIndex)">{{ (i+1) + currentPageIndex }}</button>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="chassis_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.chassis_name}}</mat-cell>
          </ng-container>

          <!--  address Column -->
          <ng-container matColumnDef="location_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Location Name </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span [matTooltip]="row.address" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                {{ row.location_name }}
              </span>
            </mat-cell>
          </ng-container>

          <!--  Street Column -->
          <ng-container matColumnDef="street">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Street</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
          </ng-container>

          <!--  City Column -->
          <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
          </ng-container>

          <!--  state Column -->
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
          </ng-container>

          <!-- Zip Column -->
          <ng-container matColumnDef="postal_code">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.postal_code}} </mat-cell>
          </ng-container>

          <!-- email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

          <!-- phone number Column -->
          <ng-container matColumnDef="phone_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone # </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone_number}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                (click)="onClickEditChassis(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
                (click)="onClickDeleteChassis(row.chassis_id)" #tooltip="matTooltip" matTooltip="Delete"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="chassisFilterColumns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="chassisColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: chassisColumns;">
          </mat-row>
        </mat-table>
      </form>
    </div>
    <mat-paginator #chassisPaginator [length]="chassisPageLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>