<div class="snackbar-container">
  <span> {{ injectedData.message }} </span>

  <button mat-icon-button aria-label="action button" (click)="onClickClose()" *ngIf="injectedData.isNormal">
    <mat-icon>{{ injectedData.icon }}</mat-icon>
  </button>
</div>