<form (ngSubmit)="onSubmit()">

  <h2 mat-dialog-title>{{ injectedData.title }}</h2>

  <mat-dialog-content>

    <mat-form-field *ngIf="injectedData.inputType !== 'radio'">
      <mat-label>Matches</mat-label>

      <input type="text" matInput [formControl]="searchBy" name="searchBy" *ngIf="injectedData.inputType === 'input'">

      <mat-select [formControl]="searchBy" name="searchBy" [multiple]="injectedData.inputType === 'multi_select'"
        *ngIf="injectedData.inputType === 'select' || injectedData.inputType === 'multi_select'">
        <mat-option *ngFor="let item of injectedData.types" [value]="item.label">
          {{ item.label }}
        </mat-option>
      </mat-select>

      <mat-icon matSuffix [owlDateTimeTrigger]="picker" style="cursor:pointer"
        *ngIf="injectedData.inputType === 'date'">calendar_today</mat-icon>

      <input #pickupInput matInput type="text" required [owlDateTime]="picker" [owlDateTimeTrigger]="picker"
        (keydown.enter)="pickupInput.click()" [formControl]="searchBy" name="searchBy" [selectMode]="'range'"
        (dateTimeChange)="onChangeOfDateTimePicker($event)" *ngIf="injectedData.inputType === 'date'">

      <owl-date-time #picker *ngIf="injectedData.inputType === 'date'"></owl-date-time>

    </mat-form-field>

    <section *ngIf="injectedData.inputType === 'radio'">
      <mat-radio-group [formControl]="searchBy" name="searchBy" class="radio-group">
        <mat-radio-button *ngFor="let item of injectedData.types" [value]="item.label" class="radio-button">
          {{ item.label }}
        </mat-radio-button>
      </mat-radio-group>
    </section>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="submit" mat-button>Apply</button>
  </mat-dialog-actions>

</form>