<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form (ngSubmit)="onSubmit()" #f="ngForm">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} {{ title }}</h2>

    <mat-dialog-content>

      <div
        *ngIf="(title === 'New Accessorial Charge' || title === 'Accessorial Charge') && (orderFlag == undefined) && (customerFlag == undefined)">

        <mat-radio-group class="ml-xs mr-xs xs-100" fxLayout.xs="column" style="width: 100%;" name="preferredName"
          [(ngModel)]="preferredName">
          <mat-radio-button [checked]="preferredName=='fixed'" (change)="onRadioChange()" class="mr-1" value="fixed">
            Fixed
            Accessorial Charges</mat-radio-button>&nbsp;
          <mat-radio-button [checked]="preferredName=='new'" (change)="onRadioChange()" class="mr-1" value="new">
            New
            Accessorial Charge</mat-radio-button>
        </mat-radio-group>

        <br>

        <mat-form-field class="ml-xs mr-xs xs-100 select-height" style="width: 97%;" *ngIf="preferredName=='fixed'">
          <mat-label>Name(FAC)</mat-label>
          <mat-select matInput type="text" placeholder="Enter Name(Fixed Accessorial Charges)" required
            name="accessories_name" #accessories_name="ngModel" ngModel>
            <mat-option *ngFor="let accessorialCharge of accessorialCharges" [value]="accessorialCharge"
              [disabled]="dialogData?.disableCharges?.includes(accessorialCharge)">{{accessorialCharge}}</mat-option>
          </mat-select>
          <mat-error *ngIf="accessories_name.errors && (accessories_name.dirty || accessories_name.touched)">
            <mat-error class="error-message" *ngIf="accessories_name.errors.required">
              Accessorial Name is required
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ml-xs mr-xs xs-100" style="width: 97%;" *ngIf="preferredName=='new'">
          <mat-label>Name(NAC)</mat-label>
          <input matInput type="text" placeholder="Enter Name(New Accessorial Charges)" required name="accessories_name"
            #accessories_name="ngModel" ngModel>
          <mat-error *ngIf="accessories_name.errors && (accessories_name.dirty || accessories_name.touched)">
            <mat-error class="error-message" *ngIf="accessories_name.errors.required">
              Accessorial Name is required
            </mat-error>
          </mat-error>
        </mat-form-field>

      </div>


      <mat-form-field class="ml-xs mr-xs xs-100 select-height" style="width: 97%;" *ngIf="customerFlag || orderFlag">
        <mat-label>Name</mat-label>
        <mat-select matInput type="text" placeholder="Enter Name" required name="accessories_name"
          #accessories_name="ngModel" ngModel (selectionChange)="orderFlag ? onOptionSelected($event.value) : null">
          <mat-option *ngFor="let accessorialCharge of accessorialCharges" [value]="accessorialCharge"
            [disabled]="disableAccessorialCharges.includes(accessorialCharge)">{{accessorialCharge}}</mat-option>
        </mat-select>
        <mat-error *ngIf="accessories_name.errors && (accessories_name.dirty || accessories_name.touched)">
          <mat-error class="error-message" *ngIf="accessories_name.errors.required">
            Accessorial Name is required
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-47 xs-100">
        <mat-label>Interval Value</mat-label>
        <input matInput type="number" min="0" required name="accessories_value" ngModel #accessories_value="ngModel"
          pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)(?:[eE][+-]?[0-9]+)?$">
        <mat-error *ngIf="accessories_value.errors && (accessories_value.dirty || accessories_value.touched)">
          {{ accessories_value.errors.required ? 'Interval Value is required' : 'Interval Value must be Positive Number' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-47 xs-100 select-height">
        <mat-label>Interval</mat-label>
        <mat-select placeholder="Select an option" required name="accessories_interval" ngModel
          #accessories_interval="ngModel">
          <mat-option value="Hours">Hours</mat-option>
          <mat-option value="Days">Days</mat-option>
          <mat-option value="Weeks">Weeks</mat-option>
          <mat-option value="Months"> Months</mat-option>
          <mat-option value="Miles">Miles</mat-option>
          <mat-option value="One Time">One Time</mat-option>
          <mat-option value="%"> % </mat-option>
        </mat-select>
        <mat-error *ngIf="accessories_interval.errors && (accessories_interval.dirty || accessories_interval.touched)">
          <mat-error class="error-message" *ngIf="accessories_interval.errors.required">
            Interval is required
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs xs-100" style="width: 97%;">
        <mat-label>Description</mat-label>
        <input matInput type="text" placeholder="Add desc" required name="description" ngModel #description="ngModel">
        <mat-error *ngIf="description.errors && (description.dirty || description.touched)">
          <mat-error class="error-message" *ngIf="description.errors.required">
            Description is required
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs xs-100" style="width: 97%;" *ngIf="orderFlag || accessories_interval.value !== '%'">
        <mat-label>Rate</mat-label>
        <input matInput type="number" min="0" required name="rate" ngModel #rate="ngModel"
          pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)(?:[eE][+-]?[0-9]+)?$">
        <mat-error *ngIf="rate.errors && (rate.dirty || rate.touched)">
          {{ rate.errors.required ? 'Rate is required' : 'Rate must be Positive Number'}}
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}"
        [disabled]="!accessorialRateForm.valid">
        {{ editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>