.w-47 {
  width: 47%;
}

@media screen and (max-width: 599px) {
  .xs-100 {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .xs-100 {
    width: 100% !important;
    margin: 0 !important;
  }
}
