<h1 mat-dialog-title>Enter Email</h1>

<div mat-dialog-content>
  <form>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Email">
        <mat-chip *ngFor="let email of emailId" removable="true" (removed)="onRemoveEmailId(email)">
          {{ email }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Email" required [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="onAddEmailId($event)" (input)="errorMessage = undefined">
      </mat-chip-list>
    </mat-form-field>

    <small *ngIf="errorMessage" class="form-error-msg"> {{ errorMessage }} </small>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-button type="button" style="background-color:grey" class="mat-raised-button table-btn"
    (click)="onNoClick()">Cancel</button>
  <button mat-button type="button" class="mat-raised-button table-btn" [disabled]="emailId.length == 0 && errorMessage !== undefined"
    style="background-color: #2196f3;" (click)="onSubmit()">Send</button>
</mat-dialog-actions>