<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 4px;">
        <span style="font: bold">Orders</span>

        <mat-form-field class="xs-50">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="filterDate"
                (dateChange)="onChangeDate()" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <button mat-button *ngIf="filterDate" matSuffix mat-icon-button (click)="onClickClear()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-card-title>

    <div class="quick-filter" fxLayout="row">
        <button mat-button mat-raised-button class="table-btn" type="button" style="background-color:rgb(250, 123, 3);"
            (click)="onClickQuickFilterEnable()">
            {{ (quickFilterEvent || moreFilterEvent) ? 'Reset Filter' : 'Quick Filters' }}&nbsp;
            <mat-icon [@rotate]="showQuickFilters">settings</mat-icon>
        </button>
        &nbsp;
        <mat-chip-list aria-label="Quick Filters selection" *ngIf="showQuickFilters" [@slideInOut]
            [class.show]="showQuickFilters" style="margin: 0 !important">
            <mat-chip value="empty" (click)="onClickQuickFilter('empty')" color="primary">Empties</mat-chip>
            <mat-chip value="open" (click)="onClickQuickFilter('open')" color="accent">Open</mat-chip>
            <mat-chip value="estimation" (click)="onClickQuickFilter('estimation')" color="accent">Order Closest
            </mat-chip>
            <mat-chip value="pickup" (click)="onClickQuickFilter('pickup')" color="accent">Pickup First
            </mat-chip>
            <mat-chip value="delivery" (click)="onClickQuickFilter('delivery')" color="accent">Delivery First
            </mat-chip>
            <mat-chip value="centrallot" (click)="onClickQuickFilter('centrallot')" color="accent">Central Lot
            </mat-chip>
            <mat-chip value="midcitieslot" (click)="onClickQuickFilter('midcitieslot')" color="accent">Mid Cities
            </mat-chip>
            <mat-chip value="moveInvoice" (click)="onClickQuickFilter('moveInvoice');filterDate = null" color="accent">
                Invoice Needs To Move List
            </mat-chip>
            <mat-chip value="moveAutoInvoice" (click)="onClickQuickFilter('moveAutoInvoice');filterDate = null"
                color="accent">Auto-scheduled for Invoice
            </mat-chip>
            <mat-chip (click)="showAdvanceFilter = !showAdvanceFilter">More</mat-chip>
        </mat-chip-list>
    </div>

    <div class="advance-filter-input" [@slideUpDown] [class.show]="showAdvanceFilter" *ngIf="showAdvanceFilter">
        <mat-form-field floatLabel="never" appearance="none" style="width: 98%">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let chip of chipArray" selectable="true" removable="true" (removed)="remove(chip)">
                    {{chip.prop}}:
                    {{ (chip.key == 'est_pickup_from_time' || chip.key == 'est_delivery_to_time') ? ((chip.value[0] |
                    date: 'MM/dd/yyyy hh:mm') + '~' + (chip.value[1] | date: 'MM/dd/yyyy hh:mm')): chip.value }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input #filterInput #filterDialog #trigger [formControl]="filterCtrl" placeholder="Add Filter"
                    [matChipInputFor]="chipList" [matAutocomplete]="auto" (click)="onClickOpenPanel()">

                <button mat-button matSuffix mat-icon-button (click)="clearChip()" *ngIf="chipArray.length !== 0">
                    <mat-icon class="mr-xs">clear</mat-icon>
                </button>
            </mat-chip-list>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let list of filteredHeader | async" [value]="list"
                    [disabled]="disableArray.includes(list.label)">
                    {{list.label}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <mat-card-content class="mat-elevation-z8" style="padding-bottom: 0; padding-top:2px;">

        <div>

            <div class="settings-icon">
                <span class="hover-icon">
                    <i (click)="onClickAddColumn()" matTooltip="Manage Columns" class="fa fa-cog" aria-hidden="true"
                        style="font-size:1.25rem;margin-right:1.25rem"></i>
                </span>
            </div>

            <div class="table-container dispatch-table">
                <mat-table #dispatchOrderSort [dataSource]="dispatchOrderDatasource" matSort
                    (matSortChange)="onDispatchOrderSortChangeDirection($event)" cdkDropListGroup>

                    <ng-container *ngFor="let column of dispatchColumns; let i = index" [matColumnDef]="column.field">

                        <mat-header-cell *matHeaderCellDef (mousedown)="onResizeColumn($event, i)"
                            class="mat-header-cell cdk-column-{{column.field}} mat-column-{{column.field}} dispatch">

                            <span *ngIf="column.field !== 'serialNo' &&
                         column.field !== 'action' &&
                          column.field !== 'addColumn'" mat-sort-header [disabled]="(column.field === 'pickup_time' ||
                         column.field === 'delivery_time') ? (filterDate === null ? true : false) : false">
                                {{ dispatchColumnLabel[column.field] }}
                            </span>

                            <span *ngIf="column.field === 'serialNo'">
                                {{ dispatchColumnLabel[column.field] }}
                            </span>

                            <span *ngIf="column.field === 'action'">
                                {{ dispatchColumnLabel[column.field] }}
                            </span>

                        </mat-header-cell>

                        <mat-cell *matCellDef="let element;let i = index;"
                            class="mat-cell cdk-column-{{column.field}} mat-column-{{column.field}} dispatch">

                            <span *ngIf="column.field === 'serialNo'">
                                <button mat-raised-button class="id-button"
                                    (click)="onClickDispatchOrderSerialNo(element)">
                                    {{ (i+1) + orderCurrentPageIndex }}
                                </button>
                            </span>

                            <span *ngIf="column.field === 'order_sequence'">
                                <a class="hyperlink" (click)="onClickOrderNumber(element)">
                                    {{ element.order_sequence }}
                                </a>
                            </span>

                            <span *ngIf="column.field === 'leg_status'">
                                <button *ngIf="element.leg_status != null" mat-button-sm mat-raised-button
                                    class="table-action-btn" [ngClass]="{'available':element.leg_status == 'Open',
                                'assigned':element.leg_status == 'Assigned',
                                'in-route':element.leg_status == 'Picked Up'}" [mat-menu-trigger-for]="status"
                                    aria-expanded="false" data-mat-toggle="dropdown">
                                    {{ element.leg_status }}
                                    <mat-icon class="size-20;" color="white">expand_more</mat-icon>
                                </button>

                                <mat-menu #status="matMenu" class="opt-menu" x-position="after">
                                    <ng-container *ngFor="let status of statuses">
                                        <button mat-menu-item *ngIf="element.leg_status !== status.label"
                                            (click)="onClickChangeStatus(element,status.label,i)"
                                            [disabled]="element.leg_status === 'Open' ?
                                             status.value !== 2 : 
                                             (element.leg_status === 'Assigned' ? (element.leg_is_brokered ? status.value !== 3 : (status.value !== 1 && status.value !== 3)) : 
                                             (element.leg_status === 'Picked Up' ? (status.value !== 2 && status.value !== 4) : status.value !== 3))">
                                            {{ status.label }}
                                        </button>
                                    </ng-container>
                                </mat-menu>
                            </span>

                            <span *ngIf="column.field === 'driver_name'">
                                <a class="hyperlink" *ngIf="element.driver_name !== null"
                                    (click)="onClickDriverName(element)">
                                    {{ element.driver_name }}
                                </a>
                            </span>

                            <span *ngIf="column.field === 'dmg'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

                            <span *ngIf="column.field === 'lfd_date'">
                                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
                            </span>

                            <span *ngIf="column.field === 'eta'">
                                {{ element.eta ? (element.eta | date:'shortDate') : '--' }}
                            </span>

                            <span *ngIf="column.field === 'tags'">
                                <span *ngIf="element.tags != null">
                                    <span class="tag-btn" *ngFor="let tag of element.tag_color | keyvalue;"
                                        [style.backgroundColor]="tag.value">
                                        {{ tag.key | titlecase }}
                                    </span>
                                </span>
                            </span>

                            <span *ngIf="column.field === 'order_type'">
                                <span *ngIf="element.order_type_color == null">
                                    {{ element.order_type }}
                                </span>
                                <span
                                    *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
                            && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
                                    ')[1].slice(0,1) }}
                                </span>
                                <span
                                    *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                                     && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{element.order_type.slice(0,1) }}
                                </span>
                                <span
                                    *ngIf="element.order_type_color != null && 
                                    (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
                                    [style.backgroundColor]="element.order_type_color"
                                    style="color: white;padding: 1px 5px;">
                                    {{ element.format_order_type }}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'pickup_date'">
                                <span *ngIf="element.pickup_date == null">
                                    <span *ngIf="element.pu_time && element.pu_time_to">
                                        {{ element.pu_time | date:'shortDate' }}
                                        ~
                                        {{ element.pu_time_to | date:'shortDate' }}
                                    </span>
                                    <span *ngIf="!element.pu_time && !element.pu_time_to">
                                        --
                                    </span>
                                </span>
                                <span *ngIf="element.pickup_date != null">
                                    {{ element.pickup_date | date:'shortDate' }}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'pickup_time'">
                                <span *ngIf="element.pickup_time == null">
                                    <span *ngIf="element.pu_time && element.pu_time_to">
                                        {{ element.pu_time | date:'HH:mm' }}
                                        ~
                                        {{ element.pu_time_to | date:'HH:mm' }}
                                    </span>
                                    <span *ngIf="!element.pu_time || !element.pu_time_to">
                                        --
                                    </span>
                                </span>
                                <span *ngIf="element.pickup_time != null">
                                    {{ element.pickup_time | date:'HH:mm'}}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'pu_name'">
                                <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc"
                                    [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                                    {{ element.pu_name }}
                                </span>
                            </span>


                            <span *ngIf="column.field === 'dl_name'">
                                <span *ngIf="element.dl_name != null" [matTooltip]="element.dl_loc"
                                    [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                                    {{ element.dl_name }}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'delivery_date'">
                                <span *ngIf="element.delivery_date == null">
                                    <span *ngIf="element.dl_time && element.dl_time_to">
                                        {{ element.dl_time | date:'shortDate' }}
                                        ~
                                        {{ element.dl_time_to | date:'shortDate' }}
                                    </span>
                                    <span *ngIf="!element.dl_time || !element.dl_time_to">
                                        --
                                    </span>
                                </span>
                                <span *ngIf="element.delivery_date != null">
                                    {{ element.delivery_date | date:'shortDate' }}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'delivery_time'">
                                <span *ngIf="element.delivery_time == null">
                                    <span *ngIf="element.dl_time && element.dl_time_to">
                                        {{ element.dl_time | date:'HH:mm' }}
                                        ~
                                        {{ element.dl_time_to | date:'HH:mm' }}
                                    </span>
                                    <span *ngIf="!element.dl_time || !element.dl_time_to">
                                        --
                                    </span>
                                </span>
                                <span *ngIf="element.delivery_time != null">
                                    {{ element.delivery_time | date:'HH:mm' }}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'hazmat_req' && element.hazmat_req != null">
                                {{ element.hazmat_req === 1 ? 'Y' : 'N' }}
                            </span>

                            <span *ngIf="column.field === 'order_status'">
                                <span [ngClass]="{'available':element.order_status == 'Open',
                                'assigned':element.order_status == 'Assigned',
                                'in-route':element.order_status == 'Picked Up',
                                'delivered':element.order_status == 'Dispatch'}">
                                    {{element.order_status}}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'rail_cut'">
                                <span *ngIf="element.rail_cut != null">
                                    {{ element.rail_cut | date: 'shortDate' }}
                                </span>
                            </span>

                            <span *ngIf="column.field === 'action'">
                                <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                                    (click)="onClickEditOrder(element)" #tooltip="matTooltip" matTooltip="Edit"
                                    matTooltipHideDelay="100">
                                    <mat-icon class="size-16" color="white"> edit </mat-icon>
                                </button>
                            </span>

                            <span *ngIf="column.field !== 'order_type' &&
                        column.field !== 'pickup_date' &&
                        column.field !== 'delivery_date' &&
                        column.field !== 'pickup_time' &&
                        column.field !== 'delivery_time' &&
                        column.field !== 'action' &&
                        column.field !== 'lfd_date' &&
                        column.field !== 'eta' &&
                        column.field !== 'dmg' &&
                        element[column.field] === null">
                                --
                            </span>

                            <span *ngIf="column.field !== 'order_sequence' &&
                          column.field !== 'serialNo' &&
                          column.field !== 'leg_status' &&
                          column.field !== 'driver_name' &&
                          column.field !== 'tags' &&
                          column.field !== 'pickup_date' &&
                          column.field !== 'delivery_date' &&
                          column.field !== 'pickup_time' &&
                          column.field !== 'delivery_time' &&
                          column.field !== 'pu_name' &&
                          column.field !== 'dl_name' &&
                          column.field !== 'order_status' &&
                          column.field !== 'rail_cut' &&
                          column.field !== 'action' &&
                          column.field !== 'lfd_date' &&
                          column.field !== 'eta' &&
                          column.field !== 'dmg' &&
                          column.field !== 'hazmat_req' &&
                          column.field !== 'order_type' &&
                          element[column.field] !== null">
                                {{ element[column.field] }}
                            </span>

                        </mat-cell>
                    </ng-container>

                    <ng-template #tpl let-element>
                        <div class="leg" [@detailExpand] style="overflow: hidden">
                            <mat-table [dataSource]="element.dataSource">

                                <ng-container matColumnDef="leg_number">
                                    <mat-header-cell *matHeaderCellDef> Leg # </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span>{{row.leg_number}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="leg_type">
                                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span>{{row.leg_type}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="driver_name">
                                    <mat-header-cell *matHeaderCellDef> Driver/Carrier </mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index;">
                                        <span *ngIf="!row.is_brokered && row.driver_name">
                                            {{row.driver_name}}
                                        </span>
                                        <span *ngIf="!row.is_brokered && !row.driver_name">
                                            --
                                        </span>
                                        <span *ngIf="row.is_brokered">
                                            {{ row.carrier_name }} (Carrier)
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="leg_status">
                                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index">
                                        <span [ngClass]="{'available':row.leg_status == 'Open',
                                        'assigned':row.leg_status == 'Assigned',
                                        'in-route':row.leg_status == 'Picked Up',
                                        'delivered':row.leg_status == 'Delivered'}">
                                            {{ row.leg_status }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="pu_name">
                                    <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.pu_name === null"> -- </span>
                                        <span *ngIf="row.pu_name !== null" [matTooltip]="row.pu_loc"
                                            [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                                            {{ row.pu_name }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="pickup_time">
                                    <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="!row.pickup_time">
                                            <span *ngIf="row.pu_time && row.pu_time_to">
                                                {{ row.pu_time | date:'M/d/yy HH:mm' }}
                                                ~
                                                {{ row.pu_time_to | date:'M/d/yy HH:mm' }}
                                            </span>
                                            <span *ngIf="!row.pu_time || !row.pu_time_to">
                                                --
                                            </span>
                                        </span>
                                        <span *ngIf="row.pickup_time">
                                            {{ row.pickup_time | date:'M/d/yy HH:mm' }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dl_name">
                                    <mat-header-cell *matHeaderCellDef> Delivery </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.dl_name === null"> -- </span>
                                        <span *ngIf="row.dl_name !== null" [matTooltip]="row.dl_loc"
                                            [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                                            {{ row.dl_name }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="delivery_time">
                                    <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="!row.delivery_time">
                                            <span *ngIf="row.dl_time && row.dl_time_to">
                                                {{ row.dl_time | date:'M/d/yy HH:mm' }}
                                                ~
                                                {{ row.dl_time_to | date:'M/d/yy HH:mm' }}
                                            </span>
                                            <span *ngIf="!row.dl_time || !row.dl_time_to">
                                                --
                                            </span>
                                        </span>
                                        <span *ngIf="row.delivery_time">
                                            {{ row.delivery_time | date:'M/d/yy HH:mm' }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="est_miles">
                                    <mat-header-cell *matHeaderCellDef> Est. Miles </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.est_miles === null"> -- </span>
                                        <span *ngIf="row.est_miles !== null ">
                                            {{ row.est_miles }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="container_number">
                                    <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.container_number === null">--</span>
                                        <span *ngIf="row.container_number !== null ">
                                            {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
                                            '--' : row.container_number }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="chassis_number">
                                    <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.chassis_number === null">--</span>
                                        <span *ngIf="row.chassis_number !== null ">
                                            {{ (row.leg_type === 'Bobtail' || element.order_type === 'Truck Move' ||
                                            element.order_type === 'One Way Empty - Intermodal' || element.order_type
                                            === 'One Way Loaded - Intermodal')
                                            ? '--' : row.chassis_number }}
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="element.legColumns" style="min-height:40px">
                                </mat-header-row>

                                <mat-row *matRowDef="let row; columns: element.legColumns;" style="min-height:37px">
                                </mat-row>

                            </mat-table>

                        </div>

                    </ng-template>

                    <mat-header-row *matHeaderRowDef="dispatchOrderColumns" style="min-height:40px"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: dispatchOrderColumns;" [cdkDetailRow]="row"
                        [cdkDetailRowTpl]="tpl" class="mat-table-row-order" style="min-height:37px">
                    </mat-row>

                </mat-table>
            </div>

        </div>

    </mat-card-content>

    <mat-paginator #dispatchOrderPaginator [length]="dispatchOrderPaginationLength" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 30 , 50]" showFirstLastButtons (page)="onDispatchOrderPageChange($event)">
    </mat-paginator>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <span style="font: bold">Driver</span>
        <div>
            <button mat-button type="button" style="background-color:rgb(250, 123, 3);"
                class="mat-raised-button table-btn" (click)="onClickDriverFilterColumn()">
                Filter Columns
            </button>
            <button mat-button type="button" style="background-color:red;" class="mat-raised-button table-btn"
                (click)="onClickDriverFilterReset()" *ngIf="driverFilterEvent">
                Reset
            </button>
        </div>

    </mat-card-title>

    <mat-card-content class=" mat-elevation-z8" style="padding-bottom: 0; padding-top:2px;">

        <div class="table-container driver-table">

            <mat-table #driverSort [dataSource]="driverDatasource" matSort
                (matSortChange)="onChangeDriverSortDirection($event)">

                <ng-container matColumnDef="serialNo">
                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index;">
                        <button mat-raised-button class="id-button"
                            (click)="onClickDriverSerialNo(element,(i+1) + driverCurrentPageIndex)">
                            {{ (i+1) + driverCurrentPageIndex }}
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="truck_number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Truck # </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.truck_number == null"> -- </span>
                        <span *ngIf="element.truck_number != null">{{ element.truck_number }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="driver_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a class="hyperlink" (click)="onClickDriverName(element)">{{element.driver_name | titlecase
                            }}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="current_order">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Current Order </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.current_order == null"> -- </span>
                        <span *ngIf="element.current_order != null">{{ element.current_order }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="driver_status">
                    <mat-header-cell *matHeaderCellDef> Sts </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span
                            [ngClass]="{'available':element.driver_status === 'Available','assigned':element.driver_status == 'Assigned','in-route':element.driver_status == 'In Route','in-active': element.user_status === 'inactive'}">
                            {{ element.user_status === 'inactive' ? 'In Active' : element.driver_status }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_known_location_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Known Location </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.last_known_location_name == null"> -- </span>
                        <span *ngIf="element.last_known_location_name != null"
                            [matTooltip]="element.last_known_location" [matTooltipClass]="'tooltip'"
                            style="cursor: pointer;">{{ element.last_known_location_name }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.leg_type == null"> -- </span>
                        <span *ngIf="element.leg_type != null">{{ element.leg_type }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pu_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Shipper</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.pu_name == null"> -- </span>
                        <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc"
                            [matTooltipClass]="'tooltip'" style="cursor: pointer;">{{ element.pu_name }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dl_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Consignee </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.dl_name == null"> -- </span>
                        <span *ngIf="element.dl_name != null" [matTooltip]="element.dl_loc"
                            [matTooltipClass]="'tooltip'" style="cursor: pointer;">{{ element.dl_name }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="est_delivery_to_time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.est_delivery_to_time != null">{{ element.est_delivery_to_time |
                            date:'M/d/yy HH:mm' }}</span>
                        <span *ngIf="element.est_delivery_to_time == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="container_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Container Type </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.container_type != null">{{ element.container_type }}</span>
                        <span *ngIf="element.container_type == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone_number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a class="hyperlink" *ngIf="element.phone_number != null"
                            [href]="'tel:' + element.phone_number">
                            {{ element.phone_number }}
                        </a>
                        <span *ngIf="element.phone_number == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="hazmat_req">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Haz Req </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.hazmat_req != null">
                            <mat-checkbox [disabled]="true" matInput type="boolean" [checked]="element.hazmat_req">
                            </mat-checkbox>
                        </span>
                        <span *ngIf="element.hazmat_req == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="hazmat_certified">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Haz cert </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.hazmat_certified != null">
                            <mat-checkbox [disabled]="true" matInput type="boolean"
                                [checked]="element.hazmat_certified"></mat-checkbox>
                        </span>
                        <span *ngIf="element.hazmat_certified == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="paid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Paid </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.paid != null">{{ element.paid == 1 ? 'Y' : 'N' }}</span>
                        <span *ngIf="element.paid == null"> -- </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="driverColumns" style="min-height:40px">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: driverColumns;" style="min-height:37px">
                </mat-row>

            </mat-table>

        </div>

    </mat-card-content>

    <mat-paginator #driverPaginator [length]="driverPaginationLength" [pageSize]="30" [pageSizeOptions]="[10, 20, 30]"
        [showFirstLastButtons]="true" (page)="onChangeDriverPage($event)">
    </mat-paginator>

</mat-card>