.mat-header-row {
  background-color: #f8e0ffec;
}

.quick-filter {
  margin: 0px 4px 16px 16px;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.status-btn {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

mat-row {
  margin: 0 !important;
}

.id-button {
  padding: 0 5px;
  line-height: 30px;
  min-width: 30px;
}

.hyperlink {
  color: #337ab7;
  cursor: pointer;
}

.hyperlink:hover {
  color: #3c8dbc;
  cursor: pointer;
}

.available {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

.assigned {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.in-route {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

.in-active {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #f31414;
  border-radius: 1px;
  color: #fff;
}

.delivered {
  padding: 1px 8px;
  margin-right: 5px;
  background-color: rgb(24, 102, 219);
  border-radius: 2px;
  color: #fff;
}

.settings-icon {
  text-align: end;
}

.dispatch-table {

  .leg {
    margin: 1.25rem 0;

    .mat-table mat-header-cell {
      border-right: none;
      cursor: none;
    }
  }

  .header-setting {
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
  }

  .mat-header-cell,
  .mat-cell {
    padding-left: 4px;
    padding-right: 4px;
  }

  mat-cell.dispatch,
  mat-footer-cell.dispatch,
  mat-header-cell.dispatch {
    // width: 100px;
    // flex: none;
    justify-content: left;
  }

  .mat-table mat-header-cell {
    border-right: 1px solid #e18ffaf6;
    cursor: col-resize;
  }
}


.tag-btn {
  padding: 3px 5px;
  margin: 5px;
  border-radius: 3px;
  color: #fff;
}

.tag-label {
  color: #0056a6;
  font-size: 14px;
}

.exp-table {
  border-width: thin;
  border-color: #e4e4e4;
  border-style: solid;
  border-radius: 10px;
  margin: 5px auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
}

.exp-table-header {
  font-weight: lighter;
  line-height: 50px;
  border-bottom: 1px solid #e4e4e4;
}

.exp-table-cell {
  font-weight: lighter;
  text-align: center;
  line-height: 50px;
}

.status-column {
  width: 11%;
}
// }

.driver-table {
  .mat-header-cell,
  .mat-cell {
    padding-left: 4px;
    padding-right: 4px;
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 4%;
  }

  .mat-header-cell:nth-child(1) {
    padding-left: 8px;
  }

  .mat-header-cell:nth-child(2),
  .mat-cell:nth-child(2) {
    flex: 0 0 6%;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    flex: 0 0 10%;
  }

  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 7%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 7%;
  }

  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 10%;
  }

  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    flex: 0 0 5%;
  }

  .mat-cell:nth-child(8),
  .mat-header-cell:nth-child(8) {
    flex: 0 0 10%;
  }

  .mat-cell:nth-child(9),
  .mat-header-cell:nth-child(9) {
    flex: 0 0 9%;
  }

  .mat-cell:nth-child(10),
  .mat-header-cell:nth-child(10) {
    flex: 0 0 7%;
  }

  .mat-cell:nth-child(11),
  .mat-header-cell:nth-child(11) {
    flex: 0 0 8%;
  }

  .mat-cell:nth-child(12),
  .mat-header-cell:nth-child(12) {
    flex: 0 0 6%;
  }

  .mat-cell:nth-child(13),
  .mat-header-cell:nth-child(13) {
    flex: 0 0 4%;
  }

  .mat-cell:nth-child(14),
  .mat-header-cell:nth-child(14) {
    flex: 0 0 4%;
  }

  .mat-cell:nth-child(15),
  .mat-header-cell:nth-child(15) {
    flex: 0 0 4%;
  }
}

.advance-filter-input {
  width: 100%;
  margin-left: 1rem;
}

.filter-label {
  padding: 10px;
  border: 1px dashed lightgray;
  border-radius: 20px;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 15px;
  }

  .xs-50 {
    width: 50%;
  }

  .quick-filter {
    flex-direction: column !important;
    align-items: start;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 12px;
  }

  .quick-filter {
    flex-direction: column !important;
    align-items: start;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }

  .quick-filter {
    flex-direction: column !important;
    align-items: start;
  }
}

