<mat-card class="card" fxLayout="row" fxLayoutAlign="space-between start">

    <div class="card-container">

        <div class="card-item__multiple">
            <div class="card-title__item">

                <div class="align-title">

                    <span class="title" style="margin-right: 20px;">
                        Order # :{{ selectedOrder?.order_sequence }}
                    </span>

                    <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                        (click)="onClickEditOrder()" style="margin-top: 7px !important;" matTooltip="Edit"
                        *ngIf="isDispatch">
                        <mat-icon class="size-16" color="white">edit</mat-icon>
                    </button>

                </div>

                <span class="sub-title">
                    Order Type : {{ selectedOrder?.order_type }}
                </span>

                <span class="sub-title">
                    Status : {{ selectedOrder?.order_status }}
                </span>

            </div>

            <div class="card-info__item">
                <span class="sub-title">
                    Container Size : {{ selectedOrder?.container_size }}
                </span>

                <span class="sub-title">
                    Weight : {{ selectedOrder?.weight }} lbs
                </span>

                <span class="sub-title">
                    Created On : {{ selectedOrder?.created_on | date:'M/d/yy HH:mm' }}
                </span>
            </div>
        </div>

        <div class="card-item__tags">
            <div>Tags :</div>&nbsp;&nbsp;
            <mat-chip-list *ngIf="selectedOrder?.tag_color">
                <mat-chip *ngFor="let tag of selectedOrder?.tag_color | keyvalue;" style="color:white"
                    [style.backgroundColor]="tag.value">
                    {{ tag.key }}
                </mat-chip>
            </mat-chip-list>
            <span *ngIf="!selectedOrder?.tag_color">--</span>
        </div>
    </div>

    <button mat-button type="button" style="background-color:rgb(250, 123, 3);" class="mat-raised-button table-btn"
        *ngIf="isDispatch && isOrderClosed && selectedOrder?.order_status !== 'Delivered'"
        (click)="closeOrderToMoveToInvoice('yes', true)">
        Close Order
    </button>

</mat-card>


<mat-accordion>
    <mat-expansion-panel (opened)="onListenToWebhooks()" (closed)="onStopListenToWebhooks()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Map
            </mat-panel-title>
            <mat-panel-description>
                {{ panelOpenState ? 'Tracking...' : 'Click To Expand'}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-map #bingMap></app-map>

    </mat-expansion-panel>
</mat-accordion>




<mat-card>

    <mat-card-title class="table-header" fxLayout="row" fxLayoutAlign="space-between center">

        <span>Legs</span>

        <div class="btn-section" fxLayout="row">

            <button mat-button type="button" style="background-color:rgb(45, 185, 26);"
                class="mat-raised-button table-btn" (click)="isDispatch ? onClickAddLeg() : null" #addButton>
                Add Leg
            </button>

            <button mat-button type="button" color="blue" class="mat-raised-button ml-xs table-btn no-focus"
                (click)="addButton.focus();onClickViewOrUpload()" [tooltip]="uploadedDocumentTemplate"
                [placement]="isDispatch ? 'right' : 'left'" theme="light" display-mobile="false" tooltip-class="tooltip"
                fxHide.xs fxShow.gt-xs>
                {{ isDocumentUploaded ? 'View/Upload Documents' : 'Upload Documents' }}
            </button>

            <button mat-button type="button" color="blue" class="mat-raised-button ml-xs table-btn no-focus"
                (click)="addButton.focus();onClickViewOrUpload()" [tooltip]="uploadedDocumentTemplate"
                [placement]="isDispatch ? 'right' : 'left'" theme="light" display-mobile="false" tooltip-class="tooltip"
                fxShow.xs fxHide.gt-xs fxFlex.xs="10%">
                <mat-icon class="size-20;"> {{ isDocumentUploaded ? 'visibility' : 'cloud_upload' }}</mat-icon>
            </button>

            <button mat-button [mat-menu-trigger-for]="moreOption" class="ml-xs" mat-raised-button table-btn
                color="primary" data-mat-toggle="dropdown" fxHide.xs fxShow.gt-xs *ngIf="isDispatch">
                More Options
                <mat-icon class="size-20;">expand_more</mat-icon>
            </button>

            <button mat-button [mat-menu-trigger-for]="moreOption" class="ml-xs" mat-raised-button table-btn
                color="primary" data-mat-toggle="dropdown" fxShow.xs fxHide.gt-xs fxFlex.xs="10%" *ngIf="isDispatch">
                <mat-icon class="size-20;">expand_more</mat-icon>
            </button>

            <mat-menu #moreOption="matMenu" class="opt-menu" x-position="before">

                <button mat-menu-item color="primary" (click)="isStreetTurn ? onClickStreetTurn() : null"
                    [disabled]="!isStreetTurn || selectedOrder.is_brokered === 1">
                    Street Turn
                </button>

                <button mat-menu-item color="primary" (click)="isBobtailTo ? onClickBobtailTo() : null"
                    [disabled]="!isBobtailTo">
                    Bobtail To
                </button>

                <button mat-menu-item color="primary" (click)="isHubEndOrder ? onClickToHub(false) : null"
                    [disabled]="!isHubEndOrder">
                    To Hub and End order
                </button>

                <button mat-menu-item color="primary" (click)="isHub ? onClickToHub(true) : null" [disabled]="!isHub">
                    To Hub
                </button>

                <button mat-menu-item color="primary" (click)="isBrokered ? onClickBrokered() : null"
                    [disabled]="!isBrokered">
                    Brokered
                </button>

            </mat-menu>

        </div>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <div class="table-container leg">

            <mat-table [dataSource]="legDatasource">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? legTableSelection.toggle(row) : null; onSelectCheckbox(row,$event,i)"
                            [checked]="legTableSelection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_number">
                    <mat-header-cell *matHeaderCellDef> Leg # </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span>{{row.leg_number}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_type">
                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span>{{row.leg_type}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="driver_name">
                    <mat-header-cell *matHeaderCellDef> Driver/Carrier </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index;">
                        <a class="hyperlink" *ngIf="!row.is_brokered && row.driver_name && isDispatch"
                            (click)="onClickDriverName(row)">
                            {{row.driver_name}}
                        </a>
                        <span *ngIf="!row.is_brokered && row.driver_name && !isDispatch">
                            {{row.driver_name}}
                        </span>
                        <span *ngIf="!row.is_brokered && !row.driver_name  && isDispatch">
                            <button style="width:7px ; height:7px" mat-raised-button mat-button-sm
                                class="table-action-btn" color="green" (click)="onClickAssignDriver(row,i)">
                                <mat-icon class="size-16" color="white">person_add</mat-icon>
                            </button>
                        </span>
                        <span *ngIf="!row.is_brokered && !row.driver_name && !isDispatch">
                            --
                        </span>
                        <span *ngIf="row.is_brokered">
                            {{ row.carrier_name }} (Carrier)
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deadline">
                    <mat-header-cell *matHeaderCellDef> Deadline </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">
                        <span *ngIf="row.deadline === null"> -- </span>
                        <span *ngIf="row.deadline !== null" [ngClass]="{'deadline-blink': row.isLeastTime}">
                            {{ row.deadline }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">

                        <button *ngIf="row.leg_status && isDispatch" mat-button-sm mat-raised-button
                            class="table-action-btn" [ngClass]="{'available':row.leg_status == 'Open',
                            'assigned':row.leg_status == 'Assigned',
                            'in-route':row.leg_status == 'Picked Up',
                            'delivered':row.leg_status == 'Delivered'}" [mat-menu-trigger-for]="status"
                            aria-expanded="false" data-mat-toggle="dropdown">
                            {{ row.leg_status }}
                            <mat-icon class="size-20;" color="white">expand_more</mat-icon>
                        </button>

                        <span *ngIf="row.leg_status && !isDispatch" [ngClass]="{'available':row.leg_status == 'Open',
                            'assigned':row.leg_status == 'Assigned',
                            'in-route':row.leg_status == 'Picked Up',
                            'delivered':row.leg_status == 'Delivered'}">
                            {{ row.leg_status }}
                        </span>

                        <mat-menu #status="matMenu" class="opt-menu" x-position="after">
                            <ng-container *ngFor="let status of statuses">
                                <button mat-menu-item *ngIf="row.leg_status !== status.label"
                                    (click)="onClickChangeStatus(row,status.label,i)"
                                    [disabled]="row.leg_status === 'Open' ? status.value !== 2 : 
                                     (row.leg_status === 'Assigned' ? 
                                     (row.is_brokered ? status.value !== 3 : (status.value !== 1 && status.value !== 3)) : 
                                     (row.leg_status === 'Picked Up' ? (status.value !== 2 && status.value !== 4) : status.value !== 3))">
                                    {{ status.label }}
                                </button>
                            </ng-container>
                        </mat-menu>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pu_name">
                    <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.pu_name === null"> -- </span>
                        <span *ngIf="row.pu_name !== null" [matTooltip]="row.pu_loc" [matTooltipClass]="'tooltip'"
                            style="cursor: pointer;">
                            {{ row.pu_name }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pickup_time">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="!row.pickup_time">
                            <span *ngIf="row.pu_time && row.pu_time_to">
                                {{ row.pu_time | date:'M/d/yy HH:mm' }}
                                ~
                                {{ row.pu_time_to | date:'M/d/yy HH:mm' }}
                            </span>
                            <span *ngIf="!row.pu_time || !row.pu_time_to">
                                --
                            </span>
                        </span>
                        <span *ngIf="row.pickup_time">
                            <span *ngIf="row.pu_time !== null && row.leg_type === 'Loaded'" [matTooltip]="selectedOrder.est_pickup_from_time ?
                             selectedOrder.est_pickup_from_time : null" [matTooltipClass]="'tooltip'">
                                {{ row.pickup_time | date:'M/d/yy HH:mm'}}
                            </span>
                            <span *ngIf="row.pu_time !== null && row.leg_type !== 'Loaded'">
                                {{ row.pickup_time | date:'M/d/yy HH:mm'}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dl_name">
                    <mat-header-cell *matHeaderCellDef> Delivery</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.dl_name === null"> -- </span>
                        <span *ngIf="row.dl_name !== null" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
                            style="cursor: pointer;">
                            {{ row.dl_name }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delivery_time">
                    <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="!row.delivery_time">
                            <span *ngIf="row.dl_time && row.dl_time_to">
                                {{ row.dl_time | date:'M/d/yy HH:mm' }}
                                ~
                                {{ row.dl_time_to | date:'M/d/yy HH:mm' }}
                            </span>
                            <span *ngIf="!row.dl_time || !row.dl_time_to">
                                --
                            </span>
                        </span>
                        <span *ngIf="row.delivery_time">
                            <span *ngIf="row.dl_time !== null && row.leg_type === 'Loaded'" [matTooltip]="selectedOrder.est_delivery_to_time ?
                             selectedOrder.est_delivery_to_time : null" [matTooltipClass]="'tooltip'">
                                {{ row.delivery_time | date:'M/d/yy HH:mm'}}
                            </span>
                            <span *ngIf="row.dl_time !== null && row.leg_type !== 'Loaded'">
                                {{ row.delivery_time | date:'M/d/yy HH:mm'}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="est_miles">
                    <mat-header-cell *matHeaderCellDef> Est. Miles </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.est_miles === null"> -- </span>
                        <span *ngIf="row.est_miles !== null ">
                            {{ row.est_miles }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dmg">
                    <mat-header-cell *matHeaderCellDef>
                        {{selectedOrder.order_type === 'Inbound Intermodal' ? 'LFD' : 'DMG'}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="selectedOrder.order_type !== 'Inbound Intermodal' && row.dmg === null"> -- </span>
                        <span *ngIf="selectedOrder.order_type !== 'Inbound Intermodal' && row.dmg !== null ">
                            {{ row.dmg }}
                        </span>
                        <span
                            *ngIf="selectedOrder.order_type === 'Inbound Intermodal' && (row.leg_type === 'Loaded' || row.leg_type === 'Empty')">
                            {{ selectedOrder.lfd_date ? (selectedOrder.lfd_date | date:'M/d/yy') : '--' }}
                        </span>
                        <span
                            *ngIf="selectedOrder.order_type === 'Inbound Intermodal' && row.leg_type !== 'Loaded' && row.leg_type !== 'Empty'">
                            --
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="container_number">
                    <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.container_number === null">--</span>
                        <span *ngIf="row.container_number !== null ">
                            {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
                            '--' : row.container_number }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chassis_number">
                    <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.chassis_number === null">--</span>
                        <span *ngIf="row.chassis_number !== null ">
                            {{ (row.leg_type === 'Bobtail' || selectedOrder?.order_type === 'Truck Move')
                            ? '--' : row.chassis_number }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">

                        <button [disabled]="row.leg_number === legCount"
                            [ngStyle]="{'background-color':row.leg_number === legCount ? editDisableColor : editEnableColor}"
                            mat-raised-button mat-button-sm class="table-action-btn"
                            (click)="row.leg_number === legCount ? null : onClickSortLeg(row,false,i + 1)"
                            matTooltip="Move Down">
                            <mat-icon class="size-16" color="white">arrow_downward</mat-icon>
                        </button>

                        <button [disabled]="row.leg_number === 1"
                            [ngStyle]="{'background-color':row.leg_number === 1 ? editDisableColor : editEnableColor}"
                            mat-raised-button mat-button-sm class="table-action-btn"
                            (click)="row.leg_number === 1 ? null : onClickSortLeg(row,true,i - 1)" matTooltip="Move Up">
                            <mat-icon class="size-16" color="white">arrow_upward</mat-icon>
                        </button>

                        <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                            (click)="onClickEditLeg(row)" *ngIf="isDispatch" matTooltip="Edit">
                            <mat-icon class="size-16" color="white">edit</mat-icon>
                        </button>

                        <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                            (click)="onClickDeleteLeg(row)" *ngIf="isDispatch" matTooltip="Delete">
                            <mat-icon class="size-16" color="white">close</mat-icon>
                        </button>

                        <button style="width:7px ; height:7px" mat-raised-button mat-button-sm class="table-action-btn"
                            color="primary" (click)="onClickPrintLoadsheet(row,false)" matTooltip="Print Loadsheet">
                            <mat-icon class="size-16" color="white">print</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="legColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: legColumns;">
                </mat-row>

            </mat-table>

        </div>

        <mat-paginator #legsPaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
        </mat-paginator>

    </mat-card-content>

</mat-card>

<app-notes #notes [orderContainerChassisId]="selectedOrder?.order_container_chassis_id"></app-notes>

<mat-card>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <span>
            Driver Notes
        </span>

        <button mat-icon-button style="background-color:rgb(45, 185, 26);" class="mat-raised-button table-btn"
            (click)="onClickAddDispatchDriverNotes()" *ngIf="!selectedOrder?.dispatch_driver_notes"
            matTooltip="Add Driver Notes">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">
        <mat-card *ngIf="selectedOrder?.driver_notes">

            <mat-card-title>
                <span class="notes-title">
                    {{ selectedOrder?.notes_created_by | titlecase }}
                </span>&nbsp;
                <span class="notes-sub-title">
                    {{ selectedOrder?.notes_created_on | date:'M/d/yy HH:mm ' }}
                </span>
            </mat-card-title>

            <mat-card-content>
                <span>
                    {{ selectedOrder?.driver_notes ? selectedOrder?.driver_notes : '--' }}
                </span>
            </mat-card-content>

        </mat-card>

        <mat-card *ngIf="selectedOrder?.dispatch_driver_notes">

            <mat-card-title fxLayoutAlign="space-between center">
                <span>
                    <span class="notes-title">
                        {{ selectedOrder?.driver_notes_created_by | titlecase }}
                    </span>&nbsp;
                    <span class="notes-sub-title">
                        {{ selectedOrder?.driver_notes_created_on | date:'M/d/yy HH:mm ' }}
                    </span>
                </span>

                <div>
                    <button mat-raised-button mat-button-sm class="table-action-btn"
                        [color]="!isDriverNotesEditable ? 'orange' : 'blue'"
                        (click)="!isDriverNotesEditable ? onClickEditDriverNotes() : onClickEditDriverNotesSave()"
                        [matTooltip]="!isDriverNotesEditable ? 'Edit' : 'Save'">
                        <mat-icon class="size-16" color="white">
                            {{ !isDriverNotesEditable ? 'edit' : 'save' }}
                        </mat-icon>
                    </button>

                    <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                        (click)="onClickEditDriverNotesCancel()" *ngIf="isDriverNotesEditable" matTooltip="Cancel">
                        <mat-icon class="size-16" color="white">close</mat-icon>
                    </button>
                </div>
            </mat-card-title>

            <mat-card-content class="mat-list__item">
                <span *ngIf="!isDriverNotesEditable">
                    {{ selectedOrder?.dispatch_driver_notes ? selectedOrder?.dispatch_driver_notes : '--' }}
                </span>
                <mat-form-field *ngIf="isDriverNotesEditable" style="width: 100%;">
                    <textarea [(ngModel)]="selectedOrder.dispatch_driver_notes" matInput matTextareaAutosize
                        matAutosizeMinRows="2">
                      </textarea>
                </mat-form-field>
            </mat-card-content>

        </mat-card>

        <mat-card *ngIf="isDispatchDriverNotesAdded">
            <mat-card-title fxLayoutAlign="space-between center">
                <span>
                    <span class="notes-title">
                        {{ driverNotesUserName | titlecase }}
                    </span>&nbsp;
                    <span class="notes-sub-title">
                        {{ driverNotesCreatedOn | date:'M/d/yy HH:mm ' }}
                    </span>
                </span>

                <div>
                    <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                        (click)="onClickSaveDispatchDriverNotes()" matTooltip="Save">
                        <mat-icon class="size-16" color="white">
                            save
                        </mat-icon>
                    </button>

                    <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                        (click)="onClickCancelDispatchDriverNotes()" matTooltip="Cancel">
                        <mat-icon class="size-16" color="white">close</mat-icon>
                    </button>
                </div>
            </mat-card-title>

            <mat-card-content class="mat-list__item">
                <mat-form-field style="width: 100%;">
                    <textarea [(ngModel)]="dispatchDriverNotes" matInput matTextareaAutosize matAutosizeMinRows="2">
                      </textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>

<mat-card>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

        <span>Order Charges</span>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <div class="table-container loaded-leg">

            <mat-table [dataSource]="loadedLegDatasource">

                <ng-container matColumnDef="leg_number">
                    <mat-header-cell *matHeaderCellDef> Leg # </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span> {{ row.leg_number }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_type">
                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span> {{ row.leg_type }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pu_name">
                    <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <address style="font-style: normal;">
                            {{ row.pu_name }}
                            <br *ngIf="row.pu_street"> <span *ngIf="row.pu_street">{{ row.pu_street }}</span>
                            <br> {{ row.pu_city }} {{ row.pu_state }} {{ row.pu_postal_code }}
                        </address>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dl_name">
                    <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <address style="font-style: normal;">
                            {{ row.dl_name }}
                            <br *ngIf="row.dl_street"> <span *ngIf="row.dl_street">{{ row.dl_street }}</span>
                            <br> {{ row.dl_city }} {{ row.dl_state }} {{ row.dl_postal_code }}
                        </address>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="est_miles">
                    <mat-header-cell *matHeaderCellDef> Miles </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.order_container_chassis_id == selectedLegId">
                            <input class="input-feild" [(ngModel)]="chargesInlineInput.miles">
                        </span>
                        <span *ngIf="row.order_container_chassis_id != selectedLegId">
                            {{ row.est_miles }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.order_container_chassis_id == selectedLegId">
                            <input class="input-feild" [(ngModel)]="chargesInlineInput.rate">
                        </span>
                        <span *ngIf="row.order_container_chassis_id != selectedLegId">
                            {{ loggedInUser?.role === 'Dispatch' ? 'Hidden for Dispatch' : (row.rate | currency) }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button mat-raised-button mat-button-sm class="table-action-btn"
                            [color]="row.order_container_chassis_id != selectedLegId ? 'orange' : 'blue'"
                            (click)="row.order_container_chassis_id != selectedLegId  ? onClickEditMilesAndRate(row) : onClickSaveMilesAndRate(row)"
                            [matTooltip]="row.order_container_chassis_id !== selectedLegId ? 'Edit' : 'Save'">
                            <mat-icon class="size-16" color="white">
                                {{ row.order_container_chassis_id != selectedLegId ? 'edit' : 'save' }}
                            </mat-icon>
                        </button>

                        <button *ngIf="row.order_container_chassis_id == selectedLegId" mat-raised-button mat-button-sm
                            class="table-action-btn" color="grey" (click)="selectedLegId = 0" matTooltip="Cancel">
                            <mat-icon class="size-16" color="white">close</mat-icon>
                        </button>

                    </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="loadedLegColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: loadedLegColumns;">
                </mat-row>

            </mat-table>

        </div>

    </mat-card-content>

</mat-card>

<mat-card>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

        <span>Accessorials</span>

        <button mat-button type="button" style="background-color:rgb(45, 185, 26);" class="mat-raised-button table-btn"
            (click)="onClickAddAccessoriesCharge()" *ngIf="isDispatch">
            Add Charges
        </button>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <div class="table-container accessories">

            <mat-table [dataSource]="accessoriesDatasource" class="table-accessories">

                <ng-container matColumnDef="accessories_name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.accessories_name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accessories_interval">
                    <mat-header-cell *matHeaderCellDef> Interval </mat-header-cell>>
                    <mat-cell *matCellDef="let row"> {{row.accessories_interval}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accessories_value">
                    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>>
                    <mat-cell *matCellDef="let row"> {{row.accessories_value}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention'">
                            Hidden for Dispatch
                        </span>
                        <span *ngIf="loggedInUser?.role === 'Dispatch' && row.accessories_name === 'Detention'">
                            {{ row.rate }}
                        </span>
                        <span *ngIf="loggedInUser?.role === 'Order Entry' || loggedInUser?.role === 'Admin' ||
                         loggedInUser?.role === 'Invoice' || loggedInUser?.role === 'Driver Pay'">
                            {{ row.rate }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button mat-raised-button mat-button-sm class="table-action-btn"
                            [disabled]="loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention'"
                            [ngStyle]="{'background-color': loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention' ? editDisableColor : editEnableColor}"
                            (click)="loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention' ? null : onClickEditAccessoriesCharge(row)"
                            *ngIf="isDispatch" matTooltip="Edit">
                            <mat-icon class="size-16" color="white">edit</mat-icon>
                        </button>

                        <button mat-raised-button mat-button-sm class="table-action-btn"
                            [disabled]="loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention'"
                            [ngStyle]="{'background-color': loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention' ? deleteDisableColor : deleteEnableColor}"
                            (click)="loggedInUser?.role === 'Dispatch' && row.accessories_name !== 'Detention' ? null : onClickDeleteAccessorialCharge(row.acc_charge_id)"
                            *ngIf="isDispatch" matTooltip="Delete">
                            <mat-icon class="size-16" color="white">close</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="accessoriesColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: accessoriesColumns;">
                </mat-row>

            </mat-table>

        </div>

        <mat-paginator #accessoriesPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
        </mat-paginator>

    </mat-card-content>

</mat-card>
