<mat-form-field
  [ngClass]="{'full-width':styleClass == 'w-95.xs-100','full-width-margin':styleClass == 'w-95.xs-100.margin'}">
  <mat-label>{{ label }}</mat-label>
  <input matInput type="text" required [formControl]="control" (blur)="isSame ? onChangeAddress(): null" [matAutocomplete]="bingAddressAuto">
  <mat-autocomplete #bingAddressAuto="matAutocomplete"
    (optionSelected)='onBingAddressOptionSelected($event.option.value)'>
    <mat-option *ngFor="let addressAuto of bingAddressAutoComplete" [value]="addressAuto">
      <span>{{ addressAuto }}</span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.errors?.required">
    Address is Required
  </mat-error>
</mat-form-field>