<form [formGroup]="attendenceForm" class="position" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
  cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>Edit Attendance</h2>

  <mat-dialog-content>

    <mat-form-field class="ml-xs mr-xs w-95 xs-100 select-height">
      <mat-label>Attendance Category</mat-label>
      <mat-select name="attendence_category" required formControlName="attendence_category">
        <mat-option *ngFor="let category of injectedData.categories" [value]="category.value">{{ category.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="ml-xs mr-xs w-95 xs-100">
      <mat-label>Notes</mat-label>
      <input matInput type="text" placeholder="Notes" formControlName="name">
    </mat-form-field>

    <mat-form-field class="ml-xs mr-xs w-95 xs-100">
      <mat-label>Date</mat-label>
      <mat-icon matSuffix [owlDateTimeTrigger]="date" style="cursor:pointer">calendar_today
      </mat-icon>
      <input matInput required placeholder="Date Time Range:" [style.width]="'350px'" formControlName="date"
        [selectMode]="'range'" [owlDateTimeTrigger]="date" [owlDateTime]="date">
      <owl-date-time [pickerType]="'calendar'" #date></owl-date-time>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" class="mat-raised-button table-btn" style="background-color: grey;color: white;"
      (click)="onCancel()">Cancel</button>
    <button mat-button type="button" style="background-color: green;" (click)="onSubmit()"
      class="mat-raised-button table-btn" [disabled]="!attendenceForm.valid">
      Save</button>
  </mat-dialog-actions>

</form>