span.matched {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}
span.not-matched {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #f33721;
  border-radius: 1px;
  color: #fff;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 8%;
  padding-left: 24px;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
}
