<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Chassis Invoice Reconciliation</span>
    <div>
      <input type="file" class="form-control" name="upload_document" id="photo" style="display:none;"
        (change)="onChange($event)" (click)="inputField.value = null" accept=".xlsx,.csv" #inputField>
      <button mat-button type="button" style="background-color:#00a7d0;color: white;" (click)="inputField.click()">
        Upload File To Reconcile
      </button>
    </div>
  </mat-card-title>

  <hr>

  <mat-card-content class=" mat-elevation-z8">

    <div class="table-container">

      <mat-table [dataSource]="chassisReconcilationDatasource">

        <!-- Serial Number Column -->
        <ng-container matColumnDef="s_no">
          <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index">
            <span>{{ (i+1) + currentIndex }}</span>
          </mat-cell>
        </ng-container>

        <!-- Chassis # Column -->
        <ng-container matColumnDef="chassis_number">
          <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.chassis_number}} </mat-cell>
        </ng-container>

        <!-- match Column -->
        <ng-container matColumnDef="match">
          <mat-header-cell *matHeaderCellDef> Match </mat-header-cell>
          <mat-cell *matCellDef="let row"> <span
              [ngClass]="{'matched':row.match == 'Y','not-matched':row.match == 'N'}"> {{row.match}} </span> </mat-cell>
        </ng-container>

        <!-- Days Billed Column -->
        <ng-container matColumnDef="days_billed">
          <mat-header-cell *matHeaderCellDef> Days Billed </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.days_billed}} </mat-cell>
        </ng-container>

        <!-- Days Dispatched Column -->
        <ng-container matColumnDef="days_dispatched">
          <mat-header-cell *matHeaderCellDef> Days Dispatched </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.days_dispatched }}
          </mat-cell>
        </ng-container>

        <!-- Days Variance -->
        <ng-container matColumnDef="days_variance">
          <mat-header-cell *matHeaderCellDef> Days Variance </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.days_variance }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="chassisReconcilationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: chassisReconcilationColumns;"></mat-row>
      </mat-table>

    </div>

    <mat-paginator #chassisReconcilationPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>