<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold">Containers to be invoiced</span>

    <div>
      <button mat-button type="button" style="background:rgb(45, 185, 26);" class="mat-raised-button table-btn"
        (click)="generateInvoice ? null : onClickGenerateInvoice()" [disabled]="generateInvoice">
        Generate Invoice
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class=" mat-elevation-z8">

    <div>

      <div class="settings-icon">
        <span class="hover-icon">
          <i (click)="onClickAddColumn()" matTooltip="Manage Columns" class="fa fa-cog" aria-hidden="true"
            style="font-size:1.25rem;margin-right:1.25rem"></i>
        </span>
      </div>

      <div class="table-container invoice-mgmt">

        <mat-table #invoiceTable [dataSource]="invoiceDatasource" matSort
          (matSortChange)="onSortDirectionChange($event)" cdkDropListGroup>

          <ng-container *ngFor="let column of invoiceRowColumns; let i = index" [matColumnDef]="column.field">

            <mat-header-cell *matHeaderCellDef (mousedown)="onResizeColumn($event, i)">

              <span *ngIf="column.field !== 'action' && column.field !== 'select'" mat-sort-header>
                {{ columnsLabel[column.field] }}
              </span>

              <span *ngIf="column.field === 'select'">
                <mat-checkbox (change)="$event ? invoiceMasterSelect($event) : null"
                  [checked]="invoiceSelection.hasValue() && isAllInvoiceSelected()"
                  [indeterminate]="invoiceSelection.hasValue() && !isAllInvoiceSelected()">
                </mat-checkbox>
              </span>

              <span *ngIf="column.field === 'action'">
                Action
              </span>

            </mat-header-cell>

            <mat-cell *matCellDef="let element;let i = index;">

              <span *ngIf="column.field === 'select'">
                <mat-checkbox *ngIf="element.is_invoice_generated === 0" (click)="$event.stopPropagation()"
                  (change)="$event ? invoiceSelection.toggle(element) : null;onSelectRow($event,element,i)"
                  [checked]="invoiceSelection.isSelected(element)">
                </mat-checkbox>
                <mat-checkbox *ngIf="element.is_invoice_generated === 1" [disabled]="true"></mat-checkbox>
              </span>

              <span *ngIf="column.field === 'order_sequence'">
                <a class="hyperlink" (click)="onClickOrderNumber(element)">
                  {{ element.order_sequence }}
                </a>
              </span>

              <span *ngIf="column.field === 'tags' && element.tags != null">
                <span class="tag-btn" *ngFor="let tag of element.tag_color | keyvalue;"
                  [style.backgroundColor]="tag.value">
                  {{ tag.key | titlecase }}
                </span>
              </span>

              <span *ngIf="column.field === 'hazmat_req' && element.hazmat_req != null">
                {{ element.hazmat_req === 1 ? 'Y' : 'N' }}
              </span>

              <span *ngIf="column.field === 'order_type'">
                <span *ngIf="element.order_type_color == null">
                  {{ element.order_type }}
                </span>
                <span
                  *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
                      && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                  [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
                  {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split(' ')[1].slice(0,1) }}
                </span>
                <span
                  *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                               && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
                  [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
                  {{element.order_type.slice(0,1) }}
                </span>
                <span
                  *ngIf="element.order_type_color != null && 
                              (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
                  [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
                  {{ element.format_order_type }}
                </span>
              </span>

              <span *ngIf="column.field === 'order_pickup_date'">
                <span *ngIf="element.order_pickup_date == null">
                  <span *ngIf="element.est_pickup_from_time !== null &&
                               element.est_pickup_to_time !== null">
                    {{ element.est_pickup_from_time | date:'shortDate' }}
                    ~
                    {{ element.est_pickup_to_time | date:'shortDate' }}
                  </span>
                  <span *ngIf="element.est_pickup_from_time === null &&
                               element.est_pickup_to_time === null">
                    --
                  </span>
                </span>
                <span *ngIf="element.order_pickup_date != null">
                  {{ element.order_pickup_date | date:'shortDate' }}
                </span>
              </span>

              <span *ngIf="column.field === 'dmg'">
                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
              </span>

              <span *ngIf="column.field === 'lfd_date'">
                {{ element.lfd_date ? (element.lfd_date | date:'shortDate') : '--' }}
              </span>

              <span *ngIf="column.field === 'eta'">
                {{ element.eta ? (element.eta | date:'shortDate') : '--' }}
              </span>

              <span *ngIf="column.field === 'order_pickup_time'">
                <span *ngIf="element.order_pickup_time == null">
                  <span *ngIf="element.est_pickup_from_time !== null &&
                              element.est_pickup_to_time !== null">
                    {{ element.est_pickup_from_time | date:'HH:mm' }}
                    ~ {{ element.est_pickup_to_time | date:'HH:mm' }}
                  </span>
                  <span *ngIf="element.est_pickup_from_time === null &&
                               element.est_pickup_to_time === null">
                    --
                  </span>
                </span>
                <span *ngIf="element.order_pickup_time != null">
                  {{ element.order_pickup_time | date:'HH:mm'}}
                </span>
              </span>

              <span *ngIf="column.field === 'order_pu_name' && element.order_pu_name != null">
                <span [matTooltip]="element.order_pu_loc" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                  {{ element.order_pu_name }}
                </span>
              </span>

              <span *ngIf="column.field === 'order_dl_name' && element.order_dl_name != null">
                <span [matTooltip]="element.order_dl_loc" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                  {{ element.order_dl_name }}
                </span>
              </span>

              <span *ngIf="column.field === 'order_delivery_date'">
                <span *ngIf="element.order_delivery_date == null">
                  <span *ngIf="element.est_delivery_from_time !== null &&
                               element.est_delivery_to_time !== null">
                    {{ element.est_delivery_from_time | date:'shortDate' }}
                    ~
                    {{ element.est_delivery_to_time | date:'shortDate' }}
                  </span>
                  <span *ngIf="element.est_delivery_from_time === null &&
                               element.est_delivery_to_time === null">
                    --
                  </span>
                </span>
                <span *ngIf="element.order_delivery_date != null">
                  {{ element.order_delivery_date | date:'shortDate' }}
                </span>
              </span>

              <span *ngIf="column.field === 'order_delivery_time'">

                <span *ngIf="element.order_delivery_date == null">

                  <span *ngIf="element.est_delivery_from_time !== null &&
                               element.est_delivery_to_time !== null">
                    {{ element.est_delivery_from_time | date:'HH:mm' }} ~
                    {{ element.est_delivery_to_time | date:'HH:mm' }}
                  </span>

                  <span *ngIf="element.est_delivery_from_time === null &&
                               element.est_delivery_to_time === null">
                    --
                  </span>

                </span>

                <span *ngIf="element.order_delivery_time != null">
                  {{ element.order_delivery_time | date:'HH:mm' }}
                </span>

              </span>

              <span *ngIf="column.field === 'order_status'">
                <span class="delivered">
                  {{element.order_status}}
                </span>
              </span>

              <span *ngIf="column.field === 'rail_cut' && element.rail_cut != null">
                {{ element.rail_cut | date: 'shortDate' }}
              </span>

              <span *ngIf="column.field === 'action'">
                <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                  (click)="onClickMoveToDispatch(element)">
                  <mat-icon class="size-16" color="white"> undo </mat-icon>
                </button>
              </span>

              <span *ngIf="column.field !== 'order_type' &&
                      column.field !== 'order_pickup_date' &&
                      column.field !== 'order_delivery_date' &&
                      column.field !== 'order_pickup_time' &&
                      column.field !== 'order_delivery_time' &&
                      column.field !== 'lfd_date' &&
                      column.field !== 'eta' &&
                      column.field !== 'dmg' &&
                      column.field !== 'action' &&
                      element[column.field] === null">
                --
              </span>

              <span *ngIf="column.field !== 'order_sequence' &&
                      column.field !== 'select' &&
                      column.field !== 'tags' &&
                      column.field !== 'order_pickup_date' &&
                      column.field !== 'order_delivery_date' &&
                      column.field !== 'order_pickup_time' &&
                      column.field !== 'order_delivery_time' &&
                      column.field !== 'order_pu_name' &&
                      column.field !== 'order_dl_name' &&
                      column.field !== 'order_status' &&
                      column.field !== 'rail_cut' &&
                      column.field !== 'action' &&
                      column.field !== 'order_type' &&
                      column.field !== 'lfd_date' &&
                      column.field !== 'eta' &&
                      column.field !== 'dmg' &&
                      column.field !== 'hazmat_req' &&
                      element[column.field] !== null">
                {{ element[column.field] }}
              </span>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="invoiceColumns">
          </mat-header-row>

          <mat-row *matRowDef="let row; columns: invoiceColumns;">
          </mat-row>

        </mat-table>
      </div>

    </div>

  </mat-card-content>

  <mat-paginator [length]="invoiceLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
    (page)="onChangePage($event)">
  </mat-paginator>

</mat-card>