<div class="position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

    <div class="drag-drop-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
            </path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>

    <h2 mat-dialog-title>Manage Columns</h2>

    <mat-dialog-content>
        <div cdkDropList class="example-list" (cdkDropListDropped)="onDragAndDropSort($event)">
            <div class="example-box" *ngFor="let column of listColumns;let i = index" cdkDrag
                (mouseenter)="onHoverMouseEnter(i)" (mouseleave)="onHoverMouseLeave(i)">
                <span [style.visibility]="(hideOrShowDragIcon[i] == true) ? 'visible': 'hidden'">
                    <mat-icon style="cursor: move;" cdkDragHandle>drag_indicator</mat-icon>
                </span>
                <span>
                    {{ column.label }}
                </span>
                <span>
                    <button mat-icon-button [matTooltip]="column.value == 'order_sequence' ? 'Locked' : 'Remove'"
                        (click)="column.value == 'order_sequence' ? null : onClickRemoveColumns(i,column)">
                        <mat-icon>
                            {{ column.value == 'order_sequence' ? 'lock' : 'close' }}
                        </mat-icon>
                    </button>
                </span>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions>

        <mat-form-field>
            <mat-label>Add Column</mat-label>
            <mat-select [formControl]="optionColumn" (selectionChange)="onSelectAddColumnOption($event)">
                <mat-option *ngFor="let option of addColumnOptions" [value]="option.value">
                    <span>{{ option.label }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-dialog-actions>

    <br>

    <mat-dialog-actions align="end">
        <button mat-button type="button" style="background-color:grey" class="mat-raised-button table-btn"
            (click)="onCancel()">Cancel</button> &nbsp;
        <button mat-button type="button" style="background-color:green" class="mat-raised-button table-btn"
            (click)="onClickSave()">Save</button>
    </mat-dialog-actions>

</div>