.mat-card {
  margin: 0;
}

.mat-dialog-container {
  padding: 0 !important;
}

.ul-class {
  display: flex;
  list-style-type: none;
  width: 100%;
  align-items: stretch; /* Default */
  justify-content: space-between;
}

li {
  display: block;
  flex: 0 1 auto; /* Default */
}

.mat-form-field {
  width: 100%;
}

.drag-icon {
  display: none;
}

span:nth-child(1) {
  width: 15% !important;
  float: left !important;
}
span:nth-child(2) {
  width: 70% !important;
  float: left !important;
}
span:nth-child(3) {
  width: 15% !important;
  float: left !important;
}
//
.example-list {
  width: 400px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 1px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 13px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
