.active {
    padding: 2px 4px;
    margin-right: 5px;
    background-color: #00a65a;
    border-radius: 3px;
    color: #fff;
}

.inactive {
    padding: 2px 4px;
    margin-right: 5px;
    background-color: #f31414;
    border-radius: 3px;
    color: #fff;
}

.mat-header-row {
    background-color: #f8e0ffec;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    flex: 0 0 20%;
}

mat-header-cell {
    display: flex;
    justify-content: left;
    color: rgba($color: #000000, $alpha: 0.87);
    font-size: 13px;
}

.mat-cell {
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 12px;
    justify-content: left;
}
