<div class="add-dailog position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>
    Import Customer
  </h2>

  <mat-dialog-content>

    <mat-form-field class="search">
      <input matInput type="text" placeholder="Search By Customer" [(ngModel)]="searchFilterValue"
        (keydown.enter)="onSearch()">
      <button mat-button matTooltip="Reset" *ngIf="searchFilterValue" matSuffix mat-icon-button aria-label="Clear"
        (click)="onClearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <button matTooltip="Search" mat-button *ngIf="searchFilterValue !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-table [dataSource]="quickbooksCustomerDatasource" matSort (matSortChange)="onSort($event)">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let row;let i = index;">
          <mat-checkbox (click)="$event.stopPropagation();"
            (change)="$event ? customerSelection.toggle(row) : null;onSelectRow(row,$event,i)"
            [checked]="checkSelectedCustomer.includes(row.Id) && !checkUnselectedCustomer.includes(row.Id)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DisplayName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.DisplayName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'active': element.Active,'inactive': !element.Active }">
            {{ element.Active ? 'Active' : 'InActive' }}
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="quickbooksCustomerColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: quickbooksCustomerColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 12]" (page)="onChangePage($event)"
      [length]="pageLength" showFirstLastButtons></mat-paginator>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
      (click)="onCancel()">Close</button>&nbsp;

    <button mat-button type="button" class="mat-raised-button table-btn"
      [ngStyle]="{'background-color': selectedCustomers && selectedCustomers.length ? enabledColor : disabledColor}"
      (click)="selectedCustomers && selectedCustomers.length ? onSubmit() : null"
      [disabled]="!(selectedCustomers && selectedCustomers.length)">
      Import
    </button>
  </mat-dialog-actions>

</div>