<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Container Management</span>
    <button type="button" mat-raised-button color="blue" (click)="onAddContainer()">
      Create New
    </button>
  </mat-card-title>
  <hr>

  <mat-card-content class="mat-elevation-z8">
    <div class="table-container">
      <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
        <mat-table [dataSource]="containerDatasource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="dummy">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="containerName">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="mr-xs w-85">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name" name="container_name"
                  [(ngModel)]="columnFilterValue.container_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="pickupAddress">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="mr-xs">
                <mat-label>Location Name</mat-label>
                <input matInput type="text" placeholder="Location Name" name="location_name"
                  [(ngModel)]="columnFilterValue.location_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="hireDehireAddress">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="mr-xs">
                <mat-label>Empty Pickup/Return Location</mat-label>
                <input matInput type="text" placeholder="Empty Pickup/Return Location" name="hire_location"
                  [(ngModel)]="columnFilterValue.hire_location">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="mail">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="mr-xs w-85">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="columnFilterValue.email">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="mr-xs w-85">
                <mat-label>Phone #</mat-label>
                <input matInput type="text" placeholder="Phone #" name="phone_number"
                  [(ngModel)]="columnFilterValue.phone_number">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="preferredChassisRental">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="mr-xs w-75 select-filter-header">
                <mat-label>PCR</mat-label>
                <mat-select name="preferred_chassis_rental" [(ngModel)]="columnFilterValue.preferred_chassis_rental"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option *ngFor="let chassisType of chassises" [value]="chassisType">{{ chassisType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>

          <!--ID Column -->
          <ng-container matColumnDef="container_id">
            <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
              <button type="button" mat-raised-button class="serial-btn"
                (click)="onClickSerialNo(row, (i+1)+currentPageIndex)">{{(i+1)+currentPageIndex}}
              </button>
            </mat-cell>
          </ng-container>

          <!-- name Column -->
          <ng-container matColumnDef="container_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.container_name}} </mat-cell>>
          </ng-container>

          <!-- pickup address Column -->
          <ng-container matColumnDef="location_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Location Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span [matTooltip]="element.address" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                {{ element.location_name }}
              </span>
            </mat-cell>
          </ng-container>

          <!-- Empty Pickup/Return location Column -->
          <ng-container matColumnDef="hire_location">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Empty Pickup/Return Location </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngFor="let item of element.hire_location | slice:0:1;" [matTooltip]="item.hireAddress"
                [matTooltipClass]="'tooltip'" style="cursor: pointer;">
                {{ item.hire_name }}
              </span> &nbsp;
              <span *ngIf="element.hire_location?.length > 1" class="tag-label" matTooltip="click to open popup"
                matTooltipPosition="right" matTooltipClass="allow-cr" (click)="openHireDehireLocation(element)">
                <mat-icon class="open-popup">more_horiz</mat-icon>
              </span>
            </mat-cell>
          </ng-container>

          <!-- email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.email" style="display: flex;align-items: center;">
                <span *ngFor="let item of element.email?.split(',') | slice:0:1;">
                  {{ item }}
                </span> &nbsp;
                <span *ngIf="element.email?.split(',').length > 1" class="tag-label" matTooltip="click to open popup"
                  matTooltipPosition="right" matTooltipClass="allow-cr" (click)="onClickOpenEmailLists(element)">
                  <mat-icon class="open-popup">more_horiz</mat-icon>
                </span>
              </span>

              <span *ngIf="!element.email">
                --
              </span>
            </mat-cell>
          </ng-container>

          <!-- phone number Column -->
          <ng-container matColumnDef="phone_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone # </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone_number}} </mat-cell>
          </ng-container>

          <!-- pcr Column -->
          <ng-container matColumnDef="preferred_chassis_rental">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Preferred Chassis Rental </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="per-btn" *ngFor="let item of row.preferred_chassis_rental | slice:0:2;">
                {{item}}</span>
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="grey"
                (click)="openPcr(row)" matTooltip="Click to open popup">
                <mat-icon class="size-16" color="white">more_horiz</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" mat-raised-button mat-button-sm class=" table-action-btn " color="orange"
                (click)="onEditContainer(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button type="button" mat-raised-button mat-button-sm class=" table-action-btn " style="background-color: red !important;"
                (click)="onDeleteContainer(row.container_id)" #tooltip="matTooltip" matTooltip="Delete"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="containerFilterHeaders"></mat-header-row>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </form>
    </div>
    <mat-paginator #paginator [length]="containerLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>