mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 5%;
  .serial-btn {
    padding: 0 5px;
    line-height: 30px;
    min-width: 30px !important;
  }
}

.mat-header-cell:nth-child(1) {
  padding-left: 13px;
}

.mat-cell:nth-child(1) {
  padding-left: 5px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 9%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 17%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 18%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 14%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 12%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 19%;
  .per-btn {
    padding: 3px 5px;
    margin-right: 6px;
    background-color: #00a65a;
    border-radius: 3px;
    color: #fff;
  }
  .per-btn-popup {
    padding: 0 5px;
    margin-right: 5px;
    background-color: #d2d6de;
    border-radius: 3px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
  }
  .per-btn-popup:hover {
    background-color: #9d9fa1;
  }
}

.mat-cell:nth-child(7) {
  display: block;
  padding: 5px 0;
}

mat-header-cell:last-of-type {
  padding-right: 0px;
}

.tag-label {
  font-size: 12px;
  cursor: pointer;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

mat-icon.open-popup {
  width: 16px;
  height: 16px;
  line-height: 36px;
  font-size: 16px;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.mat-cell mat-icon.size-16 {
  width: 15px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}
.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}
.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}
#cdk-overlay-1 {
  min-width: 580px !important;
  pointer-events: auto;
  font-size: 14px;
  top: 181.156px !important;
  left: 361.885px !important;
  transform: translateX(-44px);
}
.mat-cell a {
  text-decoration: underline;
}
.mat-cell a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.table-btn-rt {
  margin-right: 1rem !important;
}
.mat-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mat-header-row {
  background-color: #f8e0ffec;
}

.btn-adjustment {
  margin-bottom: 5px;
  margin-left: 5px;
}

.w-75 {
  width: 75%;
}

.w-85 {
  width: 85%;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }
}
