<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold">Unpaid Invoices</span>

    <div>
      <button mat-button type="button" style="background-color: red;" class="mat-raised-button table-btn"
        (click)="onClickReset('unpaid')" *ngIf="unpaidColumnFilter">
        Reset Filter
      </button>&nbsp;
      <button mat-button type="button" style="background-color:rgb(250, 123, 3);" class="mat-raised-button table-btn"
        (click)="onClickFilterColumns('unpaid')">
        Filter Columns
      </button>&nbsp;
      <button mat-button type="button" color="white" class="mat-raised-button table-btn"
        style="background:rgb(45, 185, 26);border-radius: 0;" (click)="onClickQuicbooksSync()">
        Quickbooks Sync
      </button>
      <button mat-button type="button" color="white" style="background:rgb(45, 185, 26);border-radius: 0;"
        class="mat-raised-button table-btn mr-1 more-option">
        <mat-icon class="size-20;" [mat-menu-trigger-for]="moreOption" data-mat-toggle="dropdown">
          more_vert
        </mat-icon>
      </button>
    </div>

  </mat-card-title>

  <mat-menu #moreOption="matMenu" class="opt-menu" x-position="before">

    <button mat-menu-item color="primary" (click)="onClickReconnectQuickbooks()">
      Reconnect Quickbooks
    </button>

  </mat-menu>

  <hr>

  <mat-card-content class="mat-elevation-z8">

    <div class="table-container">

      <mat-table class="unpaidInvoiceTable" [dataSource]="unpaidInvoiceDatasource" matSort
        (matSortChange)="onChangeSortDirection($event,'unpaid')">

        <ng-container matColumnDef="order_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.order_sequence }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="order_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Order Type</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.order_type_color == null">
              {{ element.order_type }}
            </span>
            <span
              *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
            && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
              ')[1].slice(0,1) }}
            </span>
            <span
              *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                     && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{element.order_type.slice(0,1) }}
            </span>
            <span
              *ngIf="element.order_type_color != null && 
                    (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{ element.format_order_type }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quickbook_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Quickbooks Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.quickbook_status"
              [ngClass]="{'partial':element.quickbook_status == 'Partial','unpaid':element.quickbook_status == 'Unpaid'}">
              {{ element.quickbook_status }}
            </span>
            <span *ngIf="!element.quickbook_status"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="business_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="!element.business_name">--</span>
            <a class="hyperlink" (click)="onClickCustomerName(element)">
              {{ element.business_name }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer_reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cust # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.customer_reference ? element.customer_reference : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="invoice_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="hyperlink" (click)="onClickInvoiceNumber(element)">
              {{ element.invoice_number }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.date ? (element.date | date:'shortDate') : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.total_amount | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Paid </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.paid | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="outstanding">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Outstanding </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.outstanding | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="write_off">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Write Off </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.write_off | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_of_payment">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Payment </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.date_of_payment ? (element.date_of_payment | date:'shortDate') : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="booking_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Booking # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.booking_number ? element.booking_number : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="container_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Container # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.container_number ? element.container_number : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button mat-button-sm type="button" class="table-action-btn" color="blue"
              (click)="onClickSendEmail(element)" matTooltip="Resend Invoice">
              <mat-icon class="size-16" color="white"> replay </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="unpaidInvoiceDataHeader"></mat-header-row>

        <mat-row *matRowDef="let row; columns: unpaidInvoiceDataHeader;">
        </mat-row>

      </mat-table>

    </div>

  </mat-card-content>

  <mat-paginator #unpaidInvoicePaginator [length]="unpaidPageLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    (page)="onChangeUnpaidInvoices($event)" showFirstLastButtons>
  </mat-paginator>

</mat-card>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<mat-card class="paid-invoice">

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold">Paid Invoices</span>

    <div>
      <button mat-button type="button" style="background-color: red;" class="mat-raised-button table-btn"
        (click)="onClickReset('paid')" *ngIf="paidColumnFilter">
        Reset Filter
      </button>&nbsp;
      <button mat-button type="button" style="background-color:rgb(250, 123, 3);" class="mat-raised-button table-btn"
        (click)="onClickFilterColumns('paid')">
        Filter Columns
      </button>
    </div>

  </mat-card-title>

  <hr>

  <mat-card-content class=" mat-elevation-z8">


    <div class="table-container">

      <mat-table class="paidInvoiceTable" [dataSource]="paidInvoiceDatasource" matSort
        (matSortChange)="onChangeSortDirection($event,'paid')">

        <ng-container matColumnDef="order_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.order_sequence }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="order_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Order Type</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.order_type_color == null">
              {{ element.order_type }}
            </span>
            <span
              *ngIf="element.order_type_color != null  && element.order_type.includes(' ')
            && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
              ')[1].slice(0,1) }}
            </span>
            <span
              *ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
                     && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{element.order_type.slice(0,1) }}
            </span>
            <span
              *ngIf="element.order_type_color != null && 
                    (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{ element.format_order_type }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quickbook_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Quickbooks Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.quickbook_status" [ngClass]="{'paid':element.quickbook_status == 'Paid'}">
              {{ element.quickbook_status }}
            </span>
            <span *ngIf="!element.quickbook_status"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="business_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="!element.business_name"> -- </span>
            <a class="hyperlink" (click)="onClickCustomerName(element)">
              {{ element.business_name }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer_reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cust # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.customer_reference ? element.customer_reference : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="invoice_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="hyperlink" (click)="onClickInvoiceNumber(element)">
              {{ element.invoice_number }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.date ? (element.date | date:'shortDate') : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.total_amount | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Paid </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.paid | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="outstanding">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Outstanding </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.outstanding | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="write_off">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Write Off </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.write_off | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payment_reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Payment # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.payment_reference ? element.payment_reference : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payment_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.payment_type ? element.payment_type : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_of_payment">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Payment </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.date_of_payment ? (element.date_of_payment | date:'shortDate') : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="booking_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Booking # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.booking_number ? element.booking_number : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="container_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Container # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.container_number ? element.container_number : '--' }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="paidInvoiceDataHeader"></mat-header-row>

        <mat-row *matRowDef="let row; columns: paidInvoiceDataHeader;">
        </mat-row>

      </mat-table>

    </div>

  </mat-card-content>

  <mat-paginator #paidInvoicePaginator [length]="paidPageLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    (page)="onChangePaidInvoices($event)" showFirstLastButtons>
  </mat-paginator>

</mat-card>