.mat-header-row {
  background-color: #f8e0ffec;
}

mat-row {
  margin: 0 !important;
}

.more-option {
  padding: 0 5px;
  line-height: 36px;
  min-width: 30px;
  color: white;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 8px;
}

.unpaidInvoiceTable {
  .mat-cell:nth-last-child(1),
  .mat-header-cell:nth-last-child(1) {
    flex: 0 0 4%;
  }
}

.paid {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

.partial {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.unpaid {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.hyperlink {
  color: #337ab7;
  cursor: pointer;
}

.hyperlink:hover {
  color: #3c8dbc;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 15px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 12px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }
}
