<div class="app search-i" [dir]="layoutDir"
  [ngClass]="[ menuLayout, selectedSidebarImage, selectedSidebarColor, selectedHeaderColor, collapsedClass]"
  [class.app-dark]="dark" [class.boxed]="boxed" [class.collapsed-sidebar]="collapseSidebar"
  [class.compact-sidebar]="compactSidebar" [class.bg-img-disable]="!sidebarBg">
  <mat-sidenav-container class="app-inner">

    <mat-sidenav #sidemenu class="sidebar-panel" id="sidebar-panel"
      [ngStyle]="{'background-image': 'url(../assets/images/bg-5.jpg)'}" [mode]="isOver() ? 'over' : 'side'"
      [opened]="!isOver()" (mouseover)="menuMouseOver()" (mouseout)="menuMouseOut()">
      <div class="side-nav">

        <div class="side-nav__item">

          <div class="user-pro-wrap">
            <div class="user-profile-thumb text-center">
              <div class="user-i">
                <div class="rad-full mb-1 user_img">
                  <img src="assets/images/default.png" class="mb-1" width="75" height="75" alt="">
                </div>
                <div>
                  <span>{{userName | titlecase}}</span>
                </div>
                <div>
                  <span style="font-size: smaller;">{{ role }}</span>
                </div>
              </div>
            </div>
          </div>

          <mat-nav-list appAccordion class="navigation relative">
            <mat-list-item appAccordionLink *ngFor="let menuitem of menu" routerLinkActive="active">
              <a appAccordionToggle class="relative" mat-ripple [routerLink]="['/', menuitem.state]"
                *ngIf="menuitem.type === 'link'">
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
              </a>
              <a appAccordionToggle class="relative" mat-ripple *ngIf="menuitem.type === 'sub'">
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
                <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
              </a>
              <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="active">
                  <a [routerLink]="(role === 'Driver' && childitem.state === 'driver-details') ? 
                  ['/', menuitem.state, childitem.state, 'driver-info'] : 
                  ['/', menuitem.state, childitem.state]" [queryParams]="(role === 'Driver' &&
                   childitem.state === 'driver-details') ?
                    {driverId: userDetails.driverId} : null" class="relative" mat-ripple>
                    {{ childitem.name }}
                  </a>
                </mat-list-item>
              </mat-nav-list>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-nav-list>

        </div>

        <div class="side-nav__item--footer">
          <span>v{{ version }}</span>
        </div>

      </div>

      <div class="bg-overlay" [ngStyle]="{'background-image': 'linear-gradient(58deg, #f44336, #673ab7)'}"></div>

    </mat-sidenav>

    <mat-toolbar class="main-header">
      <div class="vertical-menu w-100">
        <button (click)="menuToggleFunc()" mat-icon-button class="lines-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex></span>
        <button appToggleFullscreen mat-icon-button>
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button (click)="end.toggle();updateIsViewed()" mat-icon-button class="ml-xs overflow-visible">
          <mat-icon [matBadge]="notification !== 0 ? notification : null" matBadgeColor="warn">
            notifications
          </mat-icon>
        </button>
        <button [mat-menu-trigger-for]="user" mat-icon-button class="ml-xs">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #user="matMenu" class="opt-menu" x-position="before">
          <div mat-menu-item class="head-menu grad-blue">
            Settings
          </div>
          <button mat-menu-item (click)="redirectToreset()">
            <mat-icon>lock</mat-icon>
            Change Password
          </button>
          <button mat-menu-item (click)="redirectToLogin()">
            <mat-icon>exit_to_app</mat-icon>
            Sign Out
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <div class="body-container">
      <router-outlet></router-outlet>
    </div>

    <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="notification-header">
        <h3 class="ma-0">Notifications</h3>
        <mat-slide-toggle [checked]="notificationToggle" (change)="onChangeToggle($event)"></mat-slide-toggle>
      </div>
      <div class="scroll">

        <mat-list class="pt-1 pb-1">
          <mat-list-item>
            <div fxLayout="column">
              <h4 class="ma-0">{{ today | date:'EEEE' }}</h4>
              <h6 class="mat-text-muted ma-0">
                <span>{{ today | date:'dd' }}</span>&nbsp;<span>{{ today | date:'MMMM' }}</span>
              </h6>
            </div>
          </mat-list-item>
        </mat-list>

        <mat-nav-list>

          <mat-list-item *ngFor="let notification of notificationData" (click)="onClickNotification(notification,end)">
            <mat-icon mat-list-avatar [ngClass]="{'mat-text-accent': notification.styleClass === 'mat-text-accent',
            'mat-deep-purple': notification.styleClass === 'mat-deep-purple', 
            'mat-text-primary': notification.styleClass === 'mat-text-primary',
            'mat-text-warn': notification.styleClass === 'mat-text-warn'}">
              {{ notification.icon ? notification.icon : 'event_note' }}
            </mat-icon>
            <h4 mat-line>{{ notification.msg_content }}</h4>
            <span class="text-mat mat-text-muted" mat-line>{{ notification.date_time | date:'EEEE, MMMM d, y, HH:mm'
              }}</span>
          </mat-list-item>

        </mat-nav-list>

      </div>
    </mat-sidenav>

  </mat-sidenav-container>

</div>