:host /deep/ {
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

.notification-header {
  margin-top: 1rem;
  padding: 0 1rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .side-nav__item--footer {
    color: white;
    text-align: end;
    font-size: smaller;
    margin: 8px;
  }
}
