.available {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

.assigned {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.in-route {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

mat-table {
  width: 100%;
}

// mark {
//   background-color: #f8e0ffec;
//   color: black;
// }

// .section1 {
//   position: absolute;
//   top: auto;
//   width: 20px;
//   white-space: nowrap;
//   background-color: #fff;
//   margin-left: 0px;
//   backface-visibility: hidden;
// }

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

mat-row {
  margin: 0 !important;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

h2 {
  margin: 0;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: 700px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  .search {
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .mat-form-field-wrapper {
    // width: 100%;
    padding-bottom: 0 !important;
  }
}
