<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title>
    Assign Driver
  </h2>

  <mat-dialog-content>

    <mat-form-field class="search">
      <input matInput type="text" placeholder="Search By Driver Name" [(ngModel)]="searchFilterValue"
        (keydown.enter)="onSearch()">
      <button mat-button matTooltip="Reset" *ngIf="searchFilterValue" matSuffix mat-icon-button aria-label="Clear"
        (click)="onClearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button matTooltip="Search" *ngIf="searchFilterValue !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div class="table-container">

      <mat-table #driverDetailSort [dataSource]="driverDetailsDatasource" matSort
        (matSortChange)="onChangeSortDirection($event)">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-radio-button [checked]="selectedDriver?.driver_id === element.driver_id"
              (change)="onChangeRadioButton(element)">
            </mat-radio-button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="current_order">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Current Order </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.current_order != null">{{ element.current_order }}</span>
            <span *ngIf="element.current_order == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a>{{ element.driver_name | titlecase }} </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              [ngClass]="{'available':element.driver_status === 'Available','assigned':element.driver_status == 'Assigned','in-route':element.driver_status == 'In Route'}">
              {{ element.driver_status }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.driver_type != null">{{ element.driver_type }}</span>
            <span *ngIf="element.driver_type == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Shipper </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">{{ element.pu_name }}</span>
            <span *ngIf="element.pu_name == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Consignee </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.dl_name != null" [matTooltip]="element.dl_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">{{ element.dl_name }}</span>
            <span *ngIf="element.dl_name == null"> -- </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="driverDetailsColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: driverDetailsColumns;">
        </mat-row>
      </mat-table>
    </div>

    <mat-paginator #driverDetailPaginator [length]="pageLength" [pageSize]="5" [pageSizeOptions]="[3, 4, 5]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
      (click)="dialogRef.close()">Cancel</button>
    <button mat-button type="button" class="mat-raised-button table-btn"
      [ngStyle]="{'background-color': !selectedDriver ? disabledColor : enabledColor}"
      (click)="!selectedDriver ? null : onSubmit()" [disabled]="!selectedDriver">Assign</button>
  </mat-dialog-actions>

</div>