<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="routeRateForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title> {{ editMode ? 'Edit' : 'Add' }} {{ title }}</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs w-90 xs-100 select-filter-header">
        <mat-label>Route Format</mat-label>
        <mat-select placeholder="select" required formControlName="format_address"
          (selectionChange)="onSelectionChangeFormat($event)">
          <mat-option *ngFor="let formatType of formatTypes" [value]="formatType">
            {{ formatType }}
          </mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!routeRateForm.get('format_address')?.valid && (routeRateForm.get('format_address')?.dirty || routeRateForm.get('format_address')?.touched)">
          Route Format is Required
        </mat-error>
      </mat-form-field>

      <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=true
        label="Pickup Name" formControlName="pu_name" styleClass="w-45.xs-100.margin"
        (address)="routeRateForm.get('pickupAddress').setValue($event);onLocationChange()"
        (seletedLocationData)="onPickupSelectedLocation($event)" [isInitEmit]="isPickupInitEmit">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Pickup Address" isRequired="true" formControlName="pickupAddress"
        styleClass="w-45.xs-100.margin" (name)="routeRateForm.get('pu_name').setValue($event);onLocationChange()"
        (seletedLocationData)="onPickupSelectedLocation($event)">
      </app-midcities-address-autocomplete>

      <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=true
        label="Delivery Name" formControlName="delivery_name" styleClass="w-45.xs-100.margin"
        (address)="routeRateForm.get('deliveryAddress').setValue($event);onLocationChange()"
        (seletedLocationData)="onDeliverySelectedLocation($event)" [isInitEmit]="isDeliveryInitEmit">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Delivery Address" isRequired="true" formControlName="deliveryAddress"
        styleClass="w-45.xs-100.margin" (name)="routeRateForm.get('delivery_name').setValue($event);onLocationChange()"
        (seletedLocationData)="onDeliverySelectedLocation($event)">
      </app-midcities-address-autocomplete>
      <small *ngIf="routeRateForm.get('deliveryAddress').hasError('matched')" class="form-error-msg">
        Delivery address must not be same as Pickup address
      </small>

      <mat-form-field class="ml-xs mr-xs xs-100 select-filter-header"
        [ngClass]="{'w-30' : editMode,'w-45' : !editMode}">
        <mat-label>Order Type</mat-label>
        <mat-select placeholder="select" required formControlName="order_type">
          <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.value">{{ orderType.label }}</mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="!routeRateForm.get('order_type')?.valid && (routeRateForm.get('order_type')?.dirty || routeRateForm.get('order_type')?.touched)">
          Order Type is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100" *ngIf="editMode">
        <mat-label>Est. Miles</mat-label>
        <input matInput type="number" min=0 [required]="isMilesEditable" formControlName="distance">
        <button type="button" *ngIf="!isLocationChanged" mat-button matSuffix mat-icon-button aria-label="edit"
          (click)="isMilesEditable ? onClickDisableMiles() : onClickEnableMiles()">
          <mat-icon>{{ isMilesEditable ? 'close' : 'edit'}}</mat-icon>
        </button>
        <mat-error class="error-message"
          *ngIf="!routeRateForm.get('distance')?.valid && (routeRateForm.get('distance')?.dirty || routeRateForm.get('distance')?.touched)">
          {{ routeRateForm.controls.distance.hasError('pattern') ? 'Distance must be Positive Number' : 'Distance is Required' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs xs-100" [ngClass]="{'w-30' : editMode,'w-45':!editMode}">
        <mat-label>Enter Rate</mat-label>
        <input matInput type="number" min=0 required formControlName="rate">
        <mat-error class="error-message"
          *ngIf="!routeRateForm.get('rate')?.valid && (routeRateForm.get('rate')?.dirty || routeRateForm.get('rate')?.touched)">
          {{ routeRateForm.controls.rate.hasError('pattern') ? 'Rate must be Positive Number' : 'Rate is Required' }}
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!routeRateForm.valid">
        {{ editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>