.w-62 {
  width: 62%;
}

.w-90 {
  width: 92.5%;
}

.w-45 {
  width: 45%;
}

.w-45-drop {
  line-height: 2;
  width: 45%;
  .error-message {
    line-height: 1 !important;
  }
}

.w-30 {
  width: 30%;
}

.w-30-drop {
  line-height: 2;
  width: 30%;
  .error-message {
    line-height: 1 !important;
  }
}

h6 {
  margin: 8px 0;
}

.form-error-msg {
  color: #f44336;
  display: block;
  margin-left: 8px;
}

@media screen and (max-width: 599px) {
  .xs-100 {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .xs-100 {
    width: 100%;
    margin: 0 !important;
  }
}
