mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

mat-row .mat-cell {
  border-right: #eae8e8 thin 1px;
}

mat-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 8.3%;
  padding-left: 8px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 6.3%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 10%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 9%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 10%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 9%;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8) {
  flex: 0 0 4%;
}

.mat-cell:nth-child(9),
.mat-header-cell:nth-child(9) {
  flex: 0 0 9%;
}

.mat-cell:nth-child(10),
.mat-header-cell:nth-child(10) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(11),
.mat-header-cell:nth-child(11) {
  flex: 0 0 5.3%;
}

.mat-cell:nth-child(12),
.mat-header-cell:nth-child(12) {
  flex: 0 0 5.3%;
}

.mat-cell:nth-child(13),
.mat-header-cell:nth-child(13) {
  flex: 0 0 5.3%;
}

// .mat-cell:nth-child(14),
// .mat-header-cell:nth-child(14) {
//   flex: 0 0 5%;
// }

// .mat-cell:nth-child(15),
// .mat-header-cell:nth-child(15) {
//   flex: 0 0 5%;
// }

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

#cdk-overlay-1 {
  min-width: 580px !important;
  pointer-events: auto;
  font-size: 14px;
  top: 181.156px !important;
  left: 361.885px !important;
  transform: translateX(-44px);
}

.mat-card-title {
  button {
    margin-right: 5px;
  }
}

.mat-header-row {
  background-color: #f8e0ffec;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table__responsive-scroll {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 15px;
  }

  .driver-pay-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table__responsive-scroll {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 12px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
  }
  .table__responsive-scroll {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }
}
