<mat-card>

  <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center"
    fxLayoutAlign.xs="space-between stretch">
    <span style="font: bold">Driver Pay</span>
    <div class="driver-pay-mobile">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="filterDate"
          (dateChange)="onChangeDate()" (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <button mat-button *ngIf="filterDate" matSuffix mat-icon-button (click)="onClickClear()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> &nbsp;
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="searchValue" (keyup.enter)="onKeyupFilter($event.target.value)"
          placeholder="Search By Driver Name">
        <button mat-button matTooltip="Reset" *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
          (click)="onClearSearch()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button matTooltip="Search" *ngIf="searchValue !== ''" matSuffix mat-icon-button aria-label="Clear"
          (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>&nbsp;
      <button mat-button type="button" style="background-color:red;" class="mat-raised-button table-btn"
        (click)="onClickReset()" *ngIf="columnFilterEvent">
        Reset
      </button>
      <button mat-button type="button" style="background-color:rgb(250, 123, 3);" class="mat-raised-button table-btn"
        (click)="onClickDriverFilter()">
        Filter Columns
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table__responsive-scroll">

      <mat-table #driverPaySort [dataSource]="driverPayDatasource" matSort
        (matSortChange)="onChangeSortDirection($event)">

        <ng-container matColumnDef="driver_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.driver_name != null">{{ element.driver_name }}</span>
            <span *ngIf="element.driver_name == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="order_sequence">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.order_sequence != null">{{ element.order_sequence }}</span>
            <span *ngIf="element.order_sequence === null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leg_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Leg Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.leg_type != null">{{ element.leg_type }}</span>
            <span *ngIf="element.leg_type == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Pickup</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">{{ element.pu_name }}</span>
            <span *ngIf="element.pu_name == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.pu_time === null"> -- </span>
            <span *ngIf="row.pu_time !== null ">
              {{ row.pu_time | date:'M/d/yy HH:mm'}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.dl_name == null"> -- </span>
            <span *ngIf="row.dl_name != null" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;"> {{ row.dl_name }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.dl_time === null"> -- </span>
            <span *ngIf="row.dl_time !== null ">
              {{ row.dl_time | date:'M/d/yy HH:mm'}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="miles">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Miles </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.miles != null">{{ element.miles }}</span>
            <span *ngIf="element.miles == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="container_number">
          <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.container_number === null">--</span>
            <span *ngIf="row.container_number !== null ">
              {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
              '--' : row.container_number }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="chassis_number">
          <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.chassis_number === null">--</span>
            <span *ngIf="row.chassis_number !== null ">
              {{ (row.leg_type === 'Bobtail' || row.order_type === 'Truck Move') ? '--' : row.chassis_number }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_rate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Rate </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>
              $ {{ row.driver_rate }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_extra_charge">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Acc Charges </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>
              $ {{ row.driver_extra_charge }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_driver_rate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>
              $ {{ row.total_driver_rate }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_paid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Paid </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span [ngClass]="{'paid':element.is_paid == 1,'not-paid':element.is_paid == 0}">
              {{ (element.is_paid == 1) ? 'Yes' : 'No' }}
            </span>
            <span *ngIf="element.is_paid == null"> -- </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="driverPayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: driverPayColumns;">
        </mat-row>
      </mat-table>

    </div>

    <mat-paginator #driverPayPaginator [length]="pageLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
      (page)="onChangePage($event)" showFirstLastButtons>
    </mat-paginator>

  </mat-card-content>

</mat-card>