.full-width-margin {
  margin: 8px;
  width: 45%;
}

.w-100 {
  width: 100%;
}

.leg {
  margin: 8px;
  width: 58%;
}

.order {
  margin: 8px;
  width: 30%;
}

@media screen and (max-width: 599px) {
  .full-width-margin {
    width: 100%;
    margin: 0 !important;
  }

  .leg {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .leg {
    width: 100%;
    margin: 0 !important;
  }
}