<mat-form-field [ngClass]="{'full-width-margin':styleClass == 'w-45.xs-100.margin',
  'leg':styleClass == 'w-58.xs-100.margin',
  'order':styleClass == 'w-30.margin',
  'w-100':styleClass == 'w-100'}">
  <mat-label>{{ label }}</mat-label>
  <input matInput [required]="isRequired" type="text" (blur)="isSame ? onChangeAddress() : null" [formControl]="control"
    [matAutocomplete]="controlAuto">
  <mat-spinner matSuffix *ngIf="showLoading" mode="indeterminate" diameter="17"></mat-spinner>
  <mat-autocomplete #controlAuto="matAutocomplete" (optionSelected)='onOptionSelected($event.option.value)'>
    <mat-option *ngFor="let controlAuto of controlAutocomplete | async" [value]="controlAuto">
      <span>{{ controlAuto }}</span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.errors?.required">
    {{ label }} is Required
  </mat-error>
</mat-form-field>