<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title">User Management</span>
    <button mat-raised-button color="blue" (click)="onAddUser()">
      Create New
    </button>
  </mat-card-title>

  <mat-card-content class=" mat-elevation-z8">

    <div fxLayoutAlign="end center">
      <mat-form-field fxFlex="30%">
        <input matInput type="text" placeholder="Search" [(ngModel)]="searchFilterValue" (keydown.enter)="onSearch()">
        <button mat-button *ngIf="searchFilter" matTooltip="Reset" matSuffix mat-icon-button aria-label="Clear"
          (click)="onClearSearch()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button *ngIf="searchFilterValue !== ''" matTooltip="Search" matSuffix mat-icon-button
          aria-label="Clear" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="table-container">

      <mat-table [dataSource]="userDatasource" matSort (matSortChange)="onChangeSortDirection($event)">

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.first_name }} </mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.last_name}} </mat-cell>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
        </ng-container>

        <!-- Permission Column -->
        <ng-container matColumnDef="role_permissions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Permission </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span class="permission-btn" *ngFor="let permission of row.permissions.split(',') | slice:0:2;">
              {{ permission }}</span>
            <button mat-raised-button mat-button-sm class="table-action-btn" color="grey"
              (click)="onClickPermission(row)" matTooltip="Click to open popup">
              <mat-icon class="size-16" color="white">more_horiz</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Role Status -->
        <ng-container matColumnDef="user_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span [ngClass]="{'active': row.user_status == 'active','inactive':row.user_status == 'inactive'}">
              {{ row.user_status | titlecase }}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index">
            <button mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Quick View" color="grey"
              (click)="onClickSerialNo(row,(i+1) + currentPageIndex)">
              <mat-icon class="size-16" color="white">launch</mat-icon>
            </button>
            <button mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Resend Email" color="blue"
              (click)="onRefreshUser(row)">
              <mat-icon class="size-16" color="white">refresh</mat-icon>
            </button>
            <button mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Edit" color="orange"
              (click)="onEditUser(row)">
              <mat-icon class="size-16" color="white">edit</mat-icon>
            </button>
            <button mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Delete" style="background-color: red !important;"
              (click)="onDeleteUser(row)">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="userHeaderColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: userHeaderColumns;">
        </mat-row>
      </mat-table>
    </div>

    <mat-paginator #paginator [length]="usersLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>