<mat-card class="card" fxLayout="row" fxLayoutAlign="space-between start">

  <div class="card-container">

    <div class="card-item__multiple">

      <div class="card-title__item">

        <div class="align-title">

          <span class="title" style="margin-right: 20px;">
            Order # :{{ selectedOrder?.order_sequence }}
          </span>

          <button mat-raised-button mat-button-sm class="table-action-btn" color="orange" (click)="onClickEditOrder()"
            style="margin-top: 7px !important;" matTooltip="Edit Ref #" *ngIf="isInvoiceEdit && !isArchivedMode">
            <mat-icon class="size-16" color="white">edit</mat-icon>
          </button>

        </div>

        <span class="sub-title">
          Order Type : {{ selectedOrder?.order_type }}
        </span>

        <span class="sub-title">
          Customer : {{ selectedOrder?.business_name }}
        </span>

      </div>

      <div class="card-info__item">
        <span class="sub-title">
          Container Size : {{ selectedOrder?.container_size }}
        </span>

        <span class="sub-title">
          Weight : {{ selectedOrder?.weight }} lbs
        </span>

        <span class="sub-title">
          Created On : {{ selectedOrder?.created_on | date:'M/d/yy HH:mm' }}
        </span>
      </div>
    </div>

    <div class="card-item__tags">
      <div>Tags :</div>&nbsp;&nbsp;
      <mat-chip-list *ngIf="selectedOrder?.tag_color">
        <mat-chip *ngFor="let tag of selectedOrder?.tag_color | keyvalue;" style="color:white"
          [style.backgroundColor]="tag.value">
          {{ tag.key }}
        </mat-chip>
      </mat-chip-list>
      <span *ngIf="!selectedOrder?.tag_color">--</span>
    </div>
  </div>

</mat-card>


<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

    <span>Legs</span>

    <button mat-button type="button" color="blue" class="mat-raised-button table-btn"
      (click)="button.focus();onClickViewOrUpload()" [tooltip]="uploadedDocumentTemplate" placement="left" theme="light"
      display-mobile="false" tooltip-class="tooltip">
      {{ isDocumentUploaded ? 'View/Upload Documents' : 'Upload Documents' }}
    </button>

  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table-container leg">

      <mat-table [dataSource]="legDatasource">

        <ng-container matColumnDef="leg_number">
          <mat-header-cell *matHeaderCellDef> Leg # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>{{row.leg_number}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leg_type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>{{row.leg_type}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_name">
          <mat-header-cell *matHeaderCellDef> Driver/Carrier </mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">
            <span *ngIf="!row.is_brokered && row.driver_name">
              {{row.driver_name}}
            </span>
            <span *ngIf="!row.is_brokered && !row.driver_name">
              --
            </span>
            <span *ngIf="row.is_brokered">
              {{ row.carrier_name }} (Carrier)
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_name">
          <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.pu_name === null"> -- </span>
            <span *ngIf="row.pu_name !== null" [matTooltip]="row.pu_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">
              {{ row.pu_name }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_time">
          <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.pu_time === null"> -- </span>
            <span *ngIf="row.pu_time !== null && row.leg_type === 'Loaded'" [matTooltip]="selectedOrder.est_pickup_from_time ?
                             selectedOrder.est_pickup_from_time : null" [matTooltipClass]="'tooltip'">
              {{ row.pu_time | date:'M/d/yy HH:mm'}}
            </span>
            <span *ngIf="row.pu_time !== null && row.leg_type !== 'Loaded'">
              {{ row.pu_time | date:'M/d/yy HH:mm'}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_name">
          <mat-header-cell *matHeaderCellDef> Delivery </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.dl_name === null"> -- </span>
            <span *ngIf="row.dl_name !== null" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">
              {{ row.dl_name }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_time">
          <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.dl_time === null"> -- </span>
            <span *ngIf="row.dl_time !== null && row.leg_type === 'Loaded'" [matTooltip]="selectedOrder.est_delivery_to_time ?
                             selectedOrder.est_delivery_to_time : null" [matTooltipClass]="'tooltip'">
              {{ row.dl_time | date:'M/d/yy HH:mm'}}
            </span>
            <span *ngIf="row.dl_time !== null && row.leg_type !== 'Loaded'">
              {{ row.dl_time | date:'M/d/yy HH:mm'}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="est_miles">
          <mat-header-cell *matHeaderCellDef> Est. Miles </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.est_miles === null"> -- </span>
            <span *ngIf="row.est_miles !== null ">
              {{ row.est_miles }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dmg">
          <mat-header-cell *matHeaderCellDef> {{selectedOrder.order_type === 'Inbound Intermodal' ? 'LFD' : 'DMG'}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="selectedOrder.order_type !== 'Inbound Intermodal' && row.dmg === null"> -- </span>
            <span *ngIf="selectedOrder.order_type !== 'Inbound Intermodal' && row.dmg !== null ">
              {{ row.dmg }}
            </span>
            <span
              *ngIf="selectedOrder.order_type === 'Inbound Intermodal' && (row.leg_type === 'Loaded' || row.leg_type === 'Empty')">
              {{ selectedOrder.lfd_date ? (selectedOrder.lfd_date | date:'M/d/yy') : '--' }}
            </span>
            <span
              *ngIf="selectedOrder.order_type === 'Inbound Intermodal' && row.leg_type !== 'Loaded' && row.leg_type !== 'Empty'">
              --
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="container_number">
          <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.container_number === null">--</span>
            <span *ngIf="row.container_number !== null ">
              {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
              '--' : row.container_number }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="chassis_number">
          <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.chassis_number === null">--</span>
            <span *ngIf="row.chassis_number !== null ">
              {{ (row.leg_type === 'Bobtail' || selectedOrder?.order_type === 'Truck Move')
              ? '--' : row.chassis_number }}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">

            <button [disabled]="row.leg_number === legCount"
              [ngStyle]="{'background-color':row.leg_number === legCount ? disableColor : enableColor}"
              mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Move Down"
              (click)="row.leg_number === legCount ? null : onClickSortLeg(row,false)">
              <mat-icon class="size-16" color="white">arrow_downward</mat-icon>
            </button>

            <button [disabled]="row.leg_number === 1"
              [ngStyle]="{'background-color':row.leg_number === 1 ? disableColor : enableColor}" mat-raised-button
              mat-button-sm class="table-action-btn" (click)="row.leg_number === 1 ? null : onClickSortLeg(row,true)"
              matTooltip="Move Up">
              <mat-icon class="size-16" color="white">arrow_upward</mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
              (click)="onClickEditLeg(row)" matTooltip="Edit">
              <mat-icon class="size-16" color="white">edit</mat-icon>
            </button>

            <button style="width:7px ; height:7px" mat-raised-button mat-button-sm class="table-action-btn"
              color="primary" (click)="onClickPrintLoadsheet(row)" matTooltip="Print Loadsheet">
              <mat-icon class="size-16" color="white">print</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="legColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: legColumns;">
        </mat-row>

      </mat-table>

    </div>

    <mat-paginator #legsPaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
    </mat-paginator>

  </mat-card-content>

</mat-card>

<app-notes [orderContainerChassisId]="selectedOrder?.order_container_chassis_id"></app-notes>

<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

    <span>Order Charges</span>

    <button mat-button type="button" color="blue" class="mat-raised-button table-btn-rt"
      (click)="onClickCustomerPopup()" #button>
      Customer Info
    </button>

  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table-container loaded-leg">

      <mat-table [dataSource]="loadedLegDatasource">

        <ng-container matColumnDef="leg_number">
          <mat-header-cell *matHeaderCellDef> Leg # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span> {{ row.leg_number }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leg_type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span> {{ row.leg_type }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_name">
          <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <address style="font-style: normal;">
              {{ row.pu_name }}
              <br *ngIf="row.pu_street"> <span *ngIf="row.pu_street">{{ row.pu_street }}</span>
              <br> {{ row.pu_city }} {{ row.pu_state }} {{ row.pu_postal_code }}
            </address>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_name">
          <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <address style="font-style: normal;">
              {{ row.dl_name }}
              <br *ngIf="row.dl_street"> <span *ngIf="row.dl_street">{{ row.dl_street }}</span>
              <br> {{ row.dl_city }} {{ row.dl_state }} {{ row.dl_postal_code }}
            </address>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="est_miles">
          <mat-header-cell *matHeaderCellDef> Miles </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.order_container_chassis_id == selectedLegId">
              <input class="input-feild" [(ngModel)]="chargesInlineInput.miles">
            </span>
            <span *ngIf="row.order_container_chassis_id != selectedLegId">
              {{ row.est_miles }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rate">
          <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.order_container_chassis_id == selectedLegId">
              <input class="input-feild" [(ngModel)]="chargesInlineInput.rate">
            </span>
            <span *ngIf="row.order_container_chassis_id != selectedLegId">
              {{ row.rate | currency }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">

            <button mat-raised-button mat-button-sm class="table-action-btn"
              [color]="row.order_container_chassis_id != selectedLegId ? 'orange' : 'blue'"
              (click)="row.order_container_chassis_id != selectedLegId  ? onClickEditMilesAndRate(row) : onClickSaveMilesAndRate(row)"
              [matTooltip]="row.order_container_chassis_id !== selectedLegId ? 'Edit' : 'Save'">
              <mat-icon class="size-16" color="white">
                {{ row.order_container_chassis_id != selectedLegId ? 'edit' : 'save' }}
              </mat-icon>
            </button>

            <button *ngIf="row.order_container_chassis_id == selectedLegId" mat-raised-button mat-button-sm
              class="table-action-btn" color="grey" (click)="selectedLegId = 0" matTooltip="Cancel">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>

          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="loadedLegColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: loadedLegColumns;">
        </mat-row>

      </mat-table>

    </div>

  </mat-card-content>

</mat-card>


<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

    <span>Accessorial Charges</span>

    <button mat-icon-button style="background-color:#2196f3;" class="mat-raised-button table-btn-rt mr-1"
      (click)="onClickAddAccessoriesCharge()" *ngIf="!isArchivedMode" matTooltip="Add Charges">
      <mat-icon>add</mat-icon>
    </button>

  </mat-card-title>

  <mat-card-content class="mat-elevation-z8 accessories-charges">

    <mat-table [dataSource]="accessoriesDatasource" class="charge">

      <ng-container matColumnDef="accessories_name">
        <mat-header-cell *matHeaderCellDef> Charge </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.accessories_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rate">
        <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.rate | currency }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">

        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

        <mat-cell *matCellDef="let row">

          <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
            (click)="onClickEditAccessoriesCharge(row)" matTooltip="Edit">
            <mat-icon class="size-16" color="white">
              edit
            </mat-icon>
          </button>

          <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
            (click)="onClickDeleteAccessorialCharge(row.acc_charge_id)" matTooltip="Delete">
            <mat-icon class="size-16" color="white">close</mat-icon>
          </button>

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="accessoriesColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: accessoriesColumns;">
      </mat-row>

    </mat-table>

  </mat-card-content>

  <br>
  <br>

  <mat-card-title>
    Total Charges
  </mat-card-title>

  <mat-card-content class="mat-elevation-z8 total-charges">

    <mat-table [dataSource]="totalChargesDatasource" class="total">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Charge </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total_amount">
        <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.total_amount | currency }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef> Paid </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.paid ? (row.paid | currency) : '$0.00' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="outstanding">
        <mat-header-cell *matHeaderCellDef> Outstanding </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.paid ? ((row.total_amount - row.paid) | currency) : (row.total_amount | currency) }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="totalChargesColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: totalChargesColumns;">
      </mat-row>

    </mat-table>

    <br>
    <br>

    <button mat-raised-button style="color:white;background:green;" *ngIf="!isArchivedMode"
      (click)="onClickGenerateInvoice()">
      {{ selectedOrder?.is_invoice_generated == 0 ? 'Generate invoice' : 'Update invoice' }}
    </button>
  </mat-card-content>

</mat-card>