.customer-info__main-container {
  display: flex;
  flex-direction: row;

  .customer-info__item--profile {
    flex: 0 0 22%;

    .header-image {
      background-color: #c62828;
      font-size: 20px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      // background-size: cover;
    }

    .header-edit {
      position: absolute;
      right: 0;
    }

    .size-16 {
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 16px;
      color: #fff;
    }

    .mat-list__container {
      margin-top: 0;

      .mat-list__item {
        margin: 0.5rem 0;
        padding: 0.3rem 0;

        p {
          margin: 0;
        }

        p b {
          font-size: 0.8rem;
          color: rgba($color: #000000, $alpha: 0.87);
          font-weight: bold;
        }

        p span {
          font-size: 0.8rem;
          color: rgba($color: #000000, $alpha: 0.87);
        }

        p span a {
          font-size: 0.8rem;
          color: rgba($color: #0004ff, $alpha: 0.87);
        }
      }
    }
  }

  .customer-info__item--table {
    flex: 1 1 90%;

    mat-cell:first-child,
    mat-footer-cell:first-child,
    mat-header-cell:first-child {
      padding-left: 0px;
    }

    mat-row {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .mat-header-row {
      background-color: #f8e0ffec;
    }

    mat-header-cell {
      display: flex;
      justify-content: left;
      color: rgba($color: #000000, $alpha: 0.87);
      font-size: 13px;
    }

    .mat-header-cell {
      width: 10px;
      display: flex;
      justify-content: left;
      color: rgba($color: #000000, $alpha: 0.87);
      font-size: 13px;
    }

    .mat-header-cell,
    .mat-cell {
      padding-left: 4px;
      padding-right: 4px;
    }

    .mat-cell {
      color: rgba($color: #000000, $alpha: 0.75);
      font-size: 12px;
      justify-content: left;
    }

    .mat-cell mat-icon.size-16 {
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 16px;
      color: #fff;
    }

    .mat-raised-button {
      margin: 0 5px;
    }

    .customer-invoice-table {
      .mat-header-cell,
      .mat-cell {
        padding-left: 4px;
        padding-right: 4px;
      }

      .mat-cell:nth-last-child(1),
      .mat-header-cell:nth-last-child(1) {
        flex: 0 0 4%;
      }
    }

    .customer-route-rate {
      .mat-cell:nth-child(1),
      .mat-header-cell:nth-child(1) {
        flex: 0 0 4%;
        padding-left: 8px;
      }

      .mat-cell:nth-child(2),
      .mat-header-cell:nth-child(2) {
        flex: 0 0 20%;
      }

      .mat-cell:nth-child(3),
      .mat-header-cell:nth-child(3) {
        flex: 0 0 20%;
      }

      .mat-cell:nth-child(4),
      .mat-header-cell:nth-child(4) {
        flex: 0 0 15%;
      }

      .mat-cell:nth-child(5),
      .mat-header-cell:nth-child(5) {
        flex: 0 0 15%;
      }

      .mat-cell:nth-child(6),
      .mat-header-cell:nth-child(6) {
        flex: 0 0 8%;
      }
    }

    .customer-accessories {
      .mat-cell:nth-child(1),
      .mat-header-cell:nth-child(1) {
        flex: 0 0 22%;
        padding-left: 8px;
      }
      .mat-cell:nth-child(2),
      .mat-header-cell:nth-child(2) {
        flex: 0 0 17%;
      }
      .mat-cell:nth-child(3),
      .mat-header-cell:nth-child(3) {
        flex: 0 0 15%;
      }
      .mat-cell:nth-child(4),
      .mat-header-cell:nth-child(4) {
        flex: 0 0 25%;
      }
      .mat-cell:nth-child(5),
      .mat-header-cell:nth-child(5) {
        flex: 0 0 10%;
      }
      .mat-cell:nth-child(6),
      .mat-header-cell:nth-child(6) {
        flex: 0 0 12%;
      }
    }
  }

  .hyperlink {
    color: #337ab7;
    cursor: pointer;
  }

  .hyperlink:hover {
    color: #3c8dbc;
    cursor: pointer;
    text-decoration: underline;
  }
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content !important;
  }

  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  mat-header-cell {
    width: 125px !important;
    text-align: left;
  }

  .customer-info__main-container {
    flex-direction: column;

    .customer-info__item--profile {
      flex: 0 0 100%;
    }

    .customer-info__item--table {
      flex: 0 0 100%;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: 200%;
  }

  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}
