<div class="customer-info__main-container">

	<div class="customer-info__item--profile">

		<mat-card>

			<mat-card-header>

				<div mat-card-avatar class="header-image">
					{{ selectedCustomer?.business_name | slice:0:1 | uppercase}}
				</div>

				<mat-card-title>
					{{ selectedCustomer?.business_name }}
				</mat-card-title>

				<mat-card-subtitle>
					{{ selectedCustomer?.is_active ? 'Active' : 'Inactive' }}
				</mat-card-subtitle>

				<div class="header-edit">
					<button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
						*ngIf="selectedCustomer?.is_active" matTooltip="Edit" (click)="onClickEditCustomer()">
						<mat-icon class="size-16" color="white">
							edit
						</mat-icon>
					</button>
					<button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
						*ngIf="selectedCustomer?.is_active"
						[matTooltip]="isDocumentUploaded ? 'View/Upload Docs' : 'Upload Docs'"
						(click)="onClickUploadDocuments()">
						<mat-icon class="size-16" color="white">
							{{ isDocumentUploaded ? 'visibility' : 'cloud_upload'}}
						</mat-icon>
					</button>
				</div>


			</mat-card-header>

			<mat-card-content class="mat-list__container mat-elevation-z8">

				<div class="mat-list__item">
					<p matLine fxLayoutAlign="space-between center">
						<strong> Customer ID </strong>
						<span> {{ selectedCustomer?.customer_id }} </span>
					</p>
				</div>

				<mat-divider></mat-divider>

				<div class="mat-list__item">
					<p matLine fxLayoutAlign="space-between center">
						<strong> PoC Phone: </strong>
						<span>
							{{ pocPhoneValue !== null ? pocPhoneValue : '--' }}
						</span>
					</p>
				</div>

				<mat-divider></mat-divider>

				<div class="mat-list__item">
					<p matLine fxLayoutAlign="space-between center">
						<strong> Business Phone: </strong>
						<span>
							<a *ngIf="selectedCustomer?.business_phone !== null && selectedCustomer?.business_phone !== ''"
								class="hyperlink" [href]="'tel:' + selectedCustomer?.business_phone">
								{{ selectedCustomer?.business_phone }}
							</a>
							<span
								*ngIf="selectedCustomer?.business_phone === null || selectedCustomer?.business_phone === ''">
								--
							</span>
						</span>
					</p>
				</div>

				<mat-divider></mat-divider>

				<div class="mat-list__item">
					<p matLine fxLayoutAlign="space-between center">
						<strong> FAX Number: </strong>
						<span>
							{{ selectedCustomer?.fax !== null ? selectedCustomer?.fax : '--' }}
						</span>
					</p>
				</div>

				<mat-divider></mat-divider>

				<div class="mat-list__item">
					<p matLine fxLayoutAlign="space-between center">
						<strong> Email </strong>
						<span style="white-space: pre-line;">
							{{ emailValue && emailValue.split(',').length > 1 ?
							emailValue.split(',').join('\n') : emailValue }}
						</span>
					</p>
				</div>

				<mat-divider></mat-divider>

				<div class="mat-list__item">
					<p matLine fxLayout="column" fxLayoutAlign="space-between start">
						<strong fxLayoutAlign="start center">
							<i class="material-icons" aria-hidden="true" style="font-size:18px"> place </i>
							Billing Location
						</strong>
						<span>
							{{ selectedCustomer?.b_address !== null ? selectedCustomer?.b_address : '--' }}
						</span>
					</p>
				</div>

				<div class="mat-list__item">
					<p matLine fxLayout="column" fxLayoutAlign="space-between start">
						<strong fxLayoutAlign="start center">
							<i class="material-icons" aria-hidden="true" style="font-size:18px"> location_on </i>
							Physical Location
						</strong>
						<span>
							{{ selectedCustomer?.p_address !== null ? selectedCustomer?.p_address : '--'}}
						</span>
					</p>
				</div>

				<mat-divider></mat-divider>

				<div fxLayoutAlign="space-between center">
					<span>
						<i class="fa fa-file-text-o" aria-hidden="true" style="font-size:17px;font-weight: bold;"></i>
						&nbsp;
						Customer Notes
					</span>
				</div>

				<div class="mat-list__item">
					<p matLine fxLayoutAlign="space-between center">
						<span>
							{{ selectedCustomer?.customer_notes ? selectedCustomer?.customer_notes : '--' }}
						</span>
					</p>
				</div>

			</mat-card-content>

		</mat-card>

	</div>

	<div class="customer-info__item--table">

		<mat-card class="customer-invoice-table">

			<mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
				<span style="font: bold">Customer Specific Invoices</span>

				<div>
					<button mat-button type="button" style="background-color: red;" class="mat-raised-button table-btn"
						(click)="onClickReset()" *ngIf="isInvoiceFilterEnabled">
						Reset Filter
					</button>&nbsp;
					<button mat-button type="button" style="background-color:rgb(250, 123, 3);"
						class="mat-raised-button table-btn" (click)="onClickFilterColumns()">
						Filter Columns
					</button>
				</div>

			</mat-card-title>

			<mat-card-content class="mat-elevation-z8">

				<div class="table-container">

					<mat-table class="unpaidInvoiceTable" [dataSource]="customerInvoiceDatasource" matSort
						(matSortChange)="onChangeInvoiceSortDirection($event)">

						<ng-container matColumnDef="order_type">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Order Type</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span *ngIf="element.order_type_color == null">
									{{ element.order_type }}
								</span>
								<span
									*ngIf="element.order_type_color != null  && element.order_type.includes(' ')
							  && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
									[style.backgroundColor]="element.order_type_color"
									style="color: white;padding: 1px 5px;">
									{{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split('
									')[1].slice(0,1) }}
								</span>
								<span
									*ngIf="element.order_type_color != null  && !element.order_type.includes(' ') 
									   && element.order_type !== 'One Way Empty - Intermodal' && element.order_type !== 'One Way Loaded - Intermodal'"
									[style.backgroundColor]="element.order_type_color"
									style="color: white;padding: 1px 5px;">
									{{element.order_type.slice(0,1) }}
								</span>
								<span
									*ngIf="element.order_type_color != null && 
									  (element.order_type === 'One Way Empty - Intermodal' || element.order_type === 'One Way Loaded - Intermodal')"
									[style.backgroundColor]="element.order_type_color"
									style="color: white;padding: 1px 5px;">
									{{ element.format_order_type }}
								</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="customer_reference">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Cust Ref # </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.customer_reference ? element.customer_reference : '--' }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="invoice_number">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Invoice # </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<a (click)="onClickInvoiceNumber(element)">
									{{ element.invoice_number }}
								</a>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.date ? (element.date | date:'shortDate') : '--' }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.total_amount | currency }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="paid">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Paid </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.paid | currency }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="outstanding">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Outstanding </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.outstanding | currency }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="write_off">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Write Off </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.write_off | currency }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="date_of_payment">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Date of Payment </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.date_of_payment ? (element.date_of_payment | date:'shortDate') : '--' }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="booking_number">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Booking # </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.booking_number ? element.booking_number : '--' }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="container_number">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Container # </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.container_number ? element.container_number : '--' }}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<button mat-raised-button mat-button-sm type="button" class="table-action-btn"
									color="blue" (click)="onClickSendEmail(element)" matTooltip="Resend Invoice">
									<mat-icon class="size-16" color="white"> replay </mat-icon>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="customerInvoiceColumns"></mat-header-row>

						<mat-row *matRowDef="let row; columns: customerInvoiceColumns;">
						</mat-row>

					</mat-table>
				</div>

				<mat-paginator #customerInvoicePaginator [length]="customerInvoicePageLength" [pageSize]="5"
					[pageSizeOptions]="[5, 10, 20]" (page)="onChangeCustomerInvoicePage($event)" showFirstLastButtons>
				</mat-paginator>

			</mat-card-content>

		</mat-card>

		<mat-card class="customer-route-rate">

			<mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
				<span>Customer Specific Rates</span>
				<div>
					<button mat-button type="button" style="background-color:rgb(250, 123, 3);margin-right: 0"
						class="mat-raised-button table-btn"
						(click)="selectedCustomer?.is_active ? (isBulkUpdateEnabled ? onClickBulkUpdate() : null ) : null"
						[disabled]="selectedCustomer?.is_active ? !isBulkUpdateEnabled : true" fxFlex=50%>
						Bulk Update
					</button>
					<button mat-button type="button" color="blue" class="mat-raised-button table-btn"
						(click)="selectedCustomer?.is_active ? onClickAddCustomerSpecificRate() : null" fxFlex=50%
						[disabled]="!selectedCustomer?.is_active">
						Create New
					</button>
				</div>
			</mat-card-title>

			<mat-card-content class="mat-elevation-z8">

				<form (ngSubmit)="onClickRatesColumnFilter()">

					<div class="table-container">

						<mat-table #customerSpecificRouteRate [dataSource]="customerSpecificRouteRateDataSource" matSort
							(matSortChange)="onChangeSortDirection($event)">

							<ng-container matColumnDef="dummy">
								<mat-header-cell *matHeaderCellDef>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="pickup">
								<mat-header-cell *matHeaderCellDef>
									<mat-form-field fxFlex=90>
										<mat-label>Pickup</mat-label>
										<input matInput type="text" name="pu_name"
											[(ngModel)]="ratesColumnFilterValue.pu_name">
									</mat-form-field>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="delivery">
								<mat-header-cell *matHeaderCellDef>
									<mat-form-field fxFlex=90>
										<mat-label>Delivery</mat-label>
										<input matInput type="text" name="dl_name"
											[(ngModel)]="ratesColumnFilterValue.dl_name">
									</mat-form-field>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="formatType">
								<mat-header-cell *matHeaderCellDef>
									<mat-form-field fxFlex=90 class="select-filter-header">
										<mat-label>Route Format</mat-label>
										<mat-select name="format_address" (selectionChange)="onClickRatesColumnFilter()"
											[(ngModel)]="ratesColumnFilterValue.format_address">
											<mat-option *ngFor="let formatType of formatTypes" [value]="formatType">
												{{ formatType }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="orderType">
								<mat-header-cell *matHeaderCellDef>
									<mat-form-field fxFlex=90 class="select-filter-header">
										<mat-label>OrderType</mat-label>
										<mat-select name="order_type" (selectionChange)="onClickRatesColumnFilter()"
											[(ngModel)]="ratesColumnFilterValue.order_type">
											<mat-option *ngFor="let orderType of orderTypes" [value]="orderType.label">
												{{ orderType.label }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="miles">
								<mat-header-cell *matHeaderCellDef>
									<mat-form-field fxFlex=90>
										<mat-label>Miles</mat-label>
										<input matInput type="text" name="distance"
											[(ngModel)]="ratesColumnFilterValue.distance">
									</mat-form-field>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="rateFilter">
								<mat-header-cell *matHeaderCellDef>
									<mat-form-field fxFlex=90>
										<mat-label>Rates</mat-label>
										<input matInput type="text" name="rate"
											[(ngModel)]="ratesColumnFilterValue.rate">
									</mat-form-field>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="icon">
								<mat-header-cell *matHeaderCellDef>
									<div fxLayout="row">
										<button type="submit" matTooltip="Search" mat-button mat-icon-button
											class="filter-button">
											<mat-icon>search</mat-icon>
										</button>
										<button type="button" matTooltip="Reset" mat-button mat-icon-button
											class="filter-button" *ngIf="isRouteRatesFilterEnabled"
											(click)="onClickResetRouteRatesColumnFilter()">
											<mat-icon>close</mat-icon>
										</button>
									</div>
								</mat-header-cell>
							</ng-container>

							<ng-container matColumnDef="select">
								<mat-header-cell *matHeaderCellDef>
									<mat-checkbox (change)="$event ? customerRouteRateSelectMaster() : null"
										[checked]="customerRouteRateSelection.hasValue() && isAllCustomerRouteRateSelected()"
										[indeterminate]="customerRouteRateSelection.hasValue() && !isAllCustomerRouteRateSelected()">
									</mat-checkbox>
								</mat-header-cell>
								<mat-cell *matCellDef="let row">
									<mat-checkbox (click)="$event.stopPropagation()"
										(change)="$event ? customerRouteRateSelection.toggle(row) : null;onSelectCustomerRouteRate(row,$event)"
										[checked]="customerRouteRateSelection.isSelected(row)">
									</mat-checkbox>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="pu_name">
								<mat-header-cell *matHeaderCellDef mat-sort-header> PickUp </mat-header-cell>
								<mat-cell *matCellDef="let row">
									<span [matTooltip]="row.start_loc" [matTooltipClass]="'tooltip'"
										style="cursor: pointer;">
										{{ row.pu_name }}
									</span>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="dl_name">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
								<mat-cell *matCellDef="let row">
									<span [matTooltip]="row.des_loc" [matTooltipClass]="'tooltip'"
										style="cursor: pointer;">
										{{ row.dl_name }}
									</span>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="format_address">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Route Format </mat-header-cell>
								<mat-cell *matCellDef="let row">{{ row.format_address }} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="order_type">
								<mat-header-cell *matHeaderCellDef mat-sort-header> OrderType </mat-header-cell>
								<mat-cell *matCellDef="let row">{{ row.order_type }} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="distance">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Miles </mat-header-cell>
								<mat-cell *matCellDef="let row"> {{ row.distance }} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="rate">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
								<mat-cell *matCellDef="let row"> {{ row.rate }} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="action">
								<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
								<mat-cell *matCellDef="let row">
									<button mat-raised-button mat-button-sm type="button" class="table-action-btn"
										color="orange"
										(click)="selectedCustomer?.is_active ? onClickEditCustomerSpecificRate(row) : null"
										[disabled]="!selectedCustomer?.is_active" matTooltip="Edit">
										<mat-icon class="size-16" color="white">edit</mat-icon>
									</button>
									<button mat-raised-button mat-button-sm type="button" class="table-action-btn"
										color="red" (click)="onClickDeleteCustomerSpecificRate(row.route_rate_id)"
										[disabled]="!selectedCustomer?.is_active" matTooltip="Delete">
										<mat-icon class="size-16" color="white">close</mat-icon>
									</button>
								</mat-cell>

							</ng-container>

							<mat-header-row *matHeaderRowDef="customerSpecificRouteRateFilterHeader"></mat-header-row>
							<mat-header-row *matHeaderRowDef="customerSpecificRouteRateColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: customerSpecificRouteRateColumns;">
							</mat-row>

						</mat-table>

					</div>

				</form>

				<mat-paginator #customerSpecificRouteRatePaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
					showFirstLastButtons>
				</mat-paginator>

			</mat-card-content>

		</mat-card>

		<mat-card class="customer-accessories">

			<mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

				<span>Accessorial Charges</span>

				<button mat-raised-button color="blue"
					(click)="selectedCustomer?.is_active ? onClickAddAccessoriesCharge() : null"
					[disabled]="!selectedCustomer?.is_active">
					Create New
				</button>

			</mat-card-title>

			<mat-card-content class=" mat-elevation-z8">

				<div class="table-container">

					<mat-table #customerAccessoriesSort [dataSource]="customerAccessoriesDatasource" matSort>

						<ng-container matColumnDef="accessories_name">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.accessories_name}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="accessories_interval">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Interval </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.accessories_interval}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="accessories_value">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.accessories_value}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="description">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="rate">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{ row.rate }} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button mat-raised-button mat-button-sm type="button" class="table-action-btn"
									color="orange"
									(click)="selectedCustomer?.is_active ? onClickEditAccessoriesCharge(row) : null"
									[disabled]="!selectedCustomer?.is_active" matTooltip="Edit">
									<mat-icon class="size-16" color="white">edit</mat-icon>
								</button>
								<button mat-raised-button mat-button-sm type="button" class="table-action-btn"
									color="red" (click)="onClickDeleteAccessoriesCharge(row.acc_charge_id)"
									[disabled]="!selectedCustomer?.is_active" matTooltip="Delete">
									<mat-icon class="size-16" color="white">close</mat-icon>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="customerAccessoriesColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: customerAccessoriesColumns;">
						</mat-row>

					</mat-table>

				</div>

				<mat-paginator #customerAccessoriesPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
					showFirstLastButtons>
				</mat-paginator>

			</mat-card-content>

		</mat-card>

	</div>

</div>