<h1 mat-dialog-title>
  Send Invoice
</h1>

<form class="w-100" [formGroup]="invoiceMailForm">

  <mat-dialog-content>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-chip-list #toEmailList>
        <mat-chip *ngFor="let email of toEmail" removable="true" (removed)="onRemoveEmailId(email, true)">
          {{ email }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="To" [matChipInputFor]="toEmailList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="onAddEmailId($event, true)">
      </mat-chip-list>
      <mat-error *ngIf="toEmailList.errorState">Enter a Valid Email Id</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let email of emailId" removable="true" (removed)="onRemoveEmailId(email, false)">
          {{ email }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="CC" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="onAddEmailId($event, false)">
      </mat-chip-list>
      <mat-error *ngIf="chipList.errorState">Enter a Valid Email Id</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Subject</mat-label>
      <input type="text" matInput name="subject" formControlName="subject">
    </mat-form-field>

    <mat-form-field>
      <mat-label>body</mat-label>
      <input type="text" matInput name="body" formControlName="body">
    </mat-form-field>

    <div>
      <div fxLayout="row">
        <div fxFlex="80">
          <p>Attach Invoice as PDF</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox checked="true" name="invoice_pdf" formControlName="invoice_pdf"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Prenote (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="prenote" formControlName="prenote"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Proof of Delivery (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="proof_of_delivery" formControlName="proof_of_delivery"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Outgate (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="outgate" formControlName="outgate"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Ingate (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="ingate" formControlName="ingate"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Bill of Lading (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="bill_of_landing" formControlName="bill_of_landing"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Miscellaneous (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="miscellaneous" formControlName="miscellaneous"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Hazmat (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="hazmat" formControlName="hazmat"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Chassis (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="chassis" formControlName="chassis"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Interchange (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="interchange" formControlName="interchange"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Scale Tickets (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="scale_tickets" formControlName="scale_tickets"></mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="80">
          <p>Incidents (if available)</p>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center">
          <mat-checkbox name="incidents" formControlName="incidents"></mat-checkbox>
        </div>
      </div>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" (click)="dialogRef.close()" class="mat-grey text-white">
      Cancel
    </button>
    <button mat-raised-button type="button" [disabled]="!invoiceMailForm.valid" (click)="onClickSendEmail(false)"
      class="mat-green text-white">
      Send
    </button>
    <button mat-raised-button type="button" [disabled]="!invoiceMailForm.valid" *ngIf="!injectedData.isMultiple"
      (click)="onClickSendEmail(true)" class="mat-green text-white">
      Merge Docs & Send
    </button>
  </mat-dialog-actions>

</form>