<div class="add-dialog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form (ngSubmit)="onSubmit()" #f="ngForm">

    <h2 mat-dialog-title>{{ title }}</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs" style="width: 30%; line-height: 1">
        <mat-select placeholder="Increase/Decrease" name="operation" ngModel #operation="ngModel" required>
          <mat-option value="Increase">Increase</mat-option>
          <mat-option value="Decrease">Decrease</mat-option>
        </mat-select>
        <mat-error *ngIf="operation.errors && (operation.dirty || operation.touched)">
          <mat-error class="error-message" *ngIf="operation.errors.required">
            This Field is required
          </mat-error>
        </mat-error>
      </mat-form-field>
      By
      <mat-form-field class="ml-xs mr-xs" style="width: 25%;line-height: 2.4">
        <input matInput placeholder="Rate" type="number" min="0" name="value" ngModel #value="ngModel" required>
        <mat-error *ngIf="value.errors && (value.dirty || value.touched)">
          <mat-error class="error-message" *ngIf="value.errors.required">
            This Field is required
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs" style="width: 15%;line-height: 1">
        <mat-select placeholder="% / $" name="mode" ngModel #mode="ngModel" required>
          <mat-option value="%">%</mat-option>
          <mat-option value="$">$</mat-option>
        </mat-select>
        <mat-error *ngIf="mode.errors && (mode.dirty || mode.touched)">
          <mat-error class="error-message" *ngIf="mode.errors.required">
            This Field is required
          </mat-error>
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn" style="background-color: green;color: white;"
        [class.disableColor]="!bulkUpdateForm.valid" [disabled]="!bulkUpdateForm.valid">Update</button>
    </mat-dialog-actions>

  </form>

</div>