<div class="relative">

    <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">

        <div fxLayout="column" fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="80" fxFlex.xs="80">

            <mat-card class="login-session">

                <form [formGroup]="changePasswordForm" class="login_form" (ngSubmit)="onChangePassword()"
                    fxLayout="column" fxLayoutAlign="start stretch">

                    <h2 class="base-border">Change Your Password Here</h2>

                    <mat-form-field class="mb-1">
                        <input matInput placeholder="Enter Existing password"
                            [type]="oldPasswordShowHide ? 'password' : 'text'" name="Password" required
                            formControlName="oldPassword">
                        <mat-icon matSuffix (click)="oldPasswordShowHide = !oldPasswordShowHide">
                            {{ oldPasswordShowHide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="changePasswordForm.controls.oldPassword.errors?.required">Password is
                            required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-1">
                        <input matInput placeholder="Enter Your New Password"
                            [type]="newPasswordShowHide ? 'password' : 'text'" formControlName="newPassword" required>
                        <mat-icon matSuffix (click)="newPasswordShowHide = !newPasswordShowHide">
                            {{ newPasswordShowHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.required">Password is
                            required
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('pattern')">
                            {{ patternErrorMsg }}
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('matched')">
                            New password cannot be the same as the existing password. Please enter a new one
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-1">
                        <input matInput placeholder="Confirm Your New Password"
                            [type]="confirmPasswordShowHide ? 'password' : 'text'" formControlName="confirmPassword"
                            required>
                        <mat-icon matSuffix (click)="confirmPasswordShowHide = !confirmPasswordShowHide">
                            {{ confirmPasswordShowHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">Password is
                            required
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('pattern')">
                            {{ patternErrorMsg }}
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('mismatchedPasswords')">
                            Password Mismatch
                        </mat-error>
                    </mat-form-field>

                    <button style="background-color: rgb(45, 185, 26);color:white" mat-raised-button>
                        Submit
                    </button>

                </form>

            </mat-card>

        </div>

    </div>

</div>