<div class="relative">

    <div class="form-bg">

        <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">

            <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">

                <mat-card class="login-session">

                    <form fxLayout="column" fxLayoutAlign="start stretch" class="text-center login_form"
                        [formGroup]="resetForm" *ngIf="!isMailTriggered" (ngSubmit)="onSubmit()">

                        <h4 class="base-border mat-text-warn mb-1 mt-4">Forgot Password?</h4>

                        <i class="fa fa-lock fa-4x" aria-hidden="true"></i>

                        <mat-form-field class="mb-1">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="resetForm.controls.email.errors?.required">Email is required
                            </mat-error>
                            <mat-error *ngIf="resetForm.controls.email.hasError('pattern')">Invalid email address
                            </mat-error>
                            <mat-error *ngIf="resetForm.controls.email.hasError('emailNotFound')">Email ID not Found
                            </mat-error>
                        </mat-form-field>

                        <button type="submit" style="background-color: rgb(45, 185, 26);color:white"
                            [disabled]="!resetForm.valid" mat-raised-button>Submit</button>

                    </form>

                    <p *ngIf="!isMailTriggered">
                        <a routerLink="/authentication/login" class="hyperlink"> Go Back To Login</a>
                    </p>

                    <div *ngIf="isMailTriggered" class="text-center login_form">
                        <p class="base-border mat-text-primary mb-1">You will receive a Password Reset Link to your
                            registered email. Please click on the link to reset your password
                        </p>
                        <button class="mat-blue" mat-raised-button routerLink="/authentication/login">Return to
                            Login</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>