.card {
  display: flex;
  height: 80px;
  justify-content: left;
  background: rgb(189, 85, 111);
  background: linear-gradient(rgb(190, 42, 42), rgb(150, 72, 108));
  color: rgb(255, 255, 255);

  .note-icon {
    font-family: "FontAwsome", sans-serif;
    font-size: 18px;
  }

  .note-icon__title {
    font-size: 18px;
  }

  .note-msg {
    font-family: "bondoni mt black", sans-serif;
    font-size: 13px;
  }
}

.vertical-top {
  vertical-align: top;
}

.w-10 {
  width: 10%;
}

.w-12 {
  width: 12%;
}

.w-27 {
  width: 27%;
}

.w-33 {
  width: 33.3%;
}

.h4 {
  margin-left: 2cm;
}
.c1 {
  margin-top: 0.4cm;
  .h6 {
    // margin-left: 900px;
    margin-left: 75%;
    position: relative;
  }
}
.l6 {
  display: flex;
  .from {
    width: 30%;
  }
  .to {
    width: 30%;
    margin-left: 200px;
  }
  .invoice {
    width: 30%;
    float: right;
    margin-left: 170px;
  }
}
.c-info {
  display: flex;
  flex-direction: row;
  .c-info-1 {
    flex: 0 0 50%;
  }
  .c-info-2 {
    flex: 1 1 100%;
  }
}

.logo {
  width: 30%;
  min-width: 150px;
  min-height: 150px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.address {
  display: inline-block;
  vertical-align: bottom;
  // width: 35%;
}

// .midcities {
//   vertical-align: middle;
// }

th,
tr {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.header {
  th {
    font-weight: normal;
  }
  background-color: #f8e0ffec;
  height: 56px;
}

tr.data {
  height: 42px;
  border-bottom: 1px solid #ccc;
}

.margin {
  margin-top: 1.2rem;
  margin-left: 1rem;
}

.address-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 410px) and (max-width: 599px) {
  .midcities {
    display: flex;
    flex-direction: column;
    max-width: 60%;

    .address {
      margin: 2rem;
    }
  }

  .info-width {
    max-width: 40%;
  }
}

@media screen and (max-width: 409px) {
  .top-page {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

    .midcities {
      max-width: 50%;

      .logo {
        margin: 0 !important;
      }

      .address {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    .info-width {
      max-width: 50%;
    }
  }
}
