<h4>Invoice</h4>

<mat-card class="card">
	<p style="margin-top: 10px; margin-left: 20px;">
		<span class="note-icon">
      <strong>i </strong>
    </span>
		<span class="note-icon__title"> Note:</span>
	</p>
	<br>
	<br>
	<p style="margin-top: 40px; margin-left: -55px;">
		<span class="note-msg">This page has been enhanced for printing. Click the print button at the
      bottom of the invoice to test. </span>
	</p>
</mat-card>

<mat-card id="print-section" class="c1">
	<div fxLayout="row" class="top-page">

		<div fxFlex.gt-xs=70 class="midcities">

			<!-- <img class="logo" src="../../../assets/images/midcities.png" alt="MidcitiesLogo"> -->
			<div class="address">
				<strong>MidCities Motor Freight, Inc.</strong>
				<br> 6006 Lake Avenue
				<br> St. Joseph, MO 64504 - 0025
				<br> Phone: (816) 238-8000
				<br> Email: info@example.com
				<br>
      </div>
			</div>

			<div fxFlex.gt-xs=30 class="info-width" fxLayout="column" fxLayoutAlign="center end">

				<table style="width:100%">
					<tr>
						<td>Invoice:</td>
						<td>{{ selectedOrder?.invoice_number }}</td>
					</tr>
					<br>
					<tr>
						<td>Order Number:</td>
						<td>{{ selectedOrder?.order_number }}</td>
					</tr>
					<br>
					<tr>
						<td>Date:</td>
						<td>{{ selectedOrder?.date | date:'shortDate' }}</td>
					</tr>
				</table>

			</div>
		</div>
		<br>

		<hr>

		<mat-card-content>
			<div fxLayout="row">
				<div fxFlex.gt-xs=70>
					To
					<br>
					<strong>{{ selectedOrder?.business_name }}</strong>
					<br *ngIf="selectedOrder.b_street">
					<span *ngIf="selectedOrder.b_street">{{ selectedOrder.b_street }}</span>
					<br> {{ selectedOrder?.b_city }} {{ selectedOrder?.b_state }} {{ selectedOrder?.b_postal_code }}
					<br> Phone: {{ selectedOrder.business_phone ? selectedOrder.business_phone : '--' }}
					<br> Email: {{ selectedOrder.email ? selectedOrder.email : '--' }}
					<br> Preferred Mode Of Invoicing: {{ selectedOrder.preferred_invoice ? selectedOrder.preferred_invoice : '--' }}
					<br>
      </div>
					<div fxFlex.gt-xs=30>
						<br> <strong>Customer Ref #:</strong>&nbsp;
						{{ selectedOrder.customer_reference ? selectedOrder.customer_reference : '--' }}
						<br> <strong>Booking #:</strong>&nbsp;
						{{ selectedOrder.booking_number ? selectedOrder.booking_number : '--' }}
						<br> <strong>Container #:</strong>&nbsp; {{ selectedOrder.container_number ? selectedOrder.container_number :
        '--' }}
						<br> <strong>Chassis #:</strong>&nbsp;
						{{ selectedOrder.chassis_number ? selectedOrder.chassis_number : '--' }}
						<br>
      </div>
					</div>
		</mat-card-content>
		<br>
		<hr>
		<div *ngIf="!isMultiple">
			<h5 class="margin"> Legs</h5>
			<mat-card-content>
				<table>
					<tr class="header">
						<th class="w-12">Leg #</th>
						<th class="w-12">Type</th>
						<th class="w-27">Pickup</th>
						<th class="w-27">Destination</th>
						<th class="w-12">Miles</th>
						<th class="w-12">Subtotal</th>
					</tr>
					<tr class="data" *ngFor="let row of legsCharges">
						<td class="vertical-top w-12">{{ row.leg_number }}</td>
						<td class="vertical-top w-12">{{ row.leg_type }}</td>
						<td class="vertical-top w-27">
							<address style="font-style: normal;">
								{{ row.pu_name }}
								<br *ngIf="row.pu_street"> <span *ngIf="row.pu_street">{{ row.pu_street }}</span>
								<br> {{ row.pu_city }} {{ row.pu_state }} {{ row.pu_postal_code }}
            </address>
						</td>
						<td class="vertical-top w-27">
							<address style="font-style: normal;">
								{{ row.dl_name }}
								<br *ngIf="row.dl_street"> <span *ngIf="row.dl_street">{{ row.dl_street }}</span>
								<br> {{ row.dl_city }} {{ row.dl_state }} {{ row.dl_postal_code }}
            </address>
						</td>
						<td class="vertical-top w-12">{{ row.est_miles }}</td>
						<td class="vertical-top w-12">{{ row.rate | currency }}</td>
					</tr>
				</table>

			</mat-card-content>

			<br>
			<hr>

			<h5 class="margin"> Additional Charges </h5>
			<mat-card-content>
				<table>
					<tr class="header">
						<th class="w-33">Name</th>
						<th class="w-33">Description</th>
						<th class="w-33">SubTotal</th>
					</tr>
					<tr *ngFor="let row of accessoriesCharges" class="data">
						<td class="w-33">{{ row.accessories_name }}</td>
						<td class="w-33">{{ row.description }}</td>
						<td class="w-33">{{ row.rate | currency }}</td>
					</tr>
				</table>
			</mat-card-content>
		</div>


		<div *ngIf="isMultiple">
			<h5 class="margin"> Legs </h5>
			<mat-card-content *ngFor="let orderChassis of selectedOrder?.orderLegAccessories">
				<h6> {{ orderChassis.order_number }} Legs </h6>
				<table>
					<tr class="header">
						<th class="w-12">Leg #</th>
						<th class="w-12">Type</th>
						<th class="w-27">Pickup</th>
						<th class="w-27">Destination</th>
						<th class="w-12">Miles</th>
						<th class="w-10">Subtotal</th>
					</tr>
					<tr *ngFor="let leg of orderChassis?.legs" class="data">
						<td class="vertical-top w-12">{{ leg.leg_number }}</td>
						<td class="vertical-top w-12">{{ leg.leg_type }}</td>
						<td class="vertical-top w-27">
							<address style="font-style: normal;">
								{{ leg.pu_name }}
								<br *ngIf="leg.pu_street"> <span *ngIf="leg.pu_street">{{ leg.pu_street }}</span>
								<br> {{ leg.pu_city }} {{ leg.pu_state }} {{ leg.pu_postal_code }}
            </address>
						</td>
						<td class="vertical-top w-27">
							<address style="font-style: normal;">
								{{ leg.dl_name }}
								<br *ngIf="leg.dl_street"> <span *ngIf="leg.dl_street">{{ leg.dl_street }}</span>
								<br> {{ leg.dl_city }} {{ leg.dl_state }} {{ leg.dl_postal_code }}
            </address>
						</td>
						<td class="vertical-top w-12">{{ leg.est_miles }}</td>
						<td class="vertical-top w-10">{{ leg.rate | currency }}</td>
					</tr>
				</table>
			</mat-card-content>

			<h5 class="margin"> Accessories </h5>
			<mat-card-content *ngFor="let orderChassis of selectedOrder?.orderLegAccessories">
				<h6> {{ orderChassis.order_number }} Charges </h6>
				<table>
					<tr class="header">
						<th class="w-33">Name</th>
						<th class="w-33">Description</th>
						<th class="w-33">Subtotal</th>
					</tr>
					<tr *ngFor="let accessories of orderChassis.accessories" class="data">
						<td class="w-33">{{ accessories.accessories_name }}</td>
						<td class="w-33">{{ accessories.description }}</td>
						<td class="w-33">{{ accessories.rate | currency }}</td>
					</tr>
				</table>
			</mat-card-content>
		</div>

		<hr>
		<br>
		<div fxLayout="row">
			<div fxLayout="column" fxFlex=50>
				<mat-card-title>
					Notes:
				</mat-card-title>
				<mat-card-content>
					<p>{{ notes }}</p>
				</mat-card-content>
			</div>
			<div fxLayout="column" fxFlex=50 fxLayoutAlign="center center">
				<table style="width:100%">
					<tr>
						<td>Due Date</td>
						<td>{{ selectedOrder?.due_date | date:'shortDate' }}</td>
					</tr>
					<br>
					<tr>
						<td>Total</td>
						<td>{{ selectedOrder?.total_amount | currency }}</td>
					</tr>
				</table>
			</div>
		</div>
</mat-card>

<!-- <button mat-button type="button" style="margin:5px;" color="blue" class="mat-raised-button table-btn-rt"
  (click)="isMultiple ? onClickPrint() : onClickView()">
  {{ isMultiple ? 'Print' : 'View' }}
</button>&nbsp; -->

<button mat-button type="button" style="margin:5px;" color="blue" class="mat-raised-button table-btn-rt"
  (click)="onClickPrint()">
  Print
</button>&nbsp;

<button mat-button type="button" style="margin:5px; background-color:rgb(250, 123, 3);"
  class="mat-raised-button table-btn-rt" (click)="onClickEmail()">
  Email
</button>&nbsp;

<button *ngIf="!isInvoiceCustomer" mat-button type="button" style="margin:5px; background-color:grey;"
  class="mat-raised-button table-btn-rt" (click)="onClickCancel()">
  Cancel
</button>