<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Location Management</span>
    <button type="button" mat-raised-button color="blue" (click)="onAddLocation()">
      Create New
    </button>
  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table-container">

      <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
        <mat-table [dataSource]="locationDatasource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="dummy">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="locationType">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80 select-filter-header">
                <mat-label>Location Type</mat-label>
                <mat-select name="location_type" [(ngModel)]="columnFilterValue.location_type"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option *ngFor="let locationType of locationTypes" [value]="locationType.label">
                    {{ locationType.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="locationName">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Location Name</mat-label>
                <input matInput type="text" placeholder="Location Name" name="location_name"
                  [(ngModel)]="columnFilterValue.location_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Address</mat-label>
                <input matInput type="text" placeholder="Address" name="address"
                  [(ngModel)]="columnFilterValue.address">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" placeholder="Phone Number" name="phone_number"
                  [(ngModel)]="columnFilterValue.phone_number">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="emailFilter">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-80">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="columnFilterValue.email">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="receivingHours">
            <mat-header-cell *matHeaderCellDef>

              <mat-form-field class="w-80">
                <mat-label>Receiving Hours</mat-label>
                <input matInput placeholder="HH:mm" name="receiving_hours"
                  [(ngModel)]="columnFilterValue.receiving_hours" [owlDateTimeTrigger]="from" [owlDateTime]="from"
                  (dateTimeChange)="onChangeOfReceivingHours($event)">
                <owl-date-time [pickerType]="'timer'" #from></owl-date-time>
                <button type="button" matSuffix mat-icon-button aria-label="Clear" [owlDateTimeTrigger]="from">
                  <mat-icon>schedule</mat-icon>
                </button>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>

          <!--ID Column -->
          <ng-container matColumnDef="s_no">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
              <button type="button" mat-raised-button class="id-button"
                (click)="onClickSerialNo(row,(i+1)+currentPageIndex)">{{ (i+1)+currentPageIndex }}
              </button>
            </mat-cell>
          </ng-container>
          <br>

          <!-- TYPE Column -->
          <ng-container matColumnDef="location_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.location_type }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="location_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.location_name }} </mat-cell>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.address }} </mat-cell>
          </ng-container>

          <!-- phone number Column -->
          <ng-container matColumnDef="phone_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone # </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.phone_number }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.email ? element.email : '--' }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="receiving_hours">
            <mat-header-cell *matHeaderCellDef> Receiving Hours </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.receiving_hours_from !== null && element.receiving_hours_to !== null">
                {{ element.receiving_hours_from | date:'HH:mm' }} - {{ element.receiving_hours_to | date:'HH:mm' }}
              </span>
              <span *ngIf="element.receiving_hours_from === null && element.receiving_hours_to === null">
                --
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.action }}
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                (click)="onEditLocation(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
                (click)="onDeleteLocation(row.location_id)" #tooltip="matTooltip" matTooltip="Delete"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="locationFilterHeaders"></mat-header-row>
          <mat-header-row *matHeaderRowDef="locationColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: locationColumns;"></mat-row>
        </mat-table>
      </form>
    </div>
    <mat-paginator [length]="locationLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
  </mat-card-content>

</mat-card>