<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Equipment Management</span>
    <button type="button" mat-raised-button color="blue" (click)="onAddEquipment()">
      Create New
    </button>
  </mat-card-title>
  <hr>

  <mat-card-content class=" mat-elevation-z8">

    <div class="table-container">
      <form (ngSubmit)="onClickColumnFilter()" #f="ngForm">
        <mat-table [dataSource]="equipmentDatasource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="dummy">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="EquipmentType">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85 select-filter-header">
                <mat-label>Type</mat-label>
                <mat-select name="equipment_type" [(ngModel)]="columnFilterValue.equipment_type"
                  (selectionChange)="onClickColumnFilter()">
                  <mat-option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.label">
                    {{ equipmentType.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="truckNumber">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85 select-filter-header">
                <mat-label>Truck #</mat-label>
                <input matInput type="text" placeholder="Truck #" name="truck_number"
                  [(ngModel)]="columnFilterValue.truck_no">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="EquipmentName">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name" name="equipment_name"
                  [(ngModel)]="columnFilterValue.equipment_name">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Make">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Make</mat-label>
                <input matInput type="text" placeholder="Make" name="make" [(ngModel)]="columnFilterValue.make">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Model">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Model</mat-label>
                <input matInput type="text" placeholder="Model" name="model" [(ngModel)]="columnFilterValue.model">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Year">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Year</mat-label>
                <input matInput type="text" placeholder="Year" name="year" [(ngModel)]="columnFilterValue.year">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Vin">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>VIN</mat-label>
                <input matInput type="text" placeholder="VIN" name="vin" [(ngModel)]="columnFilterValue.vin">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="License">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>License</mat-label>
                <input matInput type="text" placeholder="License" name="license"
                  [(ngModel)]="columnFilterValue.license">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="LicenseState">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>State</mat-label>
                <input matInput type="text" placeholder="State" name="license_state"
                  [(ngModel)]="columnFilterValue.license_state">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="LicenseExpiry">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>License Expiry</mat-label>
                <input matInput type="text" [matDatepicker]="picker" placeholder="License Expiry" name="license_expiry"
                  [(ngModel)]="columnFilterValue.license_expiry" (click)="picker.open()"
                  (dateChange)="onClickColumnFilter()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="EquipmentLocation">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85 select-filter-header">
                <mat-label>Location</mat-label>
                <mat-select name="equipment_location" (selectionChange)="onClickColumnFilter()"
                  [(ngModel)]="columnFilterValue.equipment_location">
                  <mat-option *ngFor="let equipmentLocation of equipmentLocations" [value]="equipmentLocation.label">
                    {{ equipmentLocation.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="Remarks">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="w-85">
                <mat-label>Remarks</mat-label>
                <input matInput type="text" placeholder="Remarks" name="remarks"
                  [(ngModel)]="columnFilterValue.remarks">
              </mat-form-field>
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button type="submit" matTooltip="Search" mat-button mat-icon-button class="filter-button">
                  <mat-icon>search</mat-icon>
                </button>
                <button type="button" matTooltip="Reset" mat-button mat-icon-button class="filter-button"
                  *ngIf="columnFilter" (click)="onClickResetColumnFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-header-cell>
          </ng-container>

          <!--ID Column -->
          <ng-container matColumnDef="serialNo">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
              <button type="button" mat-raised-button class="id-button"
                (click)="onClickSerialNo(row, (i+1)+currentPageIndex)">{{(i+1)+currentPageIndex}}
              </button>
            </mat-cell>
          </ng-container>
          <br>

          <!-- Type Column -->
          <ng-container matColumnDef="equipment_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.equipment_type}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="truck_no">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Truck # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.truck_no ? row.truck_no : '--' }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="equipment_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.equipment_name}} </mat-cell>
          </ng-container>

          <!-- Make Column -->
          <ng-container matColumnDef="make">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Make </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.make}} </mat-cell>
          </ng-container>

          <!-- Model Column -->
          <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.model}} </mat-cell>
          </ng-container>

          <!-- Year Column -->
          <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
          </ng-container>

          <!-- Vin Column -->
          <ng-container matColumnDef="vin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> VIN </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.vin}} </mat-cell>
          </ng-container>


          <!-- License Column -->
          <ng-container matColumnDef="license">
            <mat-header-cell *matHeaderCellDef mat-sort-header> License # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.license}} </mat-cell>
          </ng-container>

          <!-- License State Column -->
          <ng-container matColumnDef="license_state">
            <mat-header-cell *matHeaderCellDef mat-sort-header> License State </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.license_state}} </mat-cell>
          </ng-container>

          <!-- License Expiry Column -->-->
          <ng-container matColumnDef="license_expiry">
            <mat-header-cell *matHeaderCellDef mat-sort-header> License Expiry </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.license_expiry | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>

          <!-- Location Column -->-->
          <ng-container matColumnDef="equipment_location">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.equipment_location}} </mat-cell>
          </ng-container>

          <!-- Remarks Column -->-->
          <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="blue"
                (click)="onEditEquipmentLocation(row)" #tooltip="matTooltip" matTooltip="Update Location"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">near_me</mat-icon>
              </button>
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                (click)="onEditEquipment(row)" #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">edit</mat-icon>
              </button>
              <button type="button" mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
                (click)="onDeleteEquipment(row.equipment_id)" #tooltip="matTooltip" matTooltip="Delete"
                matTooltipHideDelay="100">
                <mat-icon class="size-16" color="white">close</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="equipmentFilterHeaders"></mat-header-row>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </form>
    </div>

    <mat-paginator #paginator [length]="equipmentsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>