.mat-header-row {
    background-color: #f8e0ffec;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    flex: 0 0 15%;
}

.input-feild__phone {
    width: 80px;
    padding: 2px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 5%;
}
