<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>Archived Orders</span>

    <div>
      <button mat-button type="button" style="background-color: red;" class="mat-raised-button table-btn"
        (click)="onClickReset()" *ngIf="columnFilter">
        Reset Filter
      </button>&nbsp;
      <button mat-button type="button" style="background-color:rgb(250, 123, 3);" class="mat-raised-button table-btn"
        (click)="onClickFilterColumns()">
        Filter Columns
      </button>
    </div>

  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table archived">

      <mat-table [dataSource]="archivedOrdersDatasource" matSort (matSortChange)="onChangeSortDirection($event)">

        <ng-container matColumnDef="order_sequence">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="hyperlink" (click)="onClickOrderNumber(element)">
              {{ element.order_sequence }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="order_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span [ngClass]="{'delivered':element.order_status == 'Delivered',
              'cancelled':element.order_status == 'Cancelled',
              'no-invoice':element.order_status == 'No Invoice' }">
              {{element.order_status}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="order_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.order_type !== null && element.order_type_color == null">
              {{ element.order_type }}
            </span>
            <span *ngIf="element.order_type !== null &&
             element.order_type_color != null  && element.order_type.includes(' ')"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{ element.order_type.split(' ')[0].slice(0,1) }}/{{ element.order_type.split(' ')[1].slice(0,1) }}
            </span>
            <span *ngIf="element.order_type !== null && 
            element.order_type_color != null  && !element.order_type.includes(' ')"
              [style.backgroundColor]="element.order_type_color" style="color: white;padding: 1px 5px;">
              {{ element.order_type.slice(0,1) }}
            </span>
            <span *ngIf="element.order_type === null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="business_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.business_name == null">--</span>
            <span *ngIf="element.business_name != null"> {{ element.business_name }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>PickUp </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.pu_name == null">--</span>
            <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;"> {{ element.pu_name }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.dl_name == null">--</span>
            <span *ngIf="element.dl_name != null" [matTooltip]="element.dl_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;"> {{ element.dl_name }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hazmat_req">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Haz </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.hazmat_req == null">--</span>
            <span *ngIf="element.hazmat_req != null"> {{ element.hazmat_req ? 'Y' : 'N' }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="triaxle">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Triaxle </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.triaxle == null">--</span>
            <span *ngIf="element.triaxle != null"> {{ element.triaxle }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="container_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Container </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.container_number == null">--</span>
            <span *ngIf="element.container_number != null"> {{ element.container_number }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="chassis_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Chassis </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.chassis_number == null">--</span>
            <span *ngIf="element.chassis_number != null"> {{ element.chassis_number }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer_reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer #</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.customer_reference == null">--</span>
            <span *ngIf="element.customer_reference != null"> {{ element.customer_reference }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="booking_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Booking # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.booking_number == null">--</span>
            <span *ngIf="element.booking_number != null"> {{ element.booking_number }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Paid </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.paid == null">--</span>
            <span *ngIf="element.paid != null"> {{ isAdminInvoice ? element.paid : '****' }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="write_off">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Write Off </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.write_off == null">--</span>
            <span *ngIf="element.write_off != null"> {{ isAdminInvoice ? element.write_off : '****' }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_of_payment">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Payment </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.date_of_payment == null">--</span>
            <span *ngIf="element.date_of_payment != null"> {{ element.date_of_payment | date:'shortDate' }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
              (click)="element.order_status !== 'No Invoice' ? null : onClickMoveBackToInvoice(element)"
              [disabled]="element.order_status !== 'No Invoice'" matTooltip="Move To Invoice">
              <mat-icon class="size-16" color="white"> undo </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="archivedOrdersColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: archivedOrdersColumns;"></mat-row>

      </mat-table>

    </div>

  </mat-card-content>

  <mat-paginator [length]="archivedOrdersLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
    (page)="onChangePage($event)">
  </mat-paginator>

</mat-card>