div.table.archived {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20;

    mat-table {
        width: max-content;
    }

    .mat-header-row {
        background-color: #f8e0ffec;
    }

    .hyperlink {
        color: #337ab7;
        cursor: pointer;
    }

    .hyperlink:hover {
        color: #3c8dbc;
        cursor: pointer;
    }

    mat-icon.size-16 {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        color: #fff;
    }

    mat-header-cell {
        display: flex;
        justify-content: left;
        color: rgba($color: #000000, $alpha: 0.87);
        font-size: 0.8rem;
    }

    .mat-cell {
        color: rgba($color: #000000, $alpha: 0.75);
        font-size: 0.75rem;
        justify-content: left;
    }

    .mat-header-cell,
    .mat-cell {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .mat-cell:nth-child(1),
    .mat-header-cell:nth-child(1) {
        flex: 0 1 6%;
    }

    .mat-cell:nth-child(3),
    .mat-header-cell:nth-child(3) {
        flex: 0 1 5%;
    }

    .mat-cell:nth-child(7),
    .mat-header-cell:nth-child(7) {
        flex: 0 1 5%;
    }

    .mat-cell:nth-child(8),
    .mat-header-cell:nth-child(8) {
        flex: 0 1 5%;
    }

    .mat-cell:nth-child(16),
    .mat-header-cell:nth-child(16) {
        flex: 0 1 5%;
    }

    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 0.5rem;
    }

    mat-row {
        margin: 0 !important;
    }

    .delivered {
        padding: 1px 5px;
        margin-right: 5px;
        background-color: rgb(24, 102, 219);
        border-radius: 1px;
        color: #fff;
    }

    .cancelled {
        padding: 1px 5px;
        margin-right: 5px;
        background-color: rgb(219, 24, 24);
        border-radius: 1px;
        color: #fff;
    }

    .no-invoice {
        padding: 1px 5px;
        margin-right: 5px;
        background-color: orange;
        border-radius: 1px;
        color: #fff;
    }
}

@media (min-width: 959px) {
    div.table.archived {
        overflow-x: hidden;

        mat-table {
            width: 100%;
        }
    }
}

button:disabled {
    cursor: not-allowed;
}
