<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 12px;">
    <h4>Invoice</h4>
    <button mat-button type="button" style="background-color:#2196f3;" [tooltip]="uploadedDocumentTemplate"
      [placement]="'left'" theme="light" display-mobile="false" tooltip-class="tooltip"
      class="mat-raised-button table-btn" (click)="cancelBtn.focus();onClickOpenUploadDocs()">
      {{ isFileUploaded ? 'View/Upload Documents' : 'Upload Documents' }}
    </button>
  </div>

  <mat-card class="invoive-mobileview">

    <div fxLayout="row">
      <div fxFlex=60 class="midcities">
        <!-- <img class="logo" src="../../../assets/images/midcities.png" alt="MidcitiesLogo"> -->
        <div class="address">
          <strong>MidCities Motor Freight, Inc.</strong>
          <br> 6006 Lake Avenue
          <br> St. Joseph, MO 64504 - 0025
          <br> Phone: (816) 238-8000
          <br> Email: info@example.com
          <br>
        </div>
      </div>

      <div fxFlex=40 fxLayout="column" fxLayoutAlign="center end">

        <table style="width:100%">
          <tr>
            <mat-form-field>
              <mat-label>Invoice</mat-label>
              <input matInput type="text" placeholder="invoice" formControlName="invoice_number" required>
              <mat-error *ngIf="invoiceForm.get('invoice_number').hasError('required')">
                Invoice Number is required
              </mat-error>
            </mat-form-field>
          </tr>
          <br>
          <tr>
            <mat-form-field>
              <mat-label>Order Number</mat-label>
              <input matInput type="text" placeholder="Order Id" formControlName="order_number">
              <mat-error *ngIf="invoiceForm.get('order_number').hasError('required')">
                Order Number is required
              </mat-error>
            </mat-form-field>
          </tr>
          <br>
          <tr>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" type="text" placeholder="Date" formControlName="date"
                (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="invoiceForm.get('date').hasError('required')">
                Date is required
              </mat-error>
            </mat-form-field>
          </tr>
        </table>

      </div>
    </div>

    <br>
    <hr>

    <div fxLayout="row" class="ml-1">
      <table style="width:100%">
        <tr>
          <td>
            <app-customer-autocomplete class="form" styleClass="w-70" label="Bill To" [isCreatable]="true"
              formControlName="business_name" locationTypes="locationTypes"
              (customerAutoSuggestions)="onTypeCustomerName($event)">
            </app-customer-autocomplete>
          </td>
          <td>
            <app-midcities-name-autocomplete [isRequired]=false [isLocationAdded]=true [locationTypes]=locationTypes
              #shipper label="Shipper" compareLabel="Consignee" [compareValue]="invoiceForm.get('consignee').value"
              formControlName="shipper" styleClass="w-70.margin" (address)="onListenShipperAddress($event)"
              (seletedLocationData)="onShipperSelected($event)" (valueEmptied)="onShipperValueEmptied($event)"
              (phoneNo)="shipperPhone = $event">
            </app-midcities-name-autocomplete>
          </td>
          <td>
            <app-midcities-name-autocomplete [isRequired]=false [isLocationAdded]=true [locationTypes]=locationTypes
              #consignee label="Consignee" compareLabel="Shipper" [compareValue]="invoiceForm.get('shipper').value"
              formControlName="consignee" styleClass="w-70.margin" (address)="onListenConsigneeAddress($event)"
              (seletedLocationData)="onConsigneeSelected($event)" (valueEmptied)="onConsigneeValueEmptied($event)"
              (phoneNo)="consigneePhone = $event">
            </app-midcities-name-autocomplete>
          </td>
        </tr>
        <tr>
          <td class="vertical-top">
            <div *ngIf="businessAddress || businessPhone || businessEmail || preferredInvoice">
              <br *ngIf="customerData.street"> <span *ngIf="customerData.street">{{ customerData.street }}</span>
              <br> {{ customerData?.city }} {{ customerData?.state }} {{ customerData?.postal_code }}
              <br> Phone: {{ businessPhone ? businessPhone : '--' }}
              <br> Email: {{ businessEmail ? businessEmail : '--' }}
              <br> Preferred Mode Of Invoicing: {{ preferredInvoice ? preferredInvoice : '--' }}
              <br>
            </div>
          </td>
          <td class="vertical-top">
            <div *ngIf="shipperAddress || shipperPhone">
              <br *ngIf="shipperData.street"> <span *ngIf="shipperData.street">{{ shipperData.street }}</span>
              <br> {{ shipperData?.city }} {{ shipperData?.state }} {{ shipperData?.postal_code }}
              <br> Phone: {{ shipperPhone ? shipperPhone : '--' }}
              <br>
            </div>
          </td>
          <td class="vertical-top">
            <div *ngIf="consigneeAddress || consigneePhone">
              <br *ngIf="consigneeData.street"> <span *ngIf="consigneeData.street">{{ consigneeData.street }}</span>
              <br> {{ consigneeData?.city }} {{ consigneeData?.state }} {{ consigneeData?.postal_code }}
              <br> Phone: {{ consigneePhone ? consigneePhone : '--' }}
              <br>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <hr>
    <br>

    <div fxLayout="column" class="ml-1">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Customer Ref No</mat-label>
              <input matInput type="text" placeholder="Customer Ref No" formControlName="customer_reference">
              <mat-error *ngIf="invoiceForm.get('customer_reference').hasError('required')">
                Customer Ref No is required
              </mat-error>
              <mat-error *ngIf="invoiceForm.get('customer_reference').hasError('pattern')">
                Customer Ref # accepts only the following special characters (,'*-_.!#+"$&) and maximum of 25 characters
                without space
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Booking No</mat-label>
              <input matInput type="text" placeholder="Booking No" formControlName="booking_number">
              <mat-error *ngIf="invoiceForm.get('booking_number').hasError('required')">
                Booking No is required
              </mat-error>
              <mat-error *ngIf="invoiceForm.get('booking_number').hasError('pattern')">
                Booking # accepts only the following special characters (,'*-_.!#+"$&) and maximum of 25 characters
                without space
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Delivery Date</mat-label>
              <input matInput [matDatepicker]="deliveryDatePicker" type="text" placeholder="Delivery Date"
                formControlName="delivery_date" (click)="deliveryDatePicker.open()">
              <mat-datepicker-toggle matSuffix [for]="deliveryDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #deliveryDatePicker></mat-datepicker>
              <mat-error *ngIf="invoiceForm.get('delivery_date').hasError('required')">
                Delivery Date is required
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Container #</mat-label>
              <input matInput type="text" placeholder="Container #" [textMask]="{mask: containerMask,guide:true}"
                formControlName="container_number" style="text-transform: uppercase;">
              <mat-error *ngIf="invoiceForm.get('container_number').hasError('required')">
                Container # is required
              </mat-error>
              <mat-error *ngIf="invoiceForm.get('container_number').hasError('pattern')">
                Container # should be xxxx(4alphabet)-xxxxxx(1char,5num or 6num)-x(1num optional)
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h5>Additional Charges</h5>
        <button mat-mini-fab class="button24 add_button mr-3" type="button"
          style="background-color:rgb(45, 185, 26);color: white" (click)="onAddCharge()" #cancelBtn>
          <mat-icon class="icon24">add</mat-icon>
        </button>
      </div>

      <hr>

      <div formArrayName="accessoriesCharge">
        <div *ngFor="let accessoriesCharges of getControls();let i = index" [formGroupName]="i">

          <table style="width:100%">
            <tr>
              <td style="height: 35px;width: 33.3%;">
                <mat-form-field class="select-height">
                  <mat-label>Name</mat-label>
                  <mat-select name="accessories_name" formControlName="accessories_name"
                    (selectionChange)="onAccessoryChargeSelected(i,$event.value)" required>
                    <mat-option *ngFor="let accessoriesName of accessoriesNames" [value]="accessoriesName"
                      [disabled]="disableAccessoriesName.includes(accessoriesName)">{{accessoriesName}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="invoiceForm.get('accessoriesCharge').controls[i].get('accessories_name').hasError('required')">
                    Accessories Name is required
                  </mat-error>
                </mat-form-field>
              </td>

              <td style="height: 35px;width: 33.3%;">
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <input matInput type="text" name="description" formControlName="description" required>
                  <mat-error
                    *ngIf="invoiceForm.get('accessoriesCharge').controls[i].get('description').hasError('required')">
                    Description is required
                  </mat-error>
                </mat-form-field>
              </td>

              <td style="height: 35px;width: 33.3%;">
                <mat-form-field>
                  <mat-label>Subtotal</mat-label>
                  <input matInput type="text" name="rate" formControlName="rate" (keyup)=onChangeRate(i) required>
                  <mat-error *ngIf="invoiceForm.get('accessoriesCharge').controls[i].get('rate').hasError('required')">
                    Subtotal is required
                  </mat-error>
                </mat-form-field>
                <button mat-mini-fab class="button24 close_button" type="button"
                  style="background-color:red;color: white" (click)="onDeleteCharge(i)" *ngIf="i > 0">
                  <mat-icon class="icon24">close</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <br>
    <hr>

    <div fxLayout="row" class="ml-1">
      <div fxLayout="column" fxFlex=50>
        <mat-form-field class="form" fxFlex=50>
          <textarea matInput formControlName="random_notes" placeholder="Notes" matTextareaAutosize
            matAutosizeMinRows="5.5"></textarea>
          <mat-error *ngIf="invoiceForm.get('random_notes').hasError('required')">
            Notes is required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex=50 fxLayoutAlign="center center">
        <table style="width:100%">
          <tr>
            <td>
              <mat-form-field class="form">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="dueDatePicker" type="text" placeholder="Due Date"
                  formControlName="due_date" (click)="dueDatePicker.open()">
                <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #dueDatePicker></mat-datepicker>
                <mat-error *ngIf="invoiceForm.get('due_date').hasError('required')">
                  Due Date is required
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <br>
          <tr>
            <td>
              <mat-form-field class="form">
                <mat-label>Total Amount</mat-label>
                <input matInput type="text" placeholder="Total Amount" formControlName="total_amount">
                <mat-error *ngIf="invoiceForm.get('total_amount').hasError('required')">
                  Total Amount is required
                </mat-error>
                <mat-error *ngIf="invoiceForm.get('total_amount').hasError('pattern')">
                  Total amount must be a positive integer
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card>

  <br>

  <button mat-button type="submit" style="margin:5px; background-color: #2196f3;" class="mat-raised-button table-btn-rt"
    [disabled]="!invoiceForm.valid" *ngIf="!isArchivedMode">
    {{ editMode ? 'Update & Preview' : 'Save & Preview' }}
  </button>
  <button mat-button type="button" style="margin:5px; background-color:grey;" class="mat-raised-button table-btn-rt"
    (click)="onClickCancel()">
    Cancel
  </button>

</form>