h4 {
  margin: 0.5rem 0.5rem 1rem 0 !important;
}

.card {
  display: flex;
  height: 80px;
  justify-content: left;
  background: rgb(189, 85, 111);
  background: linear-gradient(rgb(190, 42, 42), rgb(150, 72, 108));
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
}

.vertical-top {
  vertical-align: top;
}

.logo {
  min-width: 270px;
  max-width: 350px;
  margin: 1rem 1rem 0 1rem;
}

// .address {
//   margin: 1rem 1rem 0 1rem;
// }

.form {
  margin: 0.6rem 0;
  width: 70%;
}

.form-error-msg {
  color: #f44336;
  display: block;
}

h5 {
  margin: 1rem 0 1rem 0 !important;
}

.button24 {
  width: 25px;
  height: 25px;
}

.icon24 {
  font-size: 18px;
  margin-top: -11px;
}

.address {
  display: inline-block;
  width: 35%;
  vertical-align: bottom;
}

.midcities {
  vertical-align: middle;
}

.close_button {
  margin-left: 5rem;
}

td {
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .invoive-mobileview {
    table {
      width: 1040px;
    }
    overflow-x: scroll;
  }
}
