.card-wheather {
  height: 220px;
  color: #fff;
  padding: 2rem;
}

.city {
  font-size: 26px;
}

.date {
  font-size: 20px;
  line-height: 40px;
}

.load-type-title {
  padding: 4px 0 0 8px !important;
  margin: 0 !important;
}

.sun {
  height: 70px;
}

.grad-blue {
  background: linear-gradient(58deg, #f44336, #673ab7);
  color: #fff;
}

.grad-green {
  background: linear-gradient(58deg, #009688, #673ab7);
  color: #fff;
}

.grad-red {
  background: linear-gradient(58deg, #f44336, #673ab7);
  color: #fff;
}

.temp {
  font-size: 45px;
  display: inline-block;
}

.table-title {
  padding: 8px 8px 0 8px !important;
  margin-bottom: 8px !important;
  .title {
    font: bold;
    margin-bottom: 30px;
  }
  .date-picker {
    font-size: 13px;
    margin-top: 1px;
  }
}

.assigned {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.in-route {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

.table-container {
  .table {
    height: 200;
  }

  .my-width {
    min-width: 32px !important;
  }

  mat-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 5%;
  }

  .mat-header-cell,
  .mat-cell {
    padding-left: 4px;
    padding-right: 4px;
  }

  mat-header-cell {
    display: flex;
    // justify-content: left;
    color: rgba($color: #000000, $alpha: 0.87);
    font-size: 13px;
  }

  .mat-cell mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
  }

  .mat-cell {
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 12px;
    justify-content: left;
  }

  .mat-header-row {
    background-color: #f8e0ffec;
  }
}

.order-progress {
  .table {
    height: 200;
  }

  mat-cell:first-child,
  mat-footer-cell:first-child,
  mat-header-cell:first-child {
    padding-left: 0px;
  }

  mat-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  mat-header-cell {
    display: flex;
    // justify-content: left;
    color: rgba($color: #000000, $alpha: 0.87);
    font-size: 13px;
  }

  .mat-cell mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    padding-left: 5px;
  }

  .mat-cell {
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 12px;
    justify-content: left;
  }

  .mat-header-row {
    background-color: #f8e0ffec;
  }
}

.overflow {
  overflow: auto;
  height: 223px;
  .overflow-item {
    height: 223px;
  }
}

.overflow::-webkit-scrollbar {
  width: 0.25rem;
}

.overflow::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.overflow::-webkit-scrollbar-thumb {
  background: #ccc;
}

.w-50-95 {
  font-size: 13px;
  width: 95%;
}

@media screen and (max-width: 599px) {
  .table-container {
    mat-table {
      width: max-content;
    }
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
    mat-header-cell,
    mat-cell {
      padding: 0px 20px;
      text-align: left;
    }
    mat-header-cell:nth-child(1) {
      padding-left: 15px;
    }

    .xs-50 {
      width: 50%;
    }
  }

  .w-50-95 {
    width: 40%;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .table-container {
    mat-table {
      width: 1000px;
    }
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;

    mat-header-cell,
    mat-cell {
      padding: 0px 20px;
      text-align: left;
    }
    mat-header-cell:nth-child(1) {
      padding-left: 12px;
    }
  }

  .w-50-95 {
    width: 40%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .table-container {
    mat-table {
      width: max-content;
    }
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
    mat-header-cell,
    mat-cell {
      width: 125px;
      text-align: left;
    }
    mat-header-cell:nth-child(1) {
      padding-left: 13px;
    }
  }
}
