<!-- Tile card -->
<div fxLayout="row" fxLayoutWrap="wrap">
   <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
      class="m-gap p-gap">
      <mat-card>
         <div class="card-wheather grad-blue">
            <div class="city">{{ userDetails?.role === 'Driver' ? 'Legs' : 'Orders' }}</div>
            <div class="date">{{ userDetails?.role === 'Driver' ? 'Active' : 'Pending'}}</div>
            <div class="weather">
               <div class="sun d-flex justify-content-between">
                  <mat-icon class="fa-3x align-self-center">assessment</mat-icon>
                  <div class="temp align-self-center">
                     {{ userDetails?.role === 'Driver' ? dashboardDriverMetrics?.activeLegs :
                     dashboardMetrics?.ordersThisWeek }}
                  </div>
               </div>
            </div>
         </div>
      </mat-card>
   </div>
   <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
      class="m-gap p-gap">
      <mat-card>
         <div class="card-wheather grad-green">
            <div class="city">{{ userDetails?.role === 'Driver' ? 'Legs' : 'Orders' }}</div>
            <div class="date">{{ userDetails?.role === 'Driver' ? 'Completed' : 'In Progress' }}</div>
            <div class="weather">
               <div class="sun d-flex justify-content-between">
                  <mat-icon class="fa-3x align-self-center">assignment_turned_in</mat-icon>
                  <div class="temp align-self-center">
                     {{ userDetails?.role === 'Driver' ? dashboardDriverMetrics?.completedLegs :
                     dashboardMetrics?.ordersInProgress }}
                  </div>
               </div>
            </div>
         </div>
      </mat-card>
   </div>
   <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
      class="m-gap p-gap">
      <mat-card>
         <div class="card-wheather grad-red">
            <div class="city">{{ userDetails?.role === 'Driver' ? 'Legs' : 'Orders' }}</div>
            <div class="date">{{ userDetails?.role === 'Driver' ? 'Unpaid' : 'Ready For Invoice' }}</div>
            <div class="weather">
               <div class="sun d-flex justify-content-between">
                  <mat-icon class="fa-3x align-self-center">list</mat-icon>
                  <div class="temp align-self-center">
                     {{ userDetails?.role === 'Driver' ? dashboardDriverMetrics?.unpaidLegs :
                     dashboardMetrics?.ordersReady }}
                  </div>
               </div>
            </div>
         </div>
      </mat-card>
   </div>
</div>

<!-- order Progress -->
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isAdmin">
   <div fxFlex.gt-sm="66.66%" fxFlex="100" class="m-gap p-gap">
      <mat-card>
         <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="table-title">
            <span class="title">Orders Progress</span>
            <mat-form-field class="xs-50 date-picker">
               <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="orderProgressDate"
                  (dateChange)="onChangeOrderProgressDate($event.value)" (click)="picker.open()">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
         </mat-card-title>
         <hr>
         <mat-card-content class=" mat-elevation-z8">
            <div class="order-progress">
               <mat-table class="table" [dataSource]="orderProgressDataSource">

                  <ng-container matColumnDef="order_number">
                     <mat-header-cell *matHeaderCellDef> Order # </mat-header-cell>
                     <mat-cell *matCellDef="let element;">
                        {{ element.order_number }}
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="delivery_date">
                     <mat-header-cell *matHeaderCellDef> Delivery Date </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        {{ element.est_delivery_to_time | date:'shortDate' }}
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="driver">
                     <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        {{ element.driver_name == null ? '--' : element.driver_name }}
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="progress">
                     <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <mat-progress-bar mode="determinate" [value]="element.progress"
                           [matTooltip]="element.progress + '%'">
                        </mat-progress-bar>
                     </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="orderProgressHeaderColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: orderProgressHeaderColumns;"></mat-row>
               </mat-table>
            </div>
         </mat-card-content>
         <mat-paginator #orderProgressPaginator [pageSize]="2" [showFirstLastButtons]="true">
         </mat-paginator>
      </mat-card>
   </div>

   <!-- Doughnut Chart -->
   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap">
      <mat-card>
         <mat-card-title fxLayout="row" fxLayoutAlign="start center">
            Payment Info &nbsp;
            <span fxFlex></span>
         </mat-card-title>
         <hr>
         <mat-card-content>
            <canvas height="200" baseChart class="chart" [data]="pieChartData" [options]="doughnutOptions"
               [colors]="doughnutChartColors" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
         </mat-card-content>
      </mat-card>
   </div>
</div>

<!-- Driver Board -->
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isDriver || isAdmin">
   <div fxFlex.gt-sm="66.66%" fxFlex="100" class="m-gap p-gap" *ngIf="isAdmin">
      <mat-card>
         <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="table-title">

            <span class="title">Driver Board</span>

            <mat-form-field class="xs-50 date-picker">
               <input matInput [matDatepicker]="driverBoardPicker" placeholder="Choose a date"
                  [(ngModel)]="driverBoardDate" (dateChange)="onChangeDriverBoardDate($event.value)"
                  (click)="driverBoardPicker.open()">
               <mat-datepicker-toggle matSuffix [for]="driverBoardPicker"></mat-datepicker-toggle>
               <mat-datepicker #driverBoardPicker></mat-datepicker>
            </mat-form-field>

         </mat-card-title>

         <mat-card-content class=" mat-elevation-z8">
            <div class="table-container">
               <mat-table class="table" [dataSource]="driverDataSource">

                  <ng-container matColumnDef="s.no">
                     <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                     <mat-cell *matCellDef="let row;let i = index;">
                        {{ (i+1) + currentPageIndex }}
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="driver_name">
                     <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span>{{ element.driver_name | titlecase }}</span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="current_order">
                     <mat-header-cell *matHeaderCellDef> Order # </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.current_order != null">{{ element.current_order }}</span>
                        <span *ngIf="element.current_order == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="truck_number">
                     <mat-header-cell *matHeaderCellDef> Truck # </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.truck_number != null"> {{ element.truck_number }} </span>
                        <span *ngIf="element.truck_number == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="driver_status">
                     <mat-header-cell *matHeaderCellDef> Sts </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span
                           [ngClass]="{'available':element.driver_status === 'Available','assigned':element.driver_status == 'Assigned','in-route':element.driver_status == 'In Route','in-active': element.user_status === 'inactive'}">
                           {{ element.user_status === 'inactive' ? 'In Active' : element.driver_status }}
                        </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="business_name">
                     <mat-header-cell *matHeaderCellDef> Customer</mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.business_name != null"> {{ element.business_name }} </span>
                        <span *ngIf="element.business_name == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="hazmat_req">
                     <mat-header-cell *matHeaderCellDef> Haz </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.hazmat_req != null"> {{ element.hazmat_req == 1 ? 'Y' : 'N' }} </span>
                        <span *ngIf="element.hazmat_req == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="pu_time">
                     <mat-header-cell *matHeaderCellDef> SCH PU </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.pu_time != null"> {{ element.pu_time | date:'shortDate' }} </span>
                        <span *ngIf="element.pu_time == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="pu_loc">
                     <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc"
                           [matTooltipClass]="'tooltip'" style="cursor: pointer;"> {{ element.pu_name }} </span>
                        <span *ngIf="element.pu_name == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dl_time">
                     <mat-header-cell *matHeaderCellDef> SCH DL </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.dl_time != null"> {{ element.dl_time | date:'shortDate' }} </span>
                        <span *ngIf="element.dl_time == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dl_loc">
                     <mat-header-cell *matHeaderCellDef> Delivery </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.dl_name != null" [matTooltip]="element.pu_loc"
                           [matTooltipClass]="'tooltip'" style="cursor: pointer;"> {{ element.dl_name }} </span>
                        <span *ngIf="element.dl_name == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="driverHeaderColumns">
                  </mat-header-row>
                  <mat-row *matRowDef="let row; columns: driverHeaderColumns;">
                  </mat-row>
               </mat-table>
            </div>
         </mat-card-content>

         <mat-paginator #driverBoardPaginator [pageSize]="3" [showFirstLastButtons]="true"
            (page)="onChangeDriverPage($event)" [length]="pageLength">
         </mat-paginator>

      </mat-card>
   </div>

   <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100" class="m-gap p-gap" *ngIf="isDriver">
      <mat-card>
         <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="table-title">

            <span class="title">Driver Board</span>

            <mat-form-field class="xs-50 date-picker">
               <input matInput [matDatepicker]="driverBoardPicker" placeholder="Choose a date"
                  [(ngModel)]="driverBoardDate" (dateChange)="onChangeDriverBoardDate($event.value)"
                  (click)="driverBoardPicker.open()">
               <mat-datepicker-toggle matSuffix [for]="driverBoardPicker"></mat-datepicker-toggle>
               <mat-datepicker #driverBoardPicker></mat-datepicker>
            </mat-form-field>

         </mat-card-title>

         <mat-card-content class=" mat-elevation-z8">
            <div class="table-container">
               <mat-table class="table" [dataSource]="driverDataSource">

                  <ng-container matColumnDef="s.no">
                     <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                     <mat-cell *matCellDef="let row;let i = index;">
                        {{ (i+1) + currentPageIndex }}
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="driver_name">
                     <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span>{{ element.driver_name | titlecase }}</span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="order_sequence">
                     <mat-header-cell *matHeaderCellDef> Order # </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.order_sequence != null">{{ element.order_sequence }}</span>
                        <span *ngIf="element.order_sequence == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="truck_number">
                     <mat-header-cell *matHeaderCellDef> Truck # </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.truck_number != null"> {{ element.truck_number }} </span>
                        <span *ngIf="element.truck_number == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="leg_status">
                     <mat-header-cell *matHeaderCellDef> Sts </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span
                           [ngClass]="{'assigned':element.leg_status == 'Assigned','in-route': element.leg_status == 'Picked Up'}">
                           {{ element.leg_status === 'Picked Up' ? 'In Route' : 'Assigned' }}
                        </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="business_name">
                     <mat-header-cell *matHeaderCellDef> Customer</mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.business_name != null"> {{ element.business_name }} </span>
                        <span *ngIf="element.business_name == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="hazmat_req">
                     <mat-header-cell *matHeaderCellDef> Haz </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.hazmat_req != null"> {{ element.hazmat_req == 1 ? 'Y' : 'N' }} </span>
                        <span *ngIf="element.hazmat_req == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="pu_time">
                     <mat-header-cell *matHeaderCellDef> PU Date </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.pu_time != null"> {{ element.pu_time | date:'shortDate' }} </span>
                        <span *ngIf="element.pu_time == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="pu_loc">
                     <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc"
                           [matTooltipClass]="'tooltip'" style="cursor: pointer;"> {{ element.pu_name }} </span>
                        <span *ngIf="element.pu_name == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dl_time">
                     <mat-header-cell *matHeaderCellDef> DL Date </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.dl_time != null"> {{ element.dl_time | date:'shortDate' }} </span>
                        <span *ngIf="element.dl_time == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dl_loc">
                     <mat-header-cell *matHeaderCellDef> Delivery </mat-header-cell>
                     <mat-cell *matCellDef="let element">
                        <span *ngIf="element.dl_name != null" [matTooltip]="element.pu_loc"
                           [matTooltipClass]="'tooltip'" style="cursor: pointer;"> {{ element.dl_name }} </span>
                        <span *ngIf="element.dl_name == null"> -- </span>
                     </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="driverHeaderColumns">
                  </mat-header-row>
                  <mat-row *matRowDef="let row; columns: driverHeaderColumns;">
                  </mat-row>
               </mat-table>
            </div>
         </mat-card-content>

         <mat-paginator #driverBoardPaginator [pageSize]="3" [showFirstLastButtons]="true"
            (page)="onChangeDriverPage($event)">
         </mat-paginator>

      </mat-card>
   </div>

   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap" *ngIf="isAdmin">
      <mat-card>
         <mat-card-title fxLayout="row" fxLayoutAlign="start center" class="load-type-title">
            <mat-form-field class="w-50-95">
               <input matInput [matDatepicker]="loadTypePicker" placeholder="Choose a date" [(ngModel)]="loadTypeDate"
                  (dateChange)="onChangeLoadTypeDate($event.value)" (click)="loadTypePicker.open()">
               <mat-datepicker-toggle matSuffix [for]="loadTypePicker"></mat-datepicker-toggle>
               <mat-datepicker #loadTypePicker></mat-datepicker>
            </mat-form-field>
         </mat-card-title>
         <hr>
         <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50%" fxLayoutAlign="center center" fxFlex="100"
               class="m-gap p-gap mb-0 grad-blue icon-tp">
               <div class="text-center">
                  <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
                  <div class="d-inline-block">
                     <h5>Load type</h5>
                  </div>
               </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex="100" fxLayoutAlign="center center" class="m-gap p-gap mb-0 overflow">
               <div class="card-block text-center overflow-item">
                  <div class="row">
                     <div *ngFor="let temp of loadTypeMetrics">
                        <h2>{{ temp.order_count }}</h2>
                        <p class="text-muted">{{ temp.order_flag | titlecase }}</p>
                        <hr>
                     </div>
                     <div *ngIf="loadTypeMetrics?.length === 0">
                        <h2>0</h2>
                        <p class="text-muted">Number of Flags</p>
                        <hr>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </mat-card>
   </div>
</div>