/* sign in button background style */
button.sign-in {
  background-color: rgb(45, 185, 26);
}

/* error message text style */
.form-error-msg {
  color: #f44336;
  display: block;
  padding: 5px 0;
  text-align: center;
}

/* forgot password hyperlink style */
.hyperlink {
  color: #337ab7;
  cursor: pointer;
}
