<div class="relative">

    <div class="form-bg">
    
        <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">
    
            <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
    
                <mat-card class="login-session">

                    <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()" class="mb-1 login_form">

                        <div fxLayout="column" fxLayoutAlign="start stretch">

                            <mat-form-field>
                                <input matInput placeholder="E-Mail" type="text" name="email" required
                                    formControlName="email" (input)="errorMessage = undefined">
                                <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required
                                </mat-error>
                                <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">Invalid email address
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="mb-1">
                                <input matInput placeholder="Password" [type]="passwordShowHide ? 'password' : 'text'"
                                    name="password" required formControlName="password"
                                    (input)="errorMessage = undefined">
                                <mat-icon matSuffix (click)="passwordShowHide = !passwordShowHide">
                                    {{ passwordShowHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required
                                </mat-error>
                            </mat-form-field>

                            <small *ngIf="errorMessage" class="form-error-msg"> {{ errorMessage }} </small>

                            <button mat-button class="mat-raised-button table-btn sign-in">SIGN IN</button>
                            <p>
                                <a routerLink="/authentication/forgot-password" class="hyperlink"> Forgot
                                    Password?</a>
                            </p>
                        </div>

                    </form>

                </mat-card>

            </div>
        </div>

    </div>
    
</div>