<mat-card class="card" fxLayout="row" fxLayoutAlign="space-between">

    <div class="card-container">

        <div class="card-item__multiple">
            <div class="card-title__item">

                <div class="align-title">

                    <span class="title" style="margin-right: 20px;">
                        Order # :{{ selectedOrder?.order_sequence }}
                    </span>

                    <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                        (click)="onClickEditOrder()" matTooltip="Edit" style="margin-top: 7px !important;"
                        *ngIf="isDispatch">
                        <mat-icon class="size-16" color="white">edit</mat-icon>
                    </button>

                </div>

                <span class="sub-title">
                    Order Type : {{ selectedOrder?.order_type }}
                </span>

                <span class="sub-title">
                    Status : {{ selectedOrder?.order_status }}
                </span>

            </div>

            <div class="card-info__item">
                <span class="sub-title">
                    Container Size : {{ selectedOrder?.container_size }}
                </span>

                <span class="sub-title">
                    Weight : {{ selectedOrder?.weight }} lbs
                </span>

                <span class="sub-title">
                    Created On : {{ selectedOrder?.created_on | date:'M/d/yy HH:mm' }}
                </span>
            </div>
        </div>

        <div class="card-item__tags">
            <div>Tags :</div>&nbsp;&nbsp;
            <mat-chip-list *ngIf="selectedOrder?.tag_color">
                <mat-chip *ngFor="let tag of selectedOrder?.tag_color | keyvalue;" style="color:white"
                    [style.backgroundColor]="tag.value">
                    {{ tag.key }}
                </mat-chip>
            </mat-chip-list>
            <span *ngIf="!selectedOrder?.tag_color">--</span>
        </div>
    </div>

</mat-card>


<mat-card>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

        <span>Legs</span>

        <div>

            <button mat-button type="button" style="background-color:#2196f3;"
                class="mat-raised-button table-btn" (click)="onClickAddLeg()" #addButton>
                Add Leg
            </button>&nbsp;

            <button mat-button type="button" *ngIf="!showMobileView" color="blue" class="mat-raised-button table-btn"
                (click)="addButton.focus();onClickViewOrUpload()" [tooltip]="uploadedDocumentTemplate" placement="left"
                theme="light" display-mobile="false" tooltip-class="tooltip">
                {{ isDocumentUploaded ? 'View/Upload Documents' : 'Upload Documents' }}
            </button>

            <button mat-button type="button" *ngIf="showMobileView" color="blue" class="mat-raised-button table-btn"
                (click)="addButton.focus();onClickViewOrUpload()" [tooltip]="uploadedDocumentTemplate" placement="left"
                theme="light" display-mobile="false" tooltip-class="tooltip">
                <mat-icon class="size-20;"> {{ isDocumentUploaded ? 'visibility' : 'cloud_upload' }}</mat-icon>
            </button>

        </div>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <div class="table-container leg">

            <mat-table [dataSource]="legDatasource">

                <ng-container matColumnDef="leg_number">
                    <mat-header-cell *matHeaderCellDef> Leg #</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span>{{row.leg_number}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_type">
                    <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span>{{ row.leg_type }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="driver_name">
                    <mat-header-cell *matHeaderCellDef> Driver/Carrier </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index;">
                        <a class="hyperlink" *ngIf="!row.is_brokered && row.driver_name"
                            (click)="onClickDriverName(row)">
                            {{ row.driver_name }}
                        </a>
                        <span *ngIf="!row.is_brokered && !row.driver_name">
                            <button style="width:7px ; height:7px" mat-raised-button mat-button-sm
                                class="table-action-btn" color="green" matTooltip="Assign Driver"
                                (click)="onClickAssignDriver(row,i)">
                                <mat-icon class="size-16" color="white">person_add</mat-icon>
                            </button>
                        </span>
                        <span *ngIf="row.is_brokered">
                            {{ row.carrier_name }} (Carrier)
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deadline">
                    <mat-header-cell *matHeaderCellDef> Deadline</mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">
                        <span *ngIf="row.deadline === null"> -- </span>
                        <span *ngIf="row.deadline !== null" [ngClass]="{'deadline-blink': row.isLeastTime}">
                            {{ row.deadline }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_status">
                    <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">

                        <button *ngIf="row.leg_status != null" mat-button-sm mat-raised-button class="table-action-btn"
                            [ngClass]="{'available':row.leg_status == 'Open',
                            'assigned':row.leg_status == 'Assigned',
                            'in-route':row.leg_status == 'Picked Up',
                            'delivered':row.leg_status == 'Delivered'}" [mat-menu-trigger-for]="status"
                            aria-expanded="false" data-mat-toggle="dropdown">
                            {{ row.leg_status }}
                            <mat-icon class="size-20;" color="white">expand_more</mat-icon>
                        </button>

                        <span *ngIf="row.leg_status == null"> -- </span>

                        <mat-menu #status="matMenu" class="opt-menu" x-position="after">
                            <ng-container *ngFor="let status of statuses;">
                                <button mat-menu-item *ngIf="row.leg_status !== status.label"
                                    (click)="onClickChangeStatus(row,status.label,i)"
                                    [disabled]="row.leg_status === 'Open' ? status.value !== 2 :
                                     (row.leg_status === 'Assigned' ? (row.is_brokered ? true : status.value !== 1) : true)">
                                    {{ status.label }}
                                </button>
                            </ng-container>
                        </mat-menu>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pu_name">
                    <mat-header-cell *matHeaderCellDef> Pickup</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.pu_name === null"> -- </span>
                        <span *ngIf="row.pu_name !== null" [matTooltip]="row.pu_loc" [matTooltipClass]="'tooltip'"
                            style="cursor: pointer;">
                            {{ row.pu_name }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pickup_time">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="!row.pickup_time">
                            <span *ngIf="row.pu_time && row.pu_time_to">
                                {{ row.pu_time | date:'M/d/yy HH:mm' }}
                                ~
                                {{ row.pu_time_to | date:'M/d/yy HH:mm' }}
                            </span>
                            <span *ngIf="!row.pu_time || !row.pu_time_to">
                                --
                            </span>
                        </span>
                        <span *ngIf="row.pickup_time">
                            <span *ngIf="row.pu_time !== null && row.leg_type === 'Loaded'" [matTooltip]="selectedOrder.est_pickup_from_time ?
                             selectedOrder.est_pickup_from_time : null" [matTooltipClass]="'tooltip'">
                                {{ row.pickup_time | date:'M/d/yy HH:mm'}}
                            </span>
                            <span *ngIf="row.pu_time !== null && row.leg_type !== 'Loaded'">
                                {{ row.pickup_time | date:'M/d/yy HH:mm'}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dl_name">
                    <mat-header-cell *matHeaderCellDef> Delivery</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.dl_name === null"> -- </span>
                        <span *ngIf="row.dl_name !== null" [matTooltip]="row.dl_loc" [matTooltipClass]="'tooltip'"
                            style="cursor: pointer;">
                            {{ row.dl_name }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delivery_time">
                    <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="!row.delivery_time">
                            <span *ngIf="row.dl_time && row.dl_time_to">
                                {{ row.dl_time | date:'M/d/yy HH:mm' }}
                                ~
                                {{ row.dl_time_to | date:'M/d/yy HH:mm' }}
                            </span>
                            <span *ngIf="!row.dl_time || !row.dl_time_to">
                                --
                            </span>
                        </span>
                        <span *ngIf="row.delivery_time">
                            <span *ngIf="row.dl_time !== null && row.leg_type === 'Loaded'" [matTooltip]="selectedOrder.est_delivery_to_time ?
                             selectedOrder.est_delivery_to_time : null" [matTooltipClass]="'tooltip'">
                                {{ row.delivery_time | date:'M/d/yy HH:mm'}}
                            </span>
                            <span *ngIf="row.dl_time !== null && row.leg_type !== 'Loaded'">
                                {{ row.delivery_time | date:'M/d/yy HH:mm'}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="est_miles">
                    <mat-header-cell *matHeaderCellDef> Est. Miles</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.est_miles === null"> -- </span>
                        <span *ngIf="row.est_miles !== null ">
                            {{ row.est_miles }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dmg">
                    <mat-header-cell *matHeaderCellDef>
                        {{selectedOrder.order_type === 'Inbound Intermodal' ? 'LFD' : 'DMG'}} </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="selectedOrder.order_type !== 'Inbound Intermodal' && row.dmg === null"> -- </span>
                        <span *ngIf="selectedOrder.order_type !== 'Inbound Intermodal' && row.dmg !== null ">
                            {{ row.dmg }}
                        </span>
                        <span
                            *ngIf="selectedOrder.order_type === 'Inbound Intermodal' && (row.leg_type === 'Loaded' || row.leg_type === 'Empty')">
                            {{ selectedOrder.lfd_date ? (selectedOrder.lfd_date | date:'M/d/yy') : '--' }}
                        </span>
                        <span
                            *ngIf="selectedOrder.order_type === 'Inbound Intermodal' && row.leg_type !== 'Loaded' && row.leg_type !== 'Empty'">
                            --
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="container_number">
                    <mat-header-cell *matHeaderCellDef> Container #</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.container_number === null">--</span>
                        <span *ngIf="row.container_number !== null ">
                            {{ (row.leg_type === 'Bobtail' || row.leg_type === 'Chassis') ?
                            '--' : row.container_number }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chassis_number">
                    <mat-header-cell *matHeaderCellDef> Chassis #</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.chassis_number === null">--</span>
                        <span *ngIf="row.chassis_number !== null ">
                            {{ (row.leg_type === 'Bobtail' || selectedOrder?.order_type === 'Truck Move') ? '--' :
                            row.chassis_number }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index">

                        <button [disabled]="row.leg_number === legCount"
                            [ngStyle]="{'background-color':row.leg_number === legCount ? editDisableColor : editEnableColor}"
                            mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Move Down"
                            (click)="row.leg_number === legCount ? null : onClickSortLeg(row,false,i + 1)">
                            <mat-icon class="size-16" color="white">arrow_downward</mat-icon>
                        </button>

                        <button [disabled]="row.leg_number === 1"
                            [ngStyle]="{'background-color':row.leg_number === 1 ? editDisableColor : editEnableColor}"
                            mat-raised-button mat-button-sm class="table-action-btn" matTooltip="Move Up"
                            (click)="row.leg_number === 1 ? null : onClickSortLeg(row,true,i - 1)">
                            <mat-icon class="size-16" color="white">arrow_upward</mat-icon>
                        </button>

                        <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                            (click)="onClickEditLeg(row)" matTooltip="Edit">
                            <mat-icon class="size-16" color="white">edit</mat-icon>
                        </button>

                        <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                            (click)="onClickDeleteLeg(row)" matTooltip="Delete">
                            <mat-icon class="size-16" color="white">close</mat-icon>
                        </button>

                        <button style="width:7px ; height:7px" mat-raised-button mat-button-sm class="table-action-btn"
                            color="primary" (click)="onClickPrintLoadsheet(row)" matTooltip="Print Loadsheet">
                            <mat-icon class="size-16" color="white">print</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="legColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: legColumns;">
                </mat-row>

            </mat-table>

        </div>

        <mat-paginator #legsPaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
        </mat-paginator>

    </mat-card-content>

</mat-card>

<app-notes [orderContainerChassisId]="selectedOrder?.order_container_chassis_id"></app-notes>

<mat-card>

    <mat-card-title>
        Driver Notes
    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <mat-card *ngIf="selectedOrder?.driver_notes">

            <mat-card-title>
                <span class="notes-title">
                    {{ selectedOrder?.notes_created_by | titlecase }}
                </span>&nbsp;
                <span class="notes-sub-title">
                    {{ selectedOrder?.notes_created_on | date:'M/d/yy HH:mm' }}
                </span>
            </mat-card-title>

            <mat-card-content>
                <span>
                    {{ selectedOrder?.driver_notes ? selectedOrder?.driver_notes : '--' }}
                </span>
            </mat-card-content>

        </mat-card>

    </mat-card-content>
</mat-card>

<mat-card>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

        <span>Order Charges</span>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <div class="table-container loaded-leg">

            <mat-table [dataSource]="loadedLegDatasource">

                <ng-container matColumnDef="leg_number">
                    <mat-header-cell *matHeaderCellDef> Leg # </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span> {{ row.leg_number }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leg_type">
                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span> {{ row.leg_type }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pu_name">
                    <mat-header-cell *matHeaderCellDef> Pickup </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <address style="font-style: normal;">
                            {{ row.pu_name }}
                            <br *ngIf="row.pu_street"> <span *ngIf="row.pu_street">{{ row.pu_street }}</span>
                            <br> {{ row.pu_city }} {{ row.pu_state }} {{ row.pu_postal_code }}
                        </address>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dl_name">
                    <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <address style="font-style: normal;">
                            {{ row.dl_name }}
                            <br *ngIf="row.dl_street"> <span *ngIf="row.dl_street">{{ row.dl_street }}</span>
                            <br> {{ row.dl_city }} {{ row.dl_state }} {{ row.dl_postal_code }}
                        </address>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="est_miles">
                    <mat-header-cell *matHeaderCellDef> Miles </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.order_container_chassis_id == selectedLegId">
                            <input class="input-feild" [(ngModel)]="chargesInlineInput.miles">
                        </span>
                        <span *ngIf="row.order_container_chassis_id != selectedLegId">
                            {{ row.est_miles }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.order_container_chassis_id == selectedLegId">
                            <input class="input-feild" [(ngModel)]="chargesInlineInput.rate">
                        </span>
                        <span *ngIf="row.order_container_chassis_id != selectedLegId">
                            {{ loggedInUser?.role === 'Dispatch' ? 'Hidden for Dispatch' : (row.rate | currency) }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button mat-raised-button mat-button-sm class="table-action-btn"
                            [color]="row.order_container_chassis_id != selectedLegId ? 'orange' : 'blue'"
                            (click)="row.order_container_chassis_id != selectedLegId  ? onClickEditMilesAndRate(row) : onClickSaveMilesAndRate(row)"
                            [matTooltip]="row.order_container_chassis_id !== selectedLegId ? 'Edit' : 'Save'">
                            <mat-icon class="size-16" color="white">
                                {{ row.order_container_chassis_id != selectedLegId ? 'edit' : 'save' }}
                            </mat-icon>
                        </button>

                        <button *ngIf="row.order_container_chassis_id == selectedLegId" mat-raised-button mat-button-sm
                            class="table-action-btn" color="grey" (click)="selectedLegId = 0" matTooltip="Cancel">
                            <mat-icon class="size-16" color="white">close</mat-icon>
                        </button>

                    </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="loadedLegColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: loadedLegColumns;">
                </mat-row>

            </mat-table>

        </div>

    </mat-card-content>

</mat-card>

<mat-card>

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

        <span>Accessorials</span>

        <button mat-button type="button" style="background-color:#2196f3;" class="mat-raised-button table-btn"
            (click)="onClickAddAccessoriesCharge()">
            Add Charges
        </button>

    </mat-card-title>

    <mat-card-content class="mat-elevation-z8">

        <div class="table-container accessories">

            <mat-table [dataSource]="accessoriesDatasource" class="table-accessories">

                <ng-container matColumnDef="accessories_name">
                    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.accessories_name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accessories_interval">
                    <mat-header-cell *matHeaderCellDef> Interval</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.accessories_interval}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accessories_value">
                    <mat-header-cell *matHeaderCellDef> Value</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.accessories_value}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <mat-header-cell *matHeaderCellDef> Rate</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.rate }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
                            (click)="onClickEditAccessoriesCharge(row)" matTooltip="Edit">
                            <mat-icon class="size-16" color="white">edit</mat-icon>
                        </button>

                        <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
                            (click)="onClickDeleteAccessorialCharge(row.acc_charge_id)" matTooltip="Delete">
                            <mat-icon class="size-16" color="white">close</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="accessoriesColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: accessoriesColumns;">
                </mat-row>

            </mat-table>

        </div>

        <mat-paginator #accessoriesPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
        </mat-paginator>

    </mat-card-content>

</mat-card>