.card {
  display: flex;
  height: 150px;
  justify-content: left;
  background: rgb(255, 0, 212);
  background: linear-gradient(rgba(255, 0, 255, 0.425), rgb(143, 12, 62));
  color: rgb(255, 255, 255);

  .card-container {
    padding: 0;
    display: flex;
    flex-direction: column;

    .card-item__multiple {
      display: flex;
      flex-direction: row;

      .card-title__item {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 0.5rem 4rem;
        .align-title {
          display: flex;
        }
        .title {
          font-size: 1.5rem;
        }
        .sub-title {
          font-size: medium;
        }
      }

      .card-info__item {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5rem 1rem;
        justify-content: flex-end;
        .sub-title {
          font-size: medium;
        }
      }
    }

    .card-item__tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 0.5rem 4rem;
    }
  }
}

.notes-title {
  font-size: smaller;
  font-weight: 520;
}

.notes-sub-title {
  font-size: x-small;
}

.hyperlink {
  color: #4ab5f5;
  cursor: pointer;
}

.tooltip {
  td {
    text-align: left;
  }
  background-color: antiquewhite;
}

mat-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

mat-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

.mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px;
}

.leg {
  .mat-header-cell,
  .mat-cell {
    padding-left: 4px;
    padding-right: 5px;
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 3%;
  }

  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 5%;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    flex: 0 0 6.5%;
  }

  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 5.5%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 9%;

    .available {
      padding: 1px 5px;
      margin-right: 5px;
      background-color: #24974a;
      border-radius: 1px;
      color: #fff;
    }

    .assigned {
      padding: 1px 5px;
      margin-right: 5px;
      background-color: grey;
      border-radius: 1px;
      color: #fff;
    }

    .in-route {
      padding: 1px 5px;
      margin-right: 5px;
      background-color: orange;
      border-radius: 1px;
      color: #fff;
    }

    .delivered {
      padding: 1px 8px;
      margin-right: 5px;
      background-color: rgb(24, 102, 219);
      border-radius: 2px;
      color: #fff;
    }
  }

  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 12%;
  }

  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    flex: 0 0 6%;
  }

  .mat-cell:nth-child(8),
  .mat-header-cell:nth-child(8) {
    flex: 0 0 12%;
  }

  .mat-cell:nth-child(9),
  .mat-header-cell:nth-child(9) {
    flex: 0 0 6%;
  }

  .mat-cell:nth-child(10),
  .mat-header-cell:nth-child(10) {
    flex: 0 0 3.5%;
  }

  .mat-cell:nth-child(11),
  .mat-header-cell:nth-child(11) {
    flex: 0 0 7%;
  }

  .mat-cell:nth-child(12),
  .mat-header-cell:nth-child(12) {
    flex: 0 0 6.5%;
  }

  .mat-cell:nth-child(13),
  .mat-header-cell:nth-child(13) {
    flex: 0 0 6%;
  }

  .mat-cell:nth-child(14),
  .mat-header-cell:nth-child(14) {
    flex: 0 0 13%;
  }

  .deadline-blink {
    background-color: #ff0000;
    color: white;
    padding: 1px 4px;
    border-radius: 2px;
    -webkit-animation-name: least-time; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: least-time;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes least-time {
    0% {
      background-color: #ff0000;
    }
    50% {
      background-color: white;
      color: black;
    }
    100% {
      background-color: #ff0000;
    }
  }

  /* Standard syntax */
  @keyframes least-time {
    0% {
      background-color: #ff0000;
    }
    50% {
      background-color: white;
      color: black;
    }
    100% {
      background-color: #ff0000;
    }
  }
}

.loaded-leg {
  .input-feild {
    width: 80px;
    padding: 2px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 5%;
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 7%;
    padding-left: 5px;
  }

  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 18%;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    flex: 0 0 24%;
  }

  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 24%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 10%;
  }
}

.accessories {
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 25%;
  }

  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 15%;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    flex: 0 0 15%;
  }

  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 25%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 10%;
  }

  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 10%;
  }
}

@media screen and (max-width: 599px) {
  mat-table.table-accessories {
    width: 300%;
  }
  mat-table {
    width: max-content;
    min-width: 1085px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }

  .card {
    height: 210px;
    .card-container {
      .card-item__multiple {
        flex-direction: column;
        .card-title__item {
          margin-bottom: 0px;
        }

        .card-info__item {
          margin-left: 4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table.table-accessories {
    width: 200%;
  }
  mat-table {
    width: max-content;
    min-width: 1085px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table.accessories {
    width: 200%;
  }
  mat-table {
    width: max-content;
    min-width: 1085px;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
}
