<mat-form-field [ngClass]="{'w-100': styleClass == undefined,'w-70':styleClass == 'w-70'}">
  <mat-label>{{ label }}</mat-label>
  <input matInput type="text" required [formControl]="control" [matAutocomplete]="controlAuto"
    style="text-transform: uppercase;">
  <button matSuffix mat-icon-button type="button" *ngIf="isCreatable &&
   ( initial ? ((customerNameCheck | async) || isButtonVisible) : ((customerNameCheck | async) && isButtonVisible) ) 
    && !(showLoading)" matTooltip="Quick Add Customer" aria-label="Clear" (click)="onClickAddCustomer()">
    <mat-icon>person_add</mat-icon>
  </button>
  <mat-spinner matSuffix *ngIf="showLoading" mode="indeterminate" diameter="17"></mat-spinner>
  <mat-autocomplete #controlAuto="matAutocomplete" (optionSelected)='onOptionSelected($event.option.value)'>
    <mat-option *ngFor="let controlAuto of controlAutocomplete | async" [value]="controlAuto">
      <span>{{ controlAuto }}</span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.errors?.required">
    {{ label }} is Required
  </mat-error>
  <mat-error *ngIf="control.hasError('incorrectValue')">
    Please Select Customer From Autosuggest
  </mat-error>
</mat-form-field>