<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold;font-size: 1.25rem">Advanced Search</span>
  </mat-card-title>

  <hr>

  <mat-card-content class="mat-elevation-z8">

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-container">

      <div formArrayName="fieldsArray" *ngFor="let fields of getFormArray(); let i=index;">

        <div [formGroupName]="i" class="search-container__form">

          <mat-form-field class="mx-2 w-17 xs-90 select-filter-header">
            <mat-label>Search By</mat-label>
            <mat-select formControlName="column" (selectionChange)="onChangeSearchBy(i,$event)">
              <mat-option *ngFor="let item of searchColumn" [disabled]="usedSearchColumns.includes(item.value)"
                [value]="item.value"> {{ item.label }} </mat-option>
            </mat-select>
          </mat-form-field>

          <app-general-autocomplete class="mx-2 w-30 xs-90" label="Search Field" for="searches" [isRequired]="false"
            styleClass="w-50.xs-90.margin" formControlName="values" [searchBy]="fields.get('column').value">
          </app-general-autocomplete>

          <button mat-mini-fab class="mat-raised-button table-btn-rt button24" type="button"
            (click)="onClickAddFilter(fields)" matTooltip="Add Search"
            *ngIf="(searchForm.get('fieldsArray').value.length - 1) === i">
            <mat-icon class="icon24">add</mat-icon>
          </button>

          <button mat-mini-fab class="mat-raised-button table-btn-rt button24" type="button"
            style="background-color:red" matTooltip="Delete Search" (click)="onClickDeleteFilter(i,fields.value)"
            *ngIf="(searchForm.get('fieldsArray').value.length - 1) !== i">
            <mat-icon class="icon24">close</mat-icon>
          </button>

        </div>

      </div>

      <div class="search-container__form--action">

        <button mat-button type="submit" style="background-color:#2196f3" class="mat-raised-button table-btn">
          Search
        </button>&nbsp;

        <button mat-button type="button" style="background-color:red" class="mat-raised-button table-btn"
          *ngIf="isSearched" (click)="onClickReset()">
          Reset
        </button>

      </div>

    </form>

  </mat-card-content>


  <mat-card-content *ngIf="isSearched && searchResultDatasource.data?.length !== 0" class="mat-elevation-z8">

    <div class="table-container completed-order">

      <mat-table [dataSource]="searchResultDatasource">

        <!-- Order # Column -->
        <ng-container matColumnDef="order_sequence">
          <mat-header-cell *matHeaderCellDef> Order # </mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <a class="hyperlink" (click)="onClickOrderNumber(row)">
              {{ row.order_sequence }}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Container # Column -->
        <ng-container matColumnDef="container_number">
          <mat-header-cell *matHeaderCellDef> Container # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.container_number ? row.container_number : '--' }}
          </mat-cell>
        </ng-container>

        <!-- Chassis # Column -->
        <ng-container matColumnDef="chassis_number">
          <mat-header-cell *matHeaderCellDef> Chassis # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.chassis_number ? row.chassis_number : '--' }}
          </mat-cell>
        </ng-container>

        <!-- Booking # Column -->
        <ng-container matColumnDef="booking_number">
          <mat-header-cell *matHeaderCellDef> Booking # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.booking_number ? row.booking_number : '--' }}
          </mat-cell>
        </ng-container>

        <!--delivery Column -->
        <ng-container matColumnDef="customer_reference">
          <mat-header-cell *matHeaderCellDef> Reference # </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.customer_reference ? row.customer_reference : '--' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="business_name">
          <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.business_name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_ref">
          <mat-header-cell *matHeaderCellDef> PU Ref </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.pu_ref ? row.pu_ref : '--' }}
          </mat-cell>
        </ng-container>

        <!-- Completed On Column -->
        <ng-container matColumnDef="current_status">
          <mat-header-cell *matHeaderCellDef> Current Status </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.current_status === 'Order Not Generated' ? 'Archived' : row.current_status }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="searchResultColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: searchResultColumns;"></mat-row>

      </mat-table>

    </div>

    <mat-paginator #searchResultPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
    </mat-paginator>

  </mat-card-content>

  <mat-card-content *ngIf="isSearched && searchResultDatasource.data?.length === 0">
    <h2 style="text-align: center">No Results Found</h2>
  </mat-card-content>

</mat-card>