.w-17 {
    width: 30%;

    // @media screen and (max-width: 840px) {
    //     width: 17%;
    // }
}

.w-30 {
    width: 50%;

    // @media screen and (max-width: 840px) {
    //     width: 30%;
    // }
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    .search-container__form {
        display: flex;
        align-items: center;
        position: relative;

        // @media screen and (max-width: 840px) {
        //     justify-content: space-evenly;
        // }

        @media screen and (max-width: 599px) {
            flex-direction: column;
            margin: 1rem 0;
            background-color: #dddddd36;
            border: 1px solid #eee;
            padding: 1rem;
        }
    }

    .search-container__form--action {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 840px) {
        width: 100%;
    }
}

.button24 {
    width: 30px;
    height: 30px;
    background-color: rgb(45, 185, 26);
    color: white;

    @media screen and (max-width: 599px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        line-height: 1.5rem;
        height: 1.5rem;
        border-radius: 0;
    }
}

.icon24 {
    font-size: 18px;
    margin-top: -6px;

    @media screen and (max-width: 599px) {
        font-size: 20px;
        margin-top: -16px;
        margin-left: -2px;
    }
}

.hyperlink {
    color: #337ab7;
}

.search {
    text-align: center;
}

mat-header-cell {
    display: flex;
    justify-content: left;
    color: rgba($color: #000000, $alpha: 0.87);
    font-size: 13px;
}

.mat-cell {
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 12px;
    justify-content: left;
}

.mat-header-cell,
.mat-cell {
    padding-left: 4px;
    padding-right: 4px;
}

.mat-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mat-header-row {
    background-color: #f8e0ffec;
}

@media screen and (max-width: 599px) {
    .xs-90 {
        width: 90%;
        margin: 0 !important;
    }

    mat-table {
        width: 610px;
    }

    .table-container {
        overflow-x: scroll;
    }
}
