<div class="add-dailog position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} Customer</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs w-98 xs-100">
        <input matInput placeholder="Business Name" required formControlName="businessName" type="text"
          style="text-transform: uppercase;">
        <mat-error *ngIf="customerForm.controls.businessName.errors?.required">Business Name is required
        </mat-error>
        <mat-error *ngIf="customerForm.controls.businessName.hasError('minlength')">Business Name must be atleast 2
          characters long
        </mat-error>
        <mat-error *ngIf="customerForm.controls.businessName.hasError('pattern')">Business Name must not contain space
          at start and end
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-80">
        <mat-label>Business Phone</mat-label>
        <input matInput placeholder="(000) 000-0000" type="text" formControlName="businessPhone"
          [textMask]="{mask: phoneNumberMask, guide: false}">
        <mat-error class="error-message"
          *ngIf="!customerForm.get('businessPhone').valid && (customerForm.get('businessPhone').dirty || customerForm.get('businessPhone').touched)">
          <mat-error class="error-message" *ngIf="customerForm.get('businessPhone').hasError('required')">
            Business Phone is Required
          </mat-error>
          <mat-error class="error-message" *ngIf="customerForm.get('businessPhone').hasError('pattern')">
            Enter a valid Business Phone Number
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-10 xs-20">
        <mat-label>EXT</mat-label>
        <input matInput type="text" formControlName="businessExt" [textMask]="{mask: phoneNumberExtMask, guide: false}">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Fax Number</mat-label>
        <input matInput placeholder="(000) 000-0000" type="text" formControlName="fax"
          [textMask]="{mask: phoneNumberMask, guide: false}">
        <mat-error class="error-message"
          *ngIf="!customerForm.get('fax').valid && (customerForm.get('fax').dirty || customerForm.get('fax').touched)">
          <mat-error class="error-message" *ngIf="customerForm.get('fax').hasError('required')">
            Fax Number is Required
          </mat-error>
          <mat-error class="error-message" *ngIf="customerForm.get('fax').hasError('pattern')">
            Enter a valid Fax Number
          </mat-error>
        </mat-error>
      </mat-form-field>

        <div formArrayName="emailLists">
          <div *ngFor="let emails of getControls();let i = index"
          [formGroupName]="i">

          <mat-card class="container_pro" style="margin-bottom: 15px;min-height: 125px;box-shadow: none !important;background-color: #dddddd36;">
            
          <div style="padding-top: 5px;">
            <span style="position: absolute;top: 0px;right: 0px;">
              <button mat-button *ngIf="(customerForm.get('emailLists').value.length - 1) === i &&
              customerForm.get('emailLists').value.length < 5 " matSuffix mat-icon-button aria-label="Clear"
              (click)="onClickAddEmailList(i)" matTooltip="Add" style="color: #2196f3;">
              <mat-icon>add_box</mat-icon>
            </button>

            <button mat-button *ngIf="(customerForm.get('emailLists').value.length > 1 &&
              customerForm.get('emailLists').value.length <= 5)" matSuffix mat-icon-button aria-label="Clear"
              (click)="onClickDeleteEmailList(i)" matTooltip="Delete" style="color: red;">
              <mat-icon>delete</mat-icon>
            </button>
          </span>

              <mat-form-field class="ml-xs mr-xs w-38 xs-100">
                <input matInput placeholder="Point Of Contact Name" [required]="((i>0) && ((this.customerForm.controls.emailLists.value.length - 1) == i) && 
                (this.customerForm.controls.emailLists.value[i].poc_phone == null || this.customerForm.controls.emailLists.value[i].poc_phone  == undefined || this.customerForm.controls.emailLists.value[i].poc_phone  == '') && 
                (this.customerForm.controls.emailLists.value[i].point_of_contact  == null || this.customerForm.controls.emailLists.value[i].point_of_contact  == undefined || this.customerForm.controls.emailLists.value[i].point_of_contact  == '') && 
                (this.customerForm.controls.emailLists.value[i].email  == null || this.customerForm.controls.emailLists.value[i].email  == undefined || this.customerForm.controls.emailLists.value[i].email  == ''))" type="text" formControlName="point_of_contact">
                <!-- <mat-error class="error-message"
                  *ngIf="!customerForm.get('pointOfContact').valid && (customerForm.get('pointOfContact').dirty || customerForm.get('pointOfContact').touched)">
                  Point Of Contact is Required
                </mat-error> -->
              </mat-form-field>
        
              <mat-form-field class="ml-xs mr-xs w-30 xs-80">
                <mat-label>POC Phone</mat-label>
                <input matInput placeholder="(000) 000-0000" type="text" [required]="((i>0) && ((this.customerForm.controls.emailLists.value.length - 1) == i) && 
                (this.customerForm.controls.emailLists.value[i].poc_phone == null || this.customerForm.controls.emailLists.value[i].poc_phone  == undefined || this.customerForm.controls.emailLists.value[i].poc_phone  == '') && 
                (this.customerForm.controls.emailLists.value[i].point_of_contact  == null || this.customerForm.controls.emailLists.value[i].point_of_contact  == undefined || this.customerForm.controls.emailLists.value[i].point_of_contact  == '') && 
                (this.customerForm.controls.emailLists.value[i].email  == null || this.customerForm.controls.emailLists.value[i].email  == undefined || this.customerForm.controls.emailLists.value[i].email  == '')) || (this.customerForm.controls.emailLists.value[i].poc_ext != null && this.customerForm.controls.emailLists.value[i].poc_ext !='')" formControlName="poc_phone"
                  [textMask]="{mask: phoneNumberMask, guide: false}">
                <!-- <mat-error class="error-message"
                  *ngIf="!customerForm.get('pocPhone').valid && (customerForm.get('pocPhone').dirty || customerForm.get('pocPhone').touched)">
                  <mat-error class="error-message" *ngIf="customerForm.get('pocPhone').hasError('required')">
                    Poc Phone is Required
                  </mat-error>
                  <mat-error class="error-message" *ngIf="customerForm.get('pocPhone').hasError('pattern')">
                    Enter a valid Poc Phone Number
                  </mat-error>
                </mat-error> -->
              </mat-form-field>
        
              <mat-form-field class="ml-xs mr-xs w-10 xs-20">
                <mat-label>EXT</mat-label>
                <input matInput type="text" formControlName="poc_ext" [required]="this.customerForm.controls.emailLists.value[i].poc_phone != null && this.customerForm.controls.emailLists.value[i].poc_phone !=''"  [textMask]="{mask: phoneNumberExtMask, guide: false}">
              </mat-form-field>
             
            </div>
          <mat-form-field class="ml-xs mr-xs w-98 xs-100">

            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [required]="i==0 || ((this.customerForm.controls.emailLists.value[i].poc_phone == null || this.customerForm.controls.emailLists.value[i].poc_phone  == undefined || this.customerForm.controls.emailLists.value[i].poc_phone  == '') && 
            (this.customerForm.controls.emailLists.value[i].point_of_contact  == null || this.customerForm.controls.emailLists.value[i].point_of_contact  == undefined || this.customerForm.controls.emailLists.value[i].point_of_contact  == '') && 
            (this.customerForm.controls.emailLists.value[i].email  == null || this.customerForm.controls.emailLists.value[i].email  == undefined || this.customerForm.controls.emailLists.value[i].email  == ''))" type="text" formControlName="email">


            <!-- <mat-error *ngIf="emails.hasError('required')">
              Email is Required
            </mat-error> -->
            <mat-error *ngIf="emails.hasError('pattern')">
              Enter a valid email
            </mat-error>
            <mat-error *ngIf="emails.hasError('unique')">
              Duplicate Email. Enter different email
            </mat-error>
          </mat-form-field>
        </mat-card>
      </div>
    </div>

      <section class="section">
        <div class="w-60 xs-100" fxLayout="column">
          <label class="margin">Preferred Mode of Invoicing :</label>
          <mat-radio-group formControlName="preferredInvoice">
            <mat-radio-button class="margin" value="email">Email</mat-radio-button>
            <mat-radio-button class="margin" value="postal mail">Postal Mail</mat-radio-button>
            <mat-radio-button class="margin" value="special report">Special Report</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field class="ml-xs mr-xs w-35 xs-100 select-height">
          <mat-label>Preferred Documents to Mail</mat-label>
          <mat-select formControlName="preferredDocuments" multiple>
            <mat-option *ngFor="let fileName of fileNames" [value]="fileName.value"> {{ fileName.label }} </mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <h5 style="margin-top: 15px;">Billing Address</h5>

      <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=false
        label="Billing Name" [isSame]="customerForm.get('isSameAddress').value" formControlName="billing_name"
        styleClass="w-45.xs-100.margin" (street)="customerForm.get('billingStreet').setValue($event)"
        (city)="customerForm.get('billingCity').setValue($event)"
        (postalCode)="customerForm.get('billingPostalCode').setValue($event)"
        (state)="customerForm.get('billingState').setValue($event)"
        (address)="customerForm.get('billingAddress').setValue($event);setSameAddress()"
        (name)="customerForm.get('physical_name').setValue($event);setSameAddress()">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Billing Address" [isSame]="customerForm.get('isSameAddress').value"
        isRequired="false" formControlName="billingAddress" styleClass="w-45.xs-100.margin"
        (street)="customerForm.get('billingStreet').setValue($event)"
        (city)="customerForm.get('billingCity').setValue($event)"
        (postalCode)="customerForm.get('billingPostalCode').setValue($event)"
        (state)="customerForm.get('billingState').setValue($event)"
        (name)="customerForm.get('billing_name').setValue($event);setSameAddress()"
        (address)="customerForm.get('physicalAddress').setValue($event);setSameAddress()">
      </app-midcities-address-autocomplete>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <input matInput placeholder="Street" type="text" formControlName="billingStreet" (blur)="setSameAddress()">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <input matInput placeholder="City" type="text" formControlName="billingCity" (blur)="setSameAddress()">
      </mat-form-field>
<!-- 
      <div class="ml-xs mr-xs w-10 xs-100" style="display: inline-block;">
        <app-state-autocomplete style="position: relative;" (blur)="setSameAddress()" [items]="billingStateAutoComplete | async" formControlName="billingState"></app-state-autocomplete>
      </div> -->

      
      <div class="ml-xs mr-xs w-10 xs-100" style="display: inline-block;">
        <app-state-autocomplete style="position: relative;" (blur)="setSameAddress()" formControlName="billingState"></app-state-autocomplete>
      </div>


      <mat-form-field class="ml-xs mr-xs w-10 xs-100">
        <input matInput placeholder="Postal Code" type="text" formControlName="billingPostalCode"
          (blur)="setSameAddress()">
        <mat-error class="error-message"
          *ngIf="!customerForm.get('billingPostalCode').valid && (customerForm.get('billingPostalCode').dirty || customerForm.get('billingPostalCode').touched)">
          Enter a valid postal code
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayout.xs="column">
        <h5 style="margin-top: 15px;margin-right: 24px;">Physical Address</h5>
        <mat-checkbox style="margin-top: 15px;" formControlName="isSameAddress"
          (change)="onSelectSameAsBillingAddress($event)"> Same As Billing Address
        </mat-checkbox>
      </div>

      <app-midcities-name-autocomplete [isLocationAdded]=true [locationTypes]=locationTypes [isRequired]=false
        label="Location Name" formControlName="physical_name" styleClass="w-45.xs-100.margin"
        (street)="customerForm.get('physicalStreet').setValue($event)"
        (city)="customerForm.get('physicalCity').setValue($event)"
        (postalCode)="customerForm.get('physicalPostalCode').setValue($event)"
        (state)="customerForm.get('physicalState').setValue($event)"
        (address)="customerForm.get('physicalAddress').setValue($event)">
      </app-midcities-name-autocomplete>

      <app-midcities-address-autocomplete label="Midcities Address" isRequired="false" formControlName="physicalAddress"
        styleClass="w-45.xs-100.margin" (street)="customerForm.get('physicalStreet').setValue($event)"
        (city)="customerForm.get('physicalCity').setValue($event)"
        (postalCode)="customerForm.get('physicalPostalCode').setValue($event)"
        (state)="customerForm.get('physicalState').setValue($event)"
        (name)="customerForm.get('physical_name').setValue($event)">
      </app-midcities-address-autocomplete>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <input matInput placeholder="Street" type="text" formControlName="physicalStreet">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <input matInput placeholder="City" type="text" formControlName="physicalCity">
      </mat-form-field>

      <!-- <div class="ml-xs mr-xs w-10 xs-100" style="display: inline-block;">
        <app-state-autocomplete style="position: relative;" [items]="physicalStateAutocomplete | async" formControlName="physicalState"></app-state-autocomplete>
      </div> -->

      <div class="ml-xs mr-xs w-10 xs-100" style="display: inline-block;">
        <app-state-autocomplete style="position: relative;" formControlName="physicalState"></app-state-autocomplete>
      </div>

      <mat-form-field class="ml-xs mr-xs w-10 xs-100">
        <input matInput placeholder="Postal Code" type="text" formControlName="physicalPostalCode">
        <mat-error class="error-message"
          *ngIf="!customerForm.get('physicalPostalCode').valid && (customerForm.get('physicalPostalCode').dirty || customerForm.get('physicalPostalCode').touched)">
          Enter a valid postal code
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-98 xs-100">
        <mat-label>Customer Notes</mat-label>
        <input matInput placeholder="Write some notes about customer" type="text" formControlName="customerNotes">
        <mat-error class="error-message"
          *ngIf="!customerForm.get('customerNotes').valid && (customerForm.get('customerNotes').dirty || customerForm.get('customerNotes').touched)">
          Customer Notes is Required
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!customerForm.valid">
        {{ editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>