.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-45 {
  width: 45%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
.w-5 {
  width: 5%;
}
.w-15 {
  width: 15%;
}
.w-25 {
  width: 25%;
}
.w-35 {
  width: 35%;
}
.w-48 {
  width: 48%;
}

.w-75 {
  width: 75%;
}
.w-85 {
  width: 85%;
}
.w-95 {
  width: 95%;
}
.w-98 {
  width: 98%;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
}

.margin {
  margin: 8px;
}

@media screen and (max-width: 729px) {
  .section {
    flex-direction: column;
    align-items: unset;

    .xs-100 {
      width: 100%;
    }

    .xs-20 {
      width: 20%;
    }

    .xs-80 {
      width: 80%;
    }
  }
}

@media screen and (max-width: 599px) {
  .xs-100 {
    width: 100%;
    margin: 0 !important;
  }

  .margin {
    margin-left: 0px !important;
  }

  .mat-checkbox {
    margin-bottom: 8px;
  }

  .xs-20 {
    width: 16%;
    margin-left: 8px !important;
    margin-right: 0 !important;
  }

  .xs-80 {
    width: 80%;
    margin: 0 !important;
  }
}
