/*
//--Theme Info--//

Theme Name: Optima Angular 5 Admin Template
Version: 1.0
Author: TrendSetter Themes


//-- Table of Content --//

---------------
1. Core
---------------
    1.1 Scaffolding
    1.2 Typography
    1.3 Main Sidebar
    1.4 Main Header
    1.5 Main Panel
    1.6 Sessions
    
---------------
2. Components
---------------
---------------
3. Material
---------------
    3.1 Material Variables
    3.2 Material Theme
    3.3 App Variables
    3.4 Mixin
    3.5 Material
    
---------------
3. Utilities
---------------*/

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "scss/material.variables";
@import "scss/material.themes";
@import "scss/mixins/bi-app/bi-app-ltr";
// Core Variables and Mixins
@import "scss/app.variables";
@import "scss/mixins";
// Core Styles
@import "scss/core";
@import "scss/material";
@import "scss/utilities/utilities";

.warning-msg {
  background: rgb(223, 98, 15);
  .mat-button {
    color: white !important;
    background: green !important;
  }
}

.failure-msg {
  background: rgb(223, 15, 15);
}

.success-msg {
  background: rgb(4, 158, 81);
}

.notifier__notification--default {
  background-color: #444444c2 !important;
  // color: #fffffe;
}

.position {
  position: relative;
}

.drag-drop-handle {
  position: absolute;
  top: -15px;
  right: -10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.snackbar-transparent {
  background: #444444a6;
  color: whitesmoke;
}

.mat-tooltip.tooltip {
  font-size: 11px; // current default is 10px
}

.mat-tooltip.tooltip-railtrace{
  font-size: 12px;
}

.filter-button {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
}

.select-filter-header {
  .mat-select-trigger {
    height: 0px !important;
    padding-bottom: 0px !important;
  }
}

.select-height {
  .mat-select-trigger {
    height: 0px !important;
    padding-bottom: 0px !important;
  }
}

.mat-autocomplete-panel {
  min-width: 345px !important;
}

.allow-cr {
  font-size: 11px;
  white-space: pre;
}

.head-title {
  font: bold;
  font-size: 1.25rem;
}

.owl-dt-container-info .owl-dt-container-info-active {
  color: #3f51b5;
  font-weight: bolder;
}
