<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span style="font: bold">Driver Details</span>
    <div *ngIf="!driverRole">
      <mat-form-field class="xs-40">
        <input matInput type="text" placeholder="Search By Driver Name" [(ngModel)]="searchFilterValue"
          (keydown.enter)="onSearch()">
        <button mat-button *ngIf="searchFilterValue" matTooltip="Reset" matSuffix mat-icon-button aria-label="Clear"
          (click)="onClearSearch()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button *ngIf="searchFilterValue !== ''" matTooltip="Search" matSuffix mat-icon-button
          aria-label="Clear" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>&nbsp;
      <button mat-button type="button" style="background-color:red;" class="mat-raised-button table-btn"
        (click)="onClickReset()" *ngIf="columnFilterEvent">
        Reset
      </button>
      <button mat-button type="button" style="background-color:rgb(250, 123, 3);" class="mat-raised-button table-btn"
        (click)="onClickDriverFilter()">
        Filter Columns
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table__responsive-scroll">

      <mat-table #driverDetailSort [dataSource]="driverDetailsDatasource" matSort
        (matSortChange)="onChangeSortDirection($event)">

        <ng-container matColumnDef="s_no">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">
            <button mat-raised-button class="serial-btn" (click)="onClickSerialNumber(row)">
              {{ (i+1)+currentPageIndex }}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="truck_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Truck # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.driver_id == selectedDriverId">
              <select class="input-feild__truck" [(ngModel)]="driverDetailInlineInput.truck_number"
                (change)="onSelectTruck($event)">
                <option [value]="null">Select</option>
                <option *ngFor="let truck of truckList" [value]="truck.truck_no" [disabled]="truck.isDisabled">
                  {{ truck.truck_no }}
                </option>
              </select>
            </span>
            <span *ngIf="element.driver_id != selectedDriverId">
              {{ element.truck_number ? element.truck_number : '--' }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="hyperlink" (click)="onClickDriverName(element)">{{ element.driver_name | titlecase }} </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              [ngClass]="{'available':element.user_status === 'active','in-active':element.user_status === 'inactive'}">
              {{ element.user_status ? (element.user_status | titlecase) : '--' }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone_number">
          <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.driver_id == selectedDriverId">
              <input class="input-feild__phone" type="text" [textMask]="{mask: phoneNumberMask, guide: false}"
                [(ngModel)]="driverDetailInlineInput.phone_number">
            </span>
            <span *ngIf="element.driver_id != selectedDriverId">
              <a class="hyperlink" *ngIf="element.phone_number != null" [href]="'tel:' + element.phone_number">
                {{ element.phone_number }}
              </a>
            </span>
            <span *ngIf="element.driver_id != selectedDriverId && element.phone_number == null">
              --
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.email != null">{{ element.email }}</span>
            <span *ngIf="element.email == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="current_order">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Current Order </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.current_order != null">{{ element.current_order }}</span>
            <span *ngIf="element.current_order == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              [ngClass]="{'available':element.driver_status === 'Available','assigned':element.driver_status == 'Assigned','in-route':element.driver_status == 'In Route'}">
              {{ element.driver_status }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leg_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Leg Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.leg_type != null">{{ element.leg_type }}</span>
            <span *ngIf="element.leg_type == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pu_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Shipper </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.pu_name != null" [matTooltip]="element.pu_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">{{ element.pu_name }}</span>
            <span *ngIf="element.pu_name == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dl_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Consignee </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.dl_name != null" [matTooltip]="element.dl_loc" [matTooltipClass]="'tooltip'"
              style="cursor: pointer;">{{ element.dl_name }}</span>
            <span *ngIf="element.dl_name == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="container_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Container Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.container_type != null">{{ element.container_type }}</span>
            <span *ngIf="element.container_type == null"> -- </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hazmat_certified">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Hazmat Certified </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.hazmat_certified != null">{{ element.hazmat_certified == 1 ? 'Yes' : 'No' }}</span>
            <span *ngIf="element.hazmat_certified == null"> -- </span>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <button mat-raised-button mat-button-sm class="table-action-btn"
              [color]="element.driver_id != selectedDriverId ? 'orange' : 'blue'"
              (click)="element.driver_id != selectedDriverId ? onClickEditDriver(element) : onClickSaveDriver(element)"
              #tooltip="matTooltip" matTooltip="Edit" matTooltipHideDelay="100">
              <mat-icon class="size-16" color="white">
                {{ element.driver_id != selectedDriverId ? 'edit' : 'save' }}
              </mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn"
              [color]="element.driver_id == selectedDriverId ? 'grey' : 'red'"
              (click)="element.driver_id == selectedDriverId ? selectedDriverId = 0 : driverRole ? null : onClickDeleteDriver(element)"
              [disabled]="element.driver_id == selectedDriverId ? false : driverRole" #tooltip="matTooltip"
              matTooltip="Delete" matTooltipHideDelay="100">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>

          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="driverDetailsColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: driverDetailsColumns;">
        </mat-row>
      </mat-table>
    </div>

    <mat-paginator #driverDetailPaginator [length]="pageLength" [pageSize]="50" [pageSizeOptions]="[10, 25, 50]"
      (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>