.available {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #24974a;
  border-radius: 1px;
  color: #fff;
}

.assigned {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 1px;
  color: #fff;
}

.in-route {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: orange;
  border-radius: 1px;
  color: #fff;
}

.in-active {
  padding: 1px 5px;
  margin-right: 5px;
  background-color: #f31414;
  border-radius: 1px;
  color: #fff;
}

.mat-header-cell,
.mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 4%;

  .serial-btn {
    padding: 0 5px;
    line-height: 30px;
    min-width: 30px;
  }
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 10%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 7%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 12%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(9),
.mat-header-cell:nth-child(9) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(10),
.mat-header-cell:nth-child(10) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(11),
.mat-header-cell:nth-child(11) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(12),
.mat-header-cell:nth-child(12) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(13),
.mat-header-cell:nth-child(13) {
  flex: 0 0 7%;
}

// .mat-cell:nth-child(14),
// .mat-header-cell:nth-child(14) {
//   flex: 0 0 5%;
// }

mat-header-cell {
  display: flex;
  justify-content: left;
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 13px;
}

.mat-cell mat-icon.size-16 {
  width: 16px;
  height: 17px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
}

.mat-cell button {
  min-width: 20px;
  min-height: 20px;
}

.mat-cell {
  color: rgba($color: #000000, $alpha: 0.75);
  font-size: 12px;
  justify-content: left;
}

#cdk-overlay-1 {
  min-width: 580px !important;
  pointer-events: auto;
  font-size: 14px;
  top: 181.156px !important;
  left: 361.885px !important;
  transform: translateX(-44px);
}

.mat-card-title {
  button {
    margin-right: 5px;
  }
}

.input-feild__truck {
  height: 28px;
  width: 60px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5%;
}

.input-feild__phone {
  width: 80px;
  padding: 2px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 5%;
}

.hyperlink {
  color: #337ab7;
  cursor: pointer;
}

.hyperlink:hover {
  color: #3c8dbc;
  cursor: pointer;
}

.mat-header-row {
  background-color: #f8e0ffec;
}

mat-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media screen and (max-width: 599px) {
  mat-table {
    width: max-content;
  }
  .table__responsive-scroll {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 15px;
  }
  .xs-40 {
    width: 40%;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-table {
    width: max-content;
  }
  .table__responsive-scroll {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    padding: 0px 20px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 12px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  mat-table {
    width: max-content;
  }
  .table__responsive-scroll {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  mat-header-cell,
  mat-cell {
    width: 125px;
    text-align: left;
  }
  mat-header-cell:nth-child(1) {
    padding-left: 13px;
  }
}

button:disabled {
  cursor: not-allowed;
}
