<div class="add-dailog position" fxFlex.xs="100%" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} Location</h2>

    <mat-dialog-content>

      <mat-form-field class="w-95 xs-100">
        <mat-label>Location Type</mat-label>
        <mat-select formControlName="locationType" required>
          <mat-option *ngFor="let locationType of locationTypes" [value]="locationType.value">{{ locationType.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="!locationForm.get('locationType').valid && (locationForm.get('locationType').dirty || locationForm.get('locationType').touched)">
          Location Type is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-95 xs-100">
        <mat-label>Location Name</mat-label>
        <input matInput type="text" required placeholder="Location Name" formControlName="locationName"
          style="text-transform: uppercase;">
        <mat-error
          *ngIf="!locationForm.get('locationName').valid && (locationForm.get('locationName').dirty || locationForm.get('locationName').touched)">
          Location Name is Required
        </mat-error>
      </mat-form-field>

      <app-bing-autocomplete label="Bing Api Address" styleClass="w-95.xs-100" formControlName="address"
        (street)="locationForm.get('street').setValue($event)" (city)="locationForm.get('city').setValue($event)"
        (postalCode)="locationForm.get('postalCode').setValue($event)"
        (state)="locationForm.get('state').setValue($event)">
      </app-bing-autocomplete>

      <mat-form-field class="w-30 xs-100">
        <mat-label>Street</mat-label>
        <input matInput type="text" placeholder="street" formControlName="street">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-30 xs-100">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="Kitty City" formControlName="city">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-15 xs-100">
        <mat-label>Postal Code</mat-label>
        <input matInput placeholder="66312" type="text" formControlName="postalCode">
        <mat-error
          *ngIf="!locationForm.get('postalCode').valid && (locationForm.get('address').dirty || locationForm.get('address').touched)">
          Enter a valid postal code
        </mat-error>
      </mat-form-field>

      <div class="ml-xs mr-xs w-14 xs-100" style="display: inline-block;">
        <app-state-autocomplete style="position: relative;" formControlName="state"> </app-state-autocomplete>
      </div>

      <mat-form-field class="phone-form w-30 xs-80">
        <mat-label>Phone #</mat-label>
        <input matInput type="text" required formControlName="phoneNumber"
          [textMask]="{mask: phoneNumberMask, guide: false}">
        <mat-error *ngIf="locationForm.get('phoneNumber').hasError('required')">
          Phone Number is Required
        </mat-error>
        <mat-error *ngIf="locationForm.get('phoneNumber').hasError('pattern')">
          Enter a valid Phone Number
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-10 xs-20">
        <mat-label>EXT</mat-label>
        <input matInput type="text" formControlName="ext" [textMask]="{mask: phoneNumberExtMask, guide: false}">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-45 xs-100">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Enter the email address" formControlName="email">
        <mat-error *ngIf="locationForm.get('email').hasError('required')">
          Email is Required
        </mat-error>
        <mat-error *ngIf="locationForm.get('email').hasError('pattern')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mr-xs w-45 xs-45">
        <mat-label>Receiving Hrs From</mat-label>
        <input matInput placeholder="HH:mm" [required]="locationForm.get('fromTime').value !== null"
          formControlName="fromTime" [owlDateTimeTrigger]="from" [owlDateTime]="from">
        <owl-date-time [pickerType]="'timer'" #from></owl-date-time>
        <button type="button" matSuffix mat-icon-button aria-label="Clear" [owlDateTimeTrigger]="from">
          <mat-icon>schedule</mat-icon>
        </button>
        <mat-error *ngIf="locationForm.get('fromTime').hasError('required')">
          From Time is Required
        </mat-error>
      </mat-form-field>

      <span class="seperator"> — </span>

      <mat-form-field class="ml-xs mr-xs w-45 xs-45">
        <mat-label>Receiving Hrs To</mat-label>
        <input matInput placeholder="HH:mm" [required]="locationForm.get('fromTime').value !== null"
          formControlName="toTime" [owlDateTimeTrigger]="to" [owlDateTime]="to">
        <owl-date-time [pickerType]="'timer'" #to></owl-date-time>
        <button type="button" matSuffix mat-icon-button aria-label="Clear" [owlDateTimeTrigger]="to">
          <mat-icon>schedule</mat-icon>
        </button>
        <mat-error *ngIf="locationForm.get('toTime').hasError('required')">
          To Time is Required
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}" [disabled]="!locationForm.valid">{{
      editMode ? 'Save' : 'Create' }}</button>
    </mat-dialog-actions>

  </form>

</div>