.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}

.w-26 {
  width: 26%;
}

.w-14 {
  width: 14.2%;
}
.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-45 {
  width: 45%;
}

.w-95 {
  width: 95%;
}

.phone-form {
  margin-right: 10px;
}

.seperator {
  margin: 27px 2px 0;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .xs-100 {
    margin: 0 !important;
    width: 100%;
  }

  .xs-80 {
    margin: 0 !important;
    width: 80%;
  }

  .xs-20 {
    margin-left: 8px !important;
    margin-right: 0 !important;
    width: 16%;
  }

  .xs-45 {
    margin: 0 !important;
    width: 45%;
  }
}
