<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form [formGroup]="driverRateForm" (ngSubmit)="onSubmit()">

    <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} Driver Rate</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs" style="width: 95%;">
        <mat-label>Leg Type</mat-label>
        <mat-select placeholder="Bobtail" required formControlName="leg_type_id">
          <mat-option *ngFor="let legType of legTypes" [value]="legType.value">{{ legType.label }}</mat-option>
        </mat-select>
        <mat-error class="error-message" *ngIf="driverRateForm.get('leg_type_id').hasError('required')">
          Leg Type is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs" style="width: 95%;">
        <mat-label>Driver Type</mat-label>
        <mat-select placeholder="Select an option" required formControlName="driver_type_id">
          <mat-option *ngFor="let driverType of driverTypes" [value]="driverType.value">{{ driverType.label }}
          </mat-option>
        </mat-select>
        <mat-error class="error-message" *ngIf="driverRateForm.get('driver_type_id').hasError('required')">
          Driver Type is Required
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">

        <h2 mat-dialog-title> Rate Per Mile </h2>

        <button mat-mini-fab class="button24" type="button" (click)="onClickAddMileRate()">
          <mat-icon class="icon24">add</mat-icon>
        </button>

      </div>

      <div formArrayName="rates_per_mile">

        <div *ngFor="let mile of getMileRate(); let i = index;" class="form-container__rate" [formGroupName]="i"
          fxLayout="row" fxLayoutAlign="space-between start">

          <button mat-icon-button type="button"
            [style.visibility]="i > 0 && ((driverRateForm.get('rates_per_mile').value.length - 1) === i) ? 'visible' : 'hidden'"
            class="mat-raised-button table-btn-rt remove-btn" (click)="onClickRemoveMileRate(i)">
            <mat-icon>close</mat-icon>
          </button>

          <mat-radio-group class="radio-margin" formControlName="fixed_rate" (change)=onChangeRadioButton($event,i)>
            <mat-radio-button style="margin-right: 10px;" [value]="1">
              FR
            </mat-radio-button>
            <mat-radio-button [value]="0">
              CPM
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field class="w-20 xs-w">
            <mat-label>Range From</mat-label>
            <input matInput type="number" min="0" readonly required formControlName="range_from">
            <mat-error class="error-message"
              *ngIf="driverRateForm.get('rates_per_mile').controls[i].get('range_from').hasError('required')">
              Range From is Required
            </mat-error>
            <mat-error class="error-message"
              *ngIf="driverRateForm.get('rates_per_mile').controls[i].get('range_from').hasError('pattern')">
              Range From must be number
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-20-drop xs-w">
            <mat-label>Range To</mat-label>
            <input matInput type="number" min=0
              [required]="!((driverRateForm.get('rates_per_mile').value.length - 1) === i)" formControlName="range_to"
              (keyup)="onChangeRangeTo($event.target.value,i)">
            <mat-hint *ngIf="((driverRateForm.get('rates_per_mile').value.length - 1) === i)">
              Please leave this value empty to choose any number above
              {{ driverRateForm.get('rates_per_mile').controls[i].get('range_from').value === null ?
               'Range From' : driverRateForm.get('rates_per_mile').controls[i].get('range_from').value }}
            </mat-hint>
            <mat-error class="error-message"
              *ngIf="driverRateForm.get('rates_per_mile').controls[i].get('range_to').hasError('required')">
              Range To is Required
            </mat-error>
            <mat-error class="error-message"
              *ngIf="driverRateForm.get('rates_per_mile').controls[i].get('range_to').hasError('pattern')">
              Range To must be number
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-20 xs-w">
            <mat-label>{{ driverRateForm.get('rates_per_mile').controls[i].get('rate_label').value }}</mat-label>
            <input matInput type="number" min=0 required formControlName="rate">
            <mat-error class="error-message"
              *ngIf="driverRateForm.get('rates_per_mile').controls[i].get('rate').hasError('required')">
              Rate is Required
            </mat-error>
            <mat-error class="error-message"
              *ngIf="driverRateForm.get('rates_per_mile').controls[i].get('rate').hasError('pattern')">
              Rate must be number
            </mat-error>
          </mat-form-field>

        </div>

      </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="dialogRef.close()">Cancel</button>

      <button mat-button type="submit" class="mat-raised-button table-btn"
        [ngStyle]="{'background-color': editMode ? editButtonColor : addButtonColor}"
        [disabled]="!driverRateForm.valid">
        {{ editMode ? 'Save' : 'Create' }}</button>

    </mat-dialog-actions>

  </form>

</div>