.button24 {
    width: 30px;
    height: 30px;
    background-color: rgb(45, 185, 26);
    color: white;
    margin-bottom: 16px;
}

.icon24 {
    font-size: 18px;
    margin-top: -6px;
}

.w-20 {
    width: 20%;
}

.w-20-drop {
    width: 20%;
    margin-bottom: 1.5rem;
}

.form-container__rate {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    background-color: #dddddd36;
    border: 1px solid #eee;
    padding: 1rem;
    position: relative;
}

.remove-btn {
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    line-height: 1.5rem;
    height: 1.5rem;
    border-radius: 0;
    mat-icon {
        font-size: 20px;
    }
}

.radio-margin {
    margin: 1rem 0;
}

@media screen and (min-width: 625px) and (max-width: 730px) {
    .form-container__rate {
        display: inline-block !important;

        .radio-margin {
            margin-right: 2rem;
        }
    }

    .xs-w {
        width: 45%;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 624px) {
    .form-container__rate {
        display: flex !important;
        flex-direction: column;
    }

    .xs-w {
        width: 100%;
    }
}
