.full-width-margin {
  margin: 8px;
  width: 45%;
}

.w-100 {
  width: 100%;
}

.edit-container {
  margin: 8px;
  width: 40%;
}

.manual-invoice {
  margin: 0.6rem 0;
  width: 70%;
}

.leg {
  margin: 8px;
  width: 35%;
}

.order {
  margin: 8px;
  width: 30%;
}

@media screen and (max-width: 599px) {
  .full-width-margin {
    width: 100%;
    margin: 0 !important;
  }

  .edit-container {
    width: 100%;
    margin: 0 !important;
  }

  .leg {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .leg {
    width: 100%;
    margin: 0 !important;
  }
}
