<mat-form-field [ngClass]="{'full-width-margin':styleClass == 'w-45.xs-100.margin',
  'manual-invoice':styleClass == 'w-70.margin',
  'leg':styleClass == 'w-35.xs-100.margin',
  'order':styleClass == 'w-30.margin',
  'edit-container':styleClass == 'w-40.xs-100.margin',
  'w-100':styleClass == 'w-100'}">
  <mat-label>{{ label }}</mat-label>
  <input matInput type="text" [required]="isRequired" [formControl]="control" (blur)="isSame ? onChangeName() : null"
    [matAutocomplete]="controlAuto" style="text-transform: uppercase;">
  <button type="button" [disabled]="isBtnDisabled" *ngIf="isLocationAdded && 
    ( initial ? ((addressCheck | async) || isButtonVisible) : ((addressCheck | async) && isButtonVisible) ) 
    && !(showLoading)" matTooltip="Quick Add Location" matSuffix mat-icon-button aria-label="Clear"
    (click)="onClickAddLocation()">
    <mat-icon>add_location</mat-icon>
  </button>
  <mat-spinner matSuffix *ngIf="showLoading" mode="indeterminate" diameter="17"></mat-spinner>
  <mat-autocomplete #controlAuto="matAutocomplete" (optionSelected)='onOptionSelected($event.option.value)'>
    <mat-option *ngFor="let controlAuto of controlAutocomplete | async" [value]="controlAuto">
      <span>{{ controlAuto }}</span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.errors?.required">
    {{ label }} is Required
  </mat-error>
  <mat-error *ngIf="control.hasError('customError')">
    {{ label }} Address must not be same as {{ compareLabel }} Address
  </mat-error>
</mat-form-field>