.title {
    font-size: smaller;
    font-weight: 520;
}

.sub-title {
    font-size: x-small;
}

.title-btn {
    background-color: rgb(45, 185, 26);
    border-radius: 0;
    height: 24px;
    width: 24px;
    margin-right: 14px;
}

.title-icon {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 13px;
}

mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: white;
}

.notes-wrap {
    word-wrap: break-word;
    white-space: pre-wrap;
}
