<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ this.injectedData.title }} Notes</span>

    <button mat-icon-button class="mat-raised-button table-btn title-btn" (click)="onClickAddNotes()"
      *ngIf="injectedData.isMultipleNotes" matTooltip="Add Notes">
      <mat-icon class="title-icon">add</mat-icon>
    </button>
  </h2>

  <mat-dialog-content>

    <ng-template [ngIf]="!injectedData.isMultipleNotes">

      <mat-card *ngFor="let item of injectedData.notes;let i = index">

        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

          <div>
            <span class="title">
              {{ item.created_by ? (item.created_by | titlecase) : 'Customer Specific Notes' }}
            </span>&nbsp;
            <span class="sub-title">
              {{ item.created_on ? (item.created_on | date:'M/d/yy HH:mm') : '' }}
            </span>
          </div>

          <div *ngIf="!isEdit">
            <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
              (click)="isEdit = true;notesValue = item.notes">
              <mat-icon class="size-16" color="white">edit</mat-icon>
            </button>
          </div>

          <div *ngIf="isEdit">
            <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
              (click)="onClickSaveSingleNotes()">
              <mat-icon class="size-16" color="white">save</mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
              (click)="isEdit = false;notesValue = null">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>
          </div>

        </mat-card-title>

        <mat-card-content>
          <span class="notes-wrap" *ngIf="!isEdit">
            {{ item.notes ? item.notes : '--' }}
          </span>
          <textarea *ngIf="isEdit" matInput placeholder="Notes" matTextareaAutosize matAutosizeMinRows="1.5"
            [(ngModel)]="notesValue"></textarea>
        </mat-card-content>

      </mat-card>

    </ng-template>

    <ng-template [ngIf]="injectedData.isMultipleNotes">

      <mat-card *ngFor="let item of injectedData.notes;let i = index">

        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">

          <div>
            <span class="title">
              {{ item.created_by | titlecase }}
            </span>&nbsp;
            <span class="sub-title">
              {{ item.created_on | date:'M/d/yy HH:mm ' }}
            </span>
          </div>

          <div *ngIf="item.notes_id != selectedNotesId && item.notes_id"
            [style.visibility]="user.userId === item.user_id ? 'visible' : 'hidden'">
            <button mat-raised-button mat-button-sm class="table-action-btn" color="orange"
              (click)="selectedNotesId = item.notes_id;notesValue = item.notes">
              <mat-icon class="size-16" color="white">edit</mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn" color="red"
              (click)="onDeleteNotes(item.notes_id)">
              <mat-icon class="size-16" color="white">delete</mat-icon>
            </button>
          </div>

          <div *ngIf="item.notes_id == selectedNotesId || !item.notes_id">
            <button mat-raised-button mat-button-sm class="table-action-btn" color="blue"
              (click)="!item.notes_id ? onSaveNotes(item) : onSaveEditNotes(item);">
              <mat-icon class="size-16" color="white">save</mat-icon>
            </button>

            <button mat-raised-button mat-button-sm class="table-action-btn" color="red" (click)="(!item.notes_id ? onCancelNotes(i) : selectedNotesId = 0);
          (!item.notes_id ? notesValue = null : notesValue = null)">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>
          </div>

        </mat-card-title>

        <mat-card-content>
          <span class="notes-wrap" *ngIf="item.notes_id != selectedNotesId && item.notes_id">
            {{ item.notes }}
          </span>
          <textarea *ngIf="item.notes_id == selectedNotesId || !item.notes_id" matInput placeholder="Notes"
            matTextareaAutosize matAutosizeMinRows="1.5" [(ngModel)]="notesValue"></textarea>
        </mat-card-content>

      </mat-card>

      <mat-card *ngIf="!injectedData.notes.length">
        <mat-card-content>
          <h4 style="text-align: center">No Notes</h4>
        </mat-card-content>
      </mat-card>

    </ng-template>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
      (click)="onClose()">Close</button>
  </mat-dialog-actions>

</div>