.logo {
  width: 30%;
  min-width: 270px;
  min-height: 150px;
  margin-right: 1rem;
  margin-left: 2rem;
}

.w-50 {
  width: 50%;
}

.vertical-top {
  vertical-align: top;
}

.address {
  display: inline-block;
  width: 35%;
  vertical-align: bottom;
}

.midcities {
  vertical-align: middle;
}

table.remarks {
  width: 50%;
}

table.signature {
  width: 50%;
}

table {
  // border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ffffff;
  text-align: left;
}

td {
  border: 1px solid #ffffff;
  text-align: left;
}
