<div class="position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h2 mat-dialog-title> Pickup/Delivery Receipt </h2>

  <mat-dialog-content>

    <div id="printablediv">

      <div class="midcities">
        <!-- <img class="logo" src="../../../../assets/images/midcities.png" alt="MidcitiesLogo"> -->
        <div class="address">
          <strong>MidCities Motor Freight, Inc.</strong>
          <br> 6006 Lake Avenue
          <br> St. Joseph, MO 64504 - 0025
          <br> Phone: (816) 238-8000
          <br> Email: info@example.com
          <br>
        </div>
      </div>

      <br>

      <hr>

      <br>

      <table>
        <tr>
          <td class="w-50">
            <span><strong> Shipper Ref:</strong> {{selectedorder.pu_ref}}</span>
          </td>
          <td class="w-50">
            <span><strong> Client Ref:</strong> {{selectedorder.dl_ref}}</span>
          </td>
        </tr>
        <tr>
          <td class="w-50">
            <span><strong> Client Code: </strong> {{selectedorder.business_name.slice(0,3) | uppercase}}</span>
          </td>
          <td class="w-50">
            <span><strong> Client Name:</strong> {{selectedorder.business_name}}</span>
          </td>
        </tr>
        <tr>
          <td class="w-50">
            <span><strong> Customer Ref: </strong> {{ selectedorder.customer_reference }}</span>
          </td>
          <td class="w-50">
            <span><strong> Order Type: </strong> {{ selectedorder.order_type }}</span>
          </td>
        </tr>
      </table>

      <br>

      <table>
        <tr>
          <th>Order #</th>
          <th>Size</th>
          <th>Type</th>
          <th>Weight</th>
          <th>Chassis #</th>
          <th>Container Owner</th>
        </tr>
        <tr>
          <td>{{selectedorder.order_number}}/{{selectedorder.container_sequence}}</td>
          <td>{{selectedorder.container_size}}</td>
          <td>{{selectedorder.container_type}}</td>
          <td>{{selectedorder.weight}}</td>
          <td>{{selectedorder.chassis_number}}</td>
          <td>{{selectedorder.container_name}}</td>
        </tr>
      </table>

      <br>

      <table>
        <tr>
          <td class="w-50">
            <span><strong> Booking Ref:</strong> {{selectedorder.booking_number}}</span>
          </td>
          <td class="w-50">
            <span>
              <strong> Driver/Carrier:</strong>
              {{ selectedleg.is_brokered ? (selectedleg.carrier_name + ' ' + '(Carrier)') : selectedleg.driver_name }}
            </span>
          </td>
        </tr>
      </table>

      <br>

      <table>
        <tr>
          <th>Leg</th>
          <th>Container #</th>
          <th>Type</th>
          <th>Pickup Date</th>
          <th>Pickup</th>
          <th>Pickup Ref#</th>
          <th>Delivery Date</th>
          <th>Delivery</th>
        </tr>
        <tr>
          <td class="vertical-top">{{selectedleg.leg_number}}</td>
          <td class="vertical-top">{{selectedleg.container_number}}</td>
          <td class="vertical-top">{{selectedleg.leg_type}}</td>
          <td class="vertical-top">
            <span *ngIf="!selectedleg.pickup_time">
              <span *ngIf="selectedleg.pu_time && selectedleg.pu_time_to">
                {{ selectedleg.pu_time | date:'M/d/yy HH:mm' }}
                ~
                {{ selectedleg.pu_time_to | date:'M/d/yy HH:mm' }}
              </span>
              <span *ngIf="!selectedleg.pu_time || !selectedleg.pu_time_to">
                --
              </span>
            </span>
            <span *ngIf="selectedleg.pickup_time">
              {{ selectedleg.pickup_time | date:'M/d/yy HH:mm'}}
            </span>
          </td>
          <td class="vertical-top">
            <address style="font-style: normal;">
              {{ selectedleg.pu_name }}
              <br> {{ selectedleg.pu_street }}
              <br> {{ selectedleg.pu_city }} {{ selectedleg.pu_state }} {{ selectedleg.pu_postal_code }}
            </address>
          </td>
          <td class="vertical-top">{{selectedorder.pu_ref}}</td>
          <td class="vertical-top">
            <span *ngIf="!selectedleg.delivery_time">
              <span *ngIf="selectedleg.dl_time && selectedleg.dl_time_to">
                {{ selectedleg.dl_time | date:'M/d/yy HH:mm' }}
                ~
                {{ selectedleg.dl_time_to | date:'M/d/yy HH:mm' }}
              </span>
              <span *ngIf="!selectedleg.dl_time || !selectedleg.dl_time_to">
                --
              </span>
            </span>
            <span *ngIf="selectedleg.delivery_time">
              {{ selectedleg.delivery_time | date:'M/d/yy HH:mm'}}
            </span>
          </td>
          <td class="vertical-top">
            <address style="font-style: normal;">
              {{ selectedleg.dl_name }}
              <br> {{ selectedleg.dl_street }}
              <br> {{ selectedleg.dl_city }} {{ selectedleg.dl_state }} {{ selectedleg.dl_postal_code }}
            </address>
          </td>
        </tr>
      </table>

      <br>

      <hr>

      <br>

      <table>
        <tr>
          <th>
            Driver Notes
          </th>
        </tr>
        <tr *ngFor="let note of driverNotes">
          <td>
            {{ note }}
          </td>
        </tr>
      </table>

      <br>

      <table class="remarks">
        <tr>
          <th>
            REMARKS
          </th>
        </tr>
        <tr>
          <td>
            <pre>
I HEREBY CERTIFY THAT ON THE DATE STATED. I CAREFULLY INSPECTED THE EQUIPMENT
DESCRIBED ABOVE AND THAT IS A TRUE AND CORRECT REPORT OF THE RESULTS OF SUCH
INSPECTION AND THAT POSSESION OF SUCH EQUIPMENT WAS TAKEN ON BEHALF OF THE
CONSIGNEE AT THE PLACE AND DATE INDICATED.
          </pre>
          </td>
        </tr>
      </table>

      <br>

      <table class="signature">
        <tr>
          <td>Signature</td>
          <td>Date</td>
        </tr>
        <br>
        <tr>
          <td>*{{selectedorder.order_number}}/{{selectedorder.container_sequence}}*</td>
        </tr>
      </table>

      <br>

      <div>Delivery Loading Record:</div>


    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button style="background-color: grey; color: white" (click)="close()">Cancel</button>
    <button mat-button color="blue" (click)="onClickPrint()">Print</button>
    <button mat-button style="background-color:rgb(250, 123, 3);color: white;" (click)="onClickEmail()"> Email</button>
  </mat-dialog-actions>

</div>