<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span class="head-title">Carrier Management</span>
    <!-- <button type="button" mat-raised-button color="blue" disabled>
      Create New
    </button> -->
  </mat-card-title>

  <mat-card-content class="mat-elevation-z8">

    <div class="table-container">

      <mat-table [dataSource]="carrierDatasource" matSort>

        <ng-container matColumnDef="carrier_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.carrier_name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mc_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> MC # </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.mc_no }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.phone_no }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="location_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Location Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span [matTooltip]="row.address" [matTooltipClass]="'tooltip'" style="cursor: pointer;">
              {{ row.location_name }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

          <mat-cell *matCellDef="let row">

            <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="blue"
              matTooltip="View Uploaded Docs" (click)="onClickViewDocs(row)">
              <mat-icon class="size-16" color="white">preview</mat-icon>
            </button>

            <button type="button" mat-raised-button mat-button-sm class="table-action-btn" color="orange"
              matTooltip="Edit" disabled>
              <mat-icon class="size-16" color="white">edit</mat-icon>
            </button>

            <button type="button" mat-raised-button mat-button-sm class="table-action-btn" style="background-color: red !important;"
              matTooltip="Delete" (click)="onClickDelete(row.carrier_id)">
              <mat-icon class="size-16" color="white">close</mat-icon>
            </button>

          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="carrierColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: carrierColumns;"></mat-row>

      </mat-table>

    </div>

    <mat-paginator #carrierPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>

</mat-card>