button:disabled {
    cursor: not-allowed;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
    padding-left: 0px;
}

.mat-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mat-header-row {
    background-color: #f8e0ffec;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    padding-left: 15px;
}

.mat-cell:nth-last-child(1),
.mat-header-cell:nth-last-child(1) {
    flex: 0 0 8%;
}

.mat-header-cell,
.mat-cell {
    padding-left: 4px;
    padding-right: 4px;
}

mat-header-cell {
    display: flex;
    justify-content: left;
    color: rgba($color: #000000, $alpha: 0.87);
    font-size: 13px;
}

.mat-cell mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
}

.mat-cell button {
    min-width: 20px;
    min-height: 20px;
}

.mat-cell {
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 12px;
    justify-content: left;
}

#cdk-overlay-1 {
    min-width: 580px !important;
    pointer-events: auto;
    font-size: 14px;
    top: 181.156px !important;
    left: 361.885px !important;
    transform: translateX(-44px);
}

@media screen and (max-width: 599px) {
    mat-table {
        width: max-content;
    }
    .table-container {
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    mat-header-cell,
    mat-cell {
        padding: 0px 20px;
        text-align: left;
    }
    mat-header-cell:nth-child(1) {
        padding-left: 12px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    mat-table {
        width: max-content;
    }
    .table-container {
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    mat-header-cell,
    mat-cell {
        padding: 0px 20px;
        text-align: left;
    }
    mat-header-cell:nth-child(1) {
        padding-left: 12px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
    mat-table {
        width: max-content;
    }
    .table-container {
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    mat-header-cell,
    mat-cell {
        width: 125px;
        text-align: left;
    }
    mat-header-cell:nth-child(1) {
        padding-left: 13px;
    }
}
