<div class="add-dailog position" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body" fxFlex.xs="100%">

  <div class="drag-drop-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <form (ngSubmit)="onSubmit()" #f="ngForm">

    <h2 mat-dialog-title>Update Location</h2>

    <mat-dialog-content>

      <mat-form-field class="ml-xs mr-xs w-95">
        <mat-label>To</mat-label>
        <mat-select name="toLocation" ngModel placeholder="To" required #tolocation="ngModel">
          <mat-option *ngFor="let equipmentLocation of equipmentLocations" [value]="equipmentLocation.value">
            {{ equipmentLocation.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tolocation.errors && (tolocation.dirty || tolocation.touched)">
          <mat-error class="error-message" *ngIf="tolocation.errors.required">
            This field is required
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-95">
        <mat-label>User Name</mat-label>
        <input matInput type="text" [disabled]="true" placeholder="User Name" name="userName" [(ngModel)]="userName">
      </mat-form-field>

      <mat-form-field class="ml-xs mr-xs w-95">
        <mat-label>Date</mat-label>
        <input matInput [disabled]="true" [matDatepicker]="picker" name="date" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" style="background-color: grey" class="mat-raised-button table-btn"
        (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" class="mat-raised-button table-btn" style="background-color: green"
        [disabled]="!updateLocationForm.valid">Save</button>
    </mat-dialog-actions>

  </form>

</div>